soap/xsd/SPW/data/entity/fishingLicence/licence_v1.xsd

<!-- edited with XMLSpy v2014 sp1 (x64) (http://www.altova.com) by Marc Miezal (Network Research Belgium s.a.) -->
<xs:schema xmlns:ns1="http://bced.wallonie.be/data/entity/person/v1" xmlns:ns2="http://dgo3.spw.wallonie.be/services/FishingLicense/messages/v1" xmlns:ns3="http://bced.wallonie.be/data/common/code/v1" xmlns:ns4="http://dgo3.spw.wallonie.be/data/entity/fishingLicense/person/v1" xmlns:ns5="http://dgo3.spw.wallonie.be/data/descriptionLicenseType/person/v1" xmlns:ns6="http://dgo3.spw.wallonie.be/data/typeLicenseType/person/v1" xmlns:ns7="http://dgo3.spw.wallonie.be/data/entity/licenseDetails/v1" xmlns:ns8="http://dgo3.spw.wallonie.be/data/fishingLicense/territory/v1" xmlns:ns9="http://bced.wallonie.be/data/entity/common/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns10="http://dgo3.spw.wallonie.be/data/entity/fishingLicense/license/v1" xmlns:ns11="http://dgo3.spw.wallonie.be/data/entity/person/v1" xmlns:ns12="http://dgo3.spw.wallonie.be/data/fishingLicense/person/v1" xmlns:dat="http://bced.wallonie.be/data/common/date/v1" xmlns:iso="http://bced.wallonie.be/data/common/isocodes/v1" targetNamespace="http://dgo3.spw.wallonie.be/data/entity/fishingLicense/license/v1" version="1.0">
	<xs:import namespace="http://dgo3.spw.wallonie.be/data/fishingLicense/person/v1" schemaLocation="person_v1.xsd"/>
	<xs:import namespace="http://bced.wallonie.be/data/common/date/v1" schemaLocation="../../../../BCED/data/common/date_v1.xsd"/>
	<xs:import namespace="http://bced.wallonie.be/data/common/isocodes/v1" schemaLocation="../../../../BCED/data/common/isocodes_v1.xsd"/>
	<xs:import namespace="http://bced.wallonie.be/data/common/code/v1" schemaLocation="../../../../BCED/data/common/code_v1.xsd"/>
	<xs:complexType name="LicenseDescriptionType">
		<xs:sequence>
			<xs:element name="licenseDescriptionId" type="xs:decimal" minOccurs="0"/>
			<xs:element name="licenseDescription" type="xs:string" minOccurs="0"/>
			<xs:element name="licenseShortDescription" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LicenseDetailsType">
		<xs:sequence>
			<xs:element name="licenseDetailsId" type="xs:decimal"/>
			<xs:element name="year">
				<xs:simpleType>
					<xs:restriction base="xs:long">
						<xs:minInclusive value="1950"/>
						<xs:maxInclusive value="2100"/>
						<xs:totalDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="description" type="ns3:DescriptiveCodeType" minOccurs="0"/>
			<xs:element name="licenseType" type="ns3:DescriptiveCodeType" minOccurs="0"/>
			<xs:element name="price" type="xs:decimal" minOccurs="0"/>
			<xs:element name="priceAdm" type="xs:decimal" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LicenseTypeType">
		<xs:sequence>
			<xs:element name="licenseTypeId" type="xs:decimal" minOccurs="0"/>
			<xs:element name="licenseTypeName" type="xs:string" minOccurs="0"/>
			<xs:element name="licenseTypeShortName" type="xs:string" minOccurs="0"/>
			<xs:element name="licenseTypeDescription" type="ns3:DescriptiveCodeType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LicenseMetadataType">
		<xs:sequence>
			<xs:element name="licenceId" type="xs:string" minOccurs="0"/>
			<xs:element name="applicant" type="ns12:personType" minOccurs="0"/>
			<xs:element name="fisher" type="ns12:personType"/>
			<xs:element name="licenseDetails" type="ns10:LicenseDetailsType"/>
			<xs:element name="language" type="iso:LanguageType" minOccurs="0"/>
			<xs:element name="territory" type="ns3:CodeType" minOccurs="0"/>
			<xs:element name="frontEndCopyAuth" type="xs:boolean"/>
			<xs:element name="periodType" type="dat:PeriodType" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuthenticLicenseType">
		<xs:sequence>
			<xs:element name="fileName" type="xs:string" minOccurs="0"/>
			<xs:element name="fileType" type="xs:string" minOccurs="0"/>
			<xs:element name="file" type="xs:base64Binary" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
