soap/xsd/ESB/tools/flowConfiguration_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- édité avec XMLSpy v2018 sp1 (x64) (http://www.altova.com) par - (Service Public de Wallonie) -->
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by LG (private) -->
<!-- edited with XMLSpy v2017 sp2 (x64) (http://www.altova.com) by AL1219 (Service Public de Wallonie) -->
<xs:schema xmlns:ns1="http://soa.spw.wallonie.be/tools/flowConfiguration/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://soa.spw.wallonie.be/tools/flowConfiguration/v1" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.02">
	<!--v1.01 : add LDAP application type to SPW Provider (TargetFlow)-->
	<xs:element name="targetFlowConfiguration">
		<xs:annotation>
			<xs:documentation>Configuration d'un flux</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ns1:TargetFlowConfigurationType">
					<xs:sequence minOccurs="0">
						<xs:element name="customRules" minOccurs="0">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="ns1:CustomRulesType"/>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="exposedFlowConfiguration" type="ns1:ExposedFlowConfigurationType">
		<xs:annotation>
			<xs:documentation>Configuration d'un flux</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="TargetFlowConfigurationType">
		<xs:choice>
			<xs:element name="MOCK" type="xs:boolean"/>
			<xs:element name="SPW">
				<xs:complexType>
					<xs:choice>
						<xs:element name="ALFRESCO">
							<xs:complexType>
								<xs:all>
									<xs:element name="REPOSITORYID" type="xs:string"/>
									<xs:element name="USERNAME" type="xs:string"/>
									<xs:element name="PASSWORD" type="xs:string"/>
									<xs:element name="PATH">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:pattern value=".*/"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:all>
							</xs:complexType>
						</xs:element>
						<xs:element name="CENM">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="APPLICATIONNAME" type="xs:string"/>
									<xs:element name="formRouting" type="xs:anyType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="LDAP">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="userName" type="xs:string" minOccurs="0"/>
									<xs:element name="password" type="xs:string" minOccurs="0"/>
									<xs:element name="baseDN" type="xs:string" minOccurs="0"/>
									<xs:element name="filter" type="xs:anyType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PANDORA">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="actor"/>
									<xs:element name="formRouting" minOccurs="0">
										<xs:complexType>
											<xs:sequence maxOccurs="unbounded">
												<xs:element name="formTypeId">
													<xs:annotation>
														<xs:documentation>Identifiant du formulaire NEP</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:simpleContent>
															<xs:extension base="xs:string">
																<xs:attribute name="get" type="xs:string">
																	<xs:annotation>
																		<xs:documentation>La valeur attendue par pandora</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
															</xs:extension>
														</xs:simpleContent>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SIGNATURE">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="MOCK" type="xs:boolean"/>
									<xs:element name="APPNAME" type="xs:string"/>
									<xs:element name="PASSWORD" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="OTHER" type="xs:anyType"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="FEDICT">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SENTONBEHALFOF" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BCSS">
				<xs:complexType>
					<xs:sequence>
						<xs:choice>
							<xs:sequence>
								<xs:element name="MOCK" type="xs:boolean" minOccurs="0"/>
								<xs:element name="TRUSTEDPARTYCERTIFICATE" type="xs:string" minOccurs="0"/>
								<xs:element name="LEGALCONTEXT" type="xs:string"/>
								<xs:element name="INSCRIPTIONCONTEXT" type="xs:string" minOccurs="0"/>
								<xs:choice>
									<xs:element name="CBENUMBER" type="xs:int"/>
									<xs:sequence>
										<xs:element name="SECTOR" type="xs:int"/>
										<xs:element name="INSTITUTION" type="xs:int"/>
									</xs:sequence>
								</xs:choice>
								<xs:element name="A1FLUXID" type="xs:string" minOccurs="0"/>
							</xs:sequence>
							<xs:sequence>
								<xs:element name="APPLICATIONID"/>
								<xs:element name="SECTOR" type="xs:int"/>
								<xs:element name="INSTITUTION" type="xs:int"/>
								<xs:element name="QUALITYCODE" type="xs:int"/>
							</xs:sequence>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SPF">
				<xs:complexType>
					<xs:choice>
						<xs:element name="FINANCE">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SERVICECLIENTNAME"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="MOBILITY">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ORGANISATIONID"/>
									<xs:element name="TARGETORGANISATIONID"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ECONOMY">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AGENCYCODE"/>
									<xs:element name="DEPARTMENTCODE"/>
									<xs:element name="ROLE" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="MOBILEWEB">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="customerId" type="xs:string"/>
						<xs:element name="user" type="xs:string"/>
						<xs:element name="password" type="xs:string"/>
						<xs:element name="from" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EPROCUREMENT">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SENDERID" type="xs:string"/>
						<xs:element name="RECEIVERID" type="xs:string"/>
						<xs:element name="DOCUMENTTYPE" type="xs:string"/>
						<xs:element name="CBE" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ExposedFlowConfigurationType">
		<xs:sequence>
			<xs:element name="inscription" type="ns1:InscriptionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Configuration liée à  l'inscription</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="temporalCriteria" minOccurs="0"/>
			<xs:element name="mutation" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="deliveryMode">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="cache"/>
									<xs:enumeration value="voucher"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="mutationType">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="person"/>
									<xs:enumeration value="household"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="updatedDataFormat" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InscriptionType">
		<xs:sequence>
			<xs:element name="callBCSS" type="xs:boolean"/>
			<xs:element name="defaultDuration" type="xs:duration"/>
			<xs:element name="inscriptionType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="IMPLICIT"/>
						<xs:enumeration value="EXPLICIT"/>
						<xs:enumeration value="NONE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>v1.02 : add cutomRoutingRules element to map an input value to an output value dynamically</xs:documentation>
	</xs:annotation>
	<xs:complexType name="CustomRulesType">
		<xs:sequence>
			<xs:element name="stringReplaceRules" type="ns1:StringReplaceMapType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Rà¨gles de remplacement dynamique (ex: remplacement d'une référence d'organisation interne par une référence bce)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="routingRules" type="ns1:RoutingType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StringReplaceMapType">
		<xs:sequence>
			<xs:element name="stringReplaceRule" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="name">
						<xs:annotation>
							<xs:documentation>valeur recherchée (ex: organisation interne spw)</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="updatedName">
						<xs:annotation>
							<xs:documentation>valeur attendue (ex: identifiant bce de la businessUnit)</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="type">
			<xs:annotation>
				<xs:documentation>le type ou la catégorie de "remplacement" à effectuer (ex: organsationMapping, formIdMapping)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RoutingType">
		<xs:sequence>
			<xs:element name="destination" type="xs:string" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Destination (process, ...)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string">
			<xs:annotation>
				<xs:documentation>Nom de route</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
