soap/xsd/SOA/data/entity/enterprise/enterpriseData_v3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soa.spw.wallonie.be/data/entity/enterprise/v3" xmlns:person="http://soa.spw.wallonie.be/data/entity/person/number/v3" xmlns:cod="http://soa.spw.wallonie.be/data/common/code/v5" xmlns:addr="http://soa.spw.wallonie.be/data/entity/address/address/v5" xmlns:jurf="http://soa.spw.wallonie.be/data/entity/enterprise/juridicalForm/v3" xmlns:jurs="http://soa.spw.wallonie.be/data/entity/enterprise/juridicalSituation/v3" targetNamespace="http://soa.spw.wallonie.be/data/entity/enterprise/v3" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/address/address/v5" schemaLocation="../address/address_v5.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/person/number/v3" schemaLocation="../person/personNumber_v3.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/enterprise/juridicalForm/v3" schemaLocation="juridicalForm_v3.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/enterprise/juridicalSituation/v3" schemaLocation="juridicalSituation_v3.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/code/v5" schemaLocation="../../common/code_v5.xsd"/>
	<xs:simpleType name="CbeEntityNumberType">
		<xs:annotation>
			<xs:documentation>Crossroad Bank of Enterprise number, used to identify a unique enterprise or businessUnit. It is composed by 10 digits (the first one could be avoided if equal to 0). A 0 on the first of the 10 digits reprensents an enterprise and a 2 represents a business unit.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long"/>
	</xs:simpleType>
	<xs:simpleType name="CbeStatusCodeType">
		<xs:annotation>
			<xs:documentation>enterprise or business unit status code. Example :
active, juridically created, inactive, ...</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="CbeStopCodeType">
		<xs:annotation>
			<xs:documentation>Reference to the reason why the entity has been stopped</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="CbeLinkBusinessType">
		<xs:annotation>
			<xs:documentation>Reference to the link between enterprises (sister, mother, ...)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="CbeEnterpriseType">
		<xs:annotation>
			<xs:documentation>Reference to the type of enterprise</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ELP">
				<xs:annotation>
					<xs:documentation>Enterprise Legal Person</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EPP">
				<xs:annotation>
					<xs:documentation>Enterprise Physical Person</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CbeJuridicalFormCodeType">
		<xs:annotation>
			<xs:documentation>Reference to the juridical form of the enterprise (anonymous corporation, ...)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="CbeJuridicalFormOfficialAbbreviationCodeType">
		<xs:annotation>
			<xs:documentation>Reference to the</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="CbeJuridicalSituationCodeType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="CbeJuridicalSituationAdministrationCodeType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="CbeActivityVersionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="2003"/>
			<xs:enumeration value="2008"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CbeActivityTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="P">
				<xs:annotation>
					<xs:documentation>Principal activity</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="S">
				<xs:annotation>
					<xs:documentation>Secondary activity</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="H">
				<xs:annotation>
					<xs:documentation>Help activity</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalIdentificationCodeType">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ExternalIdentificationType">
		<xs:sequence>
			<xs:element name="Number" type="xs:string"/>
			<xs:element name="organisationCode" type="tns:ExternalIdentificationCodeType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ForeignBranchOfficeType">
		<xs:annotation>
			<xs:documentation>Data's of a foreign branch office, regarding address and validity.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="address" minOccurs="0">
				<xs:annotation>
					<xs:documentation>If the address is removed (for privacy for instance), the details of the former address should not be seen, else details are visible</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="addr:AddressType">
							<xs:sequence>
								<xs:element name="creationReason" type="cod:CodeType" minOccurs="0"/>
								<xs:element name="stopReason" type="cod:CodeType" minOccurs="0"/>
								<xs:element name="validityPeriod" type="tns:PeriodType" minOccurs="0"/>
								<xs:element name="exOfficioExecutions" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="ExOfficioExecution" type="tns:ExOfficioExecutionType" minOccurs="0" maxOccurs="unbounded"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="JuridicalFormType">
		<xs:annotation>
			<xs:documentation>Juridical Form information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="formCode" type="tns:CbeJuridicalFormCodeType">
				<xs:annotation>
					<xs:documentation>CBE?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CodeDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>if required</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OfficialCodeDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>if required</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OfficialAbbreviation" type="tns:CbeJuridicalFormOfficialAbbreviationCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>if available</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValidityPeriod" type="tns:PeriodType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="JuridicalSituationType">
		<xs:annotation>
			<xs:documentation>Juridical Situation information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SituationCode" type="tns:CbeJuridicalSituationCodeType"/>
			<xs:element name="CodeDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>if required</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdministrationCode" type="tns:CbeJuridicalSituationAdministrationCodeType" minOccurs="0"/>
			<xs:element name="ValidityPeriod" type="tns:PeriodType" minOccurs="0"/>
			<xs:element name="Status" type="xs:string" minOccurs="0"/>
			<xs:element name="Event" type="xs:string" minOccurs="0"/>
			<xs:element name="EventDate" type="xs:dateTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DenominationType">
		<xs:annotation>
			<xs:documentation>denomination information</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cod:CodeValueType">
				<xs:sequence>
					<xs:element name="validityPeriod" type="tns:PeriodType" minOccurs="0"/>
					<xs:element name="exOfficioExecutions" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="exOfficioExecution" type="tns:ExOfficioExecutionType" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ActivityType">
		<xs:annotation>
			<xs:documentation>activities information, using formally nace code</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nacebel">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="cod:CodeType">
							<xs:attribute name="version" type="tns:CbeActivityVersionType"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="activityType" type="tns:CbeActivityTypeType" minOccurs="0"/>
			<xs:element name="administrationCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CBE code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="validityPeriod" type="tns:PeriodType" minOccurs="0"/>
			<xs:element name="activityGroup" type="xs:string" minOccurs="0"/>
			<xs:element name="exOfficioExecutions" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="exOfficioExecution" type="tns:ExOfficioExecutionType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PeriodType">
		<xs:annotation>
			<xs:documentation>timestamp. for example from September 1, 2006 to January 5, 2007</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Begin" type="xs:date" minOccurs="0"/>
			<xs:element name="End" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						if the entity has been stopped
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuthorizationType">
		<xs:sequence>
			<xs:element name="permissionCode" type="xs:string"/>
			<xs:element name="permissionStatus" type="xs:string" minOccurs="0"/>
			<xs:element name="permissionDuration" type="xs:double" minOccurs="0"/>
			<xs:element name="permissionStoppingCode" type="tns:CbeStopCodeType" minOccurs="0"/>
			<xs:element name="permissionCodeBeforeConversion" type="xs:string" minOccurs="0"/>
			<xs:element name="distributedAdministrationCode" type="xs:string" minOccurs="0"/>
			<xs:element name="registrationDateKBO" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="validityPeriod" type="tns:PeriodType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BankAccountType">
		<xs:sequence>
			<xs:element name="bankAccountNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="IBAN" type="xs:string" minOccurs="0"/>
			<xs:element name="BIC" type="xs:string" minOccurs="0"/>
			<xs:element name="nonSepaBankAccountNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="instrumentalAdministration" type="xs:string" minOccurs="0"/>
			<xs:element name="usagePurposeCode" type="xs:string" minOccurs="0"/>
			<xs:element name="validityPeriod" type="tns:PeriodType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinanceType">
		<xs:sequence>
			<xs:element name="fiscalYearEndDay" type="xs:integer"/>
			<xs:element name="fiscalYearEndMonth" type="xs:integer"/>
			<xs:element name="exceptionalFiscalYearStart" type="xs:date" minOccurs="0"/>
			<xs:element name="exceptionalFiscalYearEnd" type="xs:date" minOccurs="0"/>
			<xs:element name="monthAnnualMeeting" type="xs:integer" minOccurs="0"/>
			<xs:element name="validityPeriod" type="tns:PeriodType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EntityCommonDataType">
		<xs:annotation>
			<xs:documentation>Domains containing all general information about an enterprise and/or a business unit. iow: common fields of a business entity (common between all realization).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="status" type="cod:CodeType" minOccurs="0"/>
			<xs:element name="denominations" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="denomination" type="tns:DenominationType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>isBasicDatas</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="adresses" type="tns:AddressesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>isBasicDatas</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contactInformations" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="contactInformation" type="tns:ContactInformationType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="activities" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="activity" type="tns:ActivityType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="functions" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="function" type="tns:FunctionType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="linkedEnterprises" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="linkedEnterprise" type="tns:LinkedEnterpriseType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>enterprise with KBO-known relationship</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="permissions" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="permission" type="tns:AuthorizationType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="validity" type="tns:ValidityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>isBasicDatas</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="exOfficioExecutions" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="exOfficioExecution" type="tns:ExOfficioExecutionType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressesType">
		<xs:annotation>
			<xs:documentation>Specific data's used by CBE for the address of an entity</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="address" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="addr:AddressType">
							<xs:sequence>
								<xs:element name="creationReason" type="cod:CodeType" minOccurs="0"/>
								<xs:element name="stopReason" type="cod:CodeType" minOccurs="0"/>
								<xs:element name="validityPeriod" type="tns:PeriodType" minOccurs="0"/>
								<xs:element name="exOfficioExecutions" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="exOfficioExecution" type="tns:ExOfficioExecutionType" minOccurs="0" maxOccurs="unbounded"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LinkedEnterpriseType">
		<xs:annotation>
			<xs:documentation>Data's of a linked-enterprise</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="enterpriseNumber" type="tns:CbeEntityNumberType"/>
			<xs:element name="linkType" type="tns:CbeLinkBusinessType">
				<xs:annotation>
					<xs:documentation>CBE code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="linkTypeDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>if required</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="validityPeriod" type="tns:PeriodType" minOccurs="0"/>
			<xs:element name="stopReason" type="cod:CodeType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="IsChild" type="xs:boolean" use="required"/>
	</xs:complexType>
	<xs:complexType name="ValidityType">
		<xs:annotation>
			<xs:documentation>Validity of an information by CBE, iow : date and reason of a closure if occured.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="validityPeriod" type="tns:PeriodType" minOccurs="0"/>
			<xs:element name="closingDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="stopReason" type="cod:CodeType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EnterpriseType">
		<xs:annotation>
			<xs:documentation>atomic enterprise (entity realization)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identification">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="officialNumber" type="tns:CbeEntityNumberType"/>
						<xs:element name="externalIIdentifications" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="externalIIdentification" type="tns:ExternalIdentificationType" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="foreignIdentifications" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="foreignIdentification" type="tns:ForeignIdentificationType" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="enterpriseType" type="tns:CbeEnterpriseType" minOccurs="0"/>
			<xs:element name="entityCommonInfo" type="tns:EntityCommonDataType" minOccurs="0"/>
			<xs:element name="juridicalForms" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="juridicalForm" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>isBasicDatas</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="jurf:JuridicalFormType">
										<xs:sequence>
											<xs:element name="exOfficioExecutions" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="exOfficioExecution" type="tns:ExOfficioExecutionType" minOccurs="0" maxOccurs="unbounded"/>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="juridicalSituations" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="juridicalSituation" type="jurs:JuridicalSituationType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="businessUnits" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="businessUnit" type="tns:BusinessUnitType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>should not contain details for sub-BusinessUnit.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="enterpriseFunctions" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="enterpriseFunction" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="cbeEntity">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="number" type="tns:CbeEntityNumberType"/>
												<xs:element name="type" type="tns:CbeEnterpriseType"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="denomination" type="tns:DenominationType"/>
									<xs:element name="juridicalForm" minOccurs="0">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="jurf:JuridicalFormType">
													<xs:sequence>
														<xs:element name="exOfficioExecutions" minOccurs="0">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="exOfficioExecution" type="tns:ExOfficioExecutionType" minOccurs="0" maxOccurs="unbounded"/>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:extension>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="address" minOccurs="0">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="addr:AddressType">
													<xs:sequence>
														<xs:element name="creationReason" type="cod:CodeType" minOccurs="0"/>
														<xs:element name="stopReason" type="cod:CodeType" minOccurs="0"/>
														<xs:element name="ValidityPeriod" type="tns:ValidityType" minOccurs="0"/>
														<xs:element name="exOfficioExecutions" minOccurs="0">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="ExOfficioExecution" type="tns:ExOfficioExecutionType" minOccurs="0" maxOccurs="unbounded"/>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:extension>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="function">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="type" type="xs:string"/>
												<xs:element name="typeDescription" type="xs:string" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="validityPeriod" type="tns:PeriodType"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="foreignBranchOffice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>branch office in Belgium for external society.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tns:ForeignBranchOfficeType">
							<xs:sequence>
								<xs:element name="contactInformations" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="contactInformation" type="tns:ContactInformationType" minOccurs="0" maxOccurs="unbounded"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="addressStatutory" type="cod:CodeType" minOccurs="0"/>
			<xs:element name="capital" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="value" type="xs:decimal" minOccurs="0"/>
						<xs:element name="currency" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="bankAccounts" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="bankAccount" type="tns:BankAccountType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="finances" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="finance" type="tns:FinanceType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="source" type="cod:CodeSourceType"/>
		<xs:attribute name="inscriptionDate" type="xs:date"/>
		<xs:attribute name="duration" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="BusinessUnitType">
		<xs:annotation>
			<xs:documentation>
				atomic business unit (entity realization)
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="number" type="tns:CbeEntityNumberType" minOccurs="0"/>
			<xs:element name="entityCommonInfo" type="tns:EntityCommonDataType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FunctionExecutorEnterpriseType">
		<xs:sequence>
			<xs:element name="enterpriseNumber" type="tns:CbeEntityNumberType">
				<xs:annotation>
					<xs:documentation>The enterprisenumber of the enterprise holding the function</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="denominations" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="denomination" type="tns:DenominationType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Names of the enterprise holding the function</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FunctionExecutorPersonType">
		<xs:sequence>
			<xs:element name="personNumber" type="person:PersonNumberType">
				<xs:annotation>
					<xs:documentation>The personnumber of the person holding the function</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="firstName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The first name of the person holding the function</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The last name of the person holding the function</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="streetCode" type="cod:SimpleCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The streetCode of the persons address. Only required in a special situation. Further info in the documentation.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FunctionType">
		<xs:sequence>
			<xs:element name="heldByEnterprise" type="tns:FunctionExecutorEnterpriseType" minOccurs="0"/>
			<xs:element name="heldByPerson" type="tns:FunctionExecutorPersonType" minOccurs="0"/>
			<xs:element name="type" type="cod:CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CBE code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="exemption" minOccurs="0">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="cod:CodeType">
							<xs:sequence>
								<xs:element name="exemptionValue" type="xs:boolean" minOccurs="0"/>
								<xs:element name="exemptionNOSMEValue" type="xs:boolean" minOccurs="0"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="validityPeriod" type="tns:PeriodType" minOccurs="0"/>
			<xs:element name="stopReason" type="cod:CodeType" minOccurs="0"/>
			<xs:element name="exOfficioExecutions" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="exOfficioExecution" type="tns:ExOfficioExecutionType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentificationType">
		<xs:choice>
			<xs:element name="MoralPerson" type="tns:CbeEntityNumberType"/>
			<xs:element name="PhysicalPersonByNumber">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="person:PersonNumberType">
							<xs:attribute name="OnBehalfOf" type="tns:CbeEntityNumberType">
								<xs:annotation>
									<xs:documentation>If the physical person has a mandate to do such function on behalf of a moral person, this should be documented</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="PhysicalPersonByName" type="tns:PhysicalPersonByNameType">
				<xs:annotation>
					<xs:documentation>Should only be used if the identification numbers are unknown.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PhysicalPersonByNameType">
		<xs:sequence>
			<xs:element name="FirstName" type="xs:string"/>
			<xs:element name="LastName" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="OnBehalfOf" type="tns:CbeEntityNumberType">
			<xs:annotation>
				<xs:documentation>If the physical person has a mandate to do such function on behalf of a moral person, this should be documented</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ExOfficioExecutionType">
		<xs:sequence>
			<xs:element name="field" type="cod:CodeType" minOccurs="0"/>
			<xs:element name="action" type="cod:CodeType" minOccurs="0"/>
			<xs:element name="reason" type="cod:CodeType" minOccurs="0"/>
			<xs:element name="validityPeriod" type="tns:PeriodType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactInformationType">
		<xs:annotation>
			<xs:documentation>
                contact information
            </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cod:CodeValueType">
				<xs:sequence>
					<xs:element name="foreignBranchOfficeFlag" type="xs:boolean" minOccurs="0"/>
					<xs:element name="contactStatutory" type="cod:CodeType" minOccurs="0"/>
					<xs:element name="validityPeriod" type="tns:PeriodType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ForeignIdentificationType">
		<xs:sequence>
			<xs:element name="countryCode" type="cod:SimpleCodeType">
				<xs:annotation>
					<xs:documentation xml:lang="en">The ISO country code of the address. This field is optional. The value XZ indicates the ISO code is not available and the attribute CBEoldCountryCode contains the NIS country code value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistryCode">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="cod:CodeType">
							<xs:sequence>
								<xs:element name="registryEntityNumber" type="xs:string" minOccurs="0"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="validityPeriod" type="tns:PeriodType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NaturalPersonEnterpriseType">
		<xs:sequence>
			<xs:element name="personIdentification" type="tns:PersonIdentificationType"/>
			<xs:element name="enterprise" type="tns:EnterpriseType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="FunctionCategoryType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FUNCTIONS"/>
			<xs:enumeration value="ENTERPRENEURIAL_SKILLS"/>
			<xs:enumeration value="WORKING_PARTNERS"/>
			<xs:enumeration value="FUNCTIONS_AND_ENTERPRENEURIAL_SKILLS"/>
			<xs:enumeration value="FUNCTIONS_AND_WORKING_PARTNERS"/>
			<xs:enumeration value="ENTERPRENEURIAL_SKILLS_AND_WORKING_PARTNERS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="enterprise" type="tns:EnterpriseType"/>
</xs:schema>
