soap/xsd/Legacy/Caliope/caliopeResponseTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 sp1 (x64) (http://www.altova.com) by Marc Miezal (Network Research Belgium s.a.) -->
<!--W3C Schema generated by XMLSpy v2010 (http://www.altova.com)-->
<xs:schema xmlns="http://www.ksz-bcss.fgov.be/XmlSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ksz-bcss.fgov.be/XmlSchema" elementFormDefault="qualified">
	<xs:element name="WorkingDaysSystem" type="xs:short"/>
	<xs:element name="WorkerCode" type="xs:integer"/>
	<xs:element name="Trusteeship" nillable="true">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="System5" type="xs:byte"/>
	<xs:element name="ServiceSequenceNbr" type="xs:byte"/>
	<xs:element name="ServiceNbrHours" type="xs:integer"/>
	<xs:element name="ServiceNbrDays" type="xs:integer"/>
	<xs:element name="ServiceCode" type="xs:byte"/>
	<xs:element name="RemunSequenceNbr" type="xs:byte"/>
	<xs:element name="RemunCode" type="xs:byte"/>
	<xs:element name="RemunAmount" type="xs:byte"/>
	<xs:element name="RefMeanWorkingHours" type="xs:short"/>
	<xs:element name="Quarter" type="xs:short"/>
	<xs:element name="PersonnelList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Quarter"/>
				<xs:element ref="NLOSSRegistrationNbr"/>
				<xs:element ref="PLAIndicator"/>
				<xs:element ref="CompanyID"/>
				<xs:element ref="Trusteeship" minOccurs="0"/>
				<xs:element ref="WorkerCode"/>
				<xs:element ref="EmployerClass"/>
				<xs:element ref="AttestationList" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PLAIndicator" type="xs:byte"/>
	<xs:element name="OriolusValidationCode" type="xs:byte"/>
	<xs:element name="OccupationSequenceNbr" type="xs:byte"/>
	<xs:element name="NetOwedAmount" type="xs:byte"/>
	<xs:element name="NLOSSRegistrationNbr" type="xs:integer"/>
	<xs:element name="NLOSSQuarterStartingDate" type="xs:date"/>
	<xs:element name="NLOSSQuarterEndingDate" type="xs:date"/>
	<xs:element name="MeanWorkingHours" type="xs:short"/>
	<xs:element name="LocalUnitId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="JointCommissionNbr" type="xs:byte"/>
	<xs:element name="InternalOccupationNbr" type="xs:byte"/>
	<xs:element name="INSS" type="xs:string"/>
	<xs:element name="EmployerClass" type="xs:byte"/>
	<xs:element name="DeductServicePercent">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:pattern value="([0-9])*"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ContractType" type="xs:int"/>
	<xs:element name="CompanyID" type="xs:integer"/>
	<xs:element name="Border" type="xs:byte"/>
	<xs:element name="AttestationStatus" type="xs:byte"/>
	<xs:element name="AttestationSituationNbr" type="xs:integer"/>
	<xs:element name="AttestationList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="INSS"/>
				<xs:element ref="OriolusValidationCode"/>
				<xs:element ref="AttestationIdentification"/>
				<xs:element ref="AttestationSituationNbr"/>
				<xs:element ref="AttestationStatus"/>
				<xs:element ref="AttestationCreationDate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AttestationIdentification" type="xs:integer"/>
	<xs:element name="AttestationCreationDate" type="xs:date"/>
	<xs:element name="Attestation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AttestationIdentification"/>
				<xs:element ref="AttestationSituationNbr"/>
				<xs:element ref="AttestationStatus"/>
				<xs:element ref="AttestationCreationDate"/>
				<xs:element ref="SituationLink" minOccurs="0"/>
				<xs:element ref="AttEmployerDeclaration"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AttWorkerRecord">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EmployerClass"/>
				<xs:element ref="WorkerCode"/>
				<xs:element ref="NLOSSQuarterStartingDate"/>
				<xs:element ref="NLOSSQuarterEndingDate"/>
				<xs:element ref="Border"/>
				<xs:element ref="LocalUnitId" minOccurs="0"/>
				<xs:element ref="AttOccupation" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AttService">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ServiceSequenceNbr"/>
				<xs:element ref="ServiceCode"/>
				<xs:element ref="ServiceNbrDays"/>
				<xs:element ref="ServiceNbrHours" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AttRemun">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RemunSequenceNbr"/>
				<xs:element ref="RemunCode"/>
				<xs:element ref="RemunAmount"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="Code0_999Type">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="AttOccupation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OccupationSequenceNbr"/>
				<xs:element ref="LocalUnitId" minOccurs="0"/>
				<xs:element ref="InternalOccupationNbr"/>
				<xs:element ref="JointCommissionNbr"/>
				<xs:element ref="WorkingDaysSystem"/>
				<xs:element ref="ContractType"/>
				<xs:element ref="RefMeanWorkingHours"/>
				<xs:element ref="MeanWorkingHours"/>
				<xs:element name="ReorganisationMeasure" type="Code0_999Type" minOccurs="0"/>
				<xs:element name="Apprenticeship" type="xs:short" minOccurs="0"/>
				<xs:element ref="DeductServicePercent" minOccurs="0"/>
				<xs:element name="regionalizationCodeDeduction" type="Code0_9999Type" minOccurs="0"/>
				<xs:element name="localUnitCityNISCode" type="Code0_99999Type" minOccurs="0"/>
				<xs:element ref="AttService" maxOccurs="unbounded"/>
				<xs:element ref="AttRemun" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AttNaturalPerson">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="INSS"/>
				<xs:element name="Gender" type="GenderType" minOccurs="0"/>
				<xs:element ref="OriolusValidationCode"/>
				<xs:element ref="AttWorkerRecord"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AttEmployerDeclaration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Quarter"/>
				<xs:element ref="NLOSSRegistrationNbr"/>
				<xs:element ref="PLAIndicator"/>
				<xs:element ref="CompanyID"/>
				<xs:element ref="NetOwedAmount"/>
				<xs:element ref="System5"/>
				<xs:element ref="UserQuality" minOccurs="0"/>
				<xs:element ref="AttJustification" minOccurs="0"/>
				<xs:element ref="AttNaturalPerson"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="GenderType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="M"/>
			<xs:enumeration value="F"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code0_9999Type">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code0_99999Type">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99999"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="UserQuality" type="xs:string"/>
	<xs:element name="SituationLink">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PreviousSituationNbr"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PreviousSituationNbr" type="xs:integer"/>
	<xs:element name="AttJustification">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Justification" type="xs:string" minOccurs="0"/>
				<xs:element name="JustificationCode" type="xs:integer"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
