soap/xsd/Legacy/Caliope/caliopeRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2010 (http://www.altova.com)-->
<xs:schema xmlns="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:n1="http://www.wallonie.be/Genesis2/" xmlns:n2="http://www.wallonie.be/Genesis2/conversation" targetNamespace="http://schemas.xmlsoap.org/soap/envelope/">
	<xs:import namespace="http://www.wallonie.be/Genesis2/conversation" schemaLocation="caliopeRequestTypes1.xsd"/>
	<xs:import namespace="http://www.wallonie.be/Genesis2/" schemaLocation="caliopeRequestTypes2.xsd"/>
	<xs:attribute name="mustUnderstand" type="xs:byte"/>
	<xs:attribute name="actor" type="xs:anyURI"/>
	<xs:element name="Header">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="n1:metadata"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Envelope">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Header"/>
				<xs:element ref="Body"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Body">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="n2:Request"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
