soap/xsd/Legacy/Caliope/caliopeRequestTypes1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by LG (private) -->
<!--W3C Schema generated by XMLSpy v2010 (http://www.altova.com)-->
<xs:schema targetNamespace="http://www.wallonie.be/Genesis2/conversation" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.wallonie.be/Genesis2/conversation">
	<xs:element name="WantedSituations" type="xs:byte"/>
	<xs:element name="User_idSecteur" type="xs:int"/>
	<xs:element name="TypeInstitution" type="xs:byte"/>
	<xs:element name="TraitErr" type="xs:byte"/>
	<xs:element name="Secteur" type="xs:byte"/>
	<xs:element name="Request">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Secteur"/>
				<xs:element ref="TypeInstitution"/>
				<xs:element ref="CodeQualite"/>
				<xs:element ref="RefInterneSecteur"/>
				<xs:element ref="User_idSecteur"/>
				<xs:element ref="TraitErr"/>
				<xs:element ref="PLAIndicator"/>
				<xs:element ref="DelaiGenesis"/>
				<xs:element ref="DelaiBCSS"/>
				<xs:element ref="DetailRequest"/>
			</xs:sequence>
			<xs:attribute name="IdOriginRequest" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="RefInterneSecteur" type="xs:string"/>
	<xs:element name="PeriodStart" type="xs:short"/>
	<xs:element name="PeriodEnd" type="xs:short"/>
	<xs:element name="PLAIndicator" type="xs:byte"/>
	<xs:element name="Employer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PeriodStart"/>
				<xs:element ref="PeriodEnd"/>
				<xs:element ref="WantedSituations"/>
				<xs:element ref="CompanyID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DetailRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Employer"/>
			</xs:sequence>
			<xs:attribute name="IdOriginDetail" type="xs:byte" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DelaiGenesis" type="xs:byte"/>
	<xs:element name="DelaiBCSS" type="xs:string"/>
	<xs:element name="CompanyID" type="xs:int"/>
	<xs:element name="CodeQualite" type="xs:string"/>
</xs:schema>
