soap/xsd/BCED/services/employmentContract_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://bced.wallonie.be/services/employmentContract/messages/v1" xmlns:contract="http://bced.wallonie.be/data/entity/employementContract/contract/v1" xmlns:tic="http://bced.wallonie.be/data/common/ticket/v1" xmlns:err="http://bced.wallonie.be/data/common/error/v1" xmlns:num="http://bced.wallonie.be/data/entity/person/number/v1" xmlns:id="http://bced.wallonie.be/common/identification/v3" xmlns:priv="http://bced.wallonie.be/common/privacylog/v4" xmlns:dat="http://bced.wallonie.be/data/common/date/v1" xmlns:jointCommission="http://bced.wallonie.be/data/entity/enteprise/jointCommission/v1" xmlns:entNumber="http://bced.wallonie.be/data/entity/enteprise/number/v1" xmlns:employer="http://bced.wallonie.be/data/entity/employementContract/employer/v1" xmlns:employee="http://bced.wallonie.be/data/entity/employementContract/employee/v1" xmlns:priv5="http://bced.wallonie.be/common/privacylog/v5" xmlns:stat="http://bced.wallonie.be/common/status/v1" targetNamespace="http://bced.wallonie.be/services/employmentContract/messages/v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.02">
	<xsd:import namespace="http://bced.wallonie.be/data/entity/employementContract/contract/v1" schemaLocation="../data/entity/employementContract/contract_v1.xsd"/>
	<xsd:import namespace="http://bced.wallonie.be/data/common/ticket/v1" schemaLocation="../data/common/ticket_v1.xsd"/>
	<xsd:import namespace="http://bced.wallonie.be/data/common/error/v1" schemaLocation="../data/common/error_v1.xsd"/>
	<xsd:import namespace="http://bced.wallonie.be/data/entity/person/number/v1" schemaLocation="../data/entity/person/personNumber_v1.xsd"/>
	<xsd:import namespace="http://bced.wallonie.be/common/identification/v3" schemaLocation="../data/common/identification_v3.xsd"/>
	<xsd:import namespace="http://bced.wallonie.be/common/privacylog/v4" schemaLocation="../data/common/privacy_v4.xsd"/>
	<xsd:import namespace="http://bced.wallonie.be/data/common/date/v1" schemaLocation="../data/common/date_v1.xsd"/>
	<xsd:import namespace="http://bced.wallonie.be/data/entity/employementContract/employer/v1" schemaLocation="../data/entity/employementContract/employer_v1.xsd"/>
	<xsd:import namespace="http://bced.wallonie.be/data/entity/enteprise/jointCommission/v1" schemaLocation="../data/entity/enterprise/jointCommissionNumber.xsd"/>
	<xsd:import namespace="http://bced.wallonie.be/data/entity/employementContract/employee/v1" schemaLocation="../data/entity/employementContract/employee_v1.xsd"/>
	<xsd:import namespace="http://bced.wallonie.be/data/entity/enteprise/number/v1" schemaLocation="../data/entity/enterprise/enterpriseNumber_v1.xsd"/>
	<xsd:import namespace="http://bced.wallonie.be/common/privacylog/v5" schemaLocation="../data/common/privacy_v5.xsd"/>
	<xsd:import namespace="http://bced.wallonie.be/common/status/v1" schemaLocation="../data/common/status_v1.xsd"/>
	<xsd:element name="getContractHistoryBySSIN">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="id:requestIdentification"/>
				<xsd:element ref="priv5:privacyLog"/>
				<xsd:element name="request" type="tns:GetContractHistoryBySSINType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getContractHistoryBySSINResponse" type="tns:GetContractHistoryBySSINResponseType"/>
	<xsd:complexType name="GetContractHistoryBySSINType">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="personNumber" type="num:PersonNumberType"/>
				<xsd:element name="cryptPersonNumber" type="num:CryptPersonNumberType"/>
			</xsd:choice>
			<xsd:element name="beginDate" type="xsd:date"/>
			<xsd:element name="endDate" type="xsd:date" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetContractHistoryBySSINResponseType">
		<xsd:sequence>
			<xsd:element name="contracts" type="contract:ContractsType" minOccurs="0"/>
			<xsd:element ref="err:warning" minOccurs="0"/>
			<xsd:element ref="err:error" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>v1.01 : ajout de deux operations de recherche</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="searchContractHistoryByEmployee">
		<xsd:annotation>
			<xsd:documentation>recherche de l'historique des contrats d'emploi pour une personne.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="id:requestIdentification"/>
				<xsd:element ref="priv5:privacyLog"/>
				<xsd:element name="request" type="tns:SearchContractHistoryByEmployeeType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="searchContractHistoryByEmployeeResponse" type="tns:SearchContractHistoryResponseType">
		<xsd:annotation>
			<xsd:documentation>liste des contrats de travail ou identifiant du traitment batch</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="searchContractHistoryByEmployer">
		<xsd:annotation>
			<xsd:documentation>recherche de l'historique des contrats d'emploi liés à une entreprise</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="id:requestIdentification"/>
				<xsd:element ref="priv5:privacyLog"/>
				<xsd:element name="request" type="tns:SearchContractHistoryByEmployerType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="searchContractHistoryByEmployerResponse" type="tns:SearchContractHistoryResponseType"/>
	<xsd:complexType name="SearchContractHistoryByEmployeeType">
		<xsd:sequence>
			<xsd:element name="employee" type="employee:EmployeeNumberType"/>
			<xsd:element name="filters">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="tns:ContractFilterType">
							<xsd:sequence>
								<xsd:element name="contractPeriodId" type="contract:ContractPeriodIdType" minOccurs="0"/>
								<xsd:element name="employer" type="employer:EmployerType" minOccurs="0"/>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SearchContractHistoryByEmployerType">
		<xsd:sequence>
			<xsd:element name="employer" type="employer:EmployerType"/>
			<xsd:element name="filters" type="tns:ContractFilterType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SearchContractHistoryResponseType">
		<xsd:choice>
			<xsd:sequence>
				<xsd:element name="contracts">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="contract" maxOccurs="2000">
								<xsd:complexType>
									<xsd:complexContent>
										<xsd:extension base="contract:ExtendedContractType">
											<xsd:sequence>
												<xsd:element ref="err:warning" minOccurs="0"/>
											</xsd:sequence>
										</xsd:extension>
									</xsd:complexContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="err:warning" minOccurs="0"/>
			</xsd:sequence>
			<xsd:element name="status" type="stat:TechnicalStatusType"/>
			<xsd:element ref="err:error"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:simpleType name="SourceType">
		<xsd:annotation>
			<xsd:documentation>Origine des contrats recherchés : ONSS,ORPSS ou les deux.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="RSZ_ONSS"/>
			<xsd:enumeration value="DIBISS_ORPSS"/>
			<xsd:enumeration value="ALL"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ContractFeaturesSearchType">
		<xsd:sequence>
			<xsd:element name="jointCommissionNumbers" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="jointCommissionNumber" type="jointCommission:JointCommissionNumberType" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="workerCategories" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="workerCategory" type="employee:WorkerCategoryType" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="usingEmployer" type="employer:EmployerType" minOccurs="0"/>
			<xsd:element name="subEntityNbr" type="entNumber:CbeEntityNumber" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="TemporaryWorkerSearchType">
		<xsd:annotation>
			<xsd:documentation>recherche les contrats intérimaires, les contrats non-intérimaires ou les deux.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SEARCH_ONLY_FOR"/>
			<xsd:enumeration value="SEARCH_WITHOUT"/>
			<xsd:enumeration value="SEARCH_ALL"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ContractFilterType">
		<xsd:sequence>
			<xsd:element name="period" type="dat:PeriodType"/>
			<xsd:element name="contractFeatures" type="tns:ContractFeaturesSearchType" minOccurs="0"/>
			<xsd:element name="inOrOutOnly" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="source" type="tns:SourceType" minOccurs="0"/>
			<xsd:element name="cancelled" type="contract:ContractCancelledType" minOccurs="0"/>
			<xsd:element name="temporaryWorkerSearch" type="tns:TemporaryWorkerSearchType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
