soap/xsd/BCED/services/enterprise_v2.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 rel. 2 sp1 (x64) (http://www.altova.com) by YFE (Service Public de Wallonie) -->
<xs:schema xmlns:tns="http://bced.wallonie.be/services/enterprise/messages/v2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ent="http://bced.wallonie.be/data/entity/enterprise/enterprise/v2" xmlns:num="http://bced.wallonie.be/data/entity/person/number/v1" xmlns:id="http://bced.wallonie.be/common/identification/v3" xmlns:priv="http://bced.wallonie.be/common/privacylog/v5" xmlns:pub="http://bced.wallonie.be/common/publiclog/v1" xmlns:err="http://bced.wallonie.be/data/common/error/v1" xmlns:addr="http://bced.wallonie.be/data/entity/address/bce-address/v1" xmlns:iso="http://bced.wallonie.be/data/common/isocodes/v1" xmlns:bent="http://bced.wallonie.be/data/business/enterprise/v1" xmlns:fte="http://bced.wallonie.be/data/entity/enterprise/fte/v1" targetNamespace="http://bced.wallonie.be/services/enterprise/messages/v2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
	<xs:import namespace="http://bced.wallonie.be/data/entity/enterprise/enterprise/v2" schemaLocation="../data/entity/enterprise/enterprise_v2.xsd"/>
	<xs:import namespace="http://bced.wallonie.be/data/common/error/v1" schemaLocation="../data/common/error_v1.xsd"/>
	<xs:import namespace="http://bced.wallonie.be/common/identification/v3" schemaLocation="../data/common/identification_v3.xsd"/>
	<xs:import namespace="http://bced.wallonie.be/data/entity/address/bce-address/v1" schemaLocation="../data/entity/address/bce-address_v1.xsd"/>
	<xs:import namespace="http://bced.wallonie.be/data/common/isocodes/v1" schemaLocation="../data/common/isocodes_v1.xsd"/>
	<xs:import namespace="http://bced.wallonie.be/data/entity/person/number/v1" schemaLocation="../data/entity/person/personNumber_v1.xsd"/>
	<xs:import namespace="http://bced.wallonie.be/common/privacylog/v5" schemaLocation="../data/common/privacy_v5.xsd"/>
	<xs:import namespace="http://bced.wallonie.be/common/publiclog/v1" schemaLocation="../data/common/publicLog_v1.xsd"/>
	<xs:import namespace="http://bced.wallonie.be/data/business/enterprise/v1" schemaLocation="../data/business/enterprise/naturalEnterprise_v1.xsd"/>
	<xs:import namespace="http://bced.wallonie.be/data/entity/enterprise/fte/v1" schemaLocation="../data/entity/enterprise/fte_v1.xsd"/>
	<xs:element name="getEnterprise" type="tns:GetEnterpriseType"/>
	<xs:element name="getEnterpriseResponse" type="tns:GetEnterpriseResponseType"/>
	<xs:element name="searchEnterprise" type="tns:SearchEnterpriseType"/>
	<xs:element name="searchEnterpriseResponse" type="tns:SearchEnterpriseResponseType"/>
	<xs:element name="searchEnterpriseBySSIN" type="tns:SearchEnterpriseBySSINRequestType"/>
	<xs:element name="searchEnterpriseBySSINResponse" type="tns:SearchEnterpriseBySSINResponseType"/>
	<xs:element name="searchFunctionsBySSIN" type="tns:SearchFunctionsBySSINRequestType"/>
	<xs:element name="searchFunctionsBySSINResponse" type="tns:SearchFunctionsBySSINResponseType"/>
	<xs:complexType name="GetEnterpriseType">
		<xs:sequence>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="id:customerInformations"/>
					<xs:element ref="id:requestIdentification"/>
					<xs:element ref="pub:publicLog" minOccurs="0"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="id:requestIdentification"/>
					<xs:element ref="priv:privacyLog"/>
				</xs:sequence>
			</xs:choice>
			<xs:element name="request">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="enterpriseNumber" type="ent:CbeEntityNumber"/>
						<xs:element name="onlyBasicData" type="xs:boolean" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetEnterpriseResponseType">
		<xs:sequence>
			<xs:choice>
				<xs:sequence>
					<xs:choice>
						<xs:element name="enterprise" type="ent:EnterpriseType" minOccurs="0"/>
						<xs:element name="businessUnit" type="ent:BusinessUnitType" minOccurs="0"/>
					</xs:choice>
					<xs:element ref="err:warning" minOccurs="0"/>
				</xs:sequence>
				<xs:element ref="err:error" minOccurs="0"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchEnterpriseType">
		<xs:sequence>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="id:customerInformations"/>
					<xs:element ref="id:requestIdentification"/>
					<xs:element ref="pub:publicLog" minOccurs="0"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="id:requestIdentification"/>
					<xs:element ref="priv:privacyLog"/>
				</xs:sequence>
			</xs:choice>
			<xs:element name="request">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="enterpriseType" type="ent:CbeEnterpriseType" minOccurs="0">							
							<xs:annotation>
								<xs:documentation>EPP/EPM, enabling this filter cancels the research on business units</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="enterpriseJuridicalForm" type="ent:CbeJuridicalFormCode" minOccurs="0">
							<xs:annotation>
								<xs:documentation>enabling this filter cancels the research on business units</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="enterpriseStatus" type="ent:CbeStatusCode" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Status of the researched entity</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="denomination" type="xs:string" minOccurs="0"/>
						<xs:element name="address" type="tns:SearchCriteriaAddressType" minOccurs="0"/>
						<xs:element name="entityType" type="tns:EntityType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Default : both entity type will be returned</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="tns:maxReturnData" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--Version 2.2 : searchEnterpriseBySSIN and SearchFunctionsBySSIN => add choice with public call-->
	<xs:complexType name="SearchEnterpriseBySSINRequestType">
		<xs:sequence>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="id:customerInformations"/>
					<xs:element ref="id:requestIdentification"/>
					<xs:element ref="pub:publicLog" minOccurs="0"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="id:requestIdentification"/>
					<xs:element ref="priv:privacyLog"/>
				</xs:sequence>
			</xs:choice>
			<xs:element name="request">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="personNumber" type="num:PersonNumberType"/>
						<xs:element name="functions" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="function" type="ent:FunctionCodeType" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="onlyActiveFunctions" type="xs:boolean" minOccurs="0"/>
						<xs:element ref="tns:maxReturnData" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchEnterpriseBySSINResponseType">
		<xs:sequence>
			<xs:choice>
				<xs:sequence>
					<xs:element name="enterprises" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="naturalPersonEnterprise" type="bent:NaturalPersonEnterpriseType" maxOccurs="60"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element ref="err:warning" minOccurs="0"/>
				</xs:sequence>
				<xs:element ref="err:error"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchFunctionsBySSINRequestType">
		<xs:sequence>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="id:customerInformations"/>
					<xs:element ref="id:requestIdentification"/>
					<xs:element ref="pub:publicLog" minOccurs="0"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="id:requestIdentification"/>
					<xs:element ref="priv:privacyLog"/>
				</xs:sequence>
			</xs:choice>
			<xs:element name="request">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="personNumber" type="num:PersonNumberType"/>
						<xs:element name="functionCategory" type="ent:FunctionCategory" minOccurs="0"/>
						<xs:element name="onlyActiveFunctions" type="xs:boolean" minOccurs="0"/>
						<xs:element ref="tns:maxReturnData" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchFunctionsBySSINResponseType">
		<xs:choice>
			<xs:sequence>
				<xs:element name="personFunctions" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="personFunction" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="enterprise">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="enterpriseNumber" type="ent:CbeEntityNumber"/>
													<xs:element name="denomination" type="ent:DenominationType" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="function" type="ent:FunctionType"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="err:warning" minOccurs="0"/>
			</xs:sequence>
			<xs:element ref="err:error"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="SearchEnterpriseResponseType">
		<xs:sequence>
			<xs:choice>
				<xs:sequence>
					<xs:element name="enterprises" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:choice maxOccurs="60">
									<xs:element name="enterprise" type="ent:EnterpriseType"/>
									<xs:element name="businessUnit" type="ent:BusinessUnitType"/>
								</xs:choice>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element ref="err:warning" minOccurs="0"/>
				</xs:sequence>
				<xs:element ref="err:error" minOccurs="0"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PrivateRequestType">
		<xs:sequence>
			<xs:element ref="id:requestIdentification"/>
			<xs:element ref="priv:privacyLog"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EntityType">
		<xs:annotation>
			<xs:documentation>
				Type of an entity used for research.
				if inexistant, both will be selected
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Enterprise" type="xs:boolean" default="true">
				<xs:annotation>
					<xs:documentation>true if the sender wants to have information about some enterprises.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BusinessUnit" type="xs:boolean" default="true">
				<xs:annotation>
					<xs:documentation>true if the sender wants to have information about some specific business units.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchCriteriaAddressType">
		<xs:annotation>
			<xs:documentation>Possible address criteria's of a research</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="municipality">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="postCode" type="xs:string">
							<xs:annotation>
								<xs:documentation xml:lang="en">The postcode. This is a mandatory field.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="nisCode" type="addr:nisCodeType" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">The NIS code of the municipality.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="streetCode" type="addr:streetCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The street code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="houseNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The house number. This is a mandatory field. If no house number is
                        known, the letters ZN (Dutch: "zonder naam") should be used.

                        Note: due to a limitation in the KBO/BCE, house numbers may be truncated
                        to four characters, if the KBO/BCE is involved in a server transaction.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="countryCode" type="iso:CountryType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The Countrycode. This is a mandatory field.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="maxReturnData">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:minInclusive value="1"/>
				<xs:maxInclusive value="60"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!--Version 2.1 : new operation (private) that offer the FTE data-->
	<xs:element name="getAllEmploymentLevelQuarters" type="tns:GetAllEmploymentLevelQuartersType"/>
	<xs:element name="getAllEmploymentLevelQuartersResponse" type="tns:GetAllEmploymentLevelQuartersResponseType"/>
	<xs:complexType name="GetAllEmploymentLevelQuartersType">
		<xs:sequence>
			<xs:sequence>
				<xs:element ref="id:requestIdentification"/>
				<xs:element ref="priv:privacyLog"/>
			</xs:sequence>
			<xs:element name="request">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="enterpriseNumber" type="ent:CbeEntityNumber"/>
						<!--xs:element name="quarter" type="dat:QuarterType" minOccurs="0"/-->
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetAllEmploymentLevelQuartersResponseType">
		<xs:sequence>
			<xs:choice>
				<xs:sequence>
					<xs:element name="employementLevelQuarter" type="fte:FTEType" maxOccurs="unbounded"/>
					<xs:element ref="err:warning" minOccurs="0"/>
				</xs:sequence>
				<xs:element ref="err:error" minOccurs="0"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
