soap/xsd/BCED/services/enterprise.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://bced.wallonie.be/services/enterprise" xmlns:ns1="http://bced.wallonie.be/identification/common" targetNamespace="http://bced.wallonie.be/services/enterprise" elementFormDefault="unqualified" version="1.0">
	<xs:import namespace="http://bced.wallonie.be/identification/common" schemaLocation="../data/common/identification.xsd"/>
	<xs:element name="getFullData" type="tns:getFullData"/>
	<xs:element name="getFullDataResponse" type="tns:FullDataResponseType"/>
	<xs:element name="getSummaryData" type="tns:getSummaryData"/>
	<xs:element name="getSummaryDataResponse" type="tns:SummaryDataResponseType"/>
	<xs:element name="searchByName" type="tns:searchByName"/>
	<xs:element name="searchByNameResponse" type="tns:SearchByNameResponseType"/>
	<xs:element name="searchByZipCode" type="tns:searchByZipCode"/>
	<xs:element name="searchByZipCodeResponse" type="tns:SearchByNameResponseType"/>
	<xs:complexType name="getFullData">
		<xs:sequence>
			<xs:element name="CustomerInformations" type="ns1:ClientIdentification"/>
			<xs:element name="RequestIdentification" type="ns1:RequestIdentification"/>
			<xs:element name="Request">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EnterpriseId" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FullDataResponseType">
		<xs:sequence>
			<xs:element name="Entreprise">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NumeroEntreprise" type="xs:string"/>
						<xs:element name="DateInscription" type="xs:date" nillable="true"/>
						<xs:element name="DateDemarrage" type="xs:date" nillable="true"/>
						<xs:element name="DateCessation" type="xs:date" nillable="true"/>
						<xs:element name="MotifCessation" type="xs:string"/>
						<xs:element name="DateCloture" type="xs:date" nillable="true"/>
						<xs:element name="StatutActuel" type="xs:string"/>
						<xs:element name="Designation" type="xs:string"/>
						<xs:element name="DesignationType" type="xs:string"/>
						<xs:element name="Duree" type="xs:int"/>
						<xs:element name="Capital" type="xs:string"/>
						<xs:element name="CodeMonetaire" type="xs:string"/>
						<xs:element name="Adresses" type="tns:AdresseType"/>
						<xs:element name="Activites" type="tns:ActiviteType"/>
						<xs:element name="Autorisations" type="tns:AutorisationType"/>
						<xs:element name="Bilans" type="tns:BilanType"/>
						<xs:element name="CompteBancaires" type="tns:CompteBancaireType"/>
						<xs:element name="Finances" type="tns:FinanceType"/>
						<xs:element name="FormeJuridiques" type="tns:FormeJuridiqueType"/>
						<xs:element name="IdentifiantExternes" type="tns:IdentExterneType"/>
						<xs:element name="PositionJuridiques" type="tns:PositionJuridiqueType"/>
						<xs:element name="Denominations" type="tns:DenominationType"/>
						<xs:element name="Publications" type="tns:PublicationType"/>
						<xs:element name="Etablissements" type="tns:EtablissementType"/>
						<xs:element name="EntreprisesFilsPere" type="tns:EntrepriseFilsPereType"/>
						<xs:element name="EntreprisesPereFils" type="tns:EntreprisePereFilsType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdresseType">
		<xs:sequence>
			<xs:element name="Adresse" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Type" type="xs:string"/>
						<xs:element name="CodeRue" type="xs:string"/>
						<xs:element name="CodeRegime" type="xs:string"/>
						<xs:element name="CodeLangue" type="xs:string"/>
						<xs:element name="NomRue" type="xs:string"/>
						<xs:element name="NomRue21" type="xs:string"/>
						<xs:element name="NomRue25" type="xs:string"/>
						<xs:element name="NumeroMaison" type="xs:string"/>
						<xs:element name="Boite" type="xs:string"/>
						<xs:element name="CodePostal" type="xs:string"/>
						<xs:element name="CodeIns" type="xs:string"/>
						<xs:element name="NomCommune" type="xs:string"/>
						<xs:element name="Etat" type="xs:string"/>
						<xs:element name="CodePays" type="xs:string"/>
						<xs:element name="NomPays" type="xs:string"/>
						<xs:element name="Complement" type="xs:string"/>
						<xs:element name="Telephone" type="xs:string"/>
						<xs:element name="Fax" type="xs:string"/>
						<xs:element name="Email" type="xs:string"/>
						<xs:element name="DateInitiale" type="xs:date" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ActiviteType">
		<xs:sequence>
			<xs:element name="Activite" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AdminInstrum" type="xs:string"/>
						<xs:element name="Nacebel" type="xs:string"/>
						<xs:element name="DateInitiale" type="xs:date" nillable="true"/>
						<xs:element name="Niveau" type="xs:string"/>
						<xs:element name="Activ" type="xs:string"/>
						<xs:element name="NaceVersion" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AutorisationType">
		<xs:sequence>
			<xs:element name="Autorisation" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Autoris" type="xs:string"/>
						<xs:element name="DateInscription" type="xs:date" nillable="true"/>
						<xs:element name="PhaseActuelle" type="xs:string"/>
						<xs:element name="DateInitiale" type="xs:date" nillable="true"/>
						<xs:element name="MotifCessation" type="xs:string"/>
						<xs:element name="AdminDelivrance" type="xs:string"/>
						<xs:element name="Duree" type="xs:int"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BilanType">
		<xs:sequence>
			<xs:element name="Bilan" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DateDebutExercice" type="xs:date" nillable="true"/>
						<xs:element name="DateFinExercice" type="xs:date" nillable="true"/>
						<xs:element name="NatureCompteAnnuel" type="xs:string"/>
						<xs:element name="DateAssembleeGenerale" type="xs:date" nillable="true"/>
						<xs:element name="DateDepotAccept" type="xs:date" nillable="true"/>
						<xs:element name="Langue" type="xs:string"/>
						<xs:element name="AdminInstrum" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CompteBancaireType">
		<xs:sequence>
			<xs:element name="CompteBancaire" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DateInitiale" type="xs:date" nillable="true"/>
						<xs:element name="ObjetUtilisation" type="xs:string"/>
						<xs:element name="AdminInstrum" type="xs:string"/>
						<xs:element name="NumeroCompte" type="xs:string"/>
						<xs:element name="NumeroCompteEuro" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinanceType">
		<xs:sequence>
			<xs:element name="Finance" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DateInitiale" type="xs:date" nillable="true"/>
						<xs:element name="FinExerciceJJ" type="xs:int"/>
						<xs:element name="FinExerciceMM" type="xs:int"/>
						<xs:element name="DebutExercice" type="xs:date" nillable="true"/>
						<xs:element name="FinExercice" type="xs:date" nillable="true"/>
						<xs:element name="AssAnnuelleMM" type="xs:int"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FormeJuridiqueType">
		<xs:sequence>
			<xs:element name="FormeJuridique" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DateInitiale" type="xs:date" nillable="true"/>
						<xs:element name="FinExerciceJJ" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IdentExterneType">
		<xs:sequence>
			<xs:element name="IdentifiantExterne" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Type" type="xs:string"/>
						<xs:element name="IdentExterne" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PositionJuridiqueType">
		<xs:sequence>
			<xs:element name="PositionJuridique" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DateInitiale" type="xs:date" nillable="true"/>
						<xs:element name="PositionJurid" type="xs:string"/>
						<xs:element name="AdminDelivrance" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DenominationType">
		<xs:sequence>
			<xs:element name="Denomination" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CodeLangue" type="xs:string"/>
						<xs:element name="TypeNom" type="xs:string"/>
						<xs:element name="DateInitiale" type="xs:date" nillable="true"/>
						<xs:element name="Denom" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PublicationType">
		<xs:sequence>
			<xs:element name="Publication" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DatePublication" type="xs:date" nillable="true"/>
						<xs:element name="NumeroActe" type="xs:string"/>
						<xs:element name="TypeSujet" type="xs:string"/>
						<xs:element name="Langue" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EtablissementPereFilsType">
		<xs:sequence>
			<xs:element name="EtablissementPereFils" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FilsId">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="DateInitiale" type="xs:date" nillable="true"/>
						<xs:element name="CodeLien" type="xs:string"/>
						<xs:element name="DateFinale" type="xs:date" nillable="true"/>
						<xs:element name="MotifFinLien" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EtablissementFilsPereType">
		<xs:sequence>
			<xs:element name="EtablissementFilsPere" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PereId">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="DateInitiale" type="xs:date" nillable="true"/>
						<xs:element name="CodeLien" type="xs:string"/>
						<xs:element name="DateFinale" type="xs:date" nillable="true"/>
						<xs:element name="MotifFinLien" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EntreprisePereFilsType">
		<xs:sequence>
			<xs:element name="EntreprisePereFils" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FilsId">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="DateInitiale" type="xs:date" nillable="true"/>
						<xs:element name="CodeLien" type="xs:string"/>
						<xs:element name="DateFinale" type="xs:date" nillable="true"/>
						<xs:element name="MotifFinLien" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EntrepriseFilsPereType">
		<xs:sequence>
			<xs:element name="EntrepriseFilsPere" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PereId">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="DateInitiale" type="xs:date" nillable="true"/>
						<xs:element name="CodeLien" type="xs:string"/>
						<xs:element name="DateFinale" type="xs:date" nillable="true"/>
						<xs:element name="MotifFinLien" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EtablissementType">
		<xs:sequence>
			<xs:element name="Etablissement" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NumeroEtablissement" type="xs:string"/>
						<xs:element name="DateInscription" type="xs:date" nillable="true"/>
						<xs:element name="DateDemarrage" type="xs:date" nillable="true"/>
						<xs:element name="DateCessation" type="xs:date" nillable="true"/>
						<xs:element name="MotifCessation" type="xs:string"/>
						<xs:element name="DateCloture" type="xs:date" nillable="true"/>
						<xs:element name="StatutActuel" type="xs:string"/>
						<xs:element name="Designation" type="xs:string"/>
						<xs:element name="DesignationType" type="xs:string"/>
						<xs:element name="Duree" type="xs:int"/>
						<xs:element name="Capital" type="xs:int"/>
						<xs:element name="CodeMonetaire" type="xs:string"/>
						<xs:element name="Adresses" type="tns:AdresseType"/>
						<xs:element name="Activites" type="tns:ActiviteType"/>
						<xs:element name="Autorisations" type="tns:AutorisationType"/>
						<xs:element name="Denominations" type="tns:DenominationType"/>
						<xs:element name="IdentifiantExternes" type="tns:IdentExterneType"/>
						<xs:element name="EtablissementsFilsPere" type="tns:EtablissementFilsPereType"/>
						<xs:element name="EtablissementsPereFils" type="tns:EtablissementPereFilsType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="searchByZipCode">
		<xs:sequence>
			<xs:element name="CustomerInformations" type="ns1:ClientIdentification"/>
			<xs:element name="RequestIdentification" type="ns1:RequestIdentification"/>
			<xs:element name="Request">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ZipCode" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchByNameResponseType">
		<xs:sequence>
			<xs:element name="Entreprises" type="tns:EntrepriseSearchByNameType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EntrepriseSearchByNameType">
		<xs:sequence>
			<xs:element name="Entreprise" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NumeroEntreprise" type="xs:string"/>
						<xs:element name="StatutActuel" type="xs:string"/>
						<xs:element name="Denominations" type="tns:DenominationType"/>
						<xs:element name="IdentifiantExternes" type="tns:IdentExterneType"/>
						<xs:element name="SiegeSocial" type="tns:AdresseType"/>
						<xs:element name="FormeJuridiques" type="tns:FormeJuridiqueType"/>
						<xs:element name="PositionJuridiques" type="tns:PositionJuridiqueType"/>
						<xs:element name="Activites" type="tns:ActiviteType"/>
						<xs:element name="Etablissements" type="tns:EtablissementSummaryType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EtablissementSummaryType">
		<xs:sequence>
			<xs:element name="Etablissement" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NumeroEtablissement" type="xs:string"/>
						<xs:element name="NomCommercial" type="tns:DenominationType"/>
						<xs:element name="Adresses" type="tns:AdresseType"/>
						<xs:element name="Activites" type="tns:ActiviteType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="searchByName">
		<xs:sequence>
			<xs:element name="CustomerInformations" type="ns1:ClientIdentification"/>
			<xs:element name="RequestIdentification" type="ns1:RequestIdentification"/>
			<xs:element name="Request">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EnterpriseName" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="getSummaryData">
		<xs:sequence>
			<xs:element name="CustomerInformations" type="ns1:ClientIdentification"/>
			<xs:element name="RequestIdentification" type="ns1:RequestIdentification"/>
			<xs:element name="Request">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EnterpriseId" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SummaryDataResponseType">
		<xs:sequence>
			<xs:element name="Entreprise">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NumeroEntreprise" type="xs:string"/>
						<xs:element name="StatutActuel" type="xs:string"/>
						<xs:element name="Denominations" type="tns:DenominationType"/>
						<xs:element name="IdentifiantExternes" type="tns:IdentExterneType"/>
						<xs:element name="SiegeSocial" type="tns:AdresseType"/>
						<xs:element name="FormeJuridiques" type="tns:FormeJuridiqueType"/>
						<xs:element name="PositionJuridiques" type="tns:PositionJuridiqueType"/>
						<xs:element name="Activites" type="tns:ActiviteType"/>
						<xs:element name="Etablissements" type="tns:EtablissementSummaryType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
