soap/xsd/BCED/services/transaction_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://bced.wallonie.be/data/business/updateTransaction/messages/v1" targetNamespace="http://bced.wallonie.be/data/business/updateTransaction/messages/v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="createTransaction">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="transactionId">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="36"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="correlationId">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="origin">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="flowId" type="xs:integer"/>
							<xs:element name="ticket">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="36"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="clientTimestamp">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="25"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="createTransactionResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="createRow" type="xs:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="updateTransaction">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="transactionId">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="36"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="treatmentStatus">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="64"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="updateTransactionResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="updateRow" type="xs:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
