soap/xsd/SOA/data/business/employmentAid/employmentAidCommon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:eacommon="http://soa.wallonie.be/data/business/employmentAid/common/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dat="http://soa.spw.wallonie.be/data/common/date/v1" xmlns:bape="http://soa.spw.wallonie.be/data/business/employmentPromotionAid/enterprise/v1" xmlns:add="http://soa.spw.wallonie.be/data/entity/address/v1" xmlns:num="http://soa.spw.wallonie.be/data/entity/enteprise/number/v1" xmlns:cont="http://soa.spw.wallonie.be/data/common/contact/v1" xmlns:bank="http://soa.spw.wallonie.be/data/entity/enterprise/bankAccount/v1" xmlns:entity="http://soa.spw.wallonie.be/data/entity/enterprise/enterprise/v3" xmlns:cod="http://soa.spw.wallonie.be/data/common/code/v1" targetNamespace="http://soa.wallonie.be/data/business/employmentAid/common/v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/date/v1" schemaLocation="../../common/date_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/address/v1" schemaLocation="../../entity/address/address_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/enteprise/number/v1" schemaLocation="../../entity/enterprise/enterpriseNumber_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/contact/v1" schemaLocation="../../common/contact_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/enterprise/bankAccount/v1" schemaLocation="../../entity/enterprise/bankAccount_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/code/v1" schemaLocation="../../common/code_v1.xsd"/>
	<xs:annotation>
		<xs:documentation>Dossier identification and follow up types</xs:documentation>
	</xs:annotation>
	<xs:complexType name="DossierReference">
		<xs:sequence>
			<xs:element name="internalReference">
				<xs:annotation>
					<xs:documentation>Le numéro de référence interne</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:int">
							<xs:attribute name="source" use="required">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="caliope"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="reference">
				<xs:annotation>
					<xs:documentation>Le numéro de dossier côté Caliope : concaténation projectId, amendmentNumber, positionNumber </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="14"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AbstractDossierIdentificationType">
		<xs:sequence>
			<xs:element name="internalReference">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:int">
							<xs:attribute name="source" use="required">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="caliope"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="projectId">
				<xs:annotation>
					<xs:documentation>Le numéro de projet</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="amendment">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="amendmentNumber">
							<xs:annotation>
								<xs:documentation>Le numéro d'avenant</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="amendmentType" type="eacommon:AmendmentType">
							<xs:annotation>
								<xs:documentation>Le type d'avenant</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="referenceDossiers" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Les dosseirs de référence, en cas cission, ... </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="referenceDossier" type="eacommon:DossierReference" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="version" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:int">
					<xs:minInclusive value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DossierFollowUpType">
		<xs:sequence>
			<xs:element name="status">
				<xs:annotation>
					<xs:documentation>Le statut de la demande : En complétude, Entreprise notifiée ou classé sans suite.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="requested"/>
						<xs:enumeration value="treatment"/>
						<xs:enumeration value="completeness"/>
						<xs:enumeration value="notified"/>
						<xs:enumeration value="closed"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="request">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="requestReceiptDate">
							<xs:annotation>
								<xs:documentation>date de réception de la requête</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:date">
									<xs:minInclusive value="2013-01-01"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="isDossierCompleted" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>Indicateur déterminant si le dossier est complet ou non</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="comment" type="xs:string" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="completeness" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Le dosseir est complet et envoyé pour approbation au ministre</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="completenessAgent" type="xs:string">
							<xs:annotation>
								<xs:documentation>Agent Completude</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="completenessDossierDate" minOccurs="0">
							<xs:annotation>
								<xs:documentation>La date de complétude</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:date">
									<xs:minInclusive value="2013-01-01"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="treatment" minOccurs="0">
				<xs:annotation>
					<xs:documentation>La demande est en cours de traitement </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="treatmentAgent" type="xs:string">
							<xs:annotation>
								<xs:documentation>Agent traitant</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="notification" minOccurs="0">
				<xs:annotation>
					<xs:documentation>L'entreprise est notifiée de l"octroi ou non du poste demandé</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="notificationDate">
							<xs:annotation>
								<xs:documentation>La date de notification de l'ocrtoi (ou non) du poste par le ministre</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:date">
									<xs:minInclusive value="2013-01-01"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="orderSentDate" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Date arrêté envoyé</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:date">
									<xs:minInclusive value="2013-01-01"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="grantingDate" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Date ocrtoi</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:date">
									<xs:minInclusive value="2013-01-01"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AmendmentType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NOUVSAM"/>
			<xs:enumeration value="NOUVPOSTE"/>
			<xs:enumeration value="NOUVCOV"/>
			<xs:enumeration value="NOUVPOCO"/>
			<xs:enumeration value="DEROGSAM1"/>
			<xs:enumeration value="DEROGSAM12"/>
			<xs:enumeration value="DEROGSAM2"/>
			<xs:enumeration value="EXT"/>
			<xs:enumeration value="MODFCTSAM"/>
			<xs:enumeration value="PROLMOD"/>
			<xs:enumeration value="PROLSMOD"/>
			<xs:enumeration value="RECSCIFUS"/>
			<xs:enumeration value="SCISSION"/>
			<xs:enumeration value="FINPROJET"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeDecision">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Granted"/>
			<xs:enumeration value="Refused"/>
			<xs:enumeration value="PartiallyGranted"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ContributionType">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:annotation>
		<xs:documentation>Employer definition types</xs:documentation>
	</xs:annotation>
	<xs:complexType name="EmployerType">
		<xs:sequence>
			<xs:element name="insurances" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Les assurances</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="insurance" type="eacommon:InsuranceType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="occupationalMedicalServices" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Les médecines du travail</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="occupationalMedicalService" type="eacommon:OccupationalMedicalServiceType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="workRegulations" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Les contrats de travail</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="workRegulation" type="eacommon:WorkRegulationType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="subsidies" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="subsidy" type="eacommon:SubsidyType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="workForce" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="referenceWorkForce" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Effectif de référence</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:fractionDigits value="2"/>
									<xs:totalDigits value="18"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="correctedWorkForce" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Effectif corrigé</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:fractionDigits value="2"/>
									<xs:totalDigits value="18"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InsuranceType">
		<xs:sequence>
			<xs:element name="company">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="policyType" type="xs:string" minOccurs="0"/>
			<xs:element name="policyNumber">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OccupationalMedicalServiceType">
		<xs:sequence>
			<xs:element name="organism">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="affiliationNumber">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WorkRegulationType">
		<xs:sequence>
			<xs:element name="socialLawControlNumber">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubsidyType">
		<xs:sequence>
			<xs:element name="subsidyType" type="cod:CodeType"/>
			<xs:element name="subsidingAuthority" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Pouvoir subsidiant</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="decisionDate" nillable="true">
				<xs:annotation>
					<xs:documentation>Date de la décision</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:date">
						<xs:minInclusive value="2000-01-01"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="startDate" nillable="true">
				<xs:annotation>
					<xs:documentation>Date de prise d'effet</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:date">
						<xs:minInclusive value="2000-01-01"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="endDate" nillable="true">
				<xs:annotation>
					<xs:documentation>Date d'échéance</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:date">
						<xs:minInclusive value="2000-01-01"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="attributedAmount" nillable="false">
				<xs:annotation>
					<xs:documentation>Montant</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="18"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="subsidyObject" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>objet de l'aide ; but du subside</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="source" type="cod:CodeSourceType"/>
		<xs:attribute name="trust" type="cod:TrustType"/>
	</xs:complexType>
	<!--v1.1-->
	<xs:complexType name="AbstractBasicDossierIdentificationType">
		<xs:sequence>
			<xs:element name="internalReference">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:int">
							<xs:attribute name="source" use="required">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="caliope"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="projectId">
				<xs:annotation>
					<xs:documentation>Le numéro de projet</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="amendment">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="amendmentNumber">
							<xs:annotation>
								<xs:documentation>Le numéro d'avenant</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="amendmentType" type="eacommon:AmendmentType">
							<xs:annotation>
								<xs:documentation>Le type d'avenant</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
