soap/xsd/SOA/services/asset_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2022 (x64) (http://www.altova.com) by Marc De Graef (Proxcellence) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msg="http://soa.spw.wallonie.be/services/asset/messages/v1" xmlns:req="http://soa.spw.wallonie.be/data/common/request/v1" xmlns:resp="http://soa.spw.wallonie.be/data/common/response/v1" xmlns:err="http://soa.spw.wallonie.be/data/common/error/v4" xmlns:pag="http://soa.spw.wallonie.be/data/entity/specific/wbfin/paging/v1" targetNamespace="http://soa.spw.wallonie.be/services/asset/messages/v1" version="1.0">
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/request/v1" schemaLocation="../data/common/request_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/response/v1" schemaLocation="../data/common/response_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/error/v4" schemaLocation="../data/common/error_v4.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/specific/wbfin/paging/v1" schemaLocation="../data/entity/specific/wbFin/paging_v1.xsd"/>
	<xs:element name="fault" type="err:ErrorOrWarningType"/>
	<xs:element name="publishAsset" type="msg:PublishAssetType">
		<xs:annotation>
			<xs:documentation>Opération de demande de création .</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="publishAssetResponse" type="msg:PublishAssetResponseType">
		<xs:annotation>
			<xs:documentation>Opération de demande de création .</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="updateAsset" type="msg:UpdateAssetType">
		<xs:annotation>
			<xs:documentation>Opération de modification  </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="updateAssetResponse" type="msg:UpdateAssetResponseType">
		<xs:annotation>
			<xs:documentation>Opération de modification  </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="getAsset" type="msg:GetAssetType">
		<xs:annotation>
			<xs:documentation>Opération de consultation </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="getAssetResponse" type="msg:GetAssetResponseType">
		<xs:annotation>
			<xs:documentation>Opération de consultation </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="searchAssets" type="msg:SearchAssetType">
		<xs:annotation>
			<xs:documentation>Opération de recherche.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="searchAssetsResponse" type="msg:SearchAssetResponseType">
		<xs:annotation>
			<xs:documentation>Opération de recherche.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SearchAssetResponseType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données de la réponse de l'opération .</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element ref="resp:warnings" minOccurs="0"/>
					<xs:element name="response" type="msg:SearchAssetResponseDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SearchAssetResponseDataType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="assetReferences" maxOccurs="1000">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="entityCode" type="xs:string"/>
						<xs:element name="assetId" type="xs:string"/>
						<xs:element name="assetSubId" type="xs:string" minOccurs="0"/>
						<xs:element name="assetData" type="msg:AssetDataType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="pagingResult" type="pag:PagingResultType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchAssetType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données .</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="msg:SearchAssetDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SearchAssetDataType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données spécifiques .</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="entityCode" type="xs:string"/>
			<xs:element name="evaluationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="selectionCriterias">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="parameter" type="xs:string" minOccurs="0"/>
						<xs:element name="field" type="xs:string" minOccurs="0"/>
						<xs:element name="sign" type="xs:string" minOccurs="0"/>
						<xs:element name="option" type="xs:string" minOccurs="0"/>
						<xs:element name="low" type="xs:string" minOccurs="0"/>
						<xs:element name="high" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="pagingParameters" type="pag:PagingParametersType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetAssetType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données de la requête à l'opération GetAsset.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="msg:GetAssetDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération GetAsset.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetAssetDataType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération GetAsset.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="assetReferences" maxOccurs="1000">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="entityCode" type="xs:string"/>
						<xs:element name="assetId" type="xs:string"/>
						<xs:element name="assetSubId" type="xs:string" minOccurs="0"/>
						<xs:element name="evaluationDate" type="xs:date" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UpdateAssetType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données de la requête à l'opération UpdateAsset.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="msg:UpdateAssetDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération UpdateAsset.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateAssetDataType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération UpdateAsset.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="assetData" type="msg:AssetDataUpdateType"/>
			<xs:element name="entityCode" type="xs:string"/>
			<xs:element name="assetId" type="xs:string"/>
			<xs:element name="assetSubId" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PublishAssetType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données de la requête à l'opération PublishAsset.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="msg:PublishAssetDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération PublishAsset.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PublishAssetDataType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération PublishAsset.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="assetData" type="msg:AssetDataType"/>
			<xs:element name="entityCode" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PublishAssetResponseType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données de la réponse de l'opération .</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element ref="resp:warnings" minOccurs="0"/>
					<xs:element name="response" type="msg:PublishAssetResponseDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PublishAssetResponseDataType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="assetId" type="xs:string"/>
			<xs:element name="assetSubId" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UpdateAssetResponseType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données de la réponse de l'opération .</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element ref="resp:warnings" minOccurs="0"/>
					<xs:element name="response" type="msg:UpdateAssetResponseDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateAssetResponseDataType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="requestId" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetAssetResponseType">
		<xs:annotation>
			<xs:documentation>Cet élément </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element ref="resp:warnings" minOccurs="0"/>
					<xs:element name="response" type="msg:GetAssetResponseDataType">
						<xs:annotation>
							<xs:documentation>Cet élément </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetAssetResponseDataType">
		<xs:annotation>
			<xs:documentation>Cet élément </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="assetReferences" maxOccurs="1000">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="msg:AssetDataType">
							<xs:sequence>
								<xs:element name="entityCode" type="xs:string"/>
								<xs:element name="assetId" type="xs:string"/>
								<xs:element name="assetSubId" type="xs:string" minOccurs="0"/>
								<xs:element name="assetData" type="msg:AssetDataType"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AssetDataType">
		<xs:annotation>
			<xs:documentation>Cet objet correspond à.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="category" type="xs:string"/>
			<xs:element name="generalData" type="msg:GeneralDataType"/>
			<xs:element name="accountingData" type="msg:AccountingDataType" minOccurs="0"/>
			<xs:element name="timeBasedData" type="msg:TimeBasedDataType" minOccurs="0"/>
			<xs:element name="assignementData" type="msg:AssignmentDataType" minOccurs="0"/>
			<xs:element name="assetRatingData" type="msg:AssetRatingDataType" minOccurs="0"/>
			<xs:element name="landsAndAssimilatedData" type="msg:LandsAndAssmililatedDataType" minOccurs="0"/>
			<xs:element name="originData" type="msg:OriginDataType" minOccurs="0"/>
			<xs:element name="imputationData" type="msg:ImputationDataType" minOccurs="0"/>
			<xs:element name="inventoryData" type="msg:InventoryDataType" minOccurs="0"/>
			<xs:element name="investmentIncentiveKey" type="xs:string" minOccurs="0"/>
			<xs:element name="ratingData" type="msg:RatingDataType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AssetDataUpdateType">
		<xs:annotation>
			<xs:documentation>Cet objet correspond à.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="category" type="xs:string" minOccurs="0"/>
			<xs:element name="generalData" type="msg:GeneralDataType" minOccurs="0"/>
			<xs:element name="accountingData" type="msg:AccountingDataType" minOccurs="0"/>
			<xs:element name="timeBasedData" type="msg:TimeBasedDataUpdateType" minOccurs="0"/>
			<xs:element name="assignementData" type="msg:AssignmentDataType" minOccurs="0"/>
			<xs:element name="assetRatingData" type="msg:AssetRatingDataType" minOccurs="0"/>
			<xs:element name="landsAndAssimilatedData" type="msg:LandsAndAssmililatedDataType" minOccurs="0"/>
			<xs:element name="originData" type="msg:OriginDataType" minOccurs="0"/>
			<xs:element name="imputationData" type="msg:ImputationDataType" minOccurs="0"/>
			<xs:element name="inventoryData" type="msg:InventoryDataType" minOccurs="0"/>
			<xs:element name="investmentIncentiveKey" type="xs:string" minOccurs="0"/>
			<xs:element name="ratingData" type="msg:RatingDataType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeneralDataType">
		<xs:annotation>
			<xs:documentation>Cet objet correspond à.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="label1" type="xs:string"/>
			<xs:element name="label2" type="xs:string" minOccurs="0"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="inventoryReference" type="xs:string" minOccurs="0"/>
			<xs:element name="assetPrincipalDesignation" type="xs:string" minOccurs="0"/>
			<xs:element name="accountDetermination" type="xs:string" minOccurs="0"/>
			<xs:element name="serialNumber" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountingDataType">
		<xs:annotation>
			<xs:documentation>Cet objet correspond à.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="startingDate" type="xs:date" minOccurs="0"/>
			<xs:element name="recordDate" type="xs:date" minOccurs="0"/>
			<xs:element name="startingYear" type="xs:integer" minOccurs="0"/>
			<xs:element name="startingPeriod" type="xs:integer" minOccurs="0"/>
			<xs:element name="retirementDate" type="xs:date" minOccurs="0"/>
			<xs:element name="expectedRetirementDate" type="xs:date" minOccurs="0"/>
			<xs:element name="orderAssetDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TimeBasedDataType">
		<xs:annotation>
			<xs:documentation>Cet objet correspond à.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="costCenter" type="xs:string"/>
			<xs:element name="fund" type="xs:string" minOccurs="0"/>
			<xs:element name="profitCenter" type="xs:string" minOccurs="0"/>
			<xs:element name="financialCenter" type="xs:string" minOccurs="0"/>
			<xs:element name="registrationNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="division" type="xs:string" minOccurs="0"/>
			<xs:element name="localisation" type="xs:string" minOccurs="0"/>
			<xs:element name="room" type="xs:string" minOccurs="0"/>
			<xs:element name="assetOwner" type="xs:string" minOccurs="0"/>
			<xs:element name="fromDate" type="xs:date" minOccurs="0"/>
			<xs:element name="toDate" type="xs:date" minOccurs="0"/>
			<xs:element name="responsibleAsset" type="xs:string" minOccurs="0"/>
			<xs:element name="location" type="xs:string" minOccurs="0"/>
			<xs:element name="licensePlate" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TimeBasedDataUpdateType">
		<xs:annotation>
			<xs:documentation>Cet objet correspond à.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="costCenter" type="xs:string" minOccurs="0"/>
			<xs:element name="fund" type="xs:string" minOccurs="0"/>
			<xs:element name="profitCenter" type="xs:string" minOccurs="0"/>
			<xs:element name="financialCenter" type="xs:string" minOccurs="0"/>
			<xs:element name="registrationNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="division" type="xs:string" minOccurs="0"/>
			<xs:element name="room" type="xs:string" minOccurs="0"/>
			<xs:element name="fromDate" type="xs:date" minOccurs="0"/>
			<xs:element name="toDate" type="xs:date" minOccurs="0"/>
			<xs:element name="responsibleAsset" type="xs:string" minOccurs="0"/>
			<xs:element name="location" type="xs:string" minOccurs="0"/>
			<xs:element name="licensePlate" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AssignmentDataType">
		<xs:annotation>
			<xs:documentation>Cet objet correspond à.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="assetGroupingNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="sortingCriteria1" type="xs:string" minOccurs="0"/>
			<xs:element name="sortingCriteria2" type="xs:string" minOccurs="0"/>
			<xs:element name="sortingCriteria3" type="xs:string" minOccurs="0"/>
			<xs:element name="sortingCriteria4" type="xs:string" minOccurs="0"/>
			<xs:element name="sortingCriteria5And8" type="xs:string" minOccurs="0"/>
			<xs:element name="reasonForInvestment" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AssetRatingDataType">
		<xs:annotation>
			<xs:documentation>Cet objet correspond à.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="assetBreakdownCode" type="xs:string" minOccurs="0"/>
			<xs:element name="propertyCode" type="xs:string" minOccurs="0"/>
			<xs:element name="manualAssetValue" type="xs:decimal" minOccurs="0"/>
			<xs:element name="manualValuationReason" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LandsAndAssmililatedDataType">
		<xs:annotation>
			<xs:documentation>Cet objet correspond à.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="relatedTaxAdministration" type="xs:string" minOccurs="0"/>
			<xs:element name="globalTaxNoticeNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="lastGlobalTaxNoticeDate" type="xs:date" minOccurs="0"/>
			<xs:element name="locality" type="xs:string" minOccurs="0"/>
			<xs:element name="landRegistrationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="landRegistrationVolume" type="xs:string" minOccurs="0"/>
			<xs:element name="landRegistrationPage" type="xs:string" minOccurs="0"/>
			<xs:element name="landRegistrationNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="parcelPlanNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="parcelNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="landRegistrationRecoridngDate" type="xs:date" minOccurs="0"/>
			<xs:element name="ownershipTransferDate" type="xs:date" minOccurs="0"/>
			<xs:element name="area" type="xs:decimal" minOccurs="0"/>
			<xs:element name="areaUnit" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OriginDataType">
		<xs:annotation>
			<xs:documentation>Cet objet correspond à.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="supplierAccountId" type="xs:string" minOccurs="0"/>
			<xs:element name="supplierName" type="xs:string" minOccurs="0"/>
			<xs:element name="assetManufacturer" type="xs:string" minOccurs="0"/>
			<xs:element name="isNew" type="xs:boolean" minOccurs="0"/>
			<xs:element name="isSecondHand" type="xs:boolean" minOccurs="0"/>
			<xs:element name="assetOriginCountry" type="xs:string" minOccurs="0"/>
			<xs:element name="assetEconomicDesignationCode" type="xs:string" minOccurs="0"/>
			<xs:element name="assetOrigin" type="xs:string" minOccurs="0"/>
			<xs:element name="assetSubOrigin" type="xs:string" minOccurs="0"/>
			<xs:element name="acquisitionDate" type="xs:date" minOccurs="0"/>
			<xs:element name="acquisitionPeriod" type="xs:integer" minOccurs="0"/>
			<xs:element name="acquisitionValue" type="xs:decimal" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InventoryDataType">
		<xs:annotation>
			<xs:documentation>Cet objet correspond à.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="inventoryCode" type="xs:boolean" minOccurs="0"/>
			<xs:element name="inventoryDate" type="xs:date" minOccurs="0"/>
			<xs:element name="inventoryComment" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ImputationDataType">
		<xs:annotation>
			<xs:documentation>Cet objet correspond à.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="InvestmentOrder" type="xs:string" minOccurs="0"/>
			<xs:element name="investmentProjectReference" type="xs:integer" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RatingDataType">
		<xs:annotation>
			<xs:documentation>Cet objet correspond à.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ratingArrayNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="amortization" type="xs:string" minOccurs="0"/>
			<xs:element name="expectedLifetimeInYears" type="xs:integer" minOccurs="0"/>
			<xs:element name="expectedLifetimeInPerdiods" type="xs:integer" minOccurs="0"/>
			<xs:element name="amortizationStartingDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
