soap/xsd/SOA/services/businessPartner_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2022 (x64) (http://www.altova.com) by Marc De Graef (Proxcellence) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msg="http://soa.spw.wallonie.be/services/businessPartner/messages/v1" xmlns:req="http://soa.spw.wallonie.be/data/common/request/v1" xmlns:resp="http://soa.spw.wallonie.be/data/common/response/v1" xmlns:pag="http://soa.spw.wallonie.be/data/entity/specific/wbfin/paging/v1" xmlns:err="http://soa.spw.wallonie.be/data/common/error/v4" xmlns:dat="http://soa.spw.wallonie.be/data/common/date/v1" targetNamespace="http://soa.spw.wallonie.be/services/businessPartner/messages/v1" version="1.0">
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/request/v1" schemaLocation="../data/common/request_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/response/v1" schemaLocation="../data/common/response_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/error/v4" schemaLocation="../data/common/error_v4.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/specific/wbfin/paging/v1" schemaLocation="../data/entity/specific/wbFin/paging_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/date/v1" schemaLocation="../data/common/date_v1.xsd"/>
	<xs:element name="fault" type="err:ErrorOrWarningType"/>
	<xs:element name="updateBusinessPartnerAddress" type="msg:UpdateBusinessPartnerAddressType"/>
	<xs:element name="updateBusinessPartnerAddressResponse" type="msg:UpdateBusinessPartnerAddressResponseType"/>
	<xs:element name="getBusinessPartnerRoles" type="msg:GetBusinessPartnerRolesType"/>
	<xs:element name="getBusinessPartnerRolesResponse" type="msg:GetBusinessPartnerRolesResponseType"/>
	<xs:element name="getBusinessPartnerBankAccounts" type="msg:GetBusinessPartnerBankAccountsType"/>
	<xs:element name="getBusinessPartnerBankAccountsResponse" type="msg:GetBusinessPartnerBankAccountsResponseType"/>
	<xs:element name="searchBusinessPartnerByNaming" type="msg:SearchBusinessPartnerByNamingType"/>
	<xs:element name="searchBusinessPartnerByNamingResponse" type="msg:SearchBusinessPartnerByNamingResponseType"/>
	<xs:element name="updateBusinessPartnerRole" type="msg:UpdateBusinessPartnerRoleType"/>
	<xs:element name="updateBusinessPartnerRoleResponse" type="msg:UpdateBusinessPartnerRoleResponseType"/>
	<xs:element name="searchPartnerByBankAccount" type="msg:SearchPartnerByBankAccountType"/>
	<xs:element name="searchPartnerByBankAccountResponse" type="msg:SearchPartnerByBankAccountResponseType"/>
	<xs:element name="getBusinessPartnerId" type="msg:GetBusinessPartnerIdType"/>
	<xs:element name="getBusinessPartnerIdResponse" type="msg:GetBusinessPartnerIdResponseType"/>
	<xs:element name="getBusinessPartnerAddresses" type="msg:GetBusinessPartnerAddressesType"/>
	<xs:element name="getBusinessPartnerAddressesResponse" type="msg:GetBusinessPartnerAddressesResponseType"/>
	<xs:element name="getBusinessPartnerRequestStatus" type="msg:GetBusinessPartnerRequestStatusType"/>
	<xs:element name="getBusinessPartnerRequestStatusResponse" type="msg:GetBusinessPartnerRequestStatusResponseType"/>
	<xs:element name="publishBusinessPartner" type="msg:PublishBusinessPartnerType"/>
	<xs:element name="publishBusinessPartnerResponse" type="msg:PublishBusinessPartnerResponseType"/>
	<xs:element name="getBusinessPartnerData" type="msg:GetBusinessPartnerDataType"/>
	<xs:element name="getBusinessPartnerDataResponse" type="msg:GetBusinessPartnerDataResponseType"/>
	<xs:element name="updateBusinessPartnerBankAccount" type="msg:UpdateBusinessPartnerBankAccountType"/>
	<xs:element name="sendRequestProofResponse" type="msg:SendRequestProofResponseType"/>
	<xs:element name="sendRequestProof" type="msg:SendRequestProofType"/>
	<xs:element name="updateBusinessPartnerBankAccountResponse" type="msg:UpdateBusinessPartnerBankAccountResponseType"/>
	<xs:complexType name="UpdateBusinessPartnerAddressType">
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="msg:UpdateBusinessPartnerAddressDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération PublishPeriodicRevenueOrder.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateBusinessPartnerAddressDataType">
		<xs:sequence>
			<xs:element name="partnerId" type="xs:string"/>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="address" type="msg:PartnerAddressType"/>
				<xs:element name="newAddress" type="msg:PartnerAddressCreationType"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UpdateBusinessPartnerAddressResponseType">
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element ref="resp:warnings" minOccurs="0"/>
					<xs:element name="response" type="msg:UpdateBusinessPartnerAddressResponseDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateBusinessPartnerAddressResponseDataType">
		<xs:sequence>
			<xs:element name="requestId" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetBusinessPartnerRolesType">
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="msg:GetBusinessPartnerRolesDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération PublishPeriodicRevenueOrder.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetBusinessPartnerRolesDataType">
		<xs:sequence>
			<xs:element name="partnerId" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetBusinessPartnerRolesResponseType">
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element ref="resp:warnings" minOccurs="0"/>
					<xs:element name="response" type="msg:GetBusinessPartnerRolesResponseDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetBusinessPartnerRolesResponseDataType">
		<xs:sequence>
			<xs:element name="isMKK" type="xs:boolean"/>
			<xs:element name="isFLVN00" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetBusinessPartnerBankAccountsType">
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="msg:GetBusinessPartnerBankAccountsDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération PublishPeriodicRevenueOrder.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetBusinessPartnerBankAccountsDataType">
		<xs:sequence>
			<xs:element name="partnerId" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetBusinessPartnerBankAccountsResponseType">
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element ref="resp:warnings" minOccurs="0"/>
					<xs:element name="response" type="msg:GetBusinessPartnerBankAccountsResponseDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetBusinessPartnerBankAccountsResponseDataType">
		<xs:sequence>
			<xs:element name="bankAccount" type="msg:PartnerBankAccountType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchBusinessPartnerByNamingType">
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="msg:SearchBusinessPartnerByNamingDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération PublishPeriodicRevenueOrder.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SearchBusinessPartnerByNamingDataType">
		<xs:sequence>
			<xs:element name="pagingParameters" type="pag:PagingParametersType" minOccurs="0"/>
			<xs:element name="byNaming" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="byFirstName" type="xs:string" minOccurs="0"/>
						<xs:element name="byLastName" type="xs:string" minOccurs="0"/>
						<xs:element name="byAcronym" type="xs:string" minOccurs="0"/>
						<xs:element name="bySocialNaming" type="xs:string" minOccurs="0"/>
						<xs:element name="byCommercialNaming" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="byAddress" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="byPostCode" type="xs:string" minOccurs="0"/>
						<xs:element name="byCountryCode" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="byBirthdate" type="dat:IncompleteDateType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchBusinessPartnerByNamingResponseType">
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element ref="resp:warnings" minOccurs="0"/>
					<xs:element name="response" type="msg:SearchBusinessPartnerByNamingResponseDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SearchBusinessPartnerByNamingResponseDataType">
		<xs:sequence>
			<xs:element name="partnerReference" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:string"/>
						<xs:element name="type" type="msg:PartnerEnumType"/>
						<xs:element name="isChanged" type="xs:boolean"/>
						<xs:element name="partnerData" type="msg:PartnerSpecificDataType"/>
						<xs:element name="addresses" type="msg:PartnerAddressType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="pagingResult" type="pag:PagingResultType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UpdateBusinessPartnerRoleType">
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="msg:UpdateBusinessPartnerRoleDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération PublishPeriodicRevenueOrder.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateBusinessPartnerRoleDataType">
		<xs:sequence>
			<xs:element name="partnerId" type="xs:string"/>
			<xs:element name="isMKK" type="xs:boolean"/>
			<xs:element name="isFLVN00" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UpdateBusinessPartnerRoleResponseType">
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element ref="resp:warnings" minOccurs="0"/>
					<xs:element name="response" type="msg:UpdateBusinessPartnerRoleResponseDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateBusinessPartnerRoleResponseDataType">
		<xs:sequence>
			<xs:element name="requestId" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchPartnerByBankAccountType">
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="msg:SearchPartnerByBankAccountDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération PublishPeriodicRevenueOrder.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SearchPartnerByBankAccountDataType">
		<xs:sequence>
			<xs:element name="pagingParameters" type="pag:PagingParametersType" minOccurs="0"/>
			<xs:choice>
				<xs:element name="byIBAN">
					<xs:complexType>
						<xs:choice>
							<xs:element name="byPrefix" type="xs:string"/>
							<xs:element name="bySuffix" type="xs:string"/>
							<xs:element name="exact" type="xs:string"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="byBBAN">
					<xs:complexType>
						<xs:choice>
							<xs:element name="byPrefix" type="xs:string"/>
							<xs:element name="bySuffix" type="xs:string"/>
							<xs:element name="exact" type="xs:string"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchPartnerByBankAccountResponseType">
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element ref="resp:warnings" minOccurs="0"/>
					<xs:element name="response" type="msg:SearchPartnerByBankAccountResponseDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SearchPartnerByBankAccountResponseDataType">
		<xs:sequence>
			<xs:element name="partnerReference" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:string"/>
						<xs:element name="type" type="msg:PartnerEnumType"/>
						<xs:element name="isChanged" type="xs:boolean"/>
						<xs:element name="partnerData" type="msg:PartnerSpecificDataType"/>
						<xs:element name="addresses" type="msg:PartnerAddressType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="pagingResult" type="pag:PagingResultType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetBusinessPartnerIdType">
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="msg:GetBusinessPartnerIdDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération PublishPeriodicRevenueOrder.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetBusinessPartnerIdDataType">
		<xs:sequence>
			<xs:element name="bce" type="xs:string" minOccurs="0"/>
			<xs:element name="niss" type="xs:string" minOccurs="0"/>
			<xs:element name="tva" type="xs:string" minOccurs="0"/>
			<xs:element name="rrw" type="xs:string" minOccurs="0"/>
			<xs:element name="gcom" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetBusinessPartnerIdResponseType">
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element ref="resp:warnings" minOccurs="0"/>
					<xs:element name="response" type="msg:GetBusinessPartnerIdResponseDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetBusinessPartnerIdResponseDataType">
		<xs:sequence>
			<xs:element name="partnerId" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetBusinessPartnerAddressesType">
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="msg:GetBusinessPartnerAddressesDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération PublishPeriodicRevenueOrder.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetBusinessPartnerAddressesDataType">
		<xs:sequence>
			<xs:element name="partnerId" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetBusinessPartnerAddressesResponseType">
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element ref="resp:warnings" minOccurs="0"/>
					<xs:element name="response" type="msg:GetBusinessPartnerAddressesResponseDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetBusinessPartnerAddressesResponseDataType">
		<xs:sequence>
			<xs:element name="address" type="msg:PartnerAddressType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetBusinessPartnerRequestStatusType">
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="msg:GetBusinessPartnerRequestStatusDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération PublishPeriodicRevenueOrder.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetBusinessPartnerRequestStatusDataType">
		<xs:sequence>
			<xs:element name="requestId" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetBusinessPartnerRequestStatusResponseType">
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element ref="resp:warnings" minOccurs="0"/>
					<xs:element name="response" type="msg:GetBusinessPartnerRequestStatusResponseDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetBusinessPartnerRequestStatusResponseDataType">
		<xs:sequence>
			<xs:element name="references" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="requestID" type="xs:string"/>
						<xs:element name="partnerID" type="xs:string" minOccurs="0"/>
						<xs:element name="statusSpecificData" type="msg:RequestStatusEnumType"/>
						<xs:element name="refusalReasonforSD" type="xs:string" minOccurs="0"/>
						<xs:element name="statusBankData" type="msg:RequestStatusEnumType"/>
						<xs:element name="refusalReasonforBD" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PublishBusinessPartnerType">
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="msg:PublishBusinessPartnerDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération PublishPeriodicRevenueOrder.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PublishBusinessPartnerDataType">
		<xs:sequence>
			<xs:element name="bce" type="xs:string" minOccurs="0"/>
			<xs:element name="niss" type="xs:string" minOccurs="0"/>
			<xs:element name="isMKK" type="xs:boolean"/>
			<xs:element name="isFLVN00" type="xs:boolean"/>
			<xs:element name="type" type="msg:PartnerEnumType" minOccurs="0"/>
			<xs:element name="partnerData" type="msg:PartnerSpecificDataType" minOccurs="0"/>
			<xs:element name="addresses" type="msg:PartnerAddressCreationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="bankAccounts" type="msg:PartnerBankAccountCreationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="proofGenData" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="genDataFileName" type="xs:string" minOccurs="0"/>
						<xs:element name="genDataExtension" type="xs:string" minOccurs="0"/>
						<xs:element name="genDataBinaryFile" type="xs:base64Binary" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="proofBankData" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="bankDataFileName" type="xs:string" minOccurs="0"/>
						<xs:element name="bankDataExtension" type="xs:string" minOccurs="0"/>
						<xs:element name="bankDataBinaryFile" type="xs:base64Binary" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PublishBusinessPartnerResponseType">
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element ref="resp:warnings" minOccurs="0"/>
					<xs:element name="response" type="msg:PublishBusinessPartnerResponseDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PublishBusinessPartnerResponseDataType">
		<xs:sequence>
			<xs:element name="requestId" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetBusinessPartnerDataType">
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="msg:GetBusinessPartnerDataDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération PublishPeriodicRevenueOrder.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetBusinessPartnerDataDataType">
		<xs:sequence>
			<xs:element name="partnerId" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetBusinessPartnerDataResponseType">
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element ref="resp:warnings" minOccurs="0"/>
					<xs:element name="response" type="msg:GetBusinessPartnerDataResponseDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetBusinessPartnerDataResponseDataType">
		<xs:sequence>
			<xs:element name="type" type="msg:PartnerEnumType"/>
			<xs:element name="partnerData" type="msg:PartnerType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UpdateBusinessPartnerBankAccountType">
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="msg:UpdateBusinessPartnerBankAccountDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération PublishPeriodicRevenueOrder.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateBusinessPartnerBankAccountDataType">
		<xs:sequence>
			<xs:element name="partnerId" type="xs:string"/>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="bankAccount" type="msg:PartnerBankAccountType"/>
				<xs:element name="newBankAccount" type="msg:PartnerBankAccountCreationType"/>
			</xs:choice>
			<xs:element name="proofBankData" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="bankDataFileName" type="xs:string" minOccurs="0"/>
						<xs:element name="bankDataExtension" type="xs:string" minOccurs="0"/>
						<xs:element name="bankDataBinaryFile" type="xs:base64Binary" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UpdateBusinessPartnerBankAccountResponseType">
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element ref="resp:warnings" minOccurs="0"/>
					<xs:element name="response" type="msg:UpdateBusinessPartnerBankAccountResponseDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateBusinessPartnerBankAccountResponseDataType">
		<xs:sequence>
			<xs:element name="requestId" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SendRequestProofType">
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="msg:SendRequestProofDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération PublishPeriodicRevenueOrder.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SendRequestProofResponseType">
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element ref="resp:warnings" minOccurs="0"/>
					<xs:element name="response" type="msg:SendRequestProofResponseDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SendRequestProofResponseDataType">
		<xs:sequence>
			<xs:element name="requestId" type="xs:string"/>
			<xs:element name="status" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SendRequestProofDataType">
		<xs:sequence>
			<xs:element name="requestId" type="xs:string"/>
			<xs:element name="proofDocType" type="xs:string"/>
			<xs:element name="proofDocument">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="docFileName" type="xs:string"/>
						<xs:element name="docExtension" type="xs:string"/>
						<xs:element name="docBinaryFile" type="xs:base64Binary"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartnerSpecificDataType">
		<xs:choice>
			<xs:element name="personSpecificData" type="msg:PersonSpecificDataType"/>
			<xs:element name="enterpriseSpecificData" type="msg:EnterpriseSpecificDataType"/>
			<xs:element name="shopOwnerSpecificData" type="msg:ShopOwnerSpecificDataType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ShopOwnerSpecificDataType">
		<xs:sequence>
			<xs:element name="personNaming" type="msg:PersonNamingType"/>
			<xs:element name="enterpriseNaming" type="msg:EnterpriseNamingType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EnterpriseSpecificDataType">
		<xs:sequence>
			<xs:element name="enterpriseNaming" type="msg:EnterpriseNamingType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EnterpriseNamingType">
		<xs:sequence>
			<xs:element name="socialNaming" type="xs:string"/>
			<xs:element name="commercialNaming" type="xs:string" minOccurs="0"/>
			<xs:element name="acronym" type="xs:string" minOccurs="0"/>
			<xs:element name="creationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="terminationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="juridicalFormCode" type="xs:string"/>
			<xs:element name="juridicalStatus" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartnerBankAccountType">
		<xs:sequence>
			<xs:element name="id" type="xs:string"/>
			<xs:element name="iban" type="xs:string" minOccurs="0"/>
			<xs:element name="countryCode" type="xs:string" minOccurs="0"/>
			<xs:element name="bankAccount" type="xs:string" minOccurs="0"/>
			<xs:element name="bic" type="xs:string" minOccurs="0"/>
			<xs:element name="controlKey" type="xs:string" minOccurs="0"/>
			<xs:element name="reference" type="xs:string" minOccurs="0"/>
			<xs:element name="label" type="xs:string" minOccurs="0"/>
			<xs:element name="owner" type="xs:string"/>
			<xs:element name="establishmentUnitID" type="xs:string" minOccurs="0"/>
			<xs:element name="alternativeAddressId" type="xs:string" minOccurs="0"/>
			<xs:element name="startDate" type="xs:date" minOccurs="0"/>
			<xs:element name="endDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartnerBankAccountCreationType">
		<xs:sequence>
			<xs:element name="iban" type="xs:string" minOccurs="0"/>
			<xs:element name="countryCode" type="xs:string" minOccurs="0"/>
			<xs:element name="bankAccount" type="xs:string" minOccurs="0"/>
			<xs:element name="bic" type="xs:string" minOccurs="0"/>
			<xs:element name="controlKey" type="xs:string" minOccurs="0"/>
			<xs:element name="reference" type="xs:string" minOccurs="0"/>
			<xs:element name="label" type="xs:string" minOccurs="0"/>
			<xs:element name="owner" type="xs:string"/>
			<xs:element name="establishmentUnitID" type="xs:string" minOccurs="0"/>
			<xs:element name="alternativeAddressId" type="xs:string" minOccurs="0"/>
			<xs:element name="startDate" type="xs:date" minOccurs="0"/>
			<xs:element name="endDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartnerAddressType">
		<xs:sequence>
			<xs:element name="id" type="xs:string"/>
			<xs:element name="establishmentUnitId" type="xs:string" minOccurs="0"/>
			<xs:element name="establishmentUnitName" type="xs:string" minOccurs="0"/>
			<xs:element name="houseNumber1" type="xs:string" minOccurs="0"/>
			<xs:element name="houseNumber2" type="xs:string" minOccurs="0"/>
			<xs:element name="boxNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="streetCode" type="xs:string" minOccurs="0"/>
			<xs:element name="postCode" type="xs:string" minOccurs="0"/>
			<xs:element name="countryCode" type="xs:string"/>
			<xs:element name="street" type="xs:string" minOccurs="0"/>
			<xs:element name="locality" type="xs:string" minOccurs="0"/>
			<xs:element name="detail" type="xs:string" minOccurs="0"/>
			<xs:element name="spokenLanguageCode" type="xs:string"/>
			<xs:element name="phoneNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="mobilePhoneNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="email" type="xs:string" minOccurs="0"/>
			<xs:element name="faxNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="url" type="xs:string" minOccurs="0"/>
			<xs:element name="startDate" type="xs:date" minOccurs="0"/>
			<xs:element name="endDate" type="xs:date" minOccurs="0"/>
			<xs:element name="addressUsage" type="msg:AddressUsageType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartnerAddressCreationType">
		<xs:sequence>
			<xs:element name="establishmentUnitId" type="xs:string" minOccurs="0"/>
			<xs:element name="establishmentUnitName" type="xs:string" minOccurs="0"/>
			<xs:element name="houseNumber1" type="xs:string" minOccurs="0"/>
			<xs:element name="houseNumber2" type="xs:string" minOccurs="0"/>
			<xs:element name="boxNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="streetCode" type="xs:string" minOccurs="0"/>
			<xs:element name="postCode" type="xs:string" minOccurs="0"/>
			<xs:element name="countryCode" type="xs:string"/>
			<xs:element name="street" type="xs:string" minOccurs="0"/>
			<xs:element name="locality" type="xs:string" minOccurs="0"/>
			<xs:element name="detail" type="xs:string" minOccurs="0"/>
			<xs:element name="spokenLanguageCode" type="xs:string"/>
			<xs:element name="phoneNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="mobilePhoneNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="email" type="xs:string" minOccurs="0"/>
			<xs:element name="faxNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="url" type="xs:string" minOccurs="0"/>
			<xs:element name="startDate" type="xs:date" minOccurs="0"/>
			<xs:element name="endDate" type="xs:date" minOccurs="0"/>
			<xs:element name="addressUsage" type="msg:AddressUsageType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressUsageType">
		<xs:sequence>
			<xs:element name="standard" type="xs:boolean"/>
			<xs:element name="post" type="xs:boolean"/>
			<xs:element name="cheque" type="xs:boolean"/>
			<xs:element name="establishmentUnit" type="xs:boolean"/>
			<xs:element name="branch" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PartnerEnumType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PP"/>
			<xs:enumeration value="PM"/>
			<xs:enumeration value="PC"/>
			<xs:enumeration value="AP"/>
			<xs:enumeration value="AM"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RequestStatusEnumType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACTIVE"/>
			<xs:enumeration value="REFUSED"/>
			<xs:enumeration value="PROCESSING"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PersonGenderEnumType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="M"/>
			<xs:enumeration value="F"/>
			<xs:enumeration value="X"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PersonSpecificDataType">
		<xs:sequence>
			<xs:element name="personNaming" type="msg:PersonNamingType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonNamingType">
		<xs:sequence>
			<xs:element name="firstName" type="xs:string"/>
			<xs:element name="lastName" type="xs:string"/>
			<xs:element name="gender" type="msg:PersonGenderEnumType"/>
			<xs:element name="birthdate" type="xs:date" minOccurs="0"/>
			<xs:element name="placeOfBirth" type="xs:string" minOccurs="0"/>
			<xs:element name="dateOfDecease" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartnerRolesType">
		<xs:sequence>
			<xs:element name="mkk" type="xs:boolean"/>
			<xs:element name="flvn00" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartnerType">
		<xs:sequence>
			<xs:element name="bce" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="niss" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="tva" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="rrw" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="gcom" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="founderIds" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="type" type="msg:PartnerEnumType"/>
			<xs:element name="partnerStatus" type="xs:boolean"/>
			<xs:element name="litigationStatus" type="xs:boolean"/>
			<xs:element name="partnerData" type="msg:PartnerSpecificDataType"/>
			<xs:element name="addresses" type="msg:PartnerAddressType" maxOccurs="unbounded"/>
			<xs:element name="bankAccounts" type="msg:PartnerBankAccountType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="roles" type="msg:PartnerRolesType"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>