soap/xsd/SOA/services/enterprise_v3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:req="http://soa.spw.wallonie.be/data/common/request/v1" xmlns:resp="http://soa.spw.wallonie.be/data/common/response/v2" xmlns:basic="http://soa.spw.wallonie.be/data/entity/enterprise/enterpriseBasicType/v1" xmlns:summary="http://soa.spw.wallonie.be/data/entity/enterprise/enterpriseSummaryType/v1" xmlns:extend="http://soa.spw.wallonie.be/data/entity/enterprise/enterpriseExtendType/v1" xmlns:businessUnit="http://soa.spw.wallonie.be/business/enterprise/businessUnit/v3" xmlns:fte="http://soa.spw.wallonie.be/data/entity/enterprise/fte/v3" xmlns:jurf="http://soa.spw.wallonie.be/data/entity/enterprise/juridicalForm/v3" xmlns:msg="http://soa.spw.wallonie.be/services/enterprise/messages/v3" xmlns:naturalEnter="http://soa.spw.wallonie.be/data/business/naturalPersonEnterprise/v2" xmlns:entBus="http://soa.spw.wallonie.be/data/business/enterprise/v3" xmlns:err="http://soa.spw.wallonie.be/data/common/error/v5" targetNamespace="http://soa.spw.wallonie.be/services/enterprise/messages/v3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0">
	<!-- Import des fichiers correspondant aux namespaces déclarés -->
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/request/v1" schemaLocation="../data/common/request_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/response/v2" schemaLocation="../data/common/response_v2.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/enterprise/enterpriseExtendType/v1" schemaLocation="../data/entity/enterprise/enterpriseExtendType_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/enterprise/enterpriseSummaryType/v1" schemaLocation="../data/entity/enterprise/enterpriseSummaryType_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/enterprise/enterpriseBasicType/v1" schemaLocation="../data/entity/enterprise/enterpriseBasicType_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/business/enterprise/businessUnit/v3" schemaLocation="../data/entity/enterprise/businessUnit_v3.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/business/naturalPersonEnterprise/v2" schemaLocation="../data/business/enterprise/naturalEnterprise_v2.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/enterprise/fte/v3" schemaLocation="../data/entity/enterprise/fte_v3.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/business/enterprise/v3" schemaLocation="../data/business/enterprise/enterprise_v3.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/enterprise/juridicalForm/v3" schemaLocation="../data/entity/enterprise/juridicalForm_v3.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/error/v5" schemaLocation="../data/common/error_v5.xsd"/>
	<!-- Messages -->
	<xs:element name="getEnterpriseBasicData" type="msg:GetEnterpriseBasicDataType"/>
	<xs:element name="getEnterpriseBasicDataResponse" type="msg:GetEnterpriseBasicDataResponseType"/>
	<xs:element name="getEnterpriseSummaryData" type="msg:GetEnterpriseSummaryDataType"/>
	<xs:element name="getEnterpriseSummaryDataResponse" type="msg:GetEnterpriseSummaryDataResponseType"/>
	<xs:element name="getEnterpriseExtendData" type="msg:GetEnterpriseExtendDataType"/>
	<xs:element name="getEnterpriseExtendDataResponse" type="msg:GetEnterpriseExtendDataResponseType"/>
	<xs:element name="searchEnterprise" type="msg:SearchEnterpriseType"/>
	<xs:element name="searchEnterpriseResponse" type="msg:SearchEnterpriseResponseType"/>
	<xs:element name="searchEnterpriseBySSIN" type="msg:SearchEnterpriseBySSINType"/>
	<xs:element name="searchEnterpriseBySSINResponse" type="msg:SearchEnterpriseBySSINResponseType"/>
	<xs:element name="searchFunctionsBySSIN" type="msg:SearchFunctionsBySSINType"/>
	<xs:element name="searchFunctionsBySSINResponse" type="msg:SearchFunctionsBySSINResponseType"/>
	<xs:element name="getAllEmploymentLevelQuarters" type="msg:GetAllEmploymentLevelQuartersType"/>
	<xs:element name="getAllEmploymentLevelQuartersResponse" type="msg:GetAllEmploymentLevelQuartersResponseType"/>
	<xs:element name="fault" type="err:ErrorOrWarningType"/>
	<!-- Message types -->
	<xs:complexType name="GetEnterpriseBasicDataType">
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="entBus:GetEnterpriseRequestType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetEnterpriseBasicDataResponseType">
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:choice>
						<xs:element name="enterprise">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="basic:EnterpriseBasicType">
										<xs:attribute name="BCEInscriptionDate" type="xs:date"/>
										<xs:attribute name="validityDuration" type="xs:int"/>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="businessUnit" type="businessUnit:BusinessUnitType"/>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetEnterpriseSummaryDataType">
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="entBus:GetEnterpriseRequestType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetEnterpriseSummaryDataResponseType">
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:choice>
						<xs:element name="enterprise">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="summary:EnterpriseSummaryType">
										<xs:attribute name="BCEInscriptionDate" type="xs:date"/>
										<xs:attribute name="validityDuration" type="xs:int"/>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="businessUnit" type="businessUnit:BusinessUnitType"/>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetEnterpriseExtendDataType">
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="entBus:GetEnterpriseRequestType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetEnterpriseExtendDataResponseType">
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:choice>
						<xs:element name="enterprise">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="extend:EnterpriseExtendType">
										<xs:attribute name="BCEInscriptionDate" type="xs:date"/>
										<xs:attribute name="validityDuration" type="xs:int"/>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="businessUnit" type="businessUnit:BusinessUnitType"/>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SearchEnterpriseType">
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="entBus:SearchEnterpriseRequestType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SearchEnterpriseResponseType">
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:choice maxOccurs="60">
						<xs:element name="enterprise">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="basic:EnterpriseBasicType">
										<xs:sequence>
											<xs:element name="juridicalForms" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="juridicalForm" type="jurf:JuridicalFormType" maxOccurs="unbounded"/>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="businessUnit" type="businessUnit:BusinessUnitType"/>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SearchEnterpriseBySSINType">
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="entBus:SearchEnterpriseBySSINRequestType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SearchEnterpriseBySSINResponseType">
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element name="naturalPersonEnterprises" type="naturalEnter:NaturalPersonEnterpriseType" maxOccurs="60"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SearchFunctionsBySSINType">
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="entBus:SearchFunctionsBySSINRequestType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SearchFunctionsBySSINResponseType">
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element name="personFunction" type="entBus:personFunctionType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetAllEmploymentLevelQuartersType">
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="entBus:GetEnterpriseRequestType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetAllEmploymentLevelQuartersResponseType">
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element name="employementLevelQuarter" type="fte:FTEType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
