soap/xsd/SOA/services/enterpriseAnnualAccounts_v1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 sp1 (http://www.altova.com) by YFE (Service Public de Wallonie) -->
<xs:schema xmlns:tns="http://soa.spw.wallonie.be/services/enterpriseAnnualAccounts/messages/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="http://soa.spw.wallonie.be/data/common/common/v1" xmlns:num="http://soa.spw.wallonie.be/data/entity/enteprise/number/v1" xmlns:dat="http://soa.spw.wallonie.be/data/common/date/v1" xmlns:den="http://soa.spw.wallonie.be/data/entity/enterprise/denomination/v1" xmlns:pub="http://soa.spw.wallonie.be/common/publiclog/v1" targetNamespace="http://soa.spw.wallonie.be/services/enterpriseAnnualAccounts/messages/v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1">
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/common/v1" schemaLocation="../data/common/common_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/enteprise/number/v1" schemaLocation="../data/entity/enterprise/enterpriseNumber_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/date/v1" schemaLocation="../data/common/date_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/enterprise/denomination/v1" schemaLocation="../data/entity/enterprise/denomination_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/common/publiclog/v1" schemaLocation="../data/common/publicLog_v1.xsd"/>
	<xs:element name="getEnterpriseAnnualAccounts">
		<xs:annotation>
			<xs:documentation>Opération rendant les comptes annuels d'une entrprise pour une année définie.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPublicSyncRequestType">
					<xs:sequence>
						<xs:element ref="pub:publicLog" minOccurs="0"/>
						<xs:element name="request" type="tns:GetEnterpriseAnnualAccountRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="getEnterpriseAnnualAccountsResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType">
					<xs:sequence minOccurs="0">
						<xs:element name="enterpriseAnnualAccount" type="tns:GetEnterpriseAnnualAccountResponseType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="searchAvailableEnterpriseAnnualAccounts">
		<xs:annotation>
			<xs:documentation>Opération permettant de lister l'ensemble des comptes annuels disponibles</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPublicSyncRequestType">
					<xs:sequence>
						<xs:element ref="pub:publicLog" minOccurs="0"/>
						<xs:element name="request" type="tns:SearchAvailableEnterpriseAnnualAccountsRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="searchAvailableEnterpriseAnnualAccountsResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType">
					<xs:sequence minOccurs="0">
						<xs:element name="availableEnterpriseAnnualAccounts" type="tns:SearchAvailableEnterpriseAnnualAccountsResponseType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="getBalanceSheet">
		<xs:annotation>
			<xs:documentation>Cette opération renvoie, pour une entreprise, la liste des rubriques bilantaires.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPublicSyncRequestType">
					<xs:sequence>
						<xs:element ref="pub:publicLog" minOccurs="0"/>
						<xs:element name="request" type="tns:GetBalanceSheetRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="getBalanceSheetResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType">
					<xs:sequence minOccurs="0">
						<xs:element name="balanceSheetResponse" type="tns:GetBalanceSheetResponseType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="getEnterpriseRatios">
		<xs:annotation>
			<xs:documentation>Cette méthode renvoie, pour une entreprise ou une association, les ratiosn calculés sur les comptes annuels.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPublicSyncRequestType">
					<xs:sequence>
						<xs:element ref="pub:publicLog" minOccurs="0"/>
						<xs:element name="request" type="tns:GetEnterpriseRatiosRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="getEnterpriseRatiosResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType">
					<xs:sequence minOccurs="0">
						<xs:element name="enterpriseRatiosResponse" type="tns:GetEnterpriseRatiosResponseType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="GetEnterpriseAnnualAccountRequestType">
		<xs:sequence>
			<xs:element name="enterpriseNumber" type="num:CbeEntityNumberType">
				<xs:annotation>
					<xs:documentation>le numéro d'entreprise</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="accountingYear">
				<xs:annotation>
					<xs:documentation>l'année comptable recherchée</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:gYear">
						<xs:minInclusive value="2008"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="xbrlVersion" minOccurs="0">
				<xs:annotation>
					<xs:documentation>la version XBRL dans laquelle les comptes doivent être rendu</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:gYear">
						<xs:minInclusive value="2014"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchAvailableEnterpriseAnnualAccountsRequestType">
		<xs:sequence>
			<xs:element name="enterpriseNumber" type="num:CbeEntityNumberType">
				<xs:annotation>
					<xs:documentation>Le numéro BCE de l'entreprise recherchée</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetEnterpriseAnnualAccountResponseType">
		<xs:sequence>
			<xs:element name="entepriseNumber" type="num:CbeEntityNumberType">
				<xs:annotation>
					<xs:documentation>Le numéro d'entreprise</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="accountingYear">
				<xs:annotation>
					<xs:documentation>L'année des comptes annuels</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:gYear">
						<xs:minInclusive value="2008"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="xbrl" type="xs:base64Binary">
				<xs:annotation>
					<xs:documentation>la référence XOP des comptes annuels</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchAvailableEnterpriseAnnualAccountsResponseType">
		<xs:sequence>
			<xs:element name="enterpriseNumber" type="xs:long"/>
			<xs:element name="denomination" type="den:DenominationType" minOccurs="0"/>
			<xs:element name="annualAccount" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="accountingYear">
							<xs:simpleType>
								<xs:restriction base="xs:gYear">
									<xs:minInclusive value="2008"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="closingDate" type="xs:date"/>
						<xs:element name="depositPeriod" type="dat:ClosedPeriodType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetBalanceSheetRequestType">
		<xs:sequence>
			<xs:element name="enterpriseNumber" type="num:CbeEntityNumberType"/>
			<xs:element name="yearStart" type="xs:gYear"/>
			<xs:element name="yearEnd" type="xs:gYear"/>
			<xs:element name="sectionCodes" type="tns:CodesType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetBalanceSheetResponseType">
		<xs:sequence>
			<xs:element name="balanceSheetList" type="tns:BalanceSheetListType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetEnterpriseRatiosRequestType">
		<xs:sequence>
			<xs:element name="enterpriseNumber" type="num:CbeEntityNumberType"/>
			<xs:element name="yearStart" type="xs:gYear"/>
			<xs:element name="yearEnd" type="xs:gYear"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetEnterpriseRatiosResponseType">
		<xs:sequence>
			<xs:element name="enterpriseRatiosList" type="tns:EnterpriseRatiosListType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CodesType">
		<xs:sequence>
			<xs:element name="code" type="xs:string" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EnterpriseRatiosListType">
		<xs:sequence>
			<xs:element name="enterpriseRatio" type="tns:EnterpriseRatioType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EnterpriseRatioType">
		<xs:sequence>
			<xs:element name="enterpriseNumber" type="xs:long"/>
			<xs:element name="year" type="xs:gYear"/>
			<xs:element name="closingDate" type="xs:string"/>
			<xs:element name="ratios" type="tns:RatiosType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RatiosType">
		<xs:sequence>
			<xs:element name="ratio" type="tns:RatioType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RatioType">
		<xs:sequence>
			<xs:element name="value" type="xs:decimal" minOccurs="0"/>
			<xs:element name="warning" type="xs:string" minOccurs="0"/>
			<xs:element name="error" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="BalanceSheetListType">
		<xs:sequence>
			<xs:element name="balanceSheet" type="tns:BalanceSheetType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BalanceSheetType">
		<xs:sequence>
			<xs:element name="enterpriseNumber" type="xs:long"/>
			<xs:element name="year" type="xs:gYear"/>
			<xs:element name="closingDate" type="xs:string"/>
			<xs:element name="sections" type="tns:SectionsType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="code" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="SectionsType">
		<xs:sequence>
			<xs:element name="section" type="tns:SectionType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SectionType">
		<xs:sequence>
			<xs:element name="code" type="xs:string" minOccurs="0"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="mtCode" type="xs:int" minOccurs="0"/>
			<xs:element name="amount" type="xs:decimal" minOccurs="0"/>
			<xs:element name="currency" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
