soap/xsd/SOA/services/enterpriseV3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msg="http://soa.spw.wallonie.be/services/enterprise/messages/v3" xmlns:req="http://soa.spw.wallonie.be/data/common/request/v1" xmlns:resp="http://soa.spw.wallonie.be/data/common/response/v2" xmlns:ent="http://soa.spw.wallonie.be/data/entity/enterprise/v3" xmlns:isoCountry="http://soa.spw.wallonie.be/data/iso/country/v1" xmlns:fte="http://soa.spw.wallonie.be/data/entity/enterprise/fte/v3" xmlns:num="http://soa.spw.wallonie.be/data/entity/person/number/v3" xmlns:err="http://soa.spw.wallonie.be/data/common/error/v5" targetNamespace="http://soa.spw.wallonie.be/services/enterprise/messages/v3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0">
	<!-- Import des fichiers correspondant aux namespaces déclarés -->
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/request/v1" schemaLocation="../data/common/request_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/response/v2" schemaLocation="../data/common/response_v2.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/enterprise/v3" schemaLocation="../data/entity/enterprise/enterpriseData_v3.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/iso/country/v1" schemaLocation="../data/iso/country_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/enterprise/fte/v3" schemaLocation="../data/entity/enterprise/fte_v3.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/person/number/v3" schemaLocation="../data/entity/person/personNumber_v3.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/error/v5" schemaLocation="../data/common/error_v5.xsd"/>
	<!-- Messages -->
	<xs:element name="getEnterprise" type="msg:GetEnterpriseType"/>
	<xs:element name="getEnterpriseResponse" type="msg:GetEnterpriseResponseType"/>
	<xs:element name="searchEnterprise" type="msg:SearchEnterpriseType"/>
	<xs:element name="searchEnterpriseResponse" type="msg:SearchEnterpriseResponseType"/>
	<xs:element name="searchEnterpriseBySSIN" type="msg:SearchEnterpriseBySSINType"/>
	<xs:element name="searchEnterpriseBySSINResponse" type="msg:SearchEnterpriseBySSINResponseType"/>
	<xs:element name="searchFunctionsBySSIN" type="msg:SearchFunctionsBySSINType"/>
	<xs:element name="searchFunctionsBySSINResponse" type="msg:SearchFunctionsBySSINResponseType"/>
	<xs:element name="getAllEmploymentLevelQuarters" type="msg:GetAllEmploymentLevelQuartersType"/>
	<xs:element name="getAllEmploymentLevelQuartersResponse" type="msg:GetAllEmploymentLevelQuartersResponseType"/>
	<!-- Message types -->
	<xs:complexType name="GetEnterpriseType">
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="enterpriseNumber" type="ent:CbeEntityNumberType"/>
								<xs:element name="onlyBasicData" type="xs:boolean" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetEnterpriseResponseType">
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:choice>
						<xs:element name="enterprise" type="ent:EnterpriseType"/>
						<xs:element name="businessUnit" type="ent:BusinessUnitType"/>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SearchEnterpriseType">
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="enterpriseType" type="ent:CbeEnterpriseType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Status of the researched entity</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="enterpriseJuridicalForm" type="ent:CbeJuridicalFormCodeType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>enabling this filter cancels the research on business units</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="enterpriseStatus" type="ent:CbeStatusCodeType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>EPP/EPM, enabling this filter cancels the research on business units</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="denomination" type="xs:string" minOccurs="0"/>
								<xs:element name="address" type="msg:SearchCriteriaAddressType" minOccurs="0"/>
								<xs:element name="entityType" type="msg:EntityType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Default : both entity type will be returned</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="maxReturnData" type="msg:MaxReturnDataType" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SearchEnterpriseResponseType">
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element name="enterprises">
						<xs:complexType>
							<xs:sequence>
								<xs:choice maxOccurs="60">
									<xs:element name="enterprise" type="ent:EnterpriseType"/>
									<xs:element name="businessUnit" type="ent:BusinessUnitType"/>
								</xs:choice>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SearchEnterpriseBySSINType">
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="personNumber" type="num:PersonNumberType"/>
								<xs:element name="functions" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="function" type="ent:FunctionCategoryType" maxOccurs="unbounded"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="onlyActiveFunctions" type="xs:boolean" minOccurs="0"/>
								<xs:element name="maxReturnData" type="msg:MaxReturnDataType" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SearchEnterpriseBySSINResponseType">
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element name="enterprises">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="naturalPersonEnterprise" type="ent:NaturalPersonEnterpriseType" maxOccurs="60"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SearchFunctionsBySSINType">
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="personNumber" type="num:PersonNumberType"/>
								<xs:element name="functionCategory" type="ent:FunctionCategoryType" minOccurs="0"/>
								<xs:element name="onlyActiveFunctions" type="xs:boolean" minOccurs="0"/>
								<xs:element name="maxReturnData" type="msg:MaxReturnDataType" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SearchFunctionsBySSINResponseType">
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element name="personFunctions">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="personFunction" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="enterprise">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="enterpriseNumber" type="ent:CbeEntityNumberType"/>
														<xs:element name="denomination" type="ent:DenominationType" maxOccurs="unbounded"/>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="function" type="ent:FunctionType"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetAllEmploymentLevelQuartersType">
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="enterpriseNumber" type="ent:CbeEntityNumberType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetAllEmploymentLevelQuartersResponseType">
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element name="employementLevelQuarter" type="fte:FTEType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="fault" type="err:ErrorOrWarningType"/>
	<xs:complexType name="EntityType">
		<xs:annotation>
			<xs:documentation>Type of an entity used for research. If inexistant, both will be selected.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Enterprise" type="xs:boolean" default="true">
				<xs:annotation>
					<xs:documentation>true if the sender wants to have information about some enterprises.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BusinessUnit" type="xs:boolean" default="true">
				<xs:annotation>
					<xs:documentation>true if the sender wants to have information about some specific business units.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchCriteriaAddressType">
		<xs:annotation>
			<xs:documentation>Possible address criteria's of a research</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="municipality">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="postCode" type="xs:string">
							<xs:annotation>
								<xs:documentation xml:lang="en">The postcode. This is a mandatory field.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="nisCode" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">The NIS code of the municipality.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:annotation>
									<xs:documentation xml:lang="en">NISCode must be compound of five digits.</xs:documentation>
								</xs:annotation>
								<xs:restriction base="xs:string">
									<xs:pattern value="\d{5}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="streetCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The street code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="houseNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The house number. This is a mandatory field. If no house number is known, the letters ZN (Dutch: "zonder naam") should be used.
Note: due to a limitation in the KBO/BCE, house numbers may be truncated to four characters, if the KBO/BCE is involved in a server transaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="countryCode" type="isoCountry:CountryType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The Countrycode. This is a mandatory field.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="MaxReturnDataType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="60"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
