soap/xsd/SOA/services/familyAllowances_v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:tns="http://soa.spw.wallonie.be/services/familyAllowances/messages/v2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ent="http://soa.spw.wallonie.be/data/entity/enterprise/number/v2" xmlns:common="http://soa.spw.wallonie.be/data/common/common/v1" xmlns:pers="http://soa.spw.wallonie.be/data/entity/person/number/v1" xmlns:lab="http://soa.spw.wallonie.be/data/common/label/v1" targetNamespace="http://soa.spw.wallonie.be/services/familyAllowances/messages/v2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.00">
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/common/v1" schemaLocation="../data/common/common_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/person/number/v1" schemaLocation="../data/entity/person/personNumber_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/enterprise/number/v2" schemaLocation="../data/entity/enterprise/enterpriseNumber_v2.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/label/v1" schemaLocation="../data/common/labels_v1.xsd"/>
	<xs:complexType name="GetFamilyAllowancesType">
		<xs:complexContent>
			<xs:extension base="common:AbstractPrivacySyncRequestType">
				<xs:sequence>
					<xs:element name="request" type="tns:CriteriaType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetFamilyAllowancesResponseType">
		<xs:complexContent>
			<xs:extension base="common:AbstractSyncResponseType">
				<xs:sequence minOccurs="0">
					<xs:element name="familyAllowancesResults" type="tns:FamilyAllowancesResultsType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="getFamilyAllowances" type="tns:GetFamilyAllowancesType"/>
	<xs:element name="getFamilyAllowancesResponse" type="tns:GetFamilyAllowancesResponseType"/>
	<!-- ============================================================================================================
	CRITERIA	
	============================================================================================================= -->
	<xs:complexType name="CriteriaType">
		<xs:sequence>
			<xs:element name="personNumber" type="pers:PersonNumberType">
				<xs:annotation>
					<xs:documentation xml:lang="FR">NISS Numero d'identification de la securite social</xs:documentation>
					<xs:documentation xml:lang="NL">INSZ - identificatienummer bij sociale zekerheid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="searchPeriod" type="tns:SearchPeriodType">
				<xs:annotation>
					<xs:documentation>Format : The year and month (YYYY-MM)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="authenticSources" type="tns:AuthenticSourcesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>When not present, all sources will be selected</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nameInfo" type="xs:boolean" default="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>When true, NISS are consolidated with name info</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchPeriodType">
		<xs:sequence>
			<xs:element name="beginDate" type="xs:gYearMonth"/>
			<xs:element name="endDate" type="xs:gYearMonth" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuthenticSourcesType">
		<xs:sequence>
			<xs:element name="authenticSource" type="tns:AuthenticSourceType" maxOccurs="5"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AuthenticSourceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FEDERAL"/>
			<xs:enumeration value="BRUSSELS"/>
			<xs:enumeration value="FLANDERS"/>
			<xs:enumeration value="WALLONIA"/>
			<xs:enumeration value="EASTBELGIUM"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ============================================================================================================
	RESULT	
	============================================================================================================= -->
	<xs:complexType name="FamilyAllowancesResultsType">
		<xs:sequence>
			<xs:element name="familyAllowancesByAuthenticSource" type="tns:FamilyAllowancesByAuthenticSourceType" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>Will be present for each authentic source requested in the criteria.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FamilyAllowancesByAuthenticSourceType">
		<xs:complexContent>
			<xs:extension base="common:AbstractSyncResponseType">
				<xs:sequence>
					<xs:element name="files" type="tns:FilesType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Present when status is DATA_FOUND</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="authenticSource" type="tns:AuthenticSourceType" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Files (dossiers)-->
	<xs:complexType name="FilesType">
		<xs:sequence>
			<xs:element name="file" type="tns:FileType" maxOccurs="100">
				<xs:annotation>
					<xs:documentation>During the requested period an ssin can be known in different files. The periods however are supposed to be mutually exclusive.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- File (dossier)-->
	<xs:complexType name="FileType">
		<xs:sequence>
			<xs:element name="childBenefitsFund" type="tns:ChildBenefitsFundType"/>
			<xs:element name="fileNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Not possible for FLANDERS files</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="entitledPerson" type="tns:EntitledPersonType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Only present for FEDERAL files</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="beneficiaries" type="tns:BeneficiariesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Only natural persons are returned. Institutions as beneficiaries are not present in this response. For FLANDERS files the concept of beneficiary does not indicate the actual receiving of the money. For INTERREGIONAL files the concept of beneficiary does do indicate the actual receiving of the money.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="children" type="tns:ChildrenType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChildBenefitsFundType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="enterpriseNumber" type="ent:CbeEntityNumberType"/>
				<xs:element name="code" type="tns:ChildBenefitsFundCodeType"/>
			</xs:choice>
			<xs:element name="description" type="tns:ChildBenefitsFundDescriptionType" minOccurs="0" maxOccurs="3"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ChildBenefitsFundCodeType">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ChildBenefitsFundDescriptionType">
		<xs:annotation>
			<xs:documentation>Description of the ChildBenefitsFund</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="lab:DescriptionType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EntitledPersonType">
		<xs:sequence>
			<xs:element name="personNumber" type="pers:PersonNumberType"/>
			<xs:element name="nameInfo" type="tns:NameInfoType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BeneficiariesType">
		<xs:sequence>
			<xs:element name="beneficiary" type="tns:BeneficiaryType" maxOccurs="100">
				<xs:annotation>
					<xs:documentation>For all types of files a great number of beneficaries is possible. Mother, Father, GrandMother, GrandFather, Foster parent, ... For FLANDERS files the bonuses and paymentperiods for these beneficaries will be identical to the ones present on the unique child. For the other files these bonuses or paymentperiods are not identical. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BeneficiaryType">
		<xs:sequence>
			<xs:element name="personNumber" type="pers:PersonNumberType"/>
			<xs:element name="nameInfo" type="tns:NameInfoType" minOccurs="0"/>
			<xs:element name="bonuses" type="tns:BonusesType" minOccurs="0"/>
			<xs:element name="paymentPeriods" type="tns:PaymentPeriodsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChildrenType">
		<xs:sequence>
			<xs:element name="child" type="tns:ChildType" maxOccurs="100">
				<xs:annotation>
					<xs:documentation>For FLANDERS files this will be exactly ONE child</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChildType">
		<xs:sequence>
			<xs:element name="personNumber" type="pers:PersonNumberType"/>
			<xs:element name="nameInfo" type="tns:NameInfoType" minOccurs="0"/>
			<xs:element name="bonuses" type="tns:BonusesForChildType" minOccurs="0"/>
			<xs:element name="paymentPeriods" type="tns:PaymentPeriodsForChildType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BonusesForChildType">
		<xs:sequence>
			<xs:element name="bonus" type="tns:BonusForChildType" maxOccurs="100"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BonusForChildType">
		<xs:complexContent>
			<xs:extension base="tns:BonusType">
				<xs:sequence>
					<xs:element name="beneficiaries" type="tns:BeneficiaryIdentificationsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Only present for FLANDERS files. This link does not indicate that the beneficiary has actually received the money. Per bonus or paymentPeriod only maximum 2 beneficiaries are possible. However over the enterity of the FLANDERS file more than 2 beneficiaries are possible.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PaymentPeriodsForChildType">
		<xs:sequence>
			<xs:element name="paymentPeriod" type="tns:PaymentPeriodForChildType" maxOccurs="100"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentPeriodForChildType">
		<xs:complexContent>
			<xs:extension base="tns:PaymentPeriodType">
				<xs:sequence>
					<xs:element name="beneficiaries" type="tns:BeneficiaryIdentificationsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Only present for FLANDERS files. This link does not indicate that the beneficiary has actually received the money. Per bonus or paymentPeriod only maximum 2 beneficiaries are possible. However over the enterity of the FLANDERS file more than 2 beneficiaries are possible.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BeneficiaryIdentificationsType">
		<xs:sequence>
			<xs:element name="beneficiary" type="pers:PersonNumberType" maxOccurs="2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BonusesType">
		<xs:sequence>
			<xs:element name="bonus" type="tns:BonusType" maxOccurs="100"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BonusType">
		<xs:sequence>
			<xs:element name="paymentDate" type="xs:date"/>
			<xs:element name="category" type="tns:BonusCategoryType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BonusCategoryType">
		<xs:sequence>
			<xs:element name="code" type="tns:BonusCategoryCodeType">
				<xs:annotation>
					<xs:documentation>BIRTH ADOPTION - PRE_PAYMENT_BIRTH</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="lab:DescriptionType" minOccurs="0" maxOccurs="3"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="BonusCategoryCodeType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
			<xs:pattern value="[A-Z_]{1,50}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PaymentPeriodsType">
		<xs:sequence>
			<xs:element name="paymentPeriod" type="tns:PaymentPeriodType" maxOccurs="100"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentPeriodType">
		<xs:sequence>
			<xs:element name="beginMonth" type="xs:gYearMonth"/>
			<xs:element name="endMonth" type="xs:gYearMonth" minOccurs="0"/>
			<xs:element name="category" type="tns:PaymentCategoryType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentCategoryType">
		<xs:sequence>
			<xs:element name="code" type="tns:PaymentCategoryCodeType">
				<xs:annotation>
					<xs:documentation>
BASIC
SPECIAL_CARE
ORPHAN_CARE
FOSTER_CARE
SOCIAL
UNIVERSAL_PARTICIPATION
OTHER_PARTICIPATION
TODDLER
CHILD_ALLOWANCE</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="lab:DescriptionType" minOccurs="0" maxOccurs="3"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PaymentCategoryCodeType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
			<xs:pattern value="[A-Z_]{1,50}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RecipientType">
		<xs:sequence>
			<xs:element name="personNumber" type="pers:PersonNumberType"/>
			<xs:element name="nameInfo" type="tns:NameInfoType" minOccurs="0"/>
			<xs:element name="type">
				<xs:annotation>
					<xs:documentation>Allocated Type (1 or 2).</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="paymentPeriod" type="tns:PaymentType" minOccurs="0" maxOccurs="999"/>
			<xs:element name="birthBonus" minOccurs="0" maxOccurs="20">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="paymentDate" type="xs:date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BeneficiaryChildType">
		<xs:sequence>
			<xs:element name="personNumber" type="pers:PersonNumberType"/>
			<xs:element name="nameInfo" type="tns:NameInfoType" minOccurs="0"/>
			<xs:element name="paymentPeriod" type="tns:PaymentType" minOccurs="0" maxOccurs="999"/>
			<xs:element name="adoptionBonus" minOccurs="0" maxOccurs="20">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="paymentDate" type="xs:date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentType">
		<xs:sequence>
			<xs:element name="beginDate" type="xs:date"/>
			<xs:element name="endDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameInfoType">
		<xs:choice>
			<xs:element name="noValue" type="common:StatusType"/>
			<xs:sequence>
				<xs:element name="name" type="xs:string"/>
				<xs:element name="firstname" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>
</xs:schema>
