soap/xsd/SOA/services/fundsReservation_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2021 rel. 3 (x64) (http://www.altova.com) by Marc De Graef (Proxcellence) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msg="http://soa.spw.wallonie.be/services/fundsReservation/messages/v1" xmlns:req="http://soa.spw.wallonie.be/data/common/request/v1" xmlns:resp="http://soa.spw.wallonie.be/data/common/response/v1"  xmlns:err="http://soa.spw.wallonie.be/data/common/error/v4" xmlns:iso="http://soa.spw.wallonie.be/data/common/isocodes/v1" xmlns:pag="http://soa.spw.wallonie.be/data/entity/specific/wbfin/paging/v1" targetNamespace="http://soa.spw.wallonie.be/services/fundsReservation/messages/v1" version="1.0">
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/request/v1" schemaLocation="../data/common/request_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/response/v1" schemaLocation="../data/common/response_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/isocodes/v1" schemaLocation="../data/common/isocodes_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/error/v4" schemaLocation="../data/common/error_v4.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/specific/wbfin/paging/v1" schemaLocation="../data/entity/specific/wbFin/paging_v1.xsd"/>
	<xs:element name="fault" type="err:ErrorOrWarningType"/>
	<xs:element name="publishFundsReservation" type="msg:PublishFundsReservationType">
		<xs:annotation>
			<xs:documentation>Opération de demande de création .</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="publishFundsReservationResponse" type="msg:PublishFundsReservationResponseType">
		<xs:annotation>
			<xs:documentation>Opération de demande de création .</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="updateFundsReservation" type="msg:UpdateFundsReservationType">
		<xs:annotation>
			<xs:documentation>Opération de modification  </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="updateFundsReservationResponse" type="msg:UpdateFundsReservationResponseType">
		<xs:annotation>
			<xs:documentation>Opération de modification  </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="getFundsReservation" type="msg:GetFundsReservationType">
		<xs:annotation>
			<xs:documentation>Opération de consultation </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="getFundsReservationResponse" type="msg:GetFundsReservationResponseType">
		<xs:annotation>
			<xs:documentation>Opération de consultation </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="searchFundsReservation" type="msg:SearchFundsReservationType">
		<xs:annotation>
			<xs:documentation>Opération de recherche.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="searchFundsReservationResponse" type="msg:SearchFundsReservationResponseType">
		<xs:annotation>
			<xs:documentation>Opération de recherche.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SearchFundsReservationResponseType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données de la réponse de l'opération .</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element ref="resp:warnings" minOccurs="0"/>
					<xs:element name="response" type="msg:SearchFundsReservationResponseDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SearchFundsReservationResponseDataType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="requestId" type="xs:string"/>
			<xs:element name="searchfundsReservation">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="fundsReservations" type="msg:FundsReservationType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="pagingResult" type="pag:PagingResultType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchFundsReservationType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données .</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="msg:SearchFundsReservationDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SearchFundsReservationDataType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données spécifiques .</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fundsReservation">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="idFrom" type="xs:string" minOccurs="0"/>
						<xs:element name="idTo" type="xs:string" minOccurs="0"/>
						<xs:element name="typeFrom" type="xs:string" minOccurs="0"/>
						<xs:element name="typeTo" type="xs:string" minOccurs="0"/>
						<xs:element name="submissionDateFrom" type="xs:date" minOccurs="0"/>
						<xs:element name="submissionDateTo" type="xs:date" minOccurs="0"/>
						<xs:element name="accountingDateFrom" type="xs:date" minOccurs="0"/>
						<xs:element name="accountingDateTo" type="xs:date" minOccurs="0"/>
						<xs:element name="entityCode" type="xs:string" minOccurs="0"/>
						<xs:element name="financialScope" type="xs:string" minOccurs="0"/>
						<xs:element name="inlineText" type="xs:string" minOccurs="0"/>
						<xs:element name="referenceID" type="xs:string" minOccurs="0"/>
						<xs:element name="reference2" type="xs:string" minOccurs="0"/>
						<xs:element name="createdBy" type="xs:string" minOccurs="0"/>
						<xs:element name="creationDateFrom" type="xs:date" minOccurs="0"/>
						<xs:element name="creationDateTo" type="xs:date" minOccurs="0"/>
						<xs:element name="modifiedBy" type="xs:string" minOccurs="0"/>
						<xs:element name="modificationDateFrom" type="xs:date" minOccurs="0"/>
						<xs:element name="modificationDateTo" type="xs:date" minOccurs="0"/>
						<xs:element name="status" type="xs:string" minOccurs="0"/>
						<xs:element name="finalCompletion" type="xs:boolean" minOccurs="0"/>
						<xs:element name="documentApproved" type="xs:boolean" minOccurs="0"/>
						<xs:element name="approvedOnce" type="xs:boolean" minOccurs="0"/>
						<xs:element name="blockingIndicator" type="xs:boolean" minOccurs="0"/>
						<xs:element name="reason" type="xs:string" minOccurs="0"/>
						<xs:element name="fundsReservationLineItems" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="totalAmountMin" type="xs:decimal" minOccurs="0"/>
									<xs:element name="totalAmountMax" type="xs:decimal" minOccurs="0"/>
									<xs:element name="modifiedAmountMin" type="xs:decimal" minOccurs="0"/>
									<xs:element name="modifiedAmountMax" type="xs:decimal" minOccurs="0"/>
									<xs:element name="remainingAmountMin" type="xs:decimal" minOccurs="0"/>
									<xs:element name="remainingAmountMax" type="xs:decimal" minOccurs="0"/>
									<xs:element name="functionalDomain" type="xs:string" minOccurs="0"/>
									<xs:element name="generalAccount" type="xs:string" minOccurs="0"/>
									<xs:element name="fund" type="xs:string" minOccurs="0"/>
									<xs:element name="costCenter" type="xs:string" minOccurs="0"/>
									<xs:element name="partnerID" type="xs:string" minOccurs="0"/>
									<xs:element name="budgetPeriod" type="xs:string" minOccurs="0"/>
									<xs:element name="ItemText" type="xs:string" minOccurs="0"/>
									<xs:element name="visa" type="xs:string" minOccurs="0"/>
									<xs:element name="createdBy" type="xs:string" minOccurs="0"/>
									<xs:element name="creationDate" type="xs:date" minOccurs="0"/>
									<xs:element name="modifiedBy" type="xs:string" minOccurs="0"/>
									<xs:element name="modificationDate" type="xs:date" minOccurs="0"/>
									<xs:element name="itemApproved" type="xs:boolean" minOccurs="0"/>
									<xs:element name="completionIndicator" type="xs:boolean" minOccurs="0"/>
									<xs:element name="blockingIndicator" type="xs:boolean" minOccurs="0"/>
									<xs:element name="carryOver" type="xs:boolean" minOccurs="0"/>
									<xs:element name="exceedReserved" type="xs:boolean" minOccurs="0"/>
									<xs:element name="financialCenter" type="xs:string" minOccurs="0"/>
									<xs:element name="budgetAccount" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="pagingParameters" type="pag:PagingParametersType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetFundsReservationType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données de la requête à l'opération GetFundsReservation.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="msg:GetFundsReservationDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération GetFundsReservation.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetFundsReservationDataType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération GetFundsReservation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="xs:string"/>
			<xs:element name="lineItemId" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UpdateFundsReservationType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données de la requête à l'opération UpdateFundsReservation.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="msg:UpdateFundsReservationDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération UpdateFundsReservation.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateFundsReservationDataType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération UpdateFundsReservation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="updatefundsReservation">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:string"/>
						<xs:element name="fundsReservation" type="msg:FundsReservationUpdateType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PublishFundsReservationType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données de la requête à l'opération PublishFundsReservation.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="msg:PublishFundsReservationDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération PublishFundsReservation.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PublishFundsReservationDataType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération PublishFundsReservation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fundsReservation" type="msg:FundsReservationCreationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PublishFundsReservationResponseType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données de la réponse de l'opération .</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element ref="resp:warnings" minOccurs="0"/>
					<xs:element name="response" type="msg:PublishFundsReservationResponseDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PublishFundsReservationResponseDataType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="requestId" type="xs:string"/>
			<xs:element name="Id" type="xs:string"/>
			<xs:element name="workspaceUrl" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UpdateFundsReservationResponseType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données de la réponse de l'opération .</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element ref="resp:warnings" minOccurs="0"/>
					<xs:element name="response" type="msg:UpdateFundsReservationResponseDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateFundsReservationResponseDataType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="requestId" type="xs:string"/>
			<xs:element name="Id" type="xs:string"/>
			<xs:element name="workspaceUrl" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetFundsReservationStatusResponseType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données de la réponse de l'opération .</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element ref="resp:warnings" minOccurs="0"/>
					<xs:element name="response" type="msg:GetFundsReservationStatusResponseDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetFundsReservationStatusResponseDataType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="requestId" type="xs:string"/>
			<xs:element name="fundsReservationStatus">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:string"/>
						<xs:element name="status" type="xs:string"/>
						<xs:element name="cause" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetFundsReservationResponseType">
		<xs:annotation>
			<xs:documentation>Cet élément </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element ref="resp:warnings" minOccurs="0"/>
					<xs:element name="response" type="msg:GetFundsReservationResponseDataType">
						<xs:annotation>
							<xs:documentation>Cet élément </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetFundsReservationResponseDataType">
		<xs:annotation>
			<xs:documentation>Cet élément </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="requestId" type="xs:string"/>
			<xs:element name="fundsReservation" type="msg:FundsReservationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FundsReservationLineItemType">
		<xs:annotation>
			<xs:documentation>Ces données .</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="xs:string" minOccurs="0"/>
			<xs:element name="actionCode" type="xs:string"/>
			<xs:element name="totalAmount" type="xs:decimal" minOccurs="0"/>
			<xs:element name="modifiedAmount" type="xs:decimal" minOccurs="0"/>
			<xs:element name="newAmount" type="xs:decimal" minOccurs="0"/>
			<xs:element name="remainingAmount" type="xs:decimal" minOccurs="0"/>
			<xs:element name="functionalDomain" type="xs:string" minOccurs="0"/>
			<xs:element name="generalAccount" type="xs:string" minOccurs="0"/>
			<xs:element name="fund" type="xs:string" minOccurs="0"/>
			<xs:element name="costCenter" type="xs:string" minOccurs="0"/>
			<xs:element name="partnerID" type="xs:string" minOccurs="0"/>
			<xs:element name="budgetPeriod" type="xs:string" minOccurs="0"/>
			<xs:element name="itemText" type="xs:string" minOccurs="0"/>
			<xs:element name="visa" type="xs:string" minOccurs="0"/>
			<xs:element name="createdBy" type="xs:string" minOccurs="0"/>
			<xs:element name="creationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="modifiedBy" type="xs:string" minOccurs="0"/>
			<xs:element name="modificationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="itemApproved" type="xs:boolean" minOccurs="0"/>
			<xs:element name="completionIndicator" type="xs:boolean" minOccurs="0"/>
			<xs:element name="blockingIndicator" type="xs:boolean" minOccurs="0"/>
			<xs:element name="carryOver" type="xs:boolean" minOccurs="0"/>
			<xs:element name="exceedReserved" type="xs:boolean" minOccurs="0"/>
			<xs:element name="fundComplete" type="xs:boolean" minOccurs="0"/>
			<xs:element name="count" type="xs:integer" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FundsReservationCreationType">
		<xs:annotation>
			<xs:documentation>Cet objet correspond à.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="type" type="xs:string"/>
			<xs:element name="referenceID" type="xs:string" minOccurs="0"/>
			<xs:element name="reference2" type="xs:string" minOccurs="0"/>
			<xs:element name="entityCode" type="xs:string"/>
			<xs:element name="submissionDate" type="xs:date"/>
			<xs:element name="accountingDate" type="xs:date" minOccurs="0"/>
			<xs:element name="currency" type="iso:CurrencyType" minOccurs="0"/>
			<xs:element name="inlineText" type="xs:string" minOccurs="0"/>
			<xs:element name="fundsReservationLineItem" type="msg:FundsReservationLineItemType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FundsReservationUpdateType">
		<xs:annotation>
			<xs:documentation>Cet objet correspond à.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="referenceID" type="xs:string" minOccurs="0"/>
			<xs:element name="reference2" type="xs:string" minOccurs="0"/>
			<xs:element name="inlineText" type="xs:string" minOccurs="0"/>
			<xs:element name="fundsReservationLineItem" type="msg:FundsReservationLineItemType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FundsReservationType">
		<xs:annotation>
			<xs:documentation>Cet objet correspond à.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="xs:string"/>
			<xs:element name="type" type="xs:string"/>
			<xs:element name="referenceID" type="xs:string" minOccurs="0"/>
			<xs:element name="reference2" type="xs:string" minOccurs="0"/>
			<xs:element name="entityCode" type="xs:string"/>
			<xs:element name="submissionDate" type="xs:date"/>
			<xs:element name="accountingDate" type="xs:date" minOccurs="0"/>
			<xs:element name="currency" type="iso:CurrencyType" minOccurs="0"/>
			<xs:element name="inlineText" type="xs:string" minOccurs="0"/>
			<xs:element name="analyticalScope" type="xs:string" minOccurs="0"/>
			<xs:element name="financialScope" type="xs:string" minOccurs="0"/>
			<xs:element name="createdBy" type="xs:string" minOccurs="0"/>
			<xs:element name="creationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="modifiedBy" type="xs:string" minOccurs="0"/>
			<xs:element name="modificationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="status" type="xs:string" minOccurs="0"/>
			<xs:element name="reason" type="xs:string" minOccurs="0"/>
			<xs:element name="finalCompletion" type="xs:boolean" minOccurs="0"/>
			<xs:element name="documentApproved" type="xs:boolean" minOccurs="0"/>
			<xs:element name="approvedOnce" type="xs:boolean" minOccurs="0"/>
			<xs:element name="blockingIndicator" type="xs:string" minOccurs="0"/>
			<xs:element name="fundsReservationLineItem" type="msg:FundsReservationLineItemType" maxOccurs="unbounded"/>
			<xs:element name="fundsConsumption" type="msg:FundsConsumptionType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FundsConsumptionType">
		<xs:annotation>
			<xs:documentation>Cet objet correspond à.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="xs:string"/>
			<xs:element name="lineitem" type="xs:string"/>
			<xs:element name="itemProcessing" type="xs:string" minOccurs="0"/>
			<xs:element name="documentNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="lineitemAccounting" type="xs:string" minOccurs="0"/>
			<xs:element name="fiscalYear" type="xs:string" minOccurs="0"/>
			<xs:element name="inlineText" type="xs:string" minOccurs="0"/>
			<xs:element name="amount" type="xs:decimal" minOccurs="0"/>
			<xs:element name="usageAmount" type="xs:decimal" minOccurs="0"/>
			<xs:element name="submissionDate" type="xs:date" minOccurs="0"/>
			<xs:element name="accountingDate" type="xs:date" minOccurs="0"/>
			<xs:element name="createdBy" type="xs:string" minOccurs="0"/>
			<xs:element name="creationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="modifiedBy" type="xs:string" minOccurs="0"/>
			<xs:element name="modificationDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
