soap/xsd/SOA/services/revenueOrder_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2021 rel. 3 (x64) (http://www.altova.com) by Marc De Graef (Proxcellence) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msg="http://soa.spw.wallonie.be/services/revenueOrder/messages/v1" xmlns:req="http://soa.spw.wallonie.be/data/common/request/v1" xmlns:resp="http://soa.spw.wallonie.be/data/common/response/v1"  xmlns:err="http://soa.spw.wallonie.be/data/common/error/v4" xmlns:bgt="http://soa.spw.wallonie.be/data/entity/budget/address/v1" xmlns:iso="http://soa.spw.wallonie.be/data/common/isocodes/v1" targetNamespace="http://soa.spw.wallonie.be/services/revenueOrder/messages/v1" version="1.0">
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/request/v1" schemaLocation="../data/common/request_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/response/v1" schemaLocation="../data/common/response_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/budget/address/v1" schemaLocation="../data/entity/budget/budgetAddress_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/isocodes/v1" schemaLocation="../data/common/isocodes_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/error/v4" schemaLocation="../data/common/error_v4.xsd"/>
	<xs:element name="fault" type="err:ErrorOrWarningType"/>
	<xs:element name="publishRevenueOrder" type="msg:PublishRevenueOrderType">
		<xs:annotation>
			<xs:documentation>Opération de demande de création d’un ordre de recette.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="publishRevenueOrderResponse" type="msg:PublishRevenueOrderResponseType">
		<xs:annotation>
			<xs:documentation>Opération de demande de création d’un ordre de recette.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="updateRevenueOrder" type="msg:UpdateRevenueOrderType">
		<xs:annotation>
			<xs:documentation>Opération de modification ou d’annulation d’un ordre de recette via un ordre de recette correctif. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="updateRevenueOrderResponse" type="msg:UpdateRevenueOrderResponseType">
		<xs:annotation>
			<xs:documentation>Opération de modification ou d’annulation d’un ordre de recette via un ordre de recette correctif. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="getRevenueOrderStatus" type="msg:GetRevenueOrderStatusType">
		<xs:annotation>
			<xs:documentation>Opération de consultation du statut de validation d’ordres de recette, périodiques ou non.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="getRevenueOrderStatusResponse" type="msg:GetRevenueOrderStatusResponseType">
		<xs:annotation>
			<xs:documentation>Opération de consultation du statut de validation d’ordres de recette, périodiques ou non.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="updatePeriodicRevenueOrder" type="msg:UpdatePeriodicRevenueOrderType">
		<xs:annotation>
			<xs:documentation>Opération de modification d’un ordre de recettes périodique non-exécuté.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="updatePeriodicRevenueOrderResponse" type="msg:UpdatePeriodicRevenueOrderResponseType">
		<xs:annotation>
			<xs:documentation>Opération de modification d’un ordre de recettes périodique non-exécuté.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="getPeriodicRevenueOrder" type="msg:GetPeriodicRevenueOrderType">
		<xs:annotation>
			<xs:documentation>Opération de consultation d’un ordre de recettes périodique.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="getPeriodicRevenueOrderResponse" type="msg:GetPeriodicRevenueOrderResponseType">
		<xs:annotation>
			<xs:documentation>Opération de consultation d’un ordre de recettes périodique.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="getRevenueOrderBalance" type="msg:GetRevenueOrderBalanceType">
		<xs:annotation>
			<xs:documentation>Opération de consultation du solde ouvert d’ordres de recettes.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="getRevenueOrderBalanceResponse" type="msg:GetRevenueOrderBalanceResponseType">
		<xs:annotation>
			<xs:documentation>Opération de consultation du solde ouvert d’ordres de recettes.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="deletePeriodicRevenueOrder" type="msg:DeletePeriodicRevenueOrderType">
		<xs:annotation>
			<xs:documentation>Opération de suppression d’un ordre de recettes périodique non-exécuté.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="deletePeriodicRevenueOrderResponse" type="msg:DeletePeriodicRevenueOrderResponseType">
		<xs:annotation>
			<xs:documentation>Opération de suppression d’un ordre de recettes périodique non-exécuté.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="getRevenueOrder" type="msg:GetRevenueOrderType">
		<xs:annotation>
			<xs:documentation>Opération de consultation d’un ordre de recettes.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="getRevenueOrderResponse" type="msg:GetRevenueOrderResponseType">
		<xs:annotation>
			<xs:documentation>Opération de consultation d’un ordre de recettes.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="publishPeriodicRevenueOrder" type="msg:PublishPeriodicRevenueOrderType">
		<xs:annotation>
			<xs:documentation>Opération de création d’un ordre de recettes périodique.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="publishPeriodicRevenueOrderResponse" type="msg:PublishPeriodicRevenueOrderResponseType">
		<xs:annotation>
			<xs:documentation>Opération de création d’un ordre de recettes périodique.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PublishPeriodicRevenueOrderType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données de la requête à l'opération PublishPeriodicRevenueOrder.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="msg:PublishPeriodicRevenueOrderDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération PublishPeriodicRevenueOrder.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PublishPeriodicRevenueOrderDataType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération PublishPeriodicRevenueOrder.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="header">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="documentDate" type="xs:date"/>
						<xs:element name="authorizingOfficerReference" type="xs:string"/>
						<xs:element name="accountingDate" type="xs:date"/>
						<xs:element name="currency" type="iso:CurrencyType" minOccurs="0"/>
						<xs:element name="inlineText" type="xs:string"/>
						<xs:element name="caseId" type="xs:string"/>
						<xs:element name="entityCode" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="objectOfContract" type="msg:ObjectOfContractType"/>
			<xs:element name="periodicLineItemData" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="processingData" type="msg:ProcessingDataType" maxOccurs="unbounded"/>
						<xs:element name="lineItemData" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="principalOperation" type="xs:string"/>
									<xs:element name="partialOperation" type="xs:string"/>
									<xs:element name="amount" type="xs:decimal"/>
									<xs:element name="vatCode" type="xs:string"/>
									<xs:element name="dueDate" type="xs:date"/>
									<xs:element name="budgetAddress" type="bgt:BudgetAddressType"/>
									<xs:element name="costCenter" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetRevenueOrderType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données de la requête à l'opération GetRevenueOrder.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="msg:GetRevenueOrderDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération GetRevenueOrder.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetRevenueOrderDataType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération GetRevenueOrder.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="revenueOrderId" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeletePeriodicRevenueOrderType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données de la requête à l'opération DeletePeriodicRevenueOrder.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="msg:DeletePeriodicRevenueOrderDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération .</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeletePeriodicRevenueOrderDataType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération DeletePeriodicRevenueOrder.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="periodicRevenueOrder" type="msg:PeriodicRevenueOrderType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetRevenueOrderBalanceType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données de la requête à l'opération GetRevenueOrderBalance.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="msg:GetRevenueOrderBalanceDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération .</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetRevenueOrderBalanceDataType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération GetRevenueOrderBalance.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="revenueOrderId" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetPeriodicRevenueOrderType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données de la requête à l'opération GetPeriodicRevenueOrder.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="msg:GetPeriodicRevenueOrderDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération GetPeriodicRevenueOrder.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetPeriodicRevenueOrderDataType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération GetPeriodicRevenueOrder.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="periodicRevenueOrderId" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UpdatePeriodicRevenueOrderType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données de la requête à l'opération UpdatePeriodicRevenueOrder.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="msg:UpdatePeriodicRevenueOrderDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération UpdatePeriodicRevenueOrder.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdatePeriodicRevenueOrderDataType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération UpdatePeriodicRevenueOrder.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="periodicRevenueOrder" type="msg:PeriodicRevenueOrderType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetRevenueOrderStatusType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données de la requête à l'opération GetRevenueOrderStatus.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="msg:GetRevenueOrderStatusDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération GetRevenueOrderStatus.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetRevenueOrderStatusDataType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération GetRevenueOrderStatus.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="revenueOrderId" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UpdateRevenueOrderType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données de la requête à l'opération UpdateRevenueOrder.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="msg:UpdateRevenueOrderDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération UpdateRevenueOrder.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateRevenueOrderDataType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération UpdateRevenueOrder.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="correctiveRevenueOrder" type="msg:CorrectiveRevenueOrderType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PublishRevenueOrderType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données de la requête à l'opération PublishRevenueOrder.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="req:PrivacyRequestType">
				<xs:sequence>
					<xs:element name="request" type="msg:PublishRevenueOrderDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération PublishRevenueOrder.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PublishRevenueOrderDataType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données spécifiques de la requête à l'opération PublishRevenueOrder.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="header">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="documentDate" type="xs:date"/>
						<xs:element name="authorizingOfficerReference" type="xs:string"/>
						<xs:element name="accountingDate" type="xs:date"/>
						<xs:element name="currency" type="iso:CurrencyType" minOccurs="0"/>
						<xs:element name="inlineText" type="xs:string"/>
						<xs:element name="caseId" type="xs:string"/>
						<xs:element name="entityCode" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="objectOfContract" type="msg:ObjectOfContractType"/>
			<xs:element name="lineItemData" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="principalOperation" type="xs:string"/>
						<xs:element name="partialOperation" type="xs:string"/>
						<xs:element name="amount" type="xs:decimal"/>
						<xs:element name="vatCode" type="xs:string"/>
						<xs:element name="dueDate" type="xs:date"/>
						<xs:element name="budgetAddress" type="bgt:BudgetAddressType"/>
						<xs:element name="costCenter" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PublishRevenueOrderResponseType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données de la réponse de l'opération getBudgetAccounts.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element ref="resp:warnings" minOccurs="0"/>
					<xs:element name="response" type="msg:PublishRevenueOrderResponseDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PublishRevenueOrderResponseDataType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="revenueOrderId" type="xs:string"/>
			<xs:element name="objectOfContractId" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UpdateRevenueOrderResponseType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données de la réponse de l'opération getBudgetAccounts.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element ref="resp:warnings" minOccurs="0"/>
					<xs:element name="response" type="msg:UpdateRevenueOrderResponseDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateRevenueOrderResponseDataType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="revenueOrderId" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetRevenueOrderStatusResponseType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données de la réponse de l'opération getBudgetAccounts.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element ref="resp:warnings" minOccurs="0"/>
					<xs:element name="response" type="msg:GetRevenueOrderStatusResponseDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetRevenueOrderStatusResponseDataType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="revenueOrderStatus">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:string"/>
						<xs:element name="status" type="xs:string"/>
						<xs:element name="cause" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UpdatePeriodicRevenueOrderResponseType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données de la réponse de l'opération getBudgetAccounts.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element ref="resp:warnings" minOccurs="0"/>
					<xs:element name="response" type="msg:UpdatePeriodicRevenueOrderResponseDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdatePeriodicRevenueOrderResponseDataType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="periodicRevenueOrderId" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetPeriodicRevenueOrderResponseType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données de la réponse de l'opération getBudgetAccounts.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element ref="resp:warnings" minOccurs="0"/>
					<xs:element name="response" type="msg:GetPeriodicRevenueOrderResponseDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetPeriodicRevenueOrderResponseDataType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="periodicRevenueOrder" type="msg:PeriodicRevenueOrderType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetRevenueOrderBalanceResponseType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données de la réponse de l'opération getBudgetAccounts.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element ref="resp:warnings" minOccurs="0"/>
					<xs:element name="response" type="msg:GetRevenueOrderBalanceResponseDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetRevenueOrderBalanceResponseDataType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="revenueOrderBalance">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:string"/>
						<xs:element name="status" type="xs:string"/>
						<xs:element name="balance" type="xs:decimal"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeletePeriodicRevenueOrderResponseType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données de la réponse de l'opération getBudgetAccounts.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element ref="resp:warnings" minOccurs="0"/>
					<xs:element name="response" type="msg:DeletePeriodicRevenueOrderResponseDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeletePeriodicRevenueOrderResponseDataType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="requestId" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetRevenueOrderResponseType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données de la réponse de l'opération getBudgetAccounts.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element ref="resp:warnings" minOccurs="0"/>
					<xs:element name="response" type="msg:GetRevenueOrderResponseDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetRevenueOrderResponseDataType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="revenueOrder" type="msg:RevenueOrderType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PublishPeriodicRevenueOrderResponseType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données de la réponse de l'opération getBudgetAccounts.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resp:ResponseType">
				<xs:sequence minOccurs="0">
					<xs:element ref="resp:warnings" minOccurs="0"/>
					<xs:element name="response" type="msg:PublishPeriodicRevenueOrderResponseDataType">
						<xs:annotation>
							<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PublishPeriodicRevenueOrderResponseDataType">
		<xs:annotation>
			<xs:documentation>Cet élément contient les données spécifiques de la réponse de l'opération </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="periodicRevenueOrderId" type="xs:string"/>
			<xs:element name="objectOfContractId" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IndebtorDataType">
		<xs:annotation>
			<xs:documentation>Cet objet contient les informations sur un redevable</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="partnerId" type="xs:string"/>
			<xs:element name="addressId" type="xs:string"/>
			<xs:element name="emailId" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IndebtorType">
		<xs:annotation>
			<xs:documentation>Cet objet représente un redevable lié à un ordre de recette.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="indebtor" type="msg:IndebtorDataType"/>
			<xs:element name="debtorPayer" type="msg:IndebtorDataType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClassicLabelType">
		<xs:annotation>
			<xs:documentation>Libellé du droit classique</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="label" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DamageLabelType">
		<xs:annotation>
			<xs:documentation>Libellé du droit lié à une avarie routière ou hydraulique.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="label" type="xs:string"/>
			<xs:element name="place" type="xs:string"/>
			<xs:element name="date" type="xs:date"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RevenueOrderLabelType">
		<xs:annotation>
			<xs:documentation>Libellé du droit d’un ordre de recette. Le format du libellé dépend du type d’ordre de recette </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="classicLabel" type="msg:ClassicLabelType" minOccurs="0"/>
			<xs:element name="damageLabel" type="msg:DamageLabelType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RevenueOrderHeaderType">
		<xs:annotation>
			<xs:documentation>Cet objet représente l’entête d’un ordre de recettes, qu’il soit normal, périodique ou correctif </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="xs:string"/>
			<xs:element name="originalId" type="xs:string" minOccurs="0"/>
			<xs:element name="documentDate" type="xs:date"/>
			<xs:element name="authorizingOfficerReference" type="xs:string"/>
			<xs:element name="status" type="xs:string"/>
			<xs:element name="accountingDate" type="xs:date"/>
			<xs:element name="currency" type="iso:CurrencyType" minOccurs="0"/>
			<xs:element name="createdBy" type="xs:string"/>
			<xs:element name="createdAt" type="xs:date"/>
			<xs:element name="updatedBy" type="xs:string"/>
			<xs:element name="updatedAt" type="xs:date"/>
			<xs:element name="inlineText" type="xs:string"/>
			<xs:element name="caseId" type="xs:string"/>
			<xs:element name="entityCode" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ObjectOfContractType">
		<xs:annotation>
			<xs:documentation>Cet objet représente un objet de contrat</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="xs:string"/>
			<xs:element name="type" type="xs:string"/>
			<xs:element name="authorizingOfficerId" type="xs:string"/>
			<xs:element name="recipientId" type="xs:string"/>
			<xs:element name="indebtor" type="msg:IndebtorType"/>
			<xs:element name="revenueOrderLabel" type="msg:RevenueOrderLabelType"/>
			<xs:element name="isBankrupt" type="xs:boolean"/>
			<xs:element name="authorizingOfficerReference" type="xs:string"/>
			<xs:element name="solidarity" type="xs:boolean"/>
			<xs:element name="noInvitationToPay" type="xs:boolean"/>
			<xs:element name="vcs" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PeriodicLineItemDataType">
		<xs:annotation>
			<xs:documentation>Cet objet décrit un poste pour un ordre de recettes périodique.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="lineItemData" type="msg:LineItemDataType"/>
			<xs:element name="processingData" type="msg:ProcessingDataType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LineItemDataType">
		<xs:annotation>
			<xs:documentation>Ces données constituent le poste pour un ordre de recette, périodique ou non.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="contractAccountId" type="xs:string"/>
			<xs:element name="objectOfContractId" type="xs:string"/>
			<xs:element name="principalOperation" type="xs:string"/>
			<xs:element name="partialOperation" type="xs:string"/>
			<xs:element name="amount" type="xs:decimal"/>
			<xs:element name="vatCode" type="xs:string"/>
			<xs:element name="dueDate" type="xs:date"/>
			<xs:element name="budgetAddress" type="bgt:BudgetAddressType"/>
			<xs:element name="costCenter" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProcessingDataType">
		<xs:annotation>
			<xs:documentation>Cet objet correspond aux données d’exécution qui caractérisent la périodicité d’un ordre de recette.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="processingPeriod" type="xs:integer"/>
			<xs:element name="firstDueDate" type="xs:date"/>
			<xs:element name="lastDueDate" type="xs:date" minOccurs="0"/>
			<xs:element name="periodicity" type="xs:string"/>
			<xs:element name="gap" type="xs:integer"/>
			<xs:element name="noEndDate" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CorrectiveLineItemDataType">
		<xs:annotation>
			<xs:documentation>Cet objet correspond à un poste d’un ordre de recette correctif.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="originalLineItemData" type="msg:LineItemDataType"/>
			<xs:element name="correctiveLineItemData" type="msg:LineItemDataType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RevenueOrderType">
		<xs:annotation>
			<xs:documentation>Cet objet correspond à un ordre de recette.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="header" type="msg:RevenueOrderHeaderType"/>
			<xs:element name="lineItemData" type="msg:LineItemDataType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PeriodicRevenueOrderType">
		<xs:annotation>
			<xs:documentation>Cet objet correspond à un ordre de recette périodique.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="header" type="msg:RevenueOrderHeaderType"/>
			<xs:element name="periodicLineItemData" type="msg:PeriodicLineItemDataType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CorrectiveRevenueOrderType">
		<xs:annotation>
			<xs:documentation>Cet objet correspond à un ordre de recette correctif.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="header" type="msg:RevenueOrderHeaderType"/>
			<xs:element name="correctiveLineItemData" type="msg:CorrectiveLineItemDataType"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
