soap/xsd/SOA/services/sandwichCourseV1_messages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 sp1 (http://www.altova.com) by YFE (Service Public de Wallonie) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:stat="http://soa.spw.wallonie.be/common/status/v1" xmlns:sandwichCourse="http://soa.spw.wallonie.be/data/business/sandwichCourse/v1" xmlns:common="http://soa.spw.wallonie.be/data/common/common/v1" xmlns:entnum="http://soa.spw.wallonie.be/data/entity/enterprise/number/v2" xmlns:persnum="http://soa.spw.wallonie.be/data/entity/person/number/v2" xmlns:tns="http://soa.spw.wallonie.be/services/sandwichCourse/messages/v1" targetNamespace="http://soa.spw.wallonie.be/services/sandwichCourse/messages/v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://soa.spw.wallonie.be/data/business/sandwichCourse/v1" schemaLocation="../data/business/sandwichCourse/sandwichCourseV1_data.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/common/status/v1" schemaLocation="../data/common/status_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/common/v1" schemaLocation="../data/common/common_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/enterprise/number/v2" schemaLocation="../data/entity/enterprise/enterpriseNumber_v2.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/person/number/v2" schemaLocation="../data/entity/person/personNumber_v2.xsd"/>
	<xs:element name="getEnterprise">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:getEnterpriseRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="getEnterpriseResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType">
					<xs:sequence>
						<xs:element name="enterprise" type="sandwichCourse:EnterpriseType" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="getEnterpriseRequestType">
		<xs:sequence>
			<xs:element name="bceNumber" type="entnum:CbeEntityNumberType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="publishEnterprise">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:publishEnterpriseRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="publishEnterpriseResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="publishEnterpriseRequestType">
		<xs:sequence>
			<xs:element name="enterprise" type="sandwichCourse:EnterpriseType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="updateEnterprise">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:updateEnterpriseRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="updateEnterpriseResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="updateEnterpriseRequestType">
		<xs:sequence>
			<xs:element name="enterprise" type="sandwichCourse:EnterpriseType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="deleteEnterprise">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:deleteEnterpriseRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="deleteEnterpriseResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="status" type="stat:BusinessStatusType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="deleteEnterpriseRequestType">
		<xs:complexContent>
			<xs:extension base="tns:sandwichCourseRequestBaseType">
				<xs:sequence>
					<xs:element name="bceNumber" type="entnum:CbeEntityNumberType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="getContractByTechnicalId">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:getContractByTechnicalIdRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="getContractByTechnicalIdResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType">
					<xs:sequence>
						<xs:element name="contract" type="sandwichCourse:ContractType" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="getContractByTechnicalIdRequestType">
		<xs:sequence>
			<xs:element name="id" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="getContractByNumber">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:getContractByNumberRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="getContractByNumberResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType">
					<xs:sequence>
						<xs:element name="contract" type="sandwichCourse:ContractType" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="getContractByNumberRequestType">
		<xs:sequence>
			<xs:element name="number" type="sandwichCourse:ContractNumberType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="searchContracts">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:searchContractsRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="searchContractsResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType">
					<xs:sequence>
						<xs:element name="contracts" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="contract" type="sandwichCourse:ContractType" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="searchContractsRequestType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="enterprise" type="entnum:CbeEntityNumberType"/>
				<xs:element name="learner" type="persnum:PersonNumberType"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="publishContract">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:publishContractRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="publishContractResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="publishContractRequestType">
		<xs:sequence>
			<xs:element name="contract" type="sandwichCourse:ContractType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="updateContract">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:updateContractRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="updateContractResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="updateContractRequestType">
		<xs:sequence>
			<xs:element name="contract" type="sandwichCourse:ContractType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="deleteContract">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:deleteContractRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="deleteContractResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="status" type="stat:BusinessStatusType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="deleteContractRequestType">
		<xs:complexContent>
			<xs:extension base="tns:sandwichCourseRequestBaseType">
				<xs:sequence>
					<xs:element name="id" type="xs:int"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="getLearner">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:getLearnerRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="getLearnerResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType">
					<xs:sequence>
						<xs:element name="learner" type="sandwichCourse:LearnerType" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="getLearnerRequestType">
		<xs:sequence>
			<xs:element name="personNumber" type="persnum:PersonNumberType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="publishLearner">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:publishLearnerRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="publishLearnerResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="publishLearnerRequestType">
		<xs:sequence>
			<xs:element name="learner" type="sandwichCourse:LearnerType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="updateLearner">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:updateLearnerRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="updateLearnerResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="updateLearnerRequestType">
		<xs:sequence>
			<xs:element name="learner" type="sandwichCourse:LearnerType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="getTutor">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:getTutorRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="getTutorResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType">
					<xs:sequence>
						<xs:element name="tutor" type="sandwichCourse:TutorType" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="getTutorRequestType">
		<xs:sequence>
			<xs:element name="personNumber" type="persnum:PersonNumberType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="publishTutor">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:publishTutorRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="publishTutorResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="publishTutorRequestType">
		<xs:sequence>
			<xs:element name="tutor" type="sandwichCourse:TutorType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="updateTutor">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:updateTutorRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="updateTutorResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="updateTutorRequestType">
		<xs:sequence>
			<xs:element name="tutor" type="sandwichCourse:TutorType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="getRegistration">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:getRegistrationRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="getRegistrationResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType">
					<xs:sequence>
						<xs:element name="registration" type="sandwichCourse:RegistrationType" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="getRegistrationRequestType">
		<xs:sequence>
			<xs:element name="startDate" type="xs:date"/>
			<xs:element name="learner" type="persnum:PersonNumberType"/>
			<xs:element name="trainingCenter" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="updateRegistration">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:updateRegistrationRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="updateRegistrationResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="updateRegistrationRequestType">
		<xs:sequence>
			<xs:element name="registration" type="sandwichCourse:RegistrationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="publishRegistration">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:publishRegistrationRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="publishRegistrationResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="publishRegistrationRequestType">
		<xs:sequence>
			<xs:element name="registration" type="sandwichCourse:RegistrationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="getTrainingOperator">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:getTrainingOperatorRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="getTrainingOperatorResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType">
					<xs:sequence>
						<xs:element name="trainingOperator" type="sandwichCourse:TrainingOperatorType" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="getTrainingOperatorRequestType">
		<xs:sequence>
			<xs:element name="operator" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="searchTrainingOperators">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:searchTrainingOperatorsRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="searchTrainingOperatorsResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType">
					<xs:sequence>
						<xs:element name="trainingOperators" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="trainingOperator" type="sandwichCourse:TrainingOperatorType" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="searchTrainingOperatorsRequestType">
		<xs:sequence>
			<xs:element name="networks">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="network" type="xs:string" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="getAgreementById">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:getAgreementByIdRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="getAgreementByIdResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType">
					<xs:sequence>
						<xs:element name="agreement" type="sandwichCourse:AgreementType" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="getAgreementByIdRequestType">
		<xs:sequence>
			<xs:element name="agreement" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="getAgreementByTechnicalId">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:getAgreementByTechnicalIdRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="getAgreementByTechnicalIdResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType">
					<xs:sequence>
						<xs:element name="agreement" type="sandwichCourse:AgreementType" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="getAgreementByTechnicalIdRequestType">
		<xs:sequence>
			<xs:element name="id" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="publishAgreement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:publishAgreementRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="publishAgreementResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="publishAgreementRequestType">
		<xs:sequence>
			<xs:element name="agreement" type="sandwichCourse:AgreementType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="updateAgreement">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:updateAgreementRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="updateAgreementResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="updateAgreementRequestType">
		<xs:sequence>
			<xs:element name="agreement" type="sandwichCourse:AgreementType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="searchAgreements">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:searchAgreementsRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="searchAgreementsResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType">
					<xs:sequence>
						<xs:element name="agreements" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="agreement" type="sandwichCourse:AgreementType" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="searchAgreementsRequestType">
		<xs:sequence>
			<xs:element name="businessUnit" type="entnum:CbeEntityNumberType"/>
			<xs:element name="status" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="getFinancialIncentive">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:getFinancialIncentiveRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="getFinancialIncentiveResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType">
					<xs:sequence>
						<xs:element name="financialIncentive" type="sandwichCourse:FinancialIncentiveType" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="getFinancialIncentiveRequestType">
		<xs:sequence>
			<xs:element name="identifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="publishFinancialIncentive">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:publishFinancialIncentiveRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="publishFinancialIncentiveResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="publishFinancialIncentiveRequestType">
		<xs:sequence>
			<xs:element name="financialIncentive" type="sandwichCourse:FinancialIncentiveType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="updateFinancialIncentive">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:updateFinancialIncentiveRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="updateFinancialIncentiveResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="updateFinancialIncentiveRequestType">
		<xs:sequence>
			<xs:element name="financialIncentive" type="sandwichCourse:FinancialIncentiveType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="searchFinancialIncentives">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:searchFinancialIncentivesRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="searchFinancialIncentivesResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType">
					<xs:sequence>
						<xs:element name="financialIncentives" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="financialIncentive" type="sandwichCourse:FinancialIncentiveType" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="searchFinancialIncentivesRequestType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="enterprise" type="entnum:CbeEntityNumberType"/>
				<xs:element name="learner" type="persnum:PersonNumberType"/>
			</xs:choice>
			<xs:element name="types">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="type" type="xs:string" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="decision" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="getReferent">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:getReferentRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="getReferentResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType">
					<xs:sequence>
						<xs:element name="referent" type="sandwichCourse:ReferentType" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="getReferentRequestType">
		<xs:sequence>
			<xs:element name="personNumber" type="persnum:PersonNumberType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="publishReferent">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:publishReferentRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="publishReferentResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="publishReferentRequestType">
		<xs:sequence>
			<xs:element name="referent" type="sandwichCourse:ReferentType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="updateReferent">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:updateReferentRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="updateReferentResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="updateReferentRequestType">
		<xs:sequence>
			<xs:element name="referent" type="sandwichCourse:ReferentType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="getValueList">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:getValueListRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="getValueListResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType">
					<xs:sequence>
						<xs:element name="valueList" type="sandwichCourse:ValueListType" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="getValueListRequestType">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="searchTrainingUnits">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:searchTrainingUnitsRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="searchTrainingUnitsResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType">
					<xs:sequence>
						<xs:element name="trainingUnits" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="trainingUnit" type="sandwichCourse:TrainingUnitType" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="searchTrainingUnitsRequestType">
		<xs:sequence>
			<xs:element name="trainingOperator" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="searchTrainingNetworks">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:searchTrainingNetworksRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="searchTrainingNetworksResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType">
					<xs:sequence>
						<xs:element name="trainingNetworks" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="trainingNetwork" type="sandwichCourse:TrainingNetworkType" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="searchTrainingNetworksRequestType">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="fault" type="tns:faultType" nillable="true"/>
	<xs:complexType name="faultType">
		<xs:sequence>
			<xs:element name="type" type="xs:string"/>
			<xs:element name="code" type="xs:integer"/>
			<xs:element name="message" type="xs:string"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sandwichCourseRequestBaseType">
		<xs:sequence>
			<!--<xs:element name="customerInformations" type="tns:sandwichCourseRequestCustomerInformations"/>-->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sandwichCourseRequestCustomerInformations"/>
</xs:schema>