soap/xsd/SOA/services/userDossier_v1.4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--edited with XMLSpy v2017 sp1 (http://www.altova.com) by YFE (Service Public de Wallonie)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soa.spw.wallonie.be/services/userDossier/messages/v1" xmlns:ud="http://soa.spw.wallonie.be/data/business/userDossier/v1" xmlns:tic="http://soa.spw.wallonie.be/data/common/ticket/v1" xmlns:iso="http://soa.spw.wallonie.be/data/common/isocodes/v1" xmlns:stat="http://soa.spw.wallonie.be/common/status/v1" xmlns:common="http://soa.spw.wallonie.be/data/common/common/v1" targetNamespace="http://soa.spw.wallonie.be/services/userDossier/messages/v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://soa.spw.wallonie.be/data/business/userDossier/v1" schemaLocation="../data/business/userDossier/userDossierV1_data.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/ticket/v1" schemaLocation="../data/common/ticket_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/isocodes/v1" schemaLocation="../data/common/isocodes_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/common/v1" schemaLocation="../data/common/common_v1.xsd"/>
	<xs:annotation>
		<xs:documentation>changement pour sychronisé avec la version du Nep 20160928</xs:documentation>
	</xs:annotation>
	<xs:element name="createUserDossier">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:createUserDossierRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="createUserDossierResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType">
					<xs:sequence>
						<xs:element name="userDossierId" type="tic:UUIDType" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="updateUserDossier">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:updateUserDossierRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="updateUserDossierResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="cancelUserDossier">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:cancelUserDossierRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="cancelUserDossierResponse" type="common:AbstractSyncResponseType"/>
	<xs:element name="submitUserDossier">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:submitUserDossierRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="submitUserDossierResponse" type="common:AbstractSyncResponseType"/>
	<xs:element name="publishUserDossier">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:publishUserDossierRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="publishUserDossierResponse" type="common:AbstractSyncResponseType"/>
	<xs:element name="searchUserDossiers">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:searchUserDossiersRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="searchUserDossiersResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType">
					<xs:sequence>
						<xs:element name="searchUserDossiersResult" type="ud:SearchUserDossiersResultType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="getUserDossier">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:getUserDossierRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="getUserDossierResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType">
					<xs:sequence>
						<xs:element name="userDossier" type="ud:UserDossierType" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="publishStatus">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:publishStatusRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="publishStatusResponse" type="common:AbstractSyncResponseType"/>
	<xs:element name="addDocument">
		<xs:annotation>
			<xs:documentation>Add or update a document (form/attachment) into a UserDossier</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:addDocumentRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="addDocumentResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType">
					<xs:sequence>
						<xs:element name="documentId" type="tic:UUIDType" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="removeDocument">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:removeDocumentRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="removeDocumentResponse" type="common:AbstractSyncResponseType"/>
	<xs:element name="getDocument">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:getDocumentRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="getDocumentResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType">
					<xs:sequence>
						<xs:element name="document" type="ud:ContentStreamType" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="addRfai">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractPrivacySyncRequestType">
					<xs:sequence>
						<xs:element name="request" type="tns:addRfaiRequestType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="addRfaiResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractSyncResponseType">
					<xs:sequence>
						<xs:element name="rfaiId" type="tic:UUIDType" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fault" type="tns:faultType" nillable="true"/>
	<xs:complexType name="faultType">
		<xs:sequence>
			<xs:element name="type" type="xs:string"/>
			<xs:element name="code" type="xs:integer"/>
			<xs:element name="message" type="xs:string"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UserDossierRequestBaseType">
		<xs:sequence>
			<xs:element name="profileId" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="getUserDossierRequestType">
		<xs:complexContent>
			<xs:extension base="tns:UserDossierRequestBaseType">
				<xs:sequence>
					<xs:choice>
						<xs:element name="userDossierId" type="tic:UUIDType"/>
						<xs:element name="userDossierNumber" type="xs:string"/>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="searchUserDossiersRequestType">
		<xs:complexContent>
			<xs:extension base="tns:UserDossierRequestBaseType">
				<xs:sequence>
					<xs:element name="criteria" type="ud:SearchUserDossiersCriteriaType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="addDocumentRequestType">
		<xs:complexContent>
			<xs:extension base="tns:UserDossierRequestBaseType">
				<xs:choice>
					<xs:element name="form" type="tns:addFormType"/>
					<xs:element name="attachment" type="tns:addDocumentAttachmentType"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="addDocumentAttachmentType">
		<xs:sequence>
			<xs:element name="userDossierId" type="tic:UUIDType"/>
			<xs:element name="attachment">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ud:UserDossierAttachmentType">
							<xs:sequence>
								<xs:element name="typeKey" type="xs:string" minOccurs="0"/>
								<xs:element name="citizenLabel" type="xs:string" minOccurs="0"/>
								<xs:element name="visible" type="xs:string" minOccurs="0"/>
								<xs:element name="generated" type="xs:string" minOccurs="0"/>
								<xs:element name="authorProfileId" type="xs:string" minOccurs="0"/>
								<xs:element name="description" type="xs:string" minOccurs="0"/>
								<xs:element name="contentLength" type="xs:string" minOccurs="0"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="stream" type="xs:base64Binary"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="addFormType">
		<xs:sequence>
			<xs:element name="userDossierId" type="tic:UUIDType"/>
			<xs:element name="form" type="ud:UserDossierFormType"/>
			<xs:element name="format" type="ud:FormFormatType"/>
			<xs:element name="stream" type="xs:base64Binary"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="removeDocumentRequestType">
		<xs:complexContent>
			<xs:extension base="tns:UserDossierRequestBaseType">
				<xs:choice>
					<xs:element name="form" type="tns:removeFormType"/>
					<xs:element name="attachment" type="tns:removeAttachmentType"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="removeAttachmentType">
		<xs:sequence>
			<xs:element name="attachmentId" type="tic:UUIDType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="removeFormType">
		<xs:sequence>
			<xs:element name="formId" type="tic:UUIDType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="getDocumentRequestType">
		<xs:complexContent>
			<xs:extension base="tns:UserDossierRequestBaseType">
				<xs:choice>
					<xs:element name="form" type="tns:getFormType"/>
					<xs:element name="attachment" type="tns:getAttachmentType"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="getAttachmentType">
		<xs:sequence>
			<xs:element name="attachmentId" type="tic:UUIDType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="getFormType">
		<xs:sequence>
			<xs:element name="formId" type="tic:UUIDType"/>
			<xs:element name="format" type="ud:FormFormatType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="createUserDossierRequestType">
		<xs:complexContent>
			<xs:extension base="tns:UserDossierRequestBaseType">
				<xs:sequence>
					<xs:element name="procedureRef" type="xs:string"/>
					<xs:element name="procedureName" type="xs:string"/>
					<xs:element name="securityLevel" type="ud:SecurityLevelType"/>
					<xs:element name="eSpaceId" type="xs:string"/>
					<xs:element name="eSpaceType" type="ud:SpaceType"/>
					<xs:element name="requesterFirstName" type="xs:string"/>
					<xs:element name="requesterLastName" type="xs:string" minOccurs="0"/>
					<xs:element name="ownerProfileId" type="xs:string"/>
					<xs:element name="language" type="iso:LanguageType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="updateUserDossierRequestType">
		<xs:complexContent>
			<xs:extension base="tns:UserDossierRequestBaseType">
				<xs:sequence>
					<xs:element name="userDossierId" type="tic:UUIDType" minOccurs="1"/>
					<xs:element name="requesterFirstName" type="xs:string" minOccurs="0"/>
					<xs:element name="requesterLastName" type="xs:string" minOccurs="0"/>
					<xs:element name="language" type="iso:LanguageType" minOccurs="0"/>
					<xs:element name="citizenReference" type="xs:string" minOccurs="0"/>
					<xs:element name="reference" type="xs:string" minOccurs="0"/>
					<xs:element name="retrieved" type="xs:boolean" minOccurs="0"/>
					<xs:element name="firstRetrievedDate" type="xs:dateTime" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="cancelUserDossierRequestType">
		<xs:complexContent>
			<xs:extension base="tns:UserDossierRequestBaseType">
				<xs:sequence>
					<xs:element name="userDossierId" type="tic:UUIDType" minOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="submitUserDossierRequestType">
		<xs:complexContent>
			<xs:extension base="tns:UserDossierRequestBaseType">
				<xs:sequence>
					<xs:element name="userDossierId" type="tic:UUIDType" minOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="publishUserDossierRequestType">
		<xs:sequence>
			<xs:element name="userDossier" type="ud:UserDossierType" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="publishStatusRequestType">
		<xs:complexContent>
			<xs:extension base="tns:UserDossierRequestBaseType">
				<xs:sequence>
					<xs:element name="userDossierId" type="tic:UUIDType"/>
					<xs:element name="userDossierStatus" type="ud:UserDossierStatusType"/>
					<xs:element name="processingStatus" type="xs:string" minOccurs="0"/>
					<xs:element name="actor" type="ud:UserDossierActorType" minOccurs="0"/>
					<xs:element name="isHidden" type="xs:boolean" minOccurs="0"/>
					<xs:element name="details" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="addRfaiRequestType">
		<xs:complexContent>
			<xs:extension base="tns:UserDossierRequestBaseType">
				<xs:sequence>
					<xs:element name="userDossierId" type="tic:UUIDType"/>
					<xs:element name="rfai" type="ud:UserDossierRfaiType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
