soap/xsd/SOA/services/waitingRegister_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2019 rel. 3 sp1 (x64) (http://www.altova.com) by - (Service Public de Wallonnie) -->
<!-- 
2021-05-25 : changes in asylum procedure
  * added optional code/label to statusOfRefugee/applicationRenounced
  * added optional date to statusOfRefugee/protection
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soa.spw.wallonie.be/services/waitingRegister/messages/v1" xmlns:req="http://soa.spw.wallonie.be/data/common/request/v1" xmlns:resp="http://soa.spw.wallonie.be/data/common/response/v2" xmlns:nam="http://soa.spw.wallonie.be/data/entity/person/name/v3" xmlns:cod="http://soa.spw.wallonie.be/data/common/code/v5" xmlns:num="http://soa.spw.wallonie.be/data/entity/person/number/v3" xmlns:dat="http://soa.spw.wallonie.be/data/common/date/v1" xmlns:err="http://soa.spw.wallonie.be/data/common/error/v5" targetNamespace="http://soa.spw.wallonie.be/services/waitingRegister/messages/v1" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="2021-10-11">
	<xsd:import namespace="http://soa.spw.wallonie.be/data/common/request/v1" schemaLocation="../data/common/request_v1.xsd"/>
	<xsd:import namespace="http://soa.spw.wallonie.be/data/common/response/v2" schemaLocation="../data/common/response_v2.xsd"/>
	<xsd:import namespace="http://soa.spw.wallonie.be/data/common/error/v5" schemaLocation="../data/common/error_v5.xsd"/>
	<xsd:import namespace="http://soa.spw.wallonie.be/data/common/code/v5" schemaLocation="../data/common/code_v5.xsd"/>
	<xsd:import namespace="http://soa.spw.wallonie.be/data/common/date/v1" schemaLocation="../data/common/date_v1.xsd"/>
	<xsd:import namespace="http://soa.spw.wallonie.be/data/entity/person/number/v3" schemaLocation="../data/entity/person/personNumber_v3.xsd"/>
	<xsd:import namespace="http://soa.spw.wallonie.be/data/entity/person/name/v3" schemaLocation="../data/entity/person/name_v3.xsd"/>
	<!-- Messages -->
	<xsd:element name="getWaitingRegister" type="tns:GetWaitingRegisterType"/>
	<xsd:element name="getWaitingRegisterResponse" type="tns:GetWaitingRegisterResponseType"/>
	<xsd:element name="fault" type="err:ErrorOrWarningType"/>
	<!-- Request and Response -->
	<xsd:complexType name="GetWaitingRegisterType">
		<xsd:complexContent>
			<xsd:extension base="req:PrivacyRequestType">
				<xsd:sequence>
					<xsd:element name="request" type="tns:ConsultRegisterCriteriaType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GetWaitingRegisterResponseType">
		<xsd:complexContent>
			<xsd:extension base="resp:ResponseType">
				<xsd:sequence minOccurs="0">
					<xsd:element ref="resp:warnings" minOccurs="0"/>
					<xsd:element name="result" type="tns:ConsultRegisterResultType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- Criteria Types-->
	<xsd:complexType name="ConsultRegisterCriteriaType">
		<xsd:annotation>
			<xsd:documentation>Criteria type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="num:personNumber"/>
			<xsd:element name="dataGroups" type="tns:DataGroupsCriteriaType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DataGroupsCriteriaType">
		<xsd:sequence>
			<xsd:element name="refugeeTypes" type="xsd:boolean"/>
			<xsd:element name="statusesOfRefugee" type="xsd:boolean"/>
			<xsd:element name="organizationsInCharge" type="xsd:boolean"/>
			<xsd:element name="documentTypes" type="xsd:boolean"/>
			<xsd:element name="aliases" type="xsd:boolean"/>
			<xsd:element name="statedAddresses" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Result Types-->
	<xsd:complexType name="ConsultRegisterResultType">
		<xsd:sequence>
			<xsd:element ref="num:personNumber"/>
			<xsd:element name="refugeeTypes" type="tns:RefugeeTypesType" minOccurs="0"/>
			<xsd:element name="statusesOfRefugee" type="tns:StatusesOfRefugeeType" minOccurs="0"/>
			<xsd:element name="organizationsInCharge" type="tns:OrganizationsInChargeType" minOccurs="0"/>
			<xsd:element name="documentTypes" type="tns:DocumentTypesType" minOccurs="0"/>
			<xsd:element name="aliases" type="tns:AliasesType" minOccurs="0"/>
			<xsd:element name="statedAddresses" type="tns:StatedAddressesType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Data group types -->
	<xsd:complexType name="RefugeeTypesType">
		<xsd:annotation>
			<xsd:documentation>TI 205</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="refugeeType" type="tns:RefugeeTypeType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RefugeeTypeType">
		<xsd:sequence>
			<xsd:element name="inceptionDate" type="dat:IncompleteDateType"/>
			<xsd:element name="expiryDate" type="dat:IncompleteDateType" minOccurs="0"/>
			<xsd:element name="code" type="cod:DescriptiveCodeType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StatusesOfRefugeeType">
		<xsd:annotation>
			<xsd:documentation>TI 206</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="statusOfRefugee" type="tns:StatusOfRefugeeType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StatusOfRefugeeType">
		<xsd:sequence>
			<xsd:element name="inceptionDate" type="dat:IncompleteDateType"/>
			<xsd:element name="expiryDate" type="dat:IncompleteDateType" minOccurs="0"/>
			<xsd:element name="generalInfo" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="code" type="cod:DescriptiveCodeType"/>
						<xsd:element name="organization" type="cod:DescriptiveCodeType" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:choice>
				<xsd:element name="procedure">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="date" type="dat:IncompleteDateType" minOccurs="0"/>
							<xsd:element name="origin" type="cod:DescriptiveCodeType"/>
							<xsd:element name="reference" type="xsd:string"/>
							<xsd:choice>
								<xsd:element name="appeal" type="cod:DescriptiveCodeType"/>
								<xsd:element name="openClose" type="cod:DescriptiveCodeType"/>
							</xsd:choice>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="strikingOut">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="reference" type="xsd:string"/>
							<xsd:element name="status" type="cod:DescriptiveCodeType"/>
							<xsd:element name="openClose" type="cod:DescriptiveCodeType"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="decisionCancelled">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="date" type="dat:IncompleteDateType"/>
							<xsd:element name="reference" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="protection">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="code" type="cod:DescriptiveCodeType"/>
							<xsd:element name="reference" type="xsd:string" minOccurs="0"/>
							<xsd:element name="term" type="xsd:string" minOccurs="0"/>
							<xsd:element name="date" type="dat:IncompleteDateType" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="delayLeaveGranted">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="date" type="dat:IncompleteDateType"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="escape" type="tns:ElementPresentFlagType"/>
				<xsd:element name="unrestrictedStay" type="tns:ElementPresentFlagType"/>
				<xsd:element name="applicationRenounced">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="code" type="cod:DescriptiveCodeType" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="territoryLeft" type="cod:DescriptiveCodeType"/>
				<xsd:element name="adviceFromCGVS">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="code" type="cod:DescriptiveCodeType"/>
							<xsd:element name="reference" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="decision">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="code" type="cod:DescriptiveCodeType" minOccurs="0"/>
							<xsd:element name="reference" type="xsd:string" minOccurs="0"/>
							<xsd:element name="openClose" type="cod:DescriptiveCodeType" minOccurs="0"/>
							<xsd:element name="comments" type="xsd:string" minOccurs="0"/>
							<xsd:element name="term" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="applicationFiled">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="code" type="cod:DescriptiveCodeType" minOccurs="0"/>
							<xsd:element name="place" type="cod:DescriptiveCodeType" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="notificationByDVZ">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="reference" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="notificationByOrg">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="place" type="cod:DescriptiveCodeType"/>
							<xsd:element name="reference" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="appealLodged">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="reference" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrganizationsInChargeType">
		<xsd:annotation>
			<xsd:documentation>TI 207</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="organizationInCharge" type="tns:OrganizationInChargeType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrganizationInChargeType">
		<xsd:sequence>
			<xsd:element name="inceptionDate" type="dat:IncompleteDateType"/>
			<xsd:element name="expiryDate" type="dat:IncompleteDateType" minOccurs="0"/>
			<xsd:choice>
				<xsd:element name="socialWelfare" type="tns:SocialWelfareType"/>
				<xsd:element name="refugeeCentre" type="cod:DescriptiveCodeType"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DocumentTypesType">
		<xsd:annotation>
			<xsd:documentation>TI 211</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="documentType" type="tns:DocumentTypeType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DocumentTypeType">
		<xsd:sequence>
			<xsd:element name="inceptionDate" type="dat:IncompleteDateType"/>
			<xsd:element name="expiryDate" type="dat:IncompleteDateType" minOccurs="0"/>
			<xsd:element name="code" type="cod:DescriptiveCodeType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AliasesType">
		<xsd:annotation>
			<xsd:documentation>TI 213</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="alias" type="tns:AliasType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AliasType">
		<xsd:sequence>
			<xsd:element name="inceptionDate" type="dat:IncompleteDateType"/>
			<xsd:element name="expiryDate" type="dat:IncompleteDateType" minOccurs="0"/>
			<xsd:element name="birthDate" type="dat:IncompleteDateType" minOccurs="0"/>
			<xsd:element name="type" type="cod:DescriptiveCodeType" minOccurs="0"/>
			<xsd:element name="nationality" type="cod:DescriptiveCodeType" minOccurs="0"/>
			<xsd:element name="name" type="nam:NameType" minOccurs="0"/>
			<xsd:element name="birthPlace" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StatedAddressesType">
		<xsd:annotation>
			<xsd:documentation>TI 214</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="statedAddress" type="tns:StatedAddressType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StatedAddressType">
		<xsd:sequence>
			<xsd:element name="inceptionDate" type="dat:IncompleteDateType"/>
			<xsd:element name="expiryDate" type="dat:IncompleteDateType" minOccurs="0"/>
			<xsd:element name="organization" type="cod:DescriptiveCodeType"/>
			<xsd:element name="address" type="tns:AddressType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AddressType">
		<xsd:sequence>
			<xsd:element name="postalCode" type="tns:PostalCodeType"/>
			<xsd:element name="street">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="description" type="xsd:string"/>
						<xsd:sequence>
							<xsd:element name="streetCode" type="tns:StreetCodeType"/>
							<xsd:element name="label" type="cod:DescriptionType" minOccurs="0" maxOccurs="3"/>
						</xsd:sequence>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="houseNumber" type="tns:HouseNumberType"/>
			<xsd:element name="boxNumber" type="tns:BoxNumberType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="PostalCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StreetCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HouseNumberType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BoxNumberType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="SocialWelfareType">
		<xsd:sequence>
			<xsd:element name="place" type="cod:DescriptiveCodeType"/>
			<xsd:element name="initiative" type="cod:DescriptiveCodeType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ElementPresentFlagType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
