soap/xsd/SOA/data/business/environmentalLicence/environmentalLicence_v1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:addr="http://soa.spw.wallonie.be/data/entity/address/address/v2" xmlns:approv="http://soa.spw.wallonie.be/data/entity/licence/licence/v1" xmlns:cod="http://soa.spw.wallonie.be/data/common/code/v1" xmlns:cont="http://soa.spw.wallonie.be/data/common/contact/v1" xmlns:entnum="http://soa.spw.wallonie.be/data/entity/enterprise/number/v2" xmlns:org="http://soa.spw.wallonie.be/data/entity/spw/organisation/v1" xmlns:tns="http://soa.spw.wallonie.be/data/business/environmentalLicence/v1" xmlns:rub="http://soa.spw.wallonie.be/data/business/rubrique/v1" xmlns:iso="http://soa.spw.wallonie.be/data/common/isocodes/v1" xmlns:tic="http://soa.spw.wallonie.be/data/common/ticket/v1" xmlns:pernum="http://soa.spw.wallonie.be/data/entity/person/number/v2" targetNamespace="http://soa.spw.wallonie.be/data/business/environmentalLicence/v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.00">
	<xs:import namespace="http://soa.spw.wallonie.be/data/business/rubrique/v1" schemaLocation="rubrique_v1_1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/date/v1" schemaLocation="../../common/date_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/isocodes/v1" schemaLocation="../../common/isocodes_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/ticket/v1" schemaLocation="../../common/ticket_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/code/v1" schemaLocation="../../common/code_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/licence/licence/v1" schemaLocation="../../entity/licence/licence_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/person/number/v2" schemaLocation="../../entity/person/personNumber_v2.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/enterprise/number/v2" schemaLocation="../../entity/enterprise/enterpriseNumber_v2.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/address/address/v2" schemaLocation="../../entity/address/address_v2.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/contact/v1" schemaLocation="../../common/contact_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/spw/organisation/v1" schemaLocation="../../entity/spw/organisation_v1.xsd"/>
	<xs:complexType name="GetEnvironmentalLicenceRequestType">
		<xs:sequence>
			<xs:choice>
				<xs:annotation>
					<xs:documentation>Choix entre la référence unique d'un dossier OU du numéro privé d'un établissement
Le résultat de la recherche sera toujours le dossier de référence de l'établissement concerné par le dossier.</xs:documentation>
				</xs:annotation>
				<xs:element name="licenceNumber" type="xs:string"/>
				<!--<xs:element name="establishmentPrivateNumber" type="xs:string"/>-->
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetDefaultEnvironmentalLicenceRequestType">
		<xs:sequence>
			<xs:choice>
				<xs:annotation>
					<xs:documentation>Choix entre la référence unique d'un dossier OU du numéro privé d'un établissement
Le résultat de la recherche sera toujours le dossier de référence de l'établissement concerné par le dossier.</xs:documentation>
				</xs:annotation>
				<!--<xs:element name="licenceNumber" type="xs:string"/>-->
				<xs:element name="establishmentPrivateNumber" type="xs:string"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetEstablishmentCaracteristicsRequestType">
		<xs:sequence>
			<xs:choice>
				<xs:annotation>
					<xs:documentation>Choix entre la référence unique d'un dossier OU du numéro privé d'un établissement
Le résultat de la recherche sera toujours le dossier de référence de l'établissement concerné par le dossier.</xs:documentation>
				</xs:annotation>
				<xs:element name="licenceNumber" type="xs:string"/>
				<!--<xs:element name="establishmentPrivateNumber" type="xs:string"/>-->
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PublishEnvironmentalLicenceRequestType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>Le dossier a créer</xs:documentation>
			</xs:annotation>
			<xs:element name="environmentalLicence" type="tns:EnvironmentalLicenceType"/>
			<xs:element name="environmentalSpecification" type="tns:EnvironmentalSpecificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchEnvironmentalLicenceRequestType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>Critère de recherche permettant de trouver un ou plusieurs permis d'environnement</xs:documentation>
			</xs:annotation>
			<!--<xs:element name="licenceNumber" type="xs:string"/>-->
			<xs:element name="establishmentPrivateNumber" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EnvironmentalLicenceSummaryType">
		<xs:complexContent>
			<xs:extension base="approv:licenceType">
				<xs:sequence>
					<xs:element name="establishments" type="tns:establishmentSummaryType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Etablissement(s) lié(s) au dossier. Pour la majeure partie des types de dossier, un seul établissement est associé. Pour certains, par exemple les recours, plusieurs établlisements pourraient être concerné par la demande de permis</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EnvironmentalLicenceType">
		<xs:complexContent>
			<xs:extension base="approv:licenceType">
				<xs:sequence>
					<xs:element name="administrativeProcess" type="tns:AdministrativeProcessType">
						<xs:annotation>
							<xs:documentation>Procédure administrative - Caractéristiques spécifiques aux permis d'environnement</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="electronicForm" type="tns:ElectronicFormType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Formulaire (Dossier) électronique - Caractéristiques spécifiques au formulaire électronique correspondant au permis d'environnement</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="establishments" type="tns:EstablishmentType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Etablissement(s) lié(s) au dossier. Pour la majeure partie des types de dossier, un seul établissement est associé. Pour certains, par exemple les recours, plusieurs établlisements pourraient être concerné par la demande de permis</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="requesters" type="tns:RequesterType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Demandeurs (Exploitants)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="solicitors" type="tns:SolicitorType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Autres demandeurs (Solliciteur, Requérants, Preneur...)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="municipalitySpecification" type="tns:municipalitySpecificationType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Caractéristique liées à la commune de dépôt de la demande de permis</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dgo3Specification" type="tns:dgo3SpecificationType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Caractéristique liées à la DGO3</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dgo4Specification" type="tns:dgo4SpecificationType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Caractéristique liées à la DGO4</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="documents" type="tns:documentType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Documents de la demande</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="establishmentCaracteristics">
		<xs:sequence>
			<xs:element name="establishments" type="tns:EstablishmentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Informations générales de l'établissement
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="environmentalSpecification" type="tns:EnvironmentalSpecificationType">
				<xs:annotation>
					<xs:documentation>Caractéristiques environnementales de l'établissement (Parcelles, batiments, ...)
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EnvironmentalSpecificationType">
		<xs:sequence>
			<xs:element name="establishmentSpecifications" type="tns:SpecificationsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractéristique de l'établissement (Parcelles, batiments, ...)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DomainDescriptiveCodeType">
		<xs:complexContent>
			<xs:extension base="cod:DescriptiveCodeType">
				<xs:sequence>
					<xs:element name="domain" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MapSpecificationType">
		<xs:sequence>
			<xs:element name="mapStatus" type="tns:DomainDescriptiveCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Statut carto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="area" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Emprise du permis au format JSON</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdministrativeProcessType">
		<xs:sequence>
			<xs:element name="type" type="tns:DomainDescriptiveCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type de formulaire (NEP) (Eléctronique ou Papier)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="competentAutority" type="tns:DomainDescriptiveCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Autorité compétente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="classification" type="tns:DomainDescriptiveCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Classe (Classe 1, 2 ou 3)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="roadModification" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractéristiques influençant la procédure : Modification de la voirie</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eie" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractéristiques influençant la procédure : EIE ?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="seveso" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractéristiques influençant la procédure : Seveso ?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sanitation" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractéristiques influençant la procédure : Assainissement ?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="trial" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractéristiques influençant la procédure : Essai ?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mobile" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractéristiques influençant la procédure : Mobile ?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="temporary" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractéristiques influençant la procédure : Temporaire ?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="inSeveralMunicipalities" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractéristiques influençant la procédure : Sur plusieurs communes ?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="codt" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractéristiques influençant la procédure : CODT ?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="groundDecree" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractéristiques influençant la procédure : Décret sol ?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="igd" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractéristiques influençant la procédure : IGD (carrière) ?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="municipalityIsOwner" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractéristiques influençant la procédure : La commune est l'exploitant ?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="licenceDuration" type="tns:DomainDescriptiveCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Durée demandée du permis</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="desiredDurationDays" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Durée souhaitée en jours</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="desiredDurationMonths" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Durée souhaitée en mois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="desiredDurationYears" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Durée souhaitée en années</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ElectronicFormType">
		<xs:sequence>
			<xs:element name="number" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Référence au formulaire (NEP) - Backward compatible ID in format 1XXXXXX-XXXXXX</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="id" type="tic:UUIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifiant du dossier NEP</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="procedureRef" type="xs:string">
				<xs:annotation>
					<xs:documentation>Identifiant de la formalité. Correspond au « NodeId » dans Nostra</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="procedureName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Nom de la formalité dans la langue de l’usager au moment de la création du dossier
Permet de déterminer le type de dossier TWICE à créer lors du "publish"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="citizenReference" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Référence (texte libre) donnée par l’usager lors de la création du dossier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eSpaceId" type="xs:string">
				<xs:annotation>
					<xs:documentation>Identifiant de l’espace du dossier.
Ex. : 601760614665412481ab2a4d6706aed0</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ownerProfileId" type="xs:string">
				<xs:annotation>
					<xs:documentation>Identifiant du profil propriétaire du dossier.
Ex. : a329d5c57ffe78cde531439fb2c907a982eb0190</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="language" type="iso:LanguageType">
				<xs:annotation>
					<xs:documentation>Langue utilisée par le demandeur à la création du dossier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="formId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifiant du formulaire principal du dossier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="formName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nom du formulaire principal du dossier</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequesterType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="enterpriseNumber" type="entnum:CbeEntityNumberType"/>
				<xs:element name="personNumber" type="pernum:PersonNumberType"/>
			</xs:choice>
			<xs:element name="denomination" type="xs:string" minOccurs="0"/>
			<xs:element name="mailingAddress" type="addr:BasicAddressType" maxOccurs="unbounded"/>
			<xs:element name="phoneNumber" type="cont:PhoneNumberType" minOccurs="0"/>
			<xs:element name="faxNumber" type="cont:PhoneNumberType" minOccurs="0"/>
			<xs:element name="email" type="cont:EmailType" minOccurs="0"/>
			<xs:element name="language" type="iso:LanguageType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SolicitorType">
		<xs:complexContent>
			<xs:extension base="tns:RequesterType">
				<xs:sequence>
					<xs:element name="type" type="tns:DomainDescriptiveCodeType" minOccurs="0"/>
					<xs:element name="qualification" type="tns:DomainDescriptiveCodeType" minOccurs="0"/>
					<xs:element name="represented" type="xs:boolean" minOccurs="0"/>
					<xs:element name="others" type="xs:boolean" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EstablishmentType">
		<xs:sequence>
			<xs:element name="dgo3UniqueIdentifier" type="xs:string" minOccurs="0"/>
			<xs:element name="privateNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="enterpriseNumber" type="entnum:CbeEntityNumberType"/>
			<xs:element name="denomination" type="xs:string" minOccurs="0"/>
			<xs:element name="coordonneeLambertX" type="xs:int" minOccurs="0"/>
			<xs:element name="coordonneeLambertY" type="xs:int" minOccurs="0"/>
			<xs:element name="address" type="addr:BasicAddressType" maxOccurs="unbounded"/>
			<xs:element name="contactDenomination" type="xs:string" minOccurs="0"/>
			<xs:element name="phoneNumber" type="cont:PhoneNumberType" minOccurs="0"/>
			<xs:element name="faxNumber" type="cont:PhoneNumberType" minOccurs="0"/>
			<xs:element name="email" type="cont:EmailType" minOccurs="0"/>
			<xs:element name="classification" type="tns:DomainDescriptiveCodeType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="establishmentSummaryType">
		<xs:sequence>
			<xs:element name="dgo3UniqueIdentifier" type="xs:string" minOccurs="0"/>
			<xs:element name="privateNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="enterpriseNumber" type="entnum:CbeEntityNumberType"/>
			<xs:element name="denomination" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="municipalitySpecificationType">
		<xs:sequence>
			<xs:element name="depositMunicipality" type="addr:SimpleMunicipalityDeclarationType"/>
			<xs:element name="depositDate" type="xs:date" minOccurs="0"/>
			<xs:element name="municipalityReference" type="xs:string" minOccurs="0"/>
			<xs:element name="municipalityAgent" type="xs:string" minOccurs="0"/>
			<xs:element name="dgo3ShippingDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dgo3SpecificationType">
		<xs:sequence>
			<xs:element name="instance" type="org:OrganisationType" minOccurs="0"/>
			<xs:element name="official" type="tns:officerType" minOccurs="0"/>
			<xs:element name="administrativeContact" type="tns:officerType" minOccurs="0"/>
			<xs:element name="technicalContact" type="tns:officerType" minOccurs="0"/>
			<xs:element name="reference" type="xs:string" minOccurs="0"/>
			<xs:element name="object" type="xs:string" minOccurs="0"/>
			<xs:element name="receiptDate" type="xs:dateTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="officerType">
		<xs:sequence>
			<xs:element name="firstName" type="xs:string" minOccurs="0"/>
			<xs:element name="lastName" type="xs:string" minOccurs="0"/>
			<xs:element name="email" type="cont:EmailType" minOccurs="0"/>
			<xs:element name="instance" type="org:OrganisationType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dgo4SpecificationType">
		<xs:sequence>
			<xs:element name="instance" type="org:OrganisationType" minOccurs="0"/>
			<xs:element name="official" type="tns:officerType" minOccurs="0"/>
			<xs:element name="administrativeContact" type="tns:officerType" minOccurs="0"/>
			<xs:element name="technicalContact" type="tns:officerType" minOccurs="0"/>
			<xs:element name="reference" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SpecificationsType">
		<xs:sequence>
			<xs:element name="parcels" type="tns:parcelType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="buildings" type="tns:buildingType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="installations" type="tns:installationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="substanceDeposits" type="tns:substanceDepositType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="wasteDeposits" type="tns:wasteDepositType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="waterDischarges" type="tns:waterDischargeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="dumpings" type="tns:dumpingType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="atmosphericRejections" type="tns:atmosphericRejectionType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="rubrics" type="rub:RubricType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="rankings" type="tns:rankingType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="mapSpecification" type="tns:MapSpecificationType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="parcelType">
		<xs:complexContent>
			<xs:extension base="tns:abstractSpecificationType">
				<xs:sequence>
					<xs:element name="municipality" type="cod:CodeType" minOccurs="0"/>
					<xs:element name="division" type="xs:string" minOccurs="0"/>
					<xs:element name="codeDivision" type="xs:string" minOccurs="0"/>
					<xs:element name="section" type="xs:string" minOccurs="0"/>
					<xs:element name="radical" type="xs:string" minOccurs="0"/>
					<xs:element name="bisTer" type="xs:string" minOccurs="0"/>
					<xs:element name="exponent" type="xs:string" minOccurs="0"/>
					<xs:element name="power" type="xs:string" minOccurs="0"/>
					<xs:element name="part" type="xs:boolean" minOccurs="0"/>
					<xs:element name="droitReel" type="xs:boolean" minOccurs="0"/>
					<xs:element name="capakey" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="abstractSpecificationType" abstract="true">
		<xs:sequence>
			<xs:element name="autorityStatus" type="tns:DomainDescriptiveCodeType" minOccurs="0"/>
			<xs:element name="currentStatus" type="tns:DomainDescriptiveCodeType" minOccurs="0"/>
			<xs:element name="formStatus" type="tns:DomainDescriptiveCodeType" minOccurs="0"/>
			<xs:element name="identifier" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="buildingType">
		<xs:complexContent>
			<xs:extension base="tns:abstractSpecificationType">
				<xs:sequence>
					<xs:element name="parcelIdentifier" type="xs:string" minOccurs="0"/>
					<xs:element name="naming" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="installationType">
		<xs:complexContent>
			<xs:extension base="tns:abstractSpecificationType">
				<xs:sequence>
					<xs:choice>
						<xs:annotation>
							<xs:documentation>Choix entre un bâtiment ou une parcelle.</xs:documentation>
						</xs:annotation>
						<xs:element name="buildingIdentifier" type="xs:string" minOccurs="0"/>
						<xs:element name="parcelIdentifier" type="xs:string" minOccurs="0"/>
					</xs:choice>
					<xs:element name="naming" type="xs:string" minOccurs="0"/>
					<xs:element name="nominalCapacity" type="xs:decimal" minOccurs="0"/>
					<xs:element name="nominalUnity" type="tns:DomainDescriptiveCodeType" minOccurs="0"/>
					<xs:element name="requestedCapacity" type="xs:decimal" minOccurs="0"/>
					<xs:element name="requestedUnity" type="tns:DomainDescriptiveCodeType" minOccurs="0"/>
					<xs:element name="producedEnergy" type="tns:DomainDescriptiveCodeType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="specifyProducedEnergy" type="xs:string" minOccurs="0"/>
					<xs:element name="usedEnergy" type="tns:DomainDescriptiveCodeType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="specifyUsedEnergy" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="substanceDepositType">
		<xs:complexContent>
			<xs:extension base="tns:abstractSpecificationType">
				<xs:sequence>
					<xs:choice>
						<xs:annotation>
							<xs:documentation>Choix entre un bâtiment ou une parcelle.</xs:documentation>
						</xs:annotation>
						<xs:element name="buildingIdentifier" type="xs:string" minOccurs="0"/>
						<xs:element name="parcelIdentifier" type="xs:string" minOccurs="0"/>
					</xs:choice>
					<xs:element name="naming" type="xs:string" minOccurs="0"/>
					<xs:element name="maxQuantity" type="xs:decimal" minOccurs="0"/>
					<xs:element name="unity" type="tns:DomainDescriptiveCodeType" minOccurs="0"/>
					<xs:element name="rotationFrequency" type="xs:decimal" minOccurs="0"/>
					<xs:element name="rotationFrequencyUnity" type="tns:DomainDescriptiveCodeType" minOccurs="0"/>
					<xs:element name="dangerous" type="xs:boolean" minOccurs="0"/>
					<xs:element name="casNumber" type="xs:string" minOccurs="0"/>
					<xs:element name="storage" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="wasteDepositType">
		<xs:complexContent>
			<xs:extension base="tns:abstractSpecificationType">
				<xs:sequence>
					<xs:choice>
						<xs:annotation>
							<xs:documentation>Choix entre un bâtiment ou une parcelle.</xs:documentation>
						</xs:annotation>
						<xs:element name="buildingIdentifier" type="xs:string" minOccurs="0"/>
						<xs:element name="parcelIdentifier" type="xs:string" minOccurs="0"/>
					</xs:choice>
					<xs:element name="naming" type="xs:string" minOccurs="0"/>
					<xs:element name="maxQuantity" type="xs:decimal" minOccurs="0"/>
					<xs:element name="unityQuantity" type="tns:DomainDescriptiveCodeType" minOccurs="0"/>
					<xs:element name="annualFlow" type="xs:decimal" minOccurs="0"/>
					<xs:element name="unityAnnualFlow" type="tns:DomainDescriptiveCodeType" minOccurs="0"/>
					<xs:element name="storage" type="xs:string" minOccurs="0"/>
					<xs:element name="physicalState" type="tns:DomainDescriptiveCodeType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="waterDischargeType">
		<xs:complexContent>
			<xs:extension base="tns:abstractSpecificationType">
				<xs:sequence>
					<xs:element name="destination" type="tns:DomainDescriptiveCodeType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="dumpingType">
		<xs:complexContent>
			<xs:extension base="tns:abstractSpecificationType">
				<xs:sequence>
					<xs:element name="waterDischargeIdentifier" type="xs:string" minOccurs="0"/>
					<xs:element name="originIdentifier" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifiant de l'Origine du déversement d'eau : bâtiment, installation, dépôt déchet, ou dépôt de substance.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:choice>
						<xs:annotation>
							<xs:documentation>Choix entre un bâtiment, un dépôt déchet, une décharge d'eau, une installation ou un dépôt de substance.</xs:documentation>
						</xs:annotation>
						<xs:element name="buildingIdentifier" type="xs:string" minOccurs="0"/>
						<xs:element name="installationIdentifier" type="xs:string" minOccurs="0"/>
						<xs:element name="substanceDepositIdentifier" type="xs:string" minOccurs="0"/>
						<xs:element name="wasteDepositIdentifier" type="xs:string" minOccurs="0"/>
					</xs:choice>
					<xs:element name="surveillanceSystem" type="xs:string" minOccurs="0"/>
					<xs:element name="analisisResult" type="xs:string" minOccurs="0"/>
					<xs:element name="dailyFlow" type="xs:decimal" minOccurs="0"/>
					<xs:element name="hourlyFlow" type="xs:decimal" minOccurs="0"/>
					<xs:element name="collectedArea" type="xs:decimal" minOccurs="0"/>
					<xs:element name="waterType" type="tns:DomainDescriptiveCodeType" minOccurs="0"/>
					<xs:element name="precision" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="atmosphericRejectionType">
		<xs:complexContent>
			<xs:extension base="tns:abstractSpecificationType">
				<xs:sequence>
					<xs:choice>
						<xs:annotation>
							<xs:documentation>Choix entre un dépôt déchet, une installation ou un dépôt de substance.</xs:documentation>
						</xs:annotation>
						<xs:element name="installationIdentifier" type="xs:string" minOccurs="0"/>
						<xs:element name="substanceDepositIdentifier" type="xs:string" minOccurs="0"/>
						<xs:element name="wasteDepositIdentifier" type="xs:string" minOccurs="0"/>
					</xs:choice>
					<xs:element name="outletHeight" type="xs:decimal" minOccurs="0"/>
					<xs:element name="effluentNature" type="xs:string" minOccurs="0"/>
					<xs:element name="analisisResult" type="tns:DomainDescriptiveCodeType" minOccurs="0"/>
					<xs:element name="technicalDocumentation" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--    <xs:complexType name="rubricType">-->
	<!--        <xs:sequence>-->
	<!--            <xs:element name="identifier" type="xs:long" minOccurs="0"/>-->
	<!--            <xs:element name="category" type="tns:DomainDescriptiveCodeType" minOccurs="0"/>-->
	<!--            <xs:element name="code" type="xs:string" minOccurs="0"/>-->
	<!--            <xs:element name="labelFr" type="xs:string" minOccurs="0"/>-->
	<!--            <xs:element name="labelDe" type="xs:string" minOccurs="0"/>-->
	<!--            <xs:element name="classification" type="tns:DomainDescriptiveCodeType" minOccurs="0"/>-->
	<!--        </xs:sequence>-->
	<!--    </xs:complexType>-->
	<xs:complexType name="rankingType">
		<xs:sequence>
			<xs:element name="code" type="xs:string" minOccurs="0"/>
			<xs:element name="type" type="tns:DomainDescriptiveCodeType" minOccurs="0"/>
			<xs:element name="labelFr" type="xs:string" minOccurs="0"/>
			<xs:element name="labelDe" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="documentType">
		<xs:sequence>
			<xs:element name="filename" type="xs:string" minOccurs="0"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="type" type="cod:DescriptiveCodeType" minOccurs="0"/>
			<xs:element name="confidentiality" type="tns:DomainDescriptiveCodeType" minOccurs="0"/>
			<xs:element name="language" type="cod:CodeType" minOccurs="0"/>
			<xs:element name="uuid" type="xs:string" minOccurs="0"/>
			<xs:element name="fileSize" type="xs:long" minOccurs="0"/>
			<xs:element name="mimeType" type="xs:string" minOccurs="0"/>
			<xs:element name="principal" type="xs:boolean"/>
			<xs:element name="contentStorage">
				<xs:simpleType>
					<xs:annotation>
						<xs:documentation>Application hébergeant le contenu du document. Il faut utiliser le service spécifique getDocument en fonction de la valeur NEP (UserDossier.getDocument) ou TWICE (environmentalLicence.getDocument) sur base de l'ID</xs:documentation>
					</xs:annotation>
					<xs:restriction base="xs:string">
						<xs:enumeration value="NEP"/>
						<xs:enumeration value="TWICE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
