soap/xsd/SOA/data/business/environmentalLicence/environmentalLicence_v2.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--edited with XMLSpy v2017 sp2 (x64) (http://www.altova.com) by AL1219 (Service Public de Wallonie)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:approv="http://soa.spw.wallonie.be/data/entity/licence/licence/v1" xmlns:tic="http://soa.spw.wallonie.be/data/common/ticket/v1" xmlns:cod="http://soa.spw.wallonie.be/data/common/code/v1" xmlns:cont="http://soa.spw.wallonie.be/data/common/contact/v1" xmlns:date="http://soa.spw.wallonie.be/data/common/date/v1" xmlns:addr="http://soa.spw.wallonie.be/data/entity/address/address/v2" xmlns:entnum="http://soa.spw.wallonie.be/data/entity/enterprise/number/v2" xmlns:pernum="http://soa.spw.wallonie.be/data/entity/person/number/v2" xmlns:org="http://soa.spw.wallonie.be/data/entity/spw/organisation/v1" xmlns:iso="http://soa.spw.wallonie.be/data/common/isocodes/v1" xmlns:tns="http://soa.spw.wallonie.be/data/business/environmentalLicence/v2"  targetNamespace="http://soa.spw.wallonie.be/data/business/environmentalLicence/v2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.00">
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/date/v1" schemaLocation="../../common/date_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/code/v1" schemaLocation="../../common/code_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/ticket/v1" schemaLocation="../../common/ticket_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/licence/licence/v1" schemaLocation="../../entity/licence/licence_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/enterprise/number/v2" schemaLocation="../../entity/enterprise/enterpriseNumber_v2.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/person/number/v2" schemaLocation="../../entity/person/personNumber_v2.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/address/address/v2" schemaLocation="../../entity/address/address_v2.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/spw/organisation/v1" schemaLocation="../../entity/spw/organisation_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/contact/v1" schemaLocation="../../common/contact_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/isocodes/v1" schemaLocation="../../common/isocodes_v1.xsd"/>
	<xs:simpleType name="base64Binary20Mo">
		<xs:restriction base="xs:base64Binary">
			<xs:maxLength value="20971520"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="GetEnvironmentalLicenceRequestType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>
                    Référence unique et la langue d'un dossier
                    Le résultat de la recherche sera toujours le dossier de référence de l'établissement concerné par le dossier.
                </xs:documentation>
			</xs:annotation>
			<xs:element name="licenceNumber" type="xs:string"/>
			<xs:element name="language" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetDefaultEnvironmentalLicenceRequestType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>
                    Numéro privé d'un établissement et langue d'un dossier
                    Le résultat de la recherche sera toujours le dossier de référence de l'établissement concerné par le dossier.
                </xs:documentation>
			</xs:annotation>
			<xs:element name="establishmentPrivateNumber" type="xs:string"/>
			<xs:element name="language" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetDefaultEnvironmentalLicenceByIdDGO3RequestType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>
                    Identifiant unique DGO3 de l'établissement.
                    Le résultat de la recherche sera le dossier de référence de l'établissement concerné.
                </xs:documentation>
			</xs:annotation>
			<xs:element name="establishmentDgo3UniqueIdentifier" type="xs:string"/>
			<xs:element name="language" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchEnvironmentalLicenceByIdDGO3RequestType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>Critère de recherche permettant de trouver un ou plusieurs permis d'environnement</xs:documentation>
			</xs:annotation>
			<xs:element name="establishmentDgo3UniqueIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchEnvironmentalLicenceRequestType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>Critère de recherche permettant de trouver un ou plusieurs permis d'environnement</xs:documentation>
			</xs:annotation>
			<xs:element name="establishmentPrivateNumber" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PublishEnvironmentalLicenceRequestType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>Le dossier a créer</xs:documentation>
			</xs:annotation>
			<xs:element name="environmentalLicence" type="tns:EnvironmentalLicenceType">
				<xs:annotation>
					<xs:documentation>Les informations générales du dossier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="environmentalSpecification" type="tns:EnvironmentalSpecificationType">
				<xs:annotation>
					<xs:documentation>Les caractéristiques du dossier</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetEstablishmentCaracteristicsRequestType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>Numéro d'un dossier. Le résultat de la recherche sera l'établissement concerné par le dossier.</xs:documentation>
			</xs:annotation>
			<xs:element name="licenceNumber" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetLegalTextRequestType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>Critère de recherche permettant de trouver un ou plusieurs textes légaux</xs:documentation>
			</xs:annotation>
			<xs:element name="type" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type des textes légaux à rechercher</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="startDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date de début des textes légaux à rechercher</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date de fin des textes légaux à rechercher</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetDocumentRequestType">
		<xs:sequence>
			<xs:element name="documentId" type="xs:string">
				<xs:annotation>
					<xs:documentation>Le uuid d'un document dans Twice</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchEstablishmentRequestType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>Critère de recherche permettant de trouver un ou plusieurs établissements</xs:documentation>
			</xs:annotation>
			<xs:element name="denomination" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nom usuel de l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dgo3UniqueIdentifier" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifiant DGO3 de l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="enterpriseNumber" type="entnum:CbeEntityNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numéro BCE de l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="privateNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numéro privé de l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="address" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Rue et/ou numéro de l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="postCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code postal de l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contactDenomination" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nom d'un exploitant avec ou sans BCE liée l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ranking" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code d'un classement lié à l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rubric" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code d'une rubrique liée à l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mainActivity" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code de l'acitivité principale de l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="iedActivity" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code de l'activité IED de l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetLegalTextType">
		<xs:sequence>
			<xs:element name="legaltexts" type="tns:legalTextType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Textes légaux correspondant aux critères de recherche.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetRankingsType">
		<xs:sequence>
			<xs:element name="ranking" type="tns:rankingType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
                        Classements correspondant aux critères de recherche.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetDocumentType">
		<xs:sequence>
			<xs:element name="documentData" type="tns:documentDataType"/>
			<xs:element name="content" type="tns:documentContentType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EnvironmentalLicenceType">
		<xs:complexContent>
			<xs:extension base="approv:licenceType">
				<xs:sequence>
					<xs:element name="administrativeProcess" type="tns:AdministrativeProcessType">
						<xs:annotation>
							<xs:documentation>Procédure administrative - Caractéristiques spécifiques aux permis d'environnement</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="electronicForm" type="tns:ElectronicFormType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Formulaire (Dossier) électronique - Caractéristiques spécifiques au formulaire électronique correspondant au permis d'environnement</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="establishments" type="tns:EstablishmentType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Etablissement(s) lié(s) au dossier. Pour la majeure partie des types de dossier, un seul établissement est associé. Pour certains, par exemple les recours, plusieurs établlisements pourraient être concerné par la demande de permis</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="requesters" type="tns:RequesterType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Demandeurs (Exploitants)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="solicitors" type="tns:SolicitorType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Autres demandeurs (Solliciteur, Requérants, Preneur...)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="municipalitySpecification" type="tns:municipalitySpecificationType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Caractéristique liées à la commune de dépôt de la demande de permis</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dgo3Specification" type="tns:dgo3SpecificationType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Caractéristique liées à la DGO3</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dgo4Specification" type="tns:dgo4SpecificationType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Caractéristique liées à la DGO4</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="documents" type="tns:documentType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Documents de la demande</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="environmentalSpecification" type="tns:EnvironmentalSpecificationType">
						<xs:annotation>
							<xs:documentation>Caractéristiques environnementales du dossier (Parcelles, batiments, ...)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EnvironmentalLicenceSummaryType">
		<xs:complexContent>
			<xs:extension base="approv:licenceType">
				<xs:sequence>
					<xs:element name="establishments" type="tns:establishmentSummaryType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Etablissement(s) lié(s) au dossier. Pour la majeure partie des types de dossier, un seul établissement est associé. Pour certains, par exemple les recours, plusieurs établlisements pourraient être concerné par la demande de permis</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="caseType" type="cod:CodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Type du dossier (PE/PU, Recours, ...)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="establishmentCaracteristics">
		<xs:sequence>
			<xs:element name="establishments" type="tns:EstablishmentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Informations générales de l'établissement
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="environmentalSpecification" type="tns:EnvironmentalSpecificationType">
				<xs:annotation>
					<xs:documentation>Caractéristiques environnementales de l'établissement (Parcelles, batiments, ...)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EnvironmentalSpecificationType">
		<xs:sequence>
			<xs:element name="specifications" type="tns:SpecificationsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractéristiques (Parcelles, batiments, ...)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DomainDescriptiveCodeType">
		<xs:complexContent>
			<xs:extension base="cod:DescriptiveCodeType">
				<xs:sequence>
					<xs:element name="domain" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MapSpecificationType">
		<xs:sequence>
			<xs:element name="mapStatus" type="tns:DomainDescriptiveCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Statut carto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="area" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Emprise du permis au format JSON</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdministrativeProcessType">
		<xs:sequence>
			<xs:element name="previousLicenceNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numéro du permis précédent</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="caseType" type="cod:CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type du dossier (PE/PU, Recours, ...)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="tns:DomainDescriptiveCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type de formulaire (NEP) (Eléctronique ou Papier)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="competentAutority" type="tns:DomainDescriptiveCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Autorité compétente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="classification" type="tns:DomainDescriptiveCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Classe (Classe 1, 2 ou 3)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="roadModification" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractéristiques influençant la procédure : Modification de la voirie
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eie" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractéristiques influençant la procédure : EIE ?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="seveso" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractéristiques influençant la procédure : Seveso ?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sanitation" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractéristiques influençant la procédure : Assainissement ?
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="trial" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractéristiques influençant la procédure : Essai ?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mobile" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractéristiques influençant la procédure : Mobile ?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="temporary" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractéristiques influençant la procédure : Temporaire ?
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="inSeveralMunicipalities" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractéristiques influençant la procédure : Sur plusieurs communes ?
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="codt" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractéristiques influençant la procédure : CODT ?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="groundDecree" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractéristiques influençant la procédure : Décret sol ?
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="igd" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractéristiques influençant la procédure : IGD (carrière) ?
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="municipalityIsOwner" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caractéristiques influençant la procédure : La commune est l'exploitant ?
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="licenceDuration" type="tns:DomainDescriptiveCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Durée demandée du permis</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endLicenceDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date de fin du permis</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="desiredDurationDays" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Durée souhaitée en jours</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="desiredDurationMonths" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Durée souhaitée en mois</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="desiredDurationYears" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Durée souhaitée en années</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="decisionDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date de la décision du permis</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="administrativeStatus" type="tns:DomainDescriptiveCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>La décision du permis</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EstablishmentType">
		<xs:sequence>
			<xs:element name="dgo3UniqueIdentifier" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifiant unique de la DPA</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="privateNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numéro privé de l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="enterpriseNumber" type="entnum:CbeEntityNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numéro BCE de l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="denomination" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Dénomination de l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="coordonneeLambertX" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Abscisse des coordonnées Lambert de l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="coordonneeLambertY" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ordonnée des coordonnées Lambert de l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="address" type="tns:addressType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Adresse de l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contactDenomination" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nom du responsable de l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="phoneNumber" type="cont:PhoneNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numéro de téléphone du responsable de l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="faxNumber" type="cont:PhoneNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numéro du fax du responsable de l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="email" type="cont:EmailType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Adresse e-mail du responsable de l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="classification" type="tns:DomainDescriptiveCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Classification de l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="establishmentManagement" type="org:OrganisationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Direction SPW de l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mainActivity" type="tns:DomainDescriptiveCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Activité principale de l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="activity" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Activité de l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="iedActivity" type="tns:rankingType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Activité IED de l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ElectronicFormType">
		<xs:sequence>
			<xs:element name="number" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Référence au formulaire (NEP) - Backward compatible ID in format 1XXXXXX-XXXXXX
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="id" type="tic:UUIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifiant du dossier NEP</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="procedureRef" type="xs:string">
				<xs:annotation>
					<xs:documentation>Identifiant de la formalité. Correspond au « NodeId » dans Nostra
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="procedureName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Nom de la formalité dans la langue de l’usager au moment de la création du dossier.
                        Permet de déterminer le type de dossier TWICE à créer lors du "publish"
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="citizenReference" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Référence (texte libre) donnée par l’usager lors de la création du dossier.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eSpaceId" type="xs:string">
				<xs:annotation>
					<xs:documentation>Identifiant de l’espace du dossier.
                        Ex. : 601760614665412481ab2a4d6706aed0
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ownerProfileId" type="xs:string">
				<xs:annotation>
					<xs:documentation>Identifiant du profil propriétaire du dossier.
                        Ex. : a329d5c57ffe78cde531439fb2c907a982eb0190
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="language" type="iso:LanguageType">
				<xs:annotation>
					<xs:documentation>Langue utilisée par le demandeur à la création du dossier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="formId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifiant du formulaire principal du dossier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="formName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nom du formulaire principal du dossier</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequesterType">
		<xs:sequence>
			<xs:choice>
				<xs:sequence>
					<xs:element name="enterpriseNumber" type="entnum:CbeEntityNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Numéro BCE du demandeur/solliciteur (Personne avec BCE)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="enterpriseType" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Type du demandeur/solliciteur (Personne avec BCE)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="legalForm" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Forme juridique du demandeur/solliciteur (Personne avec BCE)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:sequence>
					<xs:element name="personNumber" type="pernum:PersonNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Numéro de registre national du demandeur/solliciteur (Personne sans BCE)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="title" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Titre du demandeur/solliciteur (Personne sans BCE)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lastname" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Nom du demandeur/solliciteur (Personne sans BCE)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="firstname" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Prénom du demandeur/solliciteur (Personne sans BCE)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:choice>
			<xs:element name="denomination" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Dénomination du demandeur/solliciteur</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mailingAddress" type="addr:BasicAddressType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Adresse du demandeur/solliciteur</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="phoneNumber" type="cont:PhoneNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numéro de téléphone du demandeur/solliciteur (ou du responsable pour les personnes avec BCE)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="faxNumber" type="cont:PhoneNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numéro de fax du demandeur/solliciteur (ou du responsable pour les personnes avec BCE)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="email" type="cont:EmailType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Adresse e-mail du demandeur/solliciteur (ou du responsable pour les personnes avec BCE)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="language" type="iso:LanguageType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Langue du demandeur/solliciteur</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SolicitorType">
		<xs:complexContent>
			<xs:extension base="tns:RequesterType">
				<xs:sequence>
					<xs:element name="type" type="tns:DomainDescriptiveCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Type du solliciteur</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="qualification" type="tns:DomainDescriptiveCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Qualification du solliciteur</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="represented" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Champ "Représenté par" du solliciteur</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="others" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Champ "Consorts" du solliciteur</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SearchEstablishmentType">
		<xs:sequence>
			<xs:element name="dgo3UniqueIdentifier" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifiant DGO3 unique de l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="enterpriseNumber" type="entnum:CbeEntityNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numéro BCE de l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="denomination" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Dénomination de l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="address" type="tns:addressType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Adresse de l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastLicenceDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date du dernier dossier de l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="establishmentSummaryType">
		<xs:sequence>
			<xs:element name="dgo3UniqueIdentifier" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifiant DGO3 de l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="privateNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numéro privé de l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="enterpriseNumber" type="entnum:CbeEntityNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numéro BCE de l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="denomination" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Dénomination de l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="municipalitySpecificationType">
		<xs:sequence>
			<xs:element name="depositMunicipality" type="addr:SimpleMunicipalityDeclarationType">
				<xs:annotation>
					<xs:documentation>Commune de dépôt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="depositDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date de réception de la commune</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="municipalityReference" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Référence dossier à la commune</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="municipalityAgent" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Intervenant de la commune</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dgo3ShippingDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date d'expédition au DPA</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dgo3SpecificationType">
		<xs:sequence>
			<xs:element name="instance" type="org:OrganisationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Direction de la DPA</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="official" type="tns:officerType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Fonctionnaire de la DPA</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="administrativeContact" type="tns:officerType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contact administratif de la DPA</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="technicalContact" type="tns:officerType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contact technique de la DPA</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reference" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numéro de dossier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="object" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Objet DPA du dossier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="receiptDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date de réception de la DPA</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dgo4SpecificationType">
		<xs:sequence>
			<xs:element name="instance" type="org:OrganisationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Direction de la DGO4</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="official" type="tns:officerType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Fonctionnaire de la DGO4</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="administrativeContact" type="tns:officerType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contact administratif de la DGO4</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="technicalContact" type="tns:officerType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contact technique de la DGO4</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reference" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Référence de la DGO4</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="officerType">
		<xs:sequence>
			<xs:element name="firstName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Prénom du contact</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nom du contact</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="email" type="cont:EmailType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Adresse e-mail du contact</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="instance" type="org:OrganisationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Instance du contact</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SpecificationsType">
		<xs:sequence>
			<xs:element name="parcels" type="tns:parcelType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Liste des parcelles du dossier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="buildings" type="tns:buildingType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Liste des bâtiments du dossier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="installations" type="tns:installationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Liste des installations du dossier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="substanceDeposits" type="tns:substanceDepositType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Liste des dépôts de substances du dossier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wasteDeposits" type="tns:wasteDepositType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Liste des dépôts de déchets du dossier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="waterDischarges" type="tns:waterDischargeType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Liste des décharges d'eau du dossier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dumpings" type="tns:dumpingType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Liste des déversements du dossier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="atmosphericRejections" type="tns:atmosphericRejectionType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Liste des rejets atmosphérique du dossier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rubrics" type="tns:RubricType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Liste des rubriques du dossier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rankings" type="tns:rankingType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Liste des classements du dossier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mapSpecification" type="tns:MapSpecificationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Données cartographique du dossier</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="abstractSpecificationType" abstract="true">
		<xs:sequence>
			<xs:element name="autorityStatus" type="tns:DomainDescriptiveCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Statut de la décision de la caractéristique</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="currentStatus" type="tns:DomainDescriptiveCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Statut en vigueur de la caractéristique</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="formStatus" type="tns:DomainDescriptiveCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Statut du formulaire de la caractéristique</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="identifier" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifiant de la caractéristique</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="parcelType">
		<xs:complexContent>
			<xs:extension base="tns:abstractSpecificationType">
				<xs:sequence>
					<xs:element name="municipality" type="cod:CodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Commune de la parcelle</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="division" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Division de la parcelle</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="codeDivision" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Code identifiant la division de la parcelle</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="section" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Section de la parcelle</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="radical" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Radical de la parcelle</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="bisTer" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Bis/Ter de la parcelle</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="exponent" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Exposant de la parcelle</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="power" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Puissance de la parcelle</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="part" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Indique si la parcelle est une partie</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="droitReel" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Indique si la parcelle possède un droit réel</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="capakey" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Capakey de la parcelle</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="buildingType">
		<xs:complexContent>
			<xs:extension base="tns:abstractSpecificationType">
				<xs:sequence>
					<xs:element name="parcelIdentifier" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifiant de la parcelle liée au bâtiment</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="naming" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Dénomination du bâtiment</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="installationType">
		<xs:complexContent>
			<xs:extension base="tns:abstractSpecificationType">
				<xs:sequence>
					<xs:choice>
						<xs:annotation>
							<xs:documentation>
                                Choix entre un bâtiment ou une parcelle.
                            </xs:documentation>
						</xs:annotation>
						<xs:element name="buildingIdentifier" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Identifiant du bâtiment lié à l'installation</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="parcelIdentifier" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Identifiant de la parcelle liée à l'installation</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:element name="naming" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Dénomination de l'installation</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="nominalCapacity" type="xs:decimal" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Capacité nominale de l'installation</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="nominalUnity" type="tns:DomainDescriptiveCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Unité nominale de l'installation</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="requestedCapacity" type="xs:decimal" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Capacité demandée de l'installation</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="requestedUnity" type="tns:DomainDescriptiveCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Unité demandée de l'installation</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="producedEnergy" type="tns:DomainDescriptiveCodeType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Energie produite par l'installation</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="specifyProducedEnergy" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Commentaire concernant l'énergie produite par l'installation</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="usedEnergy" type="tns:DomainDescriptiveCodeType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Energie utilisée par l'installation</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="specifyUsedEnergy" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Commentaire concernant l'énergie utilisée par l'installation</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="substanceDepositType">
		<xs:complexContent>
			<xs:extension base="tns:abstractSpecificationType">
				<xs:sequence>
					<xs:choice>
						<xs:annotation>
							<xs:documentation>
                                Choix entre un bâtiment ou une parcelle.
                            </xs:documentation>
						</xs:annotation>
						<xs:element name="buildingIdentifier" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Identifiant du bâtiment lié au dépôt de substance</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="parcelIdentifier" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Identifiant de la parcelle liée au dépôt de substance</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:element name="naming" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Dénomination du dépôt de substance</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="maxQuantity" type="xs:decimal" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Quantité maximale du dépôt de substance</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="unity" type="tns:DomainDescriptiveCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Unité du dépôt de substance</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="rotationFrequency" type="xs:decimal" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Fréquence de rotation du dépôt de substance</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="rotationFrequencyUnity" type="tns:DomainDescriptiveCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Unité de la fréquence de rotation du dépôt de substance</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dangerous" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Indique si les substances du dépôt sont dangereuses</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="casNumber" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Numéro CAS du dépôt de substance</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="storage" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Mode de stockage du dépôt de substance</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="wasteDepositType">
		<xs:complexContent>
			<xs:extension base="tns:abstractSpecificationType">
				<xs:sequence>
					<xs:choice>
						<xs:annotation>
							<xs:documentation>
                                Choix entre un bâtiment ou une parcelle.
                            </xs:documentation>
						</xs:annotation>
						<xs:element name="buildingIdentifier" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Identifiant du bâtiment lié au dépôt de déchets</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="parcelIdentifier" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Identifiant de la parcelle liée au dépôt de déchets</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:element name="naming" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Dénomination du dépôt de déchets</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="wasteType" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Code déchet du dépôt</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="maxQuantity" type="xs:decimal" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Quantité maximale du dépôt de déchets</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="unityQuantity" type="tns:DomainDescriptiveCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Unité de la quantité maximale du dépôt de déchets</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="annualFlow" type="xs:decimal" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Flux annuel du dépôt de déchets</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="unityAnnualFlow" type="tns:DomainDescriptiveCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Unité du flux annuel du dépôt de déchets</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="storage" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Mode de stockage du dépôt de déchets</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="physicalState" type="tns:DomainDescriptiveCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Etat physique du dépôt de déchets</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="waterDischargeType">
		<xs:complexContent>
			<xs:extension base="tns:abstractSpecificationType">
				<xs:sequence>
					<xs:element name="naming" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Dénomination du rejet d'eau</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="destination" type="tns:DomainDescriptiveCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Type de rejet d'eau</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="dumpingType">
		<xs:complexContent>
			<xs:extension base="tns:abstractSpecificationType">
				<xs:sequence>
					<xs:element name="waterDischargeIdentifier" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifiant du rejet d'eau lié au déversement d'eau</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="originIdentifier" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifiant de l'Origine du déversement d'eau : bâtiment, installation, dépôt déchet, ou dépôt de substance.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:choice>
						<xs:annotation>
							<xs:documentation>Choix entre un bâtiment, un dépôt déchet, une décharge d'eau, une installation ou un dépôt de substance.</xs:documentation>
						</xs:annotation>
						<xs:element name="buildingIdentifier" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Identifiant du bâtiment lié au déversement d'eau</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="installationIdentifier" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Identifiant de l'installation liée au déversement d'eau</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="substanceDepositIdentifier" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Identifiant du dépôt de substances lié au déversement d'eau</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="wasteDepositIdentifier" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Identifiant du dépôt de déchets lié au déversement d'eau</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:element name="naming" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Dénomination du déversement d'eau</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="surveillanceSystem" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Système de surveillance du déversement d'eau</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="analysisResult" type="tns:DomainDescriptiveCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Indique si le résultat du déversement d'eau a été analysé</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="analysisResultDetail" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Détail de l'analyse du résultat du déversement d'eau</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dailyFlow" type="xs:decimal" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Débit par jour du déversement d'eau</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="hourlyFlow" type="xs:decimal" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Débit par heure du déversement d'eau</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="collectedArea" type="xs:decimal" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Superficie collectée du déversement d'eau</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="waterType" type="tns:DomainDescriptiveCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Type d'eau du déversement d'eau</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="precision" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Précision des eaux agricoles du déversement d'eau</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="atmosphericRejectionType">
		<xs:complexContent>
			<xs:extension base="tns:abstractSpecificationType">
				<xs:sequence>
					<xs:element name="originIdentifier" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifiant de l'Origine du rejet atmosphérique : installation, dépôt déchet, ou dépôt de substance.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:choice>
						<xs:annotation>
							<xs:documentation>Choix entre un dépôt déchet, une installation ou un dépôt de substance.</xs:documentation>
						</xs:annotation>
						<xs:element name="installationIdentifier" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Identifiant de l'installation liée au rejet atmosphérique</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="substanceDepositIdentifier" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Identifiant du dépôt de substances lié au rejet atmosphérique</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="wasteDepositIdentifier" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Identifiant du dépôt de déchets lié au rejet atmosphérique</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:element name="naming" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Dénomination du rejet atmosphérique</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="outletHeight" type="xs:decimal" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Hauteur du débouché du rejet atmosphérique</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="effluentNature" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Nature des effluents du rejet atmosphérique</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="analysisResult" type="tns:DomainDescriptiveCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Résultat d'analyse des effluents du rejet atmosphérique</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="technicalDocumentation" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Documentation technique du rejet atmosphérique</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="rankingType">
		<xs:sequence>
			<xs:element name="code" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code du classement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="tns:DomainDescriptiveCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type du classement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="labelFr" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Libellé français du classement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="labelDe" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Libellé allemand du classement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rankingNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numéro du classement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="createAt" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date de création du classement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="updateAt" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date de mise à jour du classement</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="addressType">
		<xs:complexContent>
			<xs:extension base="addr:BasicAddressType">
				<xs:sequence>
					<xs:element name="locality" type="cod:DescriptiveCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Localité de l'adresse</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="legalTextType">
		<xs:sequence>
			<xs:element name="code" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code du texte légal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="tns:DomainDescriptiveCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type du texte légal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="validityPeriod" type="date:PeriodType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Période de validité du texte légal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="referenceTextFr" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Texte de référence français du texte légal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="referenceTextDe" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Texte de référence allemand du texte légal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="url" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Lien internet du texte légal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="order" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numéro d'ordre du texte légal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rubrics" type="tns:RubricType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Rubriques du texte légal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rankings" type="tns:rankingType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Classements du texte légal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="createAt" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date de création du texte légal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="updateAt" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date de dernière mise à jour du texte légal</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="documentDataType">
		<xs:sequence>
			<xs:element name="filename" type="xs:string">
				<xs:annotation>
					<xs:documentation>Nom du document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description du document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="cod:DescriptiveCodeType">
				<xs:annotation>
					<xs:documentation>Code identifiant le type du document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="language" type="cod:DescriptiveCodeType">
				<xs:annotation>
					<xs:documentation>Langue du document (Fr ou De)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="documentId" type="xs:string">
				<xs:annotation>
					<xs:documentation>Identifiant unique du document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fileSize" type="xs:long">
				<xs:annotation>
					<xs:documentation>Taille du document en Ko</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mimeType" type="xs:string">
				<xs:annotation>
					<xs:documentation>Format du document sous le format "MimeType"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="confidentiality" type="tns:DomainDescriptiveCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code/domaine identifiant la confidentialité du document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="principal" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indique si le document est le principal de la notification</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="documentContentType">
		<xs:sequence>
			<xs:element name="documentContent" type="tns:base64Binary20Mo">
				<xs:annotation>
					<xs:documentation>Le contenu du document</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="blockType">
		<xs:sequence>
			<xs:element name="code" type="xs:string"/>
			<xs:element name="label" type="xs:string"/>
			<xs:element name="paragraphSC" type="xs:string" minOccurs="0"/>
			<xs:element name="order" type="xs:long" minOccurs="0"/>
			<xs:element name="characteristics" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="specialConditionType">
		<xs:sequence>
			<xs:element name="blockCode" type="xs:string"/>
			<xs:element name="code" type="xs:string"/>
			<xs:element name="labelFr" type="xs:string" minOccurs="0"/>
			<xs:element name="labelDe" type="xs:string" minOccurs="0"/>
			<xs:element name="textFr" type="xs:string" minOccurs="0"/>
			<xs:element name="textDe" type="xs:string" minOccurs="0"/>
			<xs:element name="order" type="xs:long" minOccurs="0"/>
			<xs:element name="rubClValTxt" type="xs:string" minOccurs="0"/>
			<xs:element name="adapted" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="timeLimitType">
		<xs:sequence>
			<xs:element name="timeLimitCode" type="xs:string"/>
			<xs:element name="timeLimit" type="xs:long" minOccurs="0"/>
			<xs:element name="startDate" type="xs:date"/>
			<xs:element name="dueDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="suspentionPeriodType">
		<xs:sequence>
			<xs:element name="startDate" type="xs:date"/>
			<xs:element name="endDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="domainType">
		<xs:sequence>
			<xs:element name="code" type="xs:string">
				<xs:annotation>
					<xs:documentation>Code du domaine de la liste de valeurs</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="label" type="xs:string">
				<xs:annotation>
					<xs:documentation>Libellé du domaine de la liste de valeurs</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="values" type="tns:domainValuesType">
				<xs:annotation>
					<xs:documentation>Liste de valeurs</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="domainValuesType">
		<xs:sequence>
			<xs:element name="value" type="tns:valueType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="valueType">
		<xs:sequence>
			<xs:element name="code" type="xs:string">
				<xs:annotation>
					<xs:documentation>Code de la valeur</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="label" type="xs:string">
				<xs:annotation>
					<xs:documentation>Libellé de la valeur</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="order" type="xs:long">
				<xs:annotation>
					<xs:documentation>Numéro d'ordre de la valeur</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="status">
				<xs:annotation>
					<xs:documentation>Statut de la valeur</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ACTIVE"/>
						<xs:enumeration value="INACTIVE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="documentType">
		<xs:sequence>
			<xs:element name="filename" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nom du document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description du document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="cod:DescriptiveCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type du document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="confidentiality" type="tns:DomainDescriptiveCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Confidentialité du document (public/privé)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="language" type="cod:CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Langue du document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="uuid" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifiant au format UUID du document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fileSize" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Taille du document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mimeType" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Mimetype du document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="principal" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Document principal d'une notification</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contentStorage">
				<xs:simpleType>
					<xs:annotation>
						<xs:documentation>
                            Application hébergeant le contenu du document. Il faut utiliser le service
                            spécifique getDocument en fonction de la valeur NEP (UserDossier.getDocument) ou TWICE
                            (environmentalLicence.getDocument) sur base de l'ID
                        </xs:documentation>
					</xs:annotation>
					<xs:restriction base="xs:string">
						<xs:enumeration value="NEP"/>
						<xs:enumeration value="TWICE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- Rubrique -->
	<xs:complexType name="RubricType">
		<xs:sequence>
			<xs:element name="identifier" type="xs:long">
				<xs:annotation>
					<xs:documentation>Identifiant unique de la rubrique</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="parentIdentifier" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifiant de la rubrique parente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="code" type="xs:string">
				<xs:annotation>
					<xs:documentation>Code "unique" de la rubrique</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="category" type="tns:DomainDescriptiveCodeType">
				<xs:annotation>
					<xs:documentation>Catégorie (ou niveau) de la rubrique</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="validityPeriod" type="date:PeriodType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Période de validité de la rubrique</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="label" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Le "libellé simplifié rubrique" (libellé non disponible pour les autres niveaux) est utilisé pour effectuer la recherche des rubriques.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="simpleLabel" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description simplifiée de la rubrique</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="completeLabel" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description complète de la rubrique (libellé non disponible pour les autres niveaux). Libellé complet de l'installation ou activité (rubrique)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="officialLabel" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Libellé officiel de l'installation ou activité</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="status" type="tns:DomainDescriptiveCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Statut en vigueur de la rubrique</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="classe" type="tns:DomainDescriptiveCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Classification de la rubrique</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="toSum" type="tns:DomainDescriptiveCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Champ "A sommer" de la rubrique</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="unity" type="tns:DomainDescriptiveCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unité de la rubrique</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="preRubric" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Pré rubrique</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="environmentalImpactStudy" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Une étude d'incidence sur l'environnement doit être fournie pour cette rubrique</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="groundDecree" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Impact sur le décret SOL</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lowThreshold" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Seuil bas</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lowThresholdOperator" type="tns:DomainDescriptiveCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Opérateur Seuil bas</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="highThreshold" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Seuil haut</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="highThresholdOperator" type="tns:DomainDescriptiveCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Opérateur Seuil haut</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fdhz" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Facteur de division si le projet est en zone habitat</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fdhzr" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Facteur de division si le projet est en zone habitat résidentiel</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fdzi" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Facteur de division si le projet est en zone industrielle</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="activityArea" type="tns:DomainDescriptiveCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Secteur d'activité</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mainActivity" type="tns:DomainDescriptiveCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Activité principale</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="activityType" type="tns:DomainDescriptiveCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type d'activité/installation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="object" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Objet de la rubrique</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="detail" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Détail</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ranking" type="tns:RubriqRankingType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Classements</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="annex" type="tns:DomainDescriptiveCodeType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Annexes</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="keyword" type="tns:KeywordType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Mot-clés</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="createAt" type="xs:date">
				<xs:annotation>
					<xs:documentation>Date de création de la rubrique</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="updateAt" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date de la dernière mise à jour de la rubrique</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RubriqRankingType">
		<xs:sequence>
			<xs:element name="ranking" type="tns:rankingType">
				<xs:annotation>
					<xs:documentation>Classement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="threshold" type="xs:double">
				<xs:annotation>
					<xs:documentation>Seuil</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="warning" type="xs:string">
				<xs:annotation>
					<xs:documentation>Avertissement</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KeywordType">
		<xs:sequence>
			<xs:element name="code" type="xs:string">
				<xs:annotation>
					<xs:documentation>Code unique du mot clé</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="label" type="xs:string">
				<xs:annotation>
					<xs:documentation>Libellé du mot clé</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="xs:string">
				<xs:annotation>
					<xs:documentation>Description du mot clé</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>