soap/xsd/SOA/data/business/cadaster/parcelState_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ps="http://soa.spw.wallonie.be/data/business/cadaster/parcelState/v1" xmlns:cod="http://soa.spw.wallonie.be/data/common/code/v5" xmlns:adr="http://soa.spw.wallonie.be/data/entity/address/address/v5" targetNamespace="http://soa.spw.wallonie.be/data/business/cadaster/parcelState/v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<!-- Import des fichiers correspondant aux namespaces déclarés -->
	<xsd:import namespace="http://soa.spw.wallonie.be/data/common/code/v5" schemaLocation="../../common/code_v5.xsd"/>
	<xsd:import namespace="http://soa.spw.wallonie.be/data/entity/address/address/v5" schemaLocation="../../entity/address/address_v5.xsd"/>
	<!-- ** ParcelStateType ** -->
	<xsd:complexType name="ParcelStateType">
		<xsd:sequence>
			<xsd:element name="amountElevator" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>the amount of elevators</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="descriptPrivate" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>description of the private part.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="35"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="descriptGeneral" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>description of the general part.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="bassin" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>description of the second nature bassin.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="beginVersion" type="xsd:dateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Validation date of the dossier (techincal timestamp)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="built" type="ps:BuiltType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="dhm" type="cod:DescriptiveCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The dhm codedescription.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="energyCertificate" type="cod:DescriptiveCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The energyCertificate codedescription.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nature" type="cod:DescriptiveCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>codedescription of the nature of the cadastral parcel</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="parcelCadStatus" type="cod:DescriptiveCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Status of the patrimonial parcel</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="util" type="cod:DescriptiveCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>description of the code util</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dateBegin" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Validitydate of the parcel</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dateBeginYear" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>year of the start date</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="dateEnd" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>end date</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dateEndYear" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>year of the end date</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="dateEpc" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>date when the EPC certificate was given.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="detail" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>detailcode of the patrimonial parcel in CADNET</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="endVersion" type="xsd:dateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>end version</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="energyHouse" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>amount of energy used in the house</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="threshold" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>taxable threshold for the mat/out</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="isolationHouse" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>isolation value of the house</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="settlingBasin" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>description of the second nature settling basin.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="maxThermCoef" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The maximal thermical conductivity of the building </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="matUtil" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>description of the second nature material and utilities</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="notBuilt" type="ps:NotBuiltType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="notTaxedMatUtil" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>not taxable mat/out</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="parcelIdentification" type="ps:ParcelIdentificationType"/>
			<xsd:element name="parcelInformation" type="ps:ParcelInformationType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="parcelWidthMain" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>width of the main building</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="parcelWidthStreet" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>width of the parcel at the street</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="passiveHouse" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>house with low energy usage</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rootput" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>description of the second nature rootput.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="sketch" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>number of the sketch at creation or mutation.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ParcelIdentificationType">
		<xsd:sequence>
			<xsd:element name="bisNumber" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>bisnumber</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="divCad" type="cod:DescriptiveCodeType">
				<xsd:annotation>
					<xsd:documentation>description the cadastral division</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="exponentLetter" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>exponentLetter</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="exponentNumber" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>exponentNumber</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="fractionDenominator" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Denominator for the common parts</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="partNumber">
				<xsd:annotation>
					<xsd:documentation>partNumber (P0000 -&gt; P9999)</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="5"/>
						<xsd:pattern value="(P[0-9][0-9][0-9][0-9])"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="primaryNumber">
				<xsd:annotation>
					<xsd:documentation>primaryNumber (groundNummer)</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="section">
				<xsd:annotation>
					<xsd:documentation>section</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="precad" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>precad</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
						<xsd:pattern value="([s,r,S,R])"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ParcelInformationType">
		<xsd:sequence>
			<xsd:element name="cadastralIncome" type="ps:CadastralIncomeType" minOccurs="0"/>
			<xsd:element name="nisCom" type="cod:DescriptiveCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The community codedescription.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="polWa" type="cod:DescriptiveCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>description the code in tag 'codePolWaId'</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="soilIndex" type="cod:DescriptiveCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>description the code in tag 'codeSoilIndex'</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="soilRent" type="cod:DescriptiveCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>description the code in tag 'soilRent'</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="cadastralIncomePerSurface" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Cadastral income per surface</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="surfaceVerif" type="cod:DescriptiveCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>description the code in tag 'surfaceVerif'</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="notAppl" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>share not marked</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="number" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>number</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="order" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>order of the parts according the income en reglements</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="surfaceNotTaxable" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Surface not taxable</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="surfaceTaxable" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Surface taxable</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="versionPurId" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>technical key for the pursituation in this version</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="19"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="xCoordinate" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>X coordinate</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="yCoordinate" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Y coordinate</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CadastralIncomeType">
		<xsd:sequence>
			<xsd:element name="cadastralIncome">
				<xsd:annotation>
					<xsd:documentation>cadastral income</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="decrete" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="cadastralIncomeDecrete" type="cod:DescriptiveCodeType">
							<xsd:annotation>
								<xsd:documentation>description for the cadastral income decrete</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="cadastralIncomeMotif" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>unknown, this field is not documented</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="charCadastralIncome" type="cod:DescriptiveCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>description of the charactercode of the cadastral income</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="motivNotif1" type="cod:DescriptiveCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>description of the motivNotif1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="motivNotif2" type="cod:DescriptiveCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>description of the motivNotif2</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="motivNotif3" type="cod:DescriptiveCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>description of the motivNotif3</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="numberCadastralIncome" type="cod:DescriptiveCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>description of the numberCadastralIncome</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dateEndExoneration" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>date for the end of the exoneration (vrijstelling)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dateDefinitiveIncome" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>dateDefinitiveIncome</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dateFirstUse" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>date first use</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dateNotification" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>date notification</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="notificationStatus" type="cod:DescriptiveCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>description of the notificationstatus</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NotBuiltType">
		<xsd:sequence>
			<xsd:element name="purNature" type="cod:DescriptiveCodeType">
				<xsd:annotation>
					<xsd:documentation>description the nature of the PUR</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="purType" type="cod:DescriptiveCodeType">
				<xsd:annotation>
					<xsd:documentation>description the type of the PUR</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mainCommon" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>unknown, this field is not documented</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="purCommon" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>unknown, this field is not documented</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="purIdf" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>unknown, this field is not documented</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="location" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Situation not built (toponiemen)</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BuiltType">
		<xsd:sequence>
			<xsd:element name="addressState" type="adr:AddressType" minOccurs="0"/>
			<xsd:element name="acteDescription" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of the building in the act. </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="basementNumber" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Total amount of basements</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="bathroomNumber" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Total amount of bathrooms</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="bedroomNumber" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Total amount of bedrooms</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="block" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>blocknumber</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="builtSurface" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Total built surface</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="centralHeating" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>central heating: yes / no</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="airco" type="cod:DescriptiveCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>description of the code airco</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="constructionIndication" type="cod:DescriptiveCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>description of the indication of the building</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="constructionQuality" type="cod:DescriptiveCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>description of the construction quality</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="constructionType" type="cod:DescriptiveCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>description of the construction type</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="constructionYear" type="cod:DescriptiveCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>description of the construction year</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="descriptionDescr" type="cod:DescriptiveCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>description of the private part(privatief deel)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="domotica" type="cod:DescriptiveCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>description of the domotica code</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="floorSituation" type="cod:DescriptiveCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>description of the floor situation</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pool" type="cod:DescriptiveCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>description of the pool</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="purNature" type="cod:DescriptiveCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>description of the nature of the pur</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="purType" type="cod:DescriptiveCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>description of the type of the pur</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="renovType" type="cod:DescriptiveCodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>description of the type of renovation</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="coveredParkingLotNumber" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>amount of covered parkinglots</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="crossDetail" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Building situated on multiple parcels</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="denom" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>unknown, this field is not documented</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="description" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>unknown, this field is not documented</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="detail" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>detailcode Cadnet</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="floor" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>floor</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="floorFrom" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>specifications of property in a building without a base act/deed </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="floorNumberAboveground" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>amount of floors above ground</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="floorNumberUndergrond" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>amount of floors underground</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="floorSurface" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>total amount of Surface of the floor</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="floorTo" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>specifications of property in a building without a base act/deed</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="garageNumber" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>amount of garages</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="garret" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>garret: yes / no (mansarde)(dakverdieping)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="liftNumber" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>total amount of lifts</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="housingUnitNumber" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>housing units</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="mainCommon" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>unknown, this field is not documented</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="otherNumber" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>unknown, this field is not documented</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="percentSurfaceHeated" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>percent of the heated surface</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="physModYear" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>the year of physical modification</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="placeNumber" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>total amount of places</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="purCommon" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>unknown, this field is not documented</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="purMain" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>part considered as main PUR</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="purNumber" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>unknown, this field is not documented</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="renovSurface" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>amount of renovated surface</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="renovYear" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>year of the renovation</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="solarPanel" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>description of the solar panels used.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="terraceNumber" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>number of terraces</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="text" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>free text</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="512"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="totalsurface" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>total surface</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="usedSurface" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>used surface</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="yearFrom" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>unknown, this field is not documented</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="yearTo" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>unknown, this field is not documented</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
