soap/xsd/SOA/data/entity/ariane/market_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mar="http://soa.spw.wallonie.be/data/entity/market/v1" xmlns:eve="http://soa.spw.wallonie.be/data/entity/event/v1" xmlns:pref="http://soa.spw.wallonie.be/data/entity/document/v1" xmlns:lot="http://soa.spw.wallonie.be/data/entity/lot/v1" xmlns:par="http://soa.spw.wallonie.be/data/entity/partner/v1" xmlns:cla="http://soa.spw.wallonie.be/data/entity/clause/v1" xmlns:ide="http://soa.spw.wallonie.be/services/identity/messages/v2" targetNamespace="http://soa.spw.wallonie.be/data/entity/market/v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/event/v1" schemaLocation="event_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/document/v1" schemaLocation="document_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/lot/v1" schemaLocation="lot_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/partner/v1" schemaLocation="partner_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/clause/v1" schemaLocation="clause_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/services/identity/messages/v2" schemaLocation="identity_v2.xsd"/>
	<xs:complexType name="MarketType">
		<xs:annotation>
			<xs:documentation>Structure générale d'un marché public.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="marketGeneralInformation" type="mar:MarketGeneralInformationType">
				<xs:annotation>
					<xs:documentation>Informations générales du marché du marché public</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="marketManagement" type="mar:MarketManagementType">
				<xs:annotation>
					<xs:documentation>Informations de gestion du marché public</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="marketCharacteristics" type="mar:MarketCharacteristicsType">
				<xs:annotation>
					<xs:documentation>Caractéristiques du marché public</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="marketOrganisation" type="mar:MarketOrganisationType">
				<xs:annotation>
					<xs:documentation>Informations de l'organisation gestionnaire du marché public</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="marketLots" type="lot:LotListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Lots du marché public</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="marketDocuments" type="pref:DocumentListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Documents liés au marché public</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="marketEvents" type="eve:EventsListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Evénements liés au marché public</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MarketGeneralInformationType">
		<xs:annotation>
			<xs:documentation>Informations générales du marché du marché public.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="marketId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>L'identifiant Ariane unique du marché, généré par Ariane</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="marketUrl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>L'url Ariane unique du marché</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="externalId">
				<xs:annotation>
					<xs:documentation>L'identifiant externe unique du marché, géré par l'application responsable du marché</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="externalUrl">
				<xs:annotation>
					<xs:documentation>L'url externe unique du marché</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="applicationCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>L'application responsable du marché (Domaine de la liste : APPLICATION)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
						<xs:pattern value="[A-Za-z0-9_]{1,50}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Intitulé du marché</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="xs:string">
				<xs:annotation>
					<xs:documentation>Description du marché</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="typeCode">
				<xs:annotation>
					<xs:documentation>Le type de marché (Domaine de la liste : TYPE_MARCHE)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
						<xs:pattern value="[A-Za-z0-9_]{1,50}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="statusCode">
				<xs:annotation>
					<xs:documentation>Le statut du marché (Domaine de la liste : STATUT_MARCHE)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
						<xs:pattern value="[A-Za-z0-9_]{1,50}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cpvCode">
				<xs:annotation>
					<xs:documentation>Le CPV du marché (Domaine de la liste : CPV)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
						<xs:pattern value="[A-Za-z0-9_]{1,50}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="procurementProcedureCode">
				<xs:annotation>
					<xs:documentation>La procédure de passation (Domaine de la liste : PROCEDURE_PASSATION)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
						<xs:pattern value="[A-Za-z0-9_]{1,50}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="advertisingRequired" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Publicité nécessaire</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="advertisingLevelCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Le niveau de publicité (Domaine de la liste : NIVEAU_PUBLICITE)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
						<xs:pattern value="[A-Za-z0-9_]{1,50}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="estimatedValue" type="xs:float" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Montant estimé</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="procedureAssumptionCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Hypothèse pour la procédure (Domaine de la liste : HYPOTHESE_PROCEDURE)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
						<xs:pattern value="[A-Za-z0-9_]{1,50}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MarketManagementType">
		<xs:annotation>
			<xs:documentation>Informations de gestion du marché public.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="duration" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Durée (nombre)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="durationUnitCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Durée (unité) (Domaine de la liste : UNITE_DELAIS)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
						<xs:pattern value="[A-Za-z0-9_]{1,50}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="durationFrom" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Durée (depuis date)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="durationTo" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Durée (jusqu'à date)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="durationDays" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Durée du marché en jours calendaires</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="socialService" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Service social</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="urgent" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Urgent</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="prioriInformationNotice" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Avis de pré-information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publicationDeadlineDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date de publication</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publicationDeadlineDays" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Délais de publication en jours calendaires</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tendersValidityPeriodDays" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Délais de validité des offres en jours calendaires</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tendersSubmissionDeadline" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date limite de rentrée des offres</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MarketCharacteristicsType">
		<xs:annotation>
			<xs:documentation>Caractéristiques du marché public.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="marketSubjectedToDmlm" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Marché soumis à DMLM</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="approvedDmlm" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>DMLM approuvée</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jointProcurement" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Marché conjoint</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="repeatingMarket" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Marché à répétition</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="renewableMarket" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Marché à reconduction</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="frameworkAgreement" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Accord-cadre</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="frameworkAgreementReference" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Référence de l'accord cadre</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="optionsMarket" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Marché à options</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="variantsMarket" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Marché à variantes</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="centralPurchasing" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Centrale d'achat</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="coFinancedMarket" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Marché cofinancé</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slicedMarket" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Marché à tranches</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reservedMarket" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Marché réservé</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="referenceCscType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type de CSC de référencee (Domaine de la liste : TYPE_CSC)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
						<xs:pattern value="[A-Za-z0-9_]{1,50}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="environmentalClauses" type="cla:ClausesListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Clauses environnementales</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="socialClauses" type="cla:ClausesListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Clauses sociales</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ethicClauses" type="cla:ClausesListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Clauses éthiques</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="innovationClauses" type="cla:ClausesListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Clauses d'innovation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="partners" type="par:PartnersListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Partenaire(s)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MarketOrganisationType">
		<xs:annotation>
			<xs:documentation>Informations de l'organisation gestionnaire du marché public.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="managementService" type="ide:OrganizationType">
				<xs:annotation>
					<xs:documentation>Service gestionnaire du marché</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contractingAuthority" type="ide:OrganizationType">
				<xs:annotation>
					<xs:documentation>Pouvoir adjudicateur</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="department" type="ide:OrganizationType">
				<xs:annotation>
					<xs:documentation>Département</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="direction" type="ide:OrganizationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Direction</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="districtCell" type="ide:OrganizationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>District / Cellule</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="generalManager" type="ide:IdentityType">
				<xs:annotation>
					<xs:documentation>Directeur général</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="generalInspector" type="ide:IdentityType">
				<xs:annotation>
					<xs:documentation>Inspecteur général</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="managers" type="ide:IdentityListType">
				<xs:annotation>
					<xs:documentation>Directeur(s)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MarketSearchType">
		<xs:annotation>
			<xs:documentation>Critères de recherche concernant les marchés.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="marketId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>L'identifiant Ariane unique du marché, généré par Ariane</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="externalId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>L'identifiant externe unique du marché, géré par l'application responsable du marché</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="applicationCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>L'application responsable du marché (Domaine de la liste : APPLICATION)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
						<xs:pattern value="[A-Za-z0-9_]{1,50}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="name" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Intitulé du marché</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description du marché</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="procurementProcedureCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>La procédure de passation (Domaine de la liste : PROCEDURE_PASSATION)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
						<xs:pattern value="[A-Za-z0-9_]{1,50}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="statusCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Le statut du marché (Domaine de la liste : STATUT_MARCHE)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
						<xs:pattern value="[A-Za-z0-9_]{1,50}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
