soap/xsd/SOA/data/entity/employerRegister/employerCategory_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- édité avec XMLSpy v2018 sp1 (x64) (http://www.altova.com) par - (Service Public de Wallonie) -->
<!-- edited with XMLSpy v2017 sp2 (x64) (http://www.altova.com) by Frédéric Boudin (Service Public de Wallonie) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:activity="http://soa.spw.wallonie.be/data/entity/enterprise/activity/v2" xmlns:cod="http://soa.spw.wallonie.be/data/common/code/v2" xmlns:ns1="http://soa.spw.wallonie.be/data/entity/employerRegister/employerCategory/v1" targetNamespace="http://soa.spw.wallonie.be/data/entity/employerRegister/employerCategory/v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.00">
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/enterprise/activity/v2" schemaLocation="../enterprise/activity_v2.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/code/v2" schemaLocation="../../common/code_v2.xsd"/>
	<!-- Nombre de catégories trouvées (max. 10) an 2-->
	<xs:complexType name="EmployerCategoryType">
		<xs:annotation>
			<xs:documentation>Catégorie employeur trouvée (conditionnel) (0..10) an2</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="employerCategoryCode" nillable="false">
				<xs:annotation>
					<xs:documentation>Catégorie d’employeur attribuée par l’ONSS(APL). Permet de distinguer les employeurs en fonction des obligations propres à l’activité exercée.
L’ONSSAPL respecte la classification des catégories économiques établie par l’ONSS.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
						<xs:pattern value="[a-zA-Z0-9]{3}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="activities" minOccurs="0">
				<xs:annotation>
					<xs:documentation>L'activité de la catégorie d'employeur sous forme de code NACE 2003 et 2008</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="activity" type="activity:ActivityType" maxOccurs="2"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="workingOfficeTownCode" nillable="false">
				<xs:annotation>
					<xs:documentation>Le code commune du siège d’exploitation (le siège principal).</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
						<xs:pattern value="[a-zA-Z0-9]{5}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="employmentLevel" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Niveau de l'emploi.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="employmentLevelCode" type="cod:DescriptiveCodeType" nillable="false">
							<xs:annotation>
								<xs:documentation>Ce code d’importance est établi sur la base de la déclaration du deuxième trimestre de l’année précédente :
1 : 0 - 4 travailleurs
2 : 5 - 9 travailleurs
3 : 10 - 19 travailleurs
4 : 20 - 49 travailleurs
5 : 50 - 99 travailleurs
6 : 100 - 199 travailleurs
7 : 200 - 499 travailleurs
8 : 500 - 999 travailleurs
9 : >= 1000 travailleurs</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="averageEmploymentLevelCode" type="cod:DescriptiveCodeType" nillable="true" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Code d’importance moyen :
1 : le nombre moyen de travailleurs salariés au cours de l’année écoulée est inférieur à 20
4 : le nombre moyen de travailleurs salariés au cours de l’année écoulée est supérieur ou égal à 20</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="regionalizationCode" type="cod:DescriptiveCodeType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Le code Régionalisation indique l’éventuelle présence de filiales :
' ' : n’existe pas au niveau régional
'1': existe au niveau régional
'2': existe au niveau régional (différentes régions linguistiques)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="linguisticDecreeCode" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Le code décret linguistique indique si les documents doivent être envoyés ou non dans les deux langues nationales (à la demande de l’employeur).	</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:pattern value="[a-zA-Z0-9]"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ffeCode" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code FFE (Fond de Fermeture des Entreprises): code indiquant si l'employeur doit cotiser au F.F.E. Le calcul de ce code est réalisé sur la situation de l'employeur l'année précédente et il est valable à partir du 2ème trimestre de l'année en cours.			Code - Ecran - Signification (Valable)			--------------------------------------
0      N       employeurs redevables mais dispensés	par l'ONSS, par exemple absence de siège d’exploitation en Belgique
1      L       employeurs redevables de la grande cotisation. Attribué aux employeurs qui occupaient 20 travailleurs ou plus au cours de l’année civile précédente. (Au 2009/4)
2      S       employeurs redevables de la petite cotisation. (Au 2009/4)
3      A       employeurs immatriculés durant l’année en cours, ils se trouvent dans leur première année civile d’activité. (Au 2007/4).
4      O       employeurs actifs dans une catégorie	exclue, l’employeur n’est pas redevable de cotisations FFE.
5      B       employeur redevable de la cotisation	non-commerciale. (De 2008/2).
6      C       employeur redevable de la cotisation	commerciale. (De 2010/1).
NULL   Blanc  concerne les employeurs retirés qui ne participent pas à la reprise.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:pattern value="[a-zA-Z0-9]"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="onlyApprenticeCode" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code Exclusivement apprentis:
1 : Exclusivement apprentis
blanc : Pas exclusivement apprentis</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:pattern value="[a-zA-Z0-9]"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="pensionSecondLevel" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Pensions du deuxième pilier</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="blueCollarCotisationCode" type="cod:DescriptiveCodeType" nillable="true" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Type de cotisation pour les ouvriers. Valeurs possibles :
0 = redevable de la cotisation (taux = 1,39%)
2 = redevable de la cotisation (taux = 0,03%)
8 = non redevable de la cotisation (taux = 0%)
9 = pas d’application</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="whiteCollarCotisationCode" type="cod:DescriptiveCodeType" nillable="true" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Types de cotisation pour les employés. Valeurs possibles :
0 = redevable de la cotisation (taux = 1,39%)
2 = redevable de la cotisation (taux = 0,03%)
8 = non redevable de la cotisation (taux = 0%)
9 = pas d’application

- Type 0 : plan de pension complémentaire au niveau du secteur. L’employeur est redevable du taux le plus haut (1,39% dont 0,03% en tant que cotisation de solidarité).
- Type 2 : employeur ayant un plan de pension complémentaire au niveau de l’entreprise au moment ou après l’instauration du système de pension complémentaire au niveau du secteur.
o L’employeur est redevable d’une cotisation de solidarité «opting out».
o Le taux de cette cotisation est de 0,03%.
- Type 8 : employeur ayant un plan de pension complémentaire au niveau de l’entreprise avant la conclusion d’un plan de pension au niveau sectoriel. L’employeur est non redevable.
o Le taux de la cotisation est de 0%.
- Type 9 : employeur non concerné par cette cotisation parce que soit :
o il est hors de la CP « 2e pilier »
o il s’agit d’employés (non concernés actuellement)</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="transfer" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="initialClass" nillable="true" minOccurs="0">
							<xs:annotation>
								<xs:documentation>La catégorie d’origine est l’indice initial s’il y eu un transfert d’indices au sein d’un même numéro d’immatriculation ONSS.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="3"/>
									<xs:pattern value="[a-zA-Z0-9]{3}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="finalClass" nillable="true" minOccurs="0">
							<xs:annotation>
								<xs:documentation>La catégorie de destination est l’indice de destination s’il y a eu un transfert d’indices au sein d’un même numéro d’immatriculation ONSS.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="3"/>
									<xs:pattern value="[a-zA-Z0-9]{3}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="registrationDate" type="xs:date">
			<xs:annotation>
				<xs:documentation>Date de début d'occupation de personnel.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="strikingOffDate" type="xs:date">
			<xs:annotation>
				<xs:documentation>Date de fin d'occupation de personne.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
