soap/xsd/SOA/data/business/wtas/wtas_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soa.spw.wallonie.be/data/business/wtas/v1" xmlns:bavi="http://soa.spw.wallonie.be/data/business/wtas/bavi/v1.3" xmlns:adr="http://soa.spw.wallonie.be/data/entity/address/address/v2" xmlns:jurf="http://soa.spw.wallonie.be/data/entity/enterprise/juridicalForm/v1" xmlns:bank="http://soa.spw.wallonie.be/data/entity/enterprise/bankAccount/v1" xmlns:num="http://soa.spw.wallonie.be/data/entity/enterprise/number/v2" xmlns:den="http://soa.spw.wallonie.be/data/entity/enterprise/denomination/v1" targetNamespace="http://soa.spw.wallonie.be/data/business/wtas/v1" elementFormDefault="qualified" version="1.00">
	<xs:import namespace="http://soa.spw.wallonie.be/data/business/wtas/bavi/v1.3" schemaLocation="bavi/InitialVehicleInformation_bavi.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/address/address/v2" schemaLocation="../../entity/address/address_v2.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/enterprise/juridicalForm/v1" schemaLocation="../../entity/enterprise/juridicalForm_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/enterprise/bankAccount/v1" schemaLocation="../../entity/enterprise/bankAccount_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/enterprise/number/v2" schemaLocation="../../entity/enterprise/enterpriseNumber_v2.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/enterprise/denomination/v1" schemaLocation="../../entity/enterprise/denomination_v1.xsd"/>
	<!-- ============ Business entities ============================================ -->
	<xs:complexType name="ManufacturerType">
		<xs:sequence>
			<xs:element name="cbeEnterpriseType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EPP">
							<xs:annotation>
								<xs:documentation>Entreprise Personne Physique</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="ELP">
							<xs:annotation>
								<xs:documentation>Entreprise Personne Morale</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="denomination" type="xs:string" minOccurs="0"/>
			<xs:element name="firstName" type="xs:string" minOccurs="0"/>
			<xs:element name="lastName" type="xs:string" minOccurs="0"/>
			<xs:element name="juridicalForm" type="jurf:JuridicalForm" minOccurs="0"/>
			<xs:element name="addresses" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Adresse du Siège social, de facturation et d'envoi du courrier</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="address" type="tns:AddressType" maxOccurs="3"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="phoneNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="emailAddress" type="xs:string" minOccurs="0"/>
			<xs:element name="enterpriseNumber" type="num:CbeEntityNumberType" minOccurs="0"/>
			<xs:element name="bankAccount" type="bank:BankAccount" minOccurs="0"/>
			<xs:element name="status" type="tns:StatutManufacturerType" minOccurs="0"/>
			<xs:element name="contacts" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="contact" type="tns:ContactType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="productionSites" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="productionSite" type="tns:ProductionSiteType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="scope" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="COPNumber" type="xs:string"/>
						<xs:element name="deliveryDate" type="xs:date" minOccurs="0"/>
						<xs:element name="validityDate" type="xs:date" minOccurs="0"/>
						<xs:element name="piece" type="xs:boolean"/>
						<xs:element name="vehicle" type="xs:boolean"/>
						<xs:element name="productionVehicle" type="xs:boolean"/>
						<xs:element name="vehicleCategories" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="vehicleCategory" type="xs:string" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="directives" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="directive" type="tns:DirectiveType" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="isoNorms" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="isoNorm" type="tns:ISONormType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="comments" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="comment" type="xs:string" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StatutManufacturerType">
		<xs:sequence>
			<xs:element name="status">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="active"/>
						<xs:enumeration value="blocked"/>
						<xs:enumeration value="disabled"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="inceptionDate" type="xs:date"/>
	</xs:complexType>
	<xs:complexType name="AddressType">
		<xs:complexContent>
			<xs:extension base="adr:AddressType">
				<xs:attribute name="Type">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Headquarters"/>
							<xs:enumeration value="Billing"/>
							<xs:enumeration value="Postalmail"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ContactType">
		<xs:sequence>
			<xs:element name="lastName" type="xs:string" minOccurs="0"/>
			<xs:element name="firstName" type="xs:string" minOccurs="0"/>
			<xs:element name="phoneNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="faxNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="emailAddress" type="xs:string" minOccurs="0"/>
			<xs:element name="address" type="tns:AddressType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProductionSiteType">
		<xs:sequence>
			<xs:element name="siteName" type="xs:string"/>
			<xs:element name="address" type="tns:AddressType" minOccurs="0"/>
			<xs:element name="phoneNumber" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DirectiveType">
		<xs:sequence>
			<xs:element name="regulatoryActFrameworks" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nom ou numéro de l'acte règlementaire cadre</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="basicActs" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="basicActAndFlags" type="tns:BasicActAndFlagsType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BasicActAndFlagsType">
		<xs:sequence>
			<xs:element name="basicAct" type="xs:string"/>
			<xs:element name="individualVehicle" type="xs:boolean" minOccurs="0"/>
			<xs:element name="productionVehicleNat" type="xs:boolean" minOccurs="0"/>
			<xs:element name="productionVehicleInternat" type="xs:boolean" minOccurs="0"/>
			<xs:element name="productionPiece" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ISONormType">
		<xs:sequence>
			<xs:element name="norm" type="xs:string"/>
			<xs:element name="deliveryDate" type="xs:date" minOccurs="0"/>
			<xs:element name="validityDate" type="xs:date" minOccurs="0"/>
			<xs:element name="provider" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BasicCertificationType">
		<xs:sequence>
			<xs:element name="submissionDate" type="xs:date" minOccurs="0"/>
			<xs:element name="status">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="10"/>
						<xs:enumeration value="15"/>
						<xs:enumeration value="20"/>
						<xs:enumeration value="30"/>
						<xs:enumeration value="35"/>
						<xs:enumeration value="40"/>
						<xs:enumeration value="41"/>
						<xs:enumeration value="50"/>
						<xs:enumeration value="60"/>
						<xs:enumeration value="63"/>
						<xs:enumeration value="70"/>
						<xs:enumeration value="75"/>
						<xs:enumeration value="90"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="type" type="xs:string"/>
			<xs:element name="dossierId" type="xs:string" minOccurs="0"/>
			<xs:element name="receptionNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="requesterBasic" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="denomination" type="den:DenominationType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CertificationType">
		<xs:complexContent>
			<xs:extension base="tns:BasicCertificationType">
				<xs:sequence>
					<xs:element name="introductVia" type="xs:string"/>
					<xs:element name="object" type="tns:ObjectType" minOccurs="0"/>
					<xs:element name="requester" type="tns:ManufacturerType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ObjectType">
		<xs:sequence>
			<xs:element name="type">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="V"/>
						<xs:enumeration value="TV"/>
						<xs:enumeration value="P"/>
						<xs:enumeration value="TP"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="identifier" type="xs:string"/>
			<xs:element name="piece" type="tns:PieceInformationType" minOccurs="0"/>
			<xs:element name="vehicleCharacteristics" type="bavi:InitialVehicleInformation" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ManufacturerListType">
		<xs:all>
			<xs:element name="technicalKey" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Clé technique unique qui peut être utilisée pour obtenir l'ensemble des données du constructeur</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="companyName" type="xs:string" minOccurs="0"/>
			<xs:element name="firstName" type="xs:string" minOccurs="0"/>
			<xs:element name="lastName" type="xs:string" minOccurs="0"/>
			<xs:element name="juridicalForm" type="jurf:JuridicalForm" minOccurs="0"/>
			<xs:element name="address" type="tns:AddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Adresse du Siège social</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="phoneNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="emailAddress" type="xs:string" minOccurs="0"/>
			<xs:element name="enterpriseNumber" type="num:CbeEntityNumberType" minOccurs="0"/>
			<xs:element name="disabledBlocked" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="disabled" type="xs:boolean" minOccurs="0"/>
						<xs:element name="disabledDate" type="xs:date" minOccurs="0"/>
						<xs:element name="blocked" type="xs:boolean" minOccurs="0"/>
						<xs:element name="blockedDate" type="xs:date" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="scope" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="COPNumber" type="xs:string"/>
						<xs:element name="deliveryDate" type="xs:date" minOccurs="0"/>
						<xs:element name="validityDate" type="xs:date" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="PieceInformationType">
		<xs:sequence>
			<xs:element name="pieceType" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type de pièce. Exemple : capot (synthétique), échappement - voir Table de référence</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mark" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Marque de la pièce fourni par le fabricant. Exemple : RAGAZZON TOP LINE (échappement), WS-STYLING (capot synthétique)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type de la pièce fourni par le fabricant, lié à la marque. Exemple : 346 (échappement), P206-005 (capot synthétique)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tuned" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Tunée ou non</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CETypeApprovalNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numéro d'homologation européen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="markingElement" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type de marquage : par exemple Marque + Type, Marque + Numéro CE, etc</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="markingPlace" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Emplacement de la marque</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="manufacturerName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nom du fabricant / importateur</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="manufacturerStreet" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Adresse du fabricant / importateur : rue</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="manufacturerPostalCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Adresse du fabricant / importateur : codepostal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="manufacturerCity" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Adresse du fabricant / importateur : ville</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="manufacturerCountry" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Adresse du fabricant / importateur : pays</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
