soap/xsd/ESB/disabledPerson.bs.getDisabledDossier.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 sp1 (x64) (http://www.altova.com) by Marc Miezal (Network Research Belgium s.a.) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:common="http://soa.spw.wallonie.be/esb/common/v1" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:import namespace="http://soa.spw.wallonie.be/esb/common/v1" schemaLocation="common_v1.xsd"/>
	<xs:element name="getDisabledPersonDossier">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractRequestType">
					<xs:sequence>
						<xs:element name="filter">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="evolutionOfRequest" type="xs:boolean"/>
									<xs:element name="handicapRecognition" type="xs:boolean"/>
									<xs:element name="rights" type="xs:boolean"/>
									<xs:element name="socialCards" type="xs:boolean"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="criteria">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="personNumber" type="xs:string"/>
									<xs:element name="referenceDate" type="xs:date" minOccurs="0"/>
									<xs:element name="paymentsPeriod" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="beginDate" type="xs:date"/>
												<xs:element name="endDate" type="xs:date" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="getDisabledPersonDossierResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractResponseType">
					<xs:sequence>
						<xs:element name="disabledPersonDossier">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="addressHandicappedPerson" type="PersonDataType" minOccurs="0"/>
									<xs:element name="evolutionOfRequest" type="EvolutionOfRequestType"/>
									<!--      from 5  -->
									<xs:element name="handicapRecognition" type="HandicapType"/>
									<!--      from 5  -->
									<xs:element name="rights" type="RightsType"/>
									<!--      from 100 -->
									<xs:element name="socialCards" type="SocialCardsType" maxOccurs="2"/>
									<!--      from 24  -->
									<xs:element name="payments" type="PaymentsType" maxOccurs="24"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="getDisabledDossierFault"/>
	<xs:complexType name="EvolutionOfRequestType">
		<xs:choice>
			<xs:element name="noDataReason" type="NoDataReasonType"/>
			<xs:sequence>
				<xs:element name="legislation">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="requestDate" type="xs:date" minOccurs="0"/>
				<xs:element name="administrativePendingRequest" type="xs:boolean"/>
				<xs:element name="handicapRecognitionPending" type="xs:boolean"/>
				<xs:element name="fileCompletionDate" type="xs:date" minOccurs="0"/>
				<xs:element name="appeal" type="xs:boolean"/>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="HandicapRecognitionType">
		<xs:sequence>
			<xs:element name="lowerLimbs50p" type="xs:boolean"/>
			<xs:element name="fullBlindness" type="xs:boolean"/>
			<xs:element name="upperLimbsAmputated" type="xs:boolean"/>
			<xs:element name="upperLimbsParalyzed" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HandicapType">
		<xs:choice>
			<xs:element name="noDataReason" type="NoDataReasonType"/>
			<xs:sequence>
				<xs:element name="dateOfDecision" type="xs:date"/>
				<xs:element name="startDateRecognition" type="xs:date"/>
				<xs:element name="endDateRecognition" type="xs:date" minOccurs="0"/>
				<xs:element name="handicapRecognitionDetails" type="HandicapRecognitionType"/>
				<xs:choice>
					<xs:element name="resultRecognitionChild" type="ResultRecognitionChildType"/>
					<xs:element name="resultRecognitionAdult" type="ResultRecognitionAdultType"/>
				</xs:choice>
			</xs:sequence>
		</xs:choice>
		<!--            <xs:element name="administrativeStatus" type="xs:int"/>-->
	</xs:complexType>
	<xs:complexType name="RightsType">
		<xs:choice>
			<xs:element name="noDataReason" type="NoDataReasonType"/>
			<xs:sequence>
				<xs:element name="period" type="OpenPeriodType"/>
				<xs:element name="legislation">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="3"/>
							<xs:maxInclusive value="9"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="totalMonthAmount" type="MoneyAmountType"/>
				<xs:element name="monthAmount" type="MoneyAmountType"/>
				<xs:element name="categoryIVT" type="CategoryUVTType"/>
				<xs:element name="categoryIT">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="5"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="partnerIncome" type="xs:boolean"/>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PaymentsType">
		<xs:choice>
			<xs:element name="noDataReason" type="NoDataReasonType"/>
			<xs:sequence>
				<xs:element name="yearMonth" type="xs:gYearMonth"/>
				<xs:element name="amount" type="MoneyAmountType"/>
				<xs:element name="cancelledPayment" type="xs:boolean"/>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="SocialCardsType">
		<xs:choice>
			<xs:element name="noDataReason" type="NoDataReasonType"/>
			<xs:sequence>
				<xs:element name="deliveryDate" type="xs:date"/>
				<xs:element name="endDate" type="xs:date" minOccurs="0"/>
				<xs:element name="cardNumber" type="xs:string"/>
				<xs:element name="cardType" type="CardTypeType"/>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PersonDataType">
		<xs:sequence>
			<xs:element name="lastName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Sometimes, people has no first name -->
			<xs:element name="firstName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="24"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="address" type="AddressType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResultRecognitionAdultType">
		<xs:choice>
			<xs:element name="noDataReason" type="NoDataReasonType"/>
			<xs:sequence>
				<xs:element name="diminuationIndependence">
					<xs:complexType>
						<xs:choice>
							<xs:element name="noDataReason" type="NoDataReasonType"/>
							<xs:sequence>
								<xs:element name="mobility" type="Int0_3Type" minOccurs="0"/>
								<xs:element name="nourishment" type="Int0_3Type" minOccurs="0"/>
								<xs:element name="hygiene" type="Int0_3Type" minOccurs="0"/>
								<xs:element name="household" type="Int0_3Type" minOccurs="0"/>
								<xs:element name="supervision" type="Int0_3Type" minOccurs="0"/>
								<xs:element name="socialSkills" type="Int0_3Type" minOccurs="0"/>
								<xs:element name="totalPoints" minOccurs="0">
									<xs:simpleType>
										<xs:restriction base="xs:int">
											<xs:minInclusive value="0"/>
											<xs:maxInclusive value="18"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							</xs:sequence>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="diminuationEarnings" type="xs:boolean" minOccurs="0"/>
				<xs:element name="unsuitability" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="mentalUnsuitability" type="Percentage" minOccurs="0"/>
							<xs:element name="physicalUnsuitability" type="Percentage" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ResultRecognitionChildType">
		<xs:choice>
			<xs:element name="noDataReason" type="NoDataReasonType"/>
			<xs:sequence>
				<xs:element name="inabilityFollowCourse" type="xs:boolean" minOccurs="0"/>
				<xs:element name="inabilityToWork" type="xs:boolean" minOccurs="0"/>
				<xs:element name="disabilityCode" type="Int0_3Type" minOccurs="0"/>
				<xs:element name="independencyScore" type="Int0_3Type" minOccurs="0"/>
				<xs:element name="pillars" type="PillarsType" minOccurs="0"/>
				<xs:element name="childPathology" type="xs:boolean" minOccurs="0"/>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PillarsType">
		<xs:sequence>
			<xs:element name="pillar1" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="pillar2" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="pillar3" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="pillarsTotal" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="36"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OpenPeriodType">
		<xs:annotation>
			<xs:documentation>Period containining a begin date and an optional end date.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="beginDate" type="xs:date"/>
			<xs:element name="endDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressType">
		<xs:sequence>
			<xs:element name="building" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="24"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="streetCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{10}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="streetName" type="DescriptionType" minOccurs="0" maxOccurs="3"/>
			<xs:element name="houseNumber" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="boxNumber" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="postalCode" type="PostalCodeType" minOccurs="0"/>
			<xs:element name="cityCode" type="CityCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>For Belgian locations this is the "NISCode", for foreign locations the cityCode</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cityName" type="DescriptionType" minOccurs="0" maxOccurs="3"/>
			<xs:element name="countryCode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="countryName" type="DescriptionType" minOccurs="0" maxOccurs="3"/>
			<xs:element name="date" type="xs:date" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="class" use="required">
			<xs:annotation>
				<xs:documentation>Type of location: Belgian, Foreign or Diplomatic Post</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="belgianAddress"/>
					<xs:enumeration value="foreignAddress"/>
					<xs:enumeration value="diplomaticPost"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DescriptionType">
		<xs:annotation>
			<xs:documentation>Type specifying how a value that can exist in several languages will be modelled</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="BaseDescriptionType">
				<xs:attribute name="language" type="LanguageType"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="CategoryUVTType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="CardTypeType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PostalCodeType">
		<xs:annotation>
			<xs:documentation>Type defining a postal code</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CityCodeType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LanguageType">
		<xs:annotation>
			<xs:documentation>Type specifying the language of a given value</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="BaseDescriptionType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Percentage">
		<xs:annotation>
			<xs:documentation>A percentage number (from 0 to 100)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="MoneyAmountType">
		<xs:annotation>
			<xs:documentation>An amount of money (max 999999999.99, with 2 decimals)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="Int0_3Type">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NoDataReasonType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
</xs:schema>
