soap/xsd/ESB/dmfa_bs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2018 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:include schemaLocation="common_bs.xsd"/>
	<xs:complexType name="DmfaAttestationsType">
		<xs:sequence>
			<xs:element name="dmfaAttestation" type="DmfaAttestationType" form="unqualified" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AttJustificationType">
		<xs:sequence minOccurs="0">
			<xs:element name="justification" type="JustificationType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00545</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="justificationCode" type="JustificationCodeType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00536</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="justificationDate" type="xs:date" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00537</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AttestationOccupationType">
		<xs:sequence>
			<xs:element name="occupationSequenceNbr" type="OccupationSequenceNbrType" form="unqualified">
				<xs:annotation>
					<xs:documentation>00043</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="internalOccupationNbr" type="InternalOccupationNbrType" form="unqualified">
				<xs:annotation>
					<xs:documentation>00217</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="localUnitId" type="LocalUnitIdType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00042</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="activityCode" type="ActivityCodeType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00228</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="occupationStartingDate" type="xs:date" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00044</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="occupationEndingDate" type="xs:date" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00045</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jointCommissionNbr" type="JointCommissionNbrType" form="unqualified">
				<xs:annotation>
					<xs:documentation>00046</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="workingDaysSystem" type="WorkingDaysSystemType" form="unqualified">
				<xs:annotation>
					<xs:documentation>00047</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contractType" type="ContractTypeType" form="unqualified">
				<xs:annotation>
					<xs:documentation>00050</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="refMeanWorkingHours" type="RefMeanWorkingHoursType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00049</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="meanWorkingHours" type="MeanWorkingHoursType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00048</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reorganisationMeasure" type="ReorganisationMeasureType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00051</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="employmentPromotion" type="EmploymentPromotionType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00052</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="workerStatus" type="WorkerStatusType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00053</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="retired" type="RetiredType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00054</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="apprenticeship" type="ApprenticeshipType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00055</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="remunMethod" type="RemunMethodType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00056</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="positionCode" type="PositionCodeType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00057</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="flyingStaffClass" type="FlyingStaffClassType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00059</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tenthOrTwelfth" type="TenthOrTwelfthType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00060</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="daysJustification" type="DaysJustificationType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00625</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hourRemun" type="HourRemunType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00812 suppressed in 2007/3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="deductServicePercent" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>100065</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="99999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="staffCode" type="StaffCodeType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>01199 (new 20181)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="subsidizedMeanWorkingHours" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>01203 - NEW v014 20184</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="5000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeductionDetailType">
		<xs:sequence>
			<xs:element name="deductionDetailSequenceNbr" type="DeductionDetailSequenceNbrType" form="unqualified">
				<xs:annotation>
					<xs:documentation>00138</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="deductionDetailAmount" type="DeductionDetailAmountType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00141</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="workingRegulationsRegistryNbr" type="WorkingRegulationsRegistryNbrType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00142</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="workingRegulationsStartingDate" type="xs:date" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00143</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="averageWorkingTimeBeforeReduction" type="AverageWorkingTimeBeforeReductionType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00147</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="averageWorkingTimeAfterReduction" type="AverageWorkingTimeAfterReductionType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00148</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeductionType">
		<xs:sequence>
			<xs:element name="deductionCode" type="DeductionCodeType" form="unqualified">
				<xs:annotation>
					<xs:documentation>00086</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="deductionCalculationBasis" type="DeductionCalculationBasisType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00088</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="deductionAmount" type="DeductionAmountType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00089</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="deductionRightStartingDate" type="xs:date" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00090</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="managementCostNbrMonths" type="ManagementCostNbrMonthsType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00091</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="replacedSsin" type="PersonNumberType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00092</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="applicantSsin" type="PersonNumberType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00093</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="certificateOrigin" type="CertificateOriginType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00094</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DismissedStatutoryWorkerContributionType">
		<xs:sequence>
			<xs:element name="grossRefRemunAmount" type="GrossRefRemunAmountType" form="unqualified">
				<xs:annotation>
					<xs:documentation>00071</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="grossRefRemunContributionAmount" type="GrossRefRemunContributionAmountType" form="unqualified">
				<xs:annotation>
					<xs:documentation>00072</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="refNbrDays" type="RefNbrDaysType" form="unqualified">
				<xs:annotation>
					<xs:documentation>00073</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="subjectionStartingDate" type="xs:date" form="unqualified">
				<xs:annotation>
					<xs:documentation>00127</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="subjectionEndingDate" type="xs:date" form="unqualified">
				<xs:annotation>
					<xs:documentation>00129</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DmfaAnomalyType">
		<xs:sequence>
			<xs:element name="blockNbr" type="BlockNbrType" form="unqualified">
				<xs:annotation>
					<xs:documentation>100050</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fieldNbr" type="FieldNbrType" form="unqualified">
				<xs:annotation>
					<xs:documentation>100051</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="anomalyNbr" type="AnomalyNbrType" form="unqualified">
				<xs:annotation>
					<xs:documentation>100052</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="anomalyStatus" type="AnomalyStatusType" form="unqualified">
				<xs:annotation>
					<xs:documentation>100053</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="versionNbr" type="VersionNbrType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>100046</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="anomalyCreationDate" type="xs:date" form="unqualified">
				<xs:annotation>
					<xs:documentation>100054</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="anomalyHandlingDate" type="xs:date" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>100055</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EarlyRetirementContributionType">
		<xs:sequence>
			<xs:element name="earlyRetirementCode" type="EarlyRetirementCodeType" form="unqualified">
				<xs:annotation>
					<xs:documentation>00079</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="earlyRetirementNbrMonths" type="EarlyRetirementNbrMonthsType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00080</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="earlyRetirementContributionAmount" type="EarlyRetirementContributionAmountType" form="unqualified">
				<xs:annotation>
					<xs:documentation>00081</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EmployerDeclarationType">
		<xs:sequence>
			<xs:element name="quarter" type="YearQuarterType" form="unqualified">
				<xs:annotation>
					<xs:documentation>00013</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nssoRegistrationNumber" type="NOSSRegistrationNumberSimpleType" form="unqualified">
				<xs:annotation>
					<xs:documentation xml:lang="FR">121008 Numero d'immatriculation employeur (ONSS ou ONSS-APL), temporaire ou définitif</xs:documentation>
					<xs:documentation xml:lang="NL">Werkgever stamnummer (RSZ - RSZPPO), tijdelijkse of definitief</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="provincialOrLocalAuthority" type="xs:boolean" form="unqualified">
				<xs:annotation>
					<xs:documentation xml:lang="EN">121005 Provincial and Local Authorities indicator</xs:documentation>
					<xs:documentation xml:lang="FR">Indicateur ONSS - ONSSAPL</xs:documentation>
					<xs:documentation xml:lang="NL">RSZ - RSZPPO indicator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sectorIndicator" type="SectorIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>01242 - New v020 20221</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="trusteeship" type="TrusteeshipType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00012</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="enterpriseNumber" type="CbeEntityNumberType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00014</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="netOwedAmount" type="NetOwedAmountType" form="unqualified">
				<xs:annotation>
					<xs:documentation>00015</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="system5" type="System5Type" form="unqualified">
				<xs:annotation>
					<xs:documentation>00016</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="holidayStartingDate" type="xs:date" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00017</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IdNaturalPersonType">
		<xs:sequence>
			<xs:element name="personNumber" type="PersonNumberType" form="unqualified">
				<xs:annotation>
					<xs:documentation>00024</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="oriolusValidationCode" type="OriolusValidationCodeType" form="unqualified">
				<xs:annotation>
					<xs:documentation>100048</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IndemnityWapmType">
		<xs:sequence>
			<xs:element name="indemnityNature" type="IndemnityNatureType" form="unqualified">
				<xs:annotation>
					<xs:documentation>00144</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="incapacityDegree" type="IncapacityDegreeType" form="unqualified">
				<xs:annotation>
					<xs:documentation>00145</xs:documentation>
					<xs:appinfo source="TDOType">string</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="indemnityAmount" type="IndemnityAmountType" form="unqualified">
				<xs:annotation>
					<xs:documentation>00146</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OccupationDeductionDetailType">
		<xs:sequence>
			<xs:element name="deductionDetailSequenceNbr" type="DeductionDetailSequenceNbrType" form="unqualified">
				<xs:annotation>
					<xs:documentation>00138</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="workingRegulationsStartingDate" type="xs:date" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00143</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="averageWorkingTimeBeforeReduction" type="AverageWorkingTimeBeforeReductionType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00147</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="averageWorkingTimeAfterReduction" type="AverageWorkingTimeAfterReductionType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00148</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OccupationInformationType">
		<xs:sequence>
			<xs:element name="sixMonthsIllnessDate" type="xs:date" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00728</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="horecaExtra" type="HorecaExtraType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00795</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="postedWorker" type="PostedWorkerType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00893</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hourRemunInThousandthOfEuro" type="HourRemunInThousandthOfEuroType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00862 from 2007/3 expressed in thousandth of euro</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="firstWeekGuaranteedSalaryNbrDays" type="FirstWeekGuaranteedSalaryNbrDaysType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>01010</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="illnessGrossRemunAmount" type="IllnessGrossRemunAmountType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>01011</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="psdDclExemption" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>01012</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="supplPensionContributionExemption" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>01013</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="definitiveNominationDate" type="xs:date" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>01092</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="careerMeasure" type="CareerMeasureType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>01194 (new 20181)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="holidayDaysNumber" type="HolidayDaysNumberType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00197 (new 20181)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sectorDetail" type="SectorDetailType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>01215 - NEW v015 20191</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mobilityBudget" type="MobilityBudgetType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>01216 - NEW v015 20191</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RemunType">
		<xs:sequence>
			<xs:element name="remunSequenceNbr" type="RemunSequenceNbrType" form="unqualified">
				<xs:annotation>
					<xs:documentation>00066</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="remunCode" type="RemunCodeType" form="unqualified">
				<xs:annotation>
					<xs:documentation>00067</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bonusPaymentFrequency" type="BonusPaymentFrequencyType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00068</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="percentagePaid" type="PercentagePaidType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00069</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fictitiousSalary" type="FictitiousSalaryType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>01065</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="remunAmount" type="RemunAmountType" form="unqualified">
				<xs:annotation>
					<xs:documentation>00070</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReorgMeasureInformationType">
		<xs:sequence>
			<xs:element name="reorganisationMeasure" type="ReorganisationMeasureType" form="unqualified">
				<xs:annotation>
					<xs:documentation>00051</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reorganisationMeasurePercentage" type="ReorganisationMeasurePercentageType" form="unqualified">
				<xs:annotation>
					<xs:documentation>01030</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceType">
		<xs:sequence>
			<xs:element name="serviceSequenceNbr" type="ServiceSequenceNbrType" form="unqualified">
				<xs:annotation>
					<xs:documentation>00061</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="serviceCode" type="ServiceCodeType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00062</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="serviceNbrDays" type="ServiceNbrDaysType" form="unqualified">
				<xs:annotation>
					<xs:documentation>00063</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="serviceNbrHours" type="ServiceNbrHoursType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00064</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="flightNbrMinutes" type="FlightNbrMinutesType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00065</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StudentContributionType">
		<xs:sequence>
			<xs:element name="studentRemunAmount" type="StudentRemunAmountType" form="unqualified">
				<xs:annotation>
					<xs:documentation>00076</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="studentContributionAmount" type="StudentContributionAmountType" form="unqualified">
				<xs:annotation>
					<xs:documentation>00077</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="studentNbrDays" type="StudentNbrDaysType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Upd 20171 00078 now opt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="studentHoursNbr" type="StudentHoursNbrType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>01158</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="localUnitId" type="LocalUnitIdType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>New 20171 00042</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WorkerContributionType">
		<xs:sequence>
			<xs:element name="contributionWorkerCode" type="ContributionWorkerCodeType" form="unqualified">
				<xs:annotation>
					<xs:documentation>00082</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contributionType" type="ContributionTypeType" form="unqualified">
				<xs:annotation>
					<xs:documentation>00083</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contributionCalculationBasis" type="ContributionCalculationBasisType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00084</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contributionAmount" type="ContributionAmountType" form="unqualified">
				<xs:annotation>
					<xs:documentation>00085</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WorkerRecordType">
		<xs:sequence>
			<xs:element name="employerClass" type="EmployerClassType" form="unqualified">
				<xs:annotation>
					<xs:documentation>00036</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="workerCode" type="WorkerCodeType" form="unqualified">
				<xs:annotation>
					<xs:documentation>00037</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nssoQuarterStartingDate" type="xs:date" form="unqualified">
				<xs:annotation>
					<xs:documentation>00038</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nssoQuarterEndingDate" type="xs:date" form="unqualified">
				<xs:annotation>
					<xs:documentation>00039</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="border" type="BorderType" form="unqualified">
				<xs:annotation>
					<xs:documentation>00040</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="activityWithRisk" type="ActivityWithRiskType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00041</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="localUnitId" type="LocalUnitIdType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>00042</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="muSpecialContribution" type="MuSpecialContributionType" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>UPD 100075</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="intellectualWorkerPensionCode" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>NEW 100076</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="manualWorkerPensionCode" form="unqualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>NEW 100077</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ActivityCodeType">
		<xs:annotation>
			<xs:documentation>00228</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99999"/>
			<xs:totalDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActivityWithRiskType">
		<xs:annotation>
			<xs:documentation>00041</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AnomalyNbrType">
		<xs:annotation>
			<xs:documentation>100052</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="999"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AnomalyStatusType">
		<xs:annotation>
			<xs:documentation>100053</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="6"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ApprenticeshipType">
		<xs:annotation>
			<xs:documentation>00055</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AttDeductionDetailType">
		<xs:annotation>
			<xs:documentation>90108</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DeductionDetailType">
				<xs:sequence minOccurs="0">
					<xs:element name="versionNbr" type="VersionNbrType" form="unqualified" minOccurs="0">
						<xs:annotation>
							<xs:documentation>100046</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AttDismissedStatutoryWorkerContributionType">
		<xs:annotation>
			<xs:documentation>90005</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DismissedStatutoryWorkerContributionType">
				<xs:sequence>
					<xs:element name="versionNbr" type="VersionNbrType" form="unqualified" minOccurs="0">
						<xs:annotation>
							<xs:documentation>100046</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AttEarlyRetirementContributionType">
		<xs:annotation>
			<xs:documentation>90042 suppressed from 2007/4</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="EarlyRetirementContributionType">
				<xs:sequence minOccurs="0">
					<xs:element name="versionNbr" type="VersionNbrType" form="unqualified" minOccurs="0">
						<xs:annotation>
							<xs:documentation>100046</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AttEmployerDeclarationType">
		<xs:annotation>
			<xs:documentation>90007</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="EmployerDeclarationType">
				<xs:sequence>
					<xs:element name="versionNbr" type="VersionNbrType" form="unqualified" minOccurs="0">
						<xs:annotation>
							<xs:documentation>100046</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userQuality" form="unqualified" minOccurs="0">
						<xs:annotation>
							<xs:documentation>00486</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="99"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="attJustification" type="AttJustificationType" form="unqualified" minOccurs="0">
						<xs:annotation>
							<xs:documentation>New 2013/4</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="attNaturalPerson" type="AttNaturalPersonType" form="unqualified" minOccurs="0">
						<xs:annotation>
							<xs:documentation>90017</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AttIndemnityWapmType">
		<xs:annotation>
			<xs:documentation>90011</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="IndemnityWapmType">
				<xs:sequence minOccurs="0">
					<xs:element name="versionNbr" type="VersionNbrType" form="unqualified" minOccurs="0">
						<xs:annotation>
							<xs:documentation>100046</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AttNaturalPersonType">
		<xs:annotation>
			<xs:documentation>90017</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="IdNaturalPersonType">
				<xs:sequence>
					<xs:element name="attWorkerRecord" type="AttWorkerRecordType" form="unqualified">
						<xs:annotation>
							<xs:documentation>90012</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AttOccupationType">
		<xs:annotation>
			<xs:documentation>90015</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AttestationOccupationType">
				<xs:sequence>
					<xs:element name="versionNbr" type="VersionNbrType" form="unqualified" minOccurs="0">
						<xs:annotation>
							<xs:documentation>100046</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="regionalizationCodeDeduction" type="RegionalizationCodeDeductionType" form="unqualified" minOccurs="0">
						<xs:annotation>
							<xs:documentation>New 20141</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="localUnitCityNisCode" type="LocalUnitCityNisCodeType" form="unqualified" minOccurs="0">
						<xs:annotation>
							<xs:documentation>New 20141</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="attOccupationInformation" type="AttOccupationInformationType" form="unqualified" minOccurs="0">
						<xs:annotation>
							<xs:documentation>90313</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="attServices" form="unqualified" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="attService" type="AttServiceType" form="unqualified" minOccurs="1" maxOccurs="26">
									<xs:annotation>
										<xs:documentation>90018</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="attRemuns" form="unqualified" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="attRemun" type="AttRemunType" form="unqualified" minOccurs="1" maxOccurs="36">
									<xs:annotation>
										<xs:documentation>90019</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="attReorgMeasureInformations" form="unqualified" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="attReorgMeasureInformation" type="AttReorgMeasureInformationType" form="unqualified" minOccurs="1" maxOccurs="9">
									<xs:annotation>
										<xs:documentation>90438 NEW v008</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="attOccupationDeductions" form="unqualified" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="attOccupationDeduction" type="AttOccupationDeductionType" form="unqualified" minOccurs="1" maxOccurs="99">
									<xs:annotation>
										<xs:documentation>90109</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AttOccupationDeductionType">
		<xs:annotation>
			<xs:documentation>90109</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DeductionType">
				<xs:sequence minOccurs="0">
					<xs:element name="versionNbr" type="VersionNbrType" form="unqualified" minOccurs="0">
						<xs:annotation>
							<xs:documentation>100046</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="attOccupationDeductionDetails" form="unqualified" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="attOccupationDeductionDetail" type="AttOccupationDeductionDetailType" form="unqualified" minOccurs="1" maxOccurs="99">
									<xs:annotation>
										<xs:documentation>90250</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AttOccupationDeductionDetailType">
		<xs:annotation>
			<xs:documentation>90250</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="OccupationDeductionDetailType">
				<xs:sequence minOccurs="0">
					<xs:element name="versionNbr" type="VersionNbrType" form="unqualified" minOccurs="0">
						<xs:annotation>
							<xs:documentation>100046</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AttOccupationInformationType">
		<xs:annotation>
			<xs:documentation>90313</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="OccupationInformationType">
				<xs:sequence>
					<xs:element name="versionNbr" type="VersionNbrType" form="unqualified" minOccurs="0">
						<xs:annotation>
							<xs:documentation>100046</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AttRemunType">
		<xs:annotation>
			<xs:documentation>90019</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RemunType">
				<xs:sequence>
					<xs:element name="versionNbr" type="VersionNbrType" form="unqualified" minOccurs="0">
						<xs:annotation>
							<xs:documentation>100046</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AttReorgMeasureInformationType">
		<xs:annotation>
			<xs:documentation source="NEW v008 07/2012">90438</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ReorgMeasureInformationType">
				<xs:sequence>
					<xs:element name="versionNbr" type="VersionNbrType" form="unqualified" minOccurs="0">
						<xs:annotation>
							<xs:documentation>100046</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AttServiceType">
		<xs:annotation>
			<xs:documentation>90018</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ServiceType">
				<xs:sequence>
					<xs:element name="versionNbr" type="VersionNbrType" form="unqualified" minOccurs="0">
						<xs:annotation>
							<xs:documentation>100046</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AttStudentContributionType">
		<xs:annotation>
			<xs:documentation>90003</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="StudentContributionType">
				<xs:sequence>
					<xs:element name="versionNbr" type="VersionNbrType" form="unqualified" minOccurs="0">
						<xs:annotation>
							<xs:documentation>100046</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AttWorkerContributionType">
		<xs:annotation>
			<xs:documentation>90001</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="WorkerContributionType">
				<xs:sequence minOccurs="0">
					<xs:element name="versionNbr" type="VersionNbrType" form="unqualified" minOccurs="0">
						<xs:annotation>
							<xs:documentation>100046</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AttWorkerDeductionType">
		<xs:annotation>
			<xs:documentation>90110</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DeductionType">
				<xs:sequence minOccurs="0">
					<xs:element name="versionNbr" type="VersionNbrType" form="unqualified" minOccurs="0">
						<xs:annotation>
							<xs:documentation>100046</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="attDeductionDetails" form="unqualified" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="attDeductionDetail" type="AttDeductionDetailType" form="unqualified" minOccurs="1" maxOccurs="99">
									<xs:annotation>
										<xs:documentation>90108</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AttWorkerRecordType">
		<xs:annotation>
			<xs:documentation>90012</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="WorkerRecordType">
				<xs:sequence minOccurs="0">
					<xs:element name="attJustification" type="AttJustificationType" form="unqualified" minOccurs="0"/>
					<xs:element name="attOccupations" form="unqualified" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="attOccupation" type="AttOccupationType" form="unqualified" minOccurs="1" maxOccurs="99">
									<xs:annotation>
										<xs:documentation>90015</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="attWorkerContributions" form="unqualified" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="attWorkerContribution" type="AttWorkerContributionType" form="unqualified" minOccurs="1" maxOccurs="99">
									<xs:annotation>
										<xs:documentation>90001</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="attWorkerDeductions" form="unqualified" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="attWorkerDeduction" type="AttWorkerDeductionType" form="unqualified" minOccurs="1" maxOccurs="99">
									<xs:annotation>
										<xs:documentation>90110</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="attDismissedStatutoryWorkerContribution" type="AttDismissedStatutoryWorkerContributionType" form="unqualified" minOccurs="0">
						<xs:annotation>
							<xs:documentation>90005</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="attStudentContribution" type="AttStudentContributionType" form="unqualified" minOccurs="0">
						<xs:annotation>
							<xs:documentation>90003</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="attEarlyRetirementContributions" form="unqualified" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="attEarlyRetirementContribution" type="AttEarlyRetirementContributionType" form="unqualified" minOccurs="1" maxOccurs="2">
									<xs:annotation>
										<xs:documentation>90042 suppressed from 2007/4</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="attIndemnityWapms" form="unqualified" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="attIndemnityWapm" type="AttIndemnityWapmType" form="unqualified" minOccurs="1" maxOccurs="20">
									<xs:annotation>
										<xs:documentation>90011</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DmfaAttestationType">
		<xs:sequence>
			<xs:element name="attestationInformation" type="AttestationInformationType" form="unqualified"/>
			<xs:element name="attestationVersionLink" type="AttestationVersionLinkType" form="unqualified" minOccurs="0"/>
			<xs:element name="attEmployerDeclaration" type="AttEmployerDeclarationType" form="unqualified"/>
			<xs:element name="attAnomalies" form="unqualified" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="attAnomaly" type="DmfaAnomalyType" form="unqualified" minOccurs="1" maxOccurs="999"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AttestationInformationType">
		<xs:sequence>
			<xs:element name="attestationId" type="AttestationIdentificationType" form="unqualified"/>
			<xs:element name="attestationVersion" type="AttestationSituationNbrType" form="unqualified"/>
			<xs:element name="attestationStatus" type="AttestationStatusType" form="unqualified"/>
			<xs:element name="creationDate" type="xs:date" form="unqualified"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AttestationVersionLinkType">
		<xs:sequence>
			<xs:element name="previousAttestationVersion" type="AttestationSituationNbrType" form="unqualified" minOccurs="0"/>
			<xs:element name="nextAttestationVersion" type="AttestationSituationNbrType" form="unqualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AttestationStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CREATION"/>
			<xs:enumeration value="MODIFICATION"/>
			<xs:enumeration value="CANCELLATION"/>
			<xs:enumeration value="REACTIVATION"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AttestationIdentificationType">
		<xs:annotation>
			<xs:documentation>100040</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99999999999"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AttestationSituationNbrType">
		<xs:annotation>
			<xs:documentation>100041</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99999999999"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AverageWorkingTimeAfterReductionType">
		<xs:annotation>
			<xs:documentation>00148</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="4800"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AverageWorkingTimeBeforeReductionType">
		<xs:annotation>
			<xs:documentation>00147</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="4800"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BlockNbrType">
		<xs:annotation>
			<xs:documentation>100050</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="90001"/>
			<xs:maxInclusive value="99999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BonusPaymentFrequencyType">
		<xs:annotation>
			<xs:documentation>00068</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BorderType">
		<xs:annotation>
			<xs:documentation>00040</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CareerMeasureType">
		<xs:annotation>
			<xs:documentation>01194 (new 20181)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CertificateOriginType">
		<xs:annotation>
			<xs:documentation>00094</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ContractTypeType">
		<xs:annotation>
			<xs:documentation>00050</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ContributionAmountType">
		<xs:annotation>
			<xs:documentation>00085</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ContributionCalculationBasisType">
		<xs:annotation>
			<xs:documentation>00084</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ContributionTypeType">
		<xs:annotation>
			<xs:documentation>00083</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ContributionWorkerCodeType">
		<xs:annotation>
			<xs:documentation>00082</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DaysJustificationType">
		<xs:annotation>
			<xs:documentation>00625</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DeductionAmountType">
		<xs:annotation>
			<xs:documentation>00089</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DeductionCalculationBasisType">
		<xs:annotation>
			<xs:documentation>00088</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DeductionCodeType">
		<xs:annotation>
			<xs:documentation>00086</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DeductionDetailAmountType">
		<xs:annotation>
			<xs:documentation>00141</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DeductionDetailSequenceNbrType">
		<xs:annotation>
			<xs:documentation>00138</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EarlyRetirementCodeType">
		<xs:annotation>
			<xs:documentation>00079</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EarlyRetirementContributionAmountType">
		<xs:annotation>
			<xs:documentation>00081</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EarlyRetirementNbrMonthsType">
		<xs:annotation>
			<xs:documentation>00080</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="156"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EmployerClassType">
		<xs:annotation>
			<xs:documentation>00036</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EmploymentPromotionType">
		<xs:annotation>
			<xs:documentation>00052</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FictitiousSalaryType">
		<xs:annotation>
			<xs:documentation>01065</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="99999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FieldNbrType">
		<xs:annotation>
			<xs:documentation>100051</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="99999"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FirstWeekGuaranteedSalaryNbrDaysType">
		<xs:annotation>
			<xs:documentation>01010</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:maxInclusive value="9999"/>
			<xs:minInclusive value="1"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FlightNbrMinutesType">
		<xs:annotation>
			<xs:documentation>00065</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:maxInclusive value="9999999"/>
			<xs:minInclusive value="0"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FlyingStaffClassType">
		<xs:annotation>
			<xs:documentation>00059</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GrossRefRemunAmountType">
		<xs:annotation>
			<xs:documentation>00071</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:maxInclusive value="999999999"/>
			<xs:minInclusive value="1"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GrossRefRemunContributionAmountType">
		<xs:annotation>
			<xs:documentation>00072</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:maxInclusive value="999999999"/>
			<xs:minInclusive value="0"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HolidayDaysNumberType">
		<xs:annotation>
			<xs:documentation>00197 (new 20181)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HorecaExtraType">
		<xs:annotation>
			<xs:documentation>00795</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HourRemunType">
		<xs:annotation>
			<xs:documentation>00812 suppressed in 2007/3</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="99999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HourRemunInThousandthOfEuroType">
		<xs:annotation>
			<xs:documentation>00862 from 2007/3 expressed in thousandth of euro</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IllnessGrossRemunAmountType">
		<xs:annotation>
			<xs:documentation>01011</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="99999999999"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IncapacityDegreeType">
		<xs:annotation>
			<xs:documentation>00145</xs:documentation>
			<xs:appinfo source="TDOType">string</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{3},\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IndemnityAmountType">
		<xs:annotation>
			<xs:documentation>00146</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="99999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IndemnityNatureType">
		<xs:annotation>
			<xs:documentation>00144</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InternalOccupationNbrType">
		<xs:annotation>
			<xs:documentation>00217</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="13"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="JointCommissionNbrType">
		<xs:annotation>
			<xs:documentation>00046</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="9"/>
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="JustificationType">
		<xs:annotation>
			<xs:documentation>00545</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="560"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="JustificationCodeType">
		<xs:annotation>
			<xs:documentation>00536</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LocalUnitCityNisCodeType">
		<xs:annotation>
			<xs:documentation>New 20141</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LocalUnitIdType">
		<xs:annotation>
			<xs:documentation>00042</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999999999"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ManagementCostNbrMonthsType">
		<xs:annotation>
			<xs:documentation>00091</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MeanWorkingHoursType">
		<xs:annotation>
			<xs:documentation>00048</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9900"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MobilityBudgetType">
		<xs:annotation>
			<xs:documentation>01216 - NEW v015 20191</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="99999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MuSpecialContributionType">
		<xs:annotation>
			<xs:documentation>100075</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NetOwedAmountType">
		<xs:annotation>
			<xs:documentation>00015</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999999999999999"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OccupationSequenceNbrType">
		<xs:annotation>
			<xs:documentation>00043</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="99"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OriolusValidationCodeType">
		<xs:annotation>
			<xs:documentation>100048</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PercentagePaidType">
		<xs:annotation>
			<xs:documentation>00069</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:maxInclusive value="99999"/>
			<xs:minInclusive value="0"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PositionCodeType">
		<xs:annotation>
			<xs:documentation>00057</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PostedWorkerType">
		<xs:annotation>
			<xs:documentation>00893</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RefMeanWorkingHoursType">
		<xs:annotation>
			<xs:documentation>00049</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9900"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RefNbrDaysType">
		<xs:annotation>
			<xs:documentation>00073</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RegionalizationCodeDeductionType">
		<xs:annotation>
			<xs:documentation>New 20141</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RemunAmountType">
		<xs:annotation>
			<xs:documentation>00070</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="99999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RemunCodeType">
		<xs:annotation>
			<xs:documentation>00067</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RemunMethodType">
		<xs:annotation>
			<xs:documentation>00056</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RemunSequenceNbrType">
		<xs:annotation>
			<xs:documentation>00066</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="99"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReorganisationMeasureType">
		<xs:annotation>
			<xs:documentation>00051</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReorganisationMeasurePercentageType">
		<xs:annotation>
			<xs:documentation>01030</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RetiredType">
		<xs:annotation>
			<xs:documentation>00054</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SectorDetailType">
		<xs:annotation>
			<xs:documentation>01215 - NEW v015 20191</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceCodeType">
		<xs:annotation>
			<xs:documentation>00062</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceNbrDaysType">
		<xs:annotation>
			<xs:documentation>00063</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceNbrHoursType">
		<xs:annotation>
			<xs:documentation>00064</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:maxInclusive value="9999999"/>
			<xs:minInclusive value="0"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceSequenceNbrType">
		<xs:annotation>
			<xs:documentation>00061</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="99"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StaffCodeType">
		<xs:annotation>
			<xs:documentation>01199 (new 20181)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StudentContributionAmountType">
		<xs:annotation>
			<xs:documentation>00077</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:maxInclusive value="999999999"/>
			<xs:minInclusive value="0"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StudentHoursNbrType">
		<xs:annotation>
			<xs:documentation>01158</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StudentNbrDaysType">
		<xs:annotation>
			<xs:documentation>00078</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StudentRemunAmountType">
		<xs:annotation>
			<xs:documentation>00076</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:maxInclusive value="999999999"/>
			<xs:minInclusive value="0"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="System5Type">
		<xs:annotation>
			<xs:documentation>00016</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="1"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TenthOrTwelfthType">
		<xs:annotation>
			<xs:documentation>00060</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TrusteeshipType">
		<xs:annotation>
			<xs:documentation>00012</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="1"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VersionNbrType">
		<xs:annotation>
			<xs:documentation>100046</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="99999999999"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WorkerCodeType">
		<xs:annotation>
			<xs:documentation>00037</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SectorIndicatorType">
		<xs:annotation>
			<xs:documentation>01242 - New v020 20221</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="PRI">
				<xs:annotation>
					<xs:documentation xml:lang="FR">Données des employeurs du secteur privé</xs:documentation>
					<xs:documentation xml:lang="NL">Gegevens van werkgevers in de particuliere sector</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PFR">
				<xs:annotation>
					<xs:documentation xml:lang="FR">Données des employeurs du secteur public fédéral</xs:documentation>
					<xs:documentation xml:lang="NL">Gegevens van werkgevers in de federale publieke sector</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PLP">
				<xs:annotation>
					<xs:documentation xml:lang="FR">Données des employeurs du secteur public provincial et local</xs:documentation>
					<xs:documentation xml:lang="NL">Gegevens van werkgevers in de provinciale en lokale publieke
              sector</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WorkerStatusType">
		<xs:annotation>
			<xs:documentation>00053</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WorkingDaysSystemType">
		<xs:annotation>
			<xs:documentation>00047</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WorkingRegulationsRegistryNbrType">
		<xs:annotation>
			<xs:documentation>00142</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<!--
V1 : FedICT Version
V1.01 : add PeriodType
V1.02 : add QuarterType
-->
	<xs:annotation>
		<xs:documentation>
			Definitions of date types.
		</xs:documentation>
	</xs:annotation>
	<xs:complexType name="DateType">
		<xs:annotation>
			<xs:documentation>
				The general date type, which consists of a structure containg the century, the year, the month, and
				the day of the month. This definitions is equal to what is in use in the Belgian National register.
				In some cases, the day and the month indicator may be "00". This indicates the exact day or month 
				is unknown.
				
				If an indicator does not exist, it should be set to nill.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="century" form="unqualified" nillable="true">
				<xs:annotation>
					<xs:documentation>
						Century indicator. Valid centuries: 16, 17, 18, 19, 20, 21
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="16|17|18|19|20|21"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="year" form="unqualified" nillable="true">
				<xs:annotation>
					<xs:documentation>
						Year indicator. Valid years: 00, 01, ..., 99
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="\d\d"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="month" form="unqualified" nillable="true">
				<xs:annotation>
					<xs:documentation>
						Month indicator. Valid months: 00, 01, 02, ..., 12
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="00|01|02|03|04|05|06|07|08|09|10|11|12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="day" form="unqualified" nillable="true">
				<xs:annotation>
					<xs:documentation>
						Day of the month indicator. Valid days: 00, 01, 02, ..., 31
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[012]\d|30|31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PeriodType">
		<xs:sequence>
			<xs:element name="beginDate" type="xs:date" form="unqualified"/>
			<xs:element name="endDate" type="xs:date" form="unqualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClosedPeriodType">
		<xs:sequence>
			<xs:element name="beginDate" type="xs:date" form="unqualified"/>
			<xs:element name="endDate" type="xs:date" form="unqualified"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OpenPeriodType">
		<xs:sequence>
			<xs:element name="beginDate" type="xs:date" form="unqualified" minOccurs="0"/>
			<xs:element name="endDate" type="xs:date" form="unqualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="QuarterType">
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<xs:complexType name="YearQuarterPeriodType">
		<xs:sequence>
			<xs:element name="beginDate" type="YearQuarterType" form="unqualified"/>
			<xs:element name="endDate" type="YearQuarterType" form="unqualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClosedYearQuarterPeriodType">
		<xs:sequence>
			<xs:element name="beginQuarter" type="YearQuarterType" form="unqualified"/>
			<xs:element name="endQuarter" type="YearQuarterType" form="unqualified"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="IncompleteDateType">
		<xs:annotation>
			<xs:documentation>A possibly incomplete date. Format yyyy-mm-dd, yyyy-mm-00 or yyyy-00-00
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="[0-2][0-9]{3}\-[0-1][0-9]\-[0-3][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:annotation>
		<xs:documentation>
				A person number is a unique identifier for a person. In Belgium, the person number
				is defined by the birth date in the format yymmdd plus a three-digit sequential number,
				an a two-digit control number. Odd or even sequential numbers also indicate the gender
				of the person. 
				
				The length of the person number is 11 digits, which is enforced in the schema.
			</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="PersonNumberType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9][0-9](([0][0-9])|([1][0-2]))(([0-2][0-9])|([3][0-1]))(([0-9]{2}[1-9])|([0-9][1-9][0-9])|([1-9][0-9]{2}))(([0-8][0-9])|([9][0-7]))">
				<xs:annotation>
					<xs:documentation xml:lang="FR">Registre National</xs:documentation>
					<xs:documentation xml:lang="NL">Rijksregister</xs:documentation>
				</xs:annotation>
			</xs:pattern>
			<xs:pattern value="[0-9][0-9](([2][0-9])|([3][0-2]))(([0-2][0-9])|([3][0-1]))[0-9]{3}(([0-8][0-9])|([9][0-7]))">
				<xs:annotation>
					<xs:documentation xml:lang="FR">Registre Bis : numero Bis</xs:documentation>
					<xs:documentation xml:lang="NL">Bis register : Bisnummer</xs:documentation>
				</xs:annotation>
			</xs:pattern>
			<xs:pattern value="[0-9][0-9](([4][0-9])|([5][0-2]))(([0-2][0-9])|([3][0-1]))[0-9]{3}(([0-8][0-9])|([9][0-7]))">
				<xs:annotation>
					<xs:documentation xml:lang="FR">Registre Bis : numero TER</xs:documentation>
					<xs:documentation xml:lang="NL">Bisregister : Ternummer</xs:documentation>
				</xs:annotation>
			</xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CryptPersonNumberType">
		<xs:restriction base="xs:string">
			<xs:length value="28"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BySsinCriteriaType">
		<xs:sequence>
			<xs:element name="personNumber" type="PersonNumberType" form="unqualified"/>
			<xs:element name="quarterPeriod" type="ClosedYearQuarterPeriodType" form="unqualified"/>
			<xs:element name="latestSituationOnly" type="xs:boolean" default="true" form="unqualified"/>
			<xs:choice minOccurs="0">
				<xs:sequence>
					<xs:element name="attestationId" type="AttestationIdentificationType" form="unqualified"/>
					<xs:element name="attestationVersion" type="AttestationSituationNbrType" form="unqualified" minOccurs="0"/>
				</xs:sequence>
				<xs:sequence>
					<xs:choice>
						<xs:element name="nssoRegistrationNumber" type="NOSSRegistrationNumberSimpleType" form="unqualified"/>
						<xs:element name="enterpriseNumber" type="CbeEntityNumberType" form="unqualified"/>
					</xs:choice>
					<xs:element name="employerClass" type="EmployerClassType" form="unqualified" minOccurs="0"/>
					<xs:element name="workerCode" type="WorkerCodeType" form="unqualified" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
			<xs:element name="next" type="NextType" form="unqualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="NextType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CbeEntityNumberType">
		<xs:annotation>
			<xs:documentation>
				Crossroad Bank of Enterprise number, used to identify an
				unique enterprise or businessUnit. It is composed by 10
				digits (the first one could be avoided if equal to 0). A
				0 on the first of the 10 digits reprensents an
				enterprise and a 2 represents a business unit.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long"/>
	</xs:simpleType>
	<xs:annotation>
		<xs:documentation>Version 1.1  : ajout de l'immatriculation ONSS</xs:documentation>
	</xs:annotation>
	<xs:complexType name="NOSSRegistrationNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="FR">Numero d'immatriculation employeur (ONSS ou ONSS-APL), temporaire ou définitif</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="String10Type">
				<xs:attribute name="type" type="PLAIndicatorType"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="NOSSRegistrationNumberSimpleType">
		<xs:annotation>
			<xs:documentation xml:lang="FR">Numero d'immatriculation employeur (ONSS ou ONSS-APL), temporaire ou définitif</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String10Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PLAIndicatorType">
		<xs:annotation>
			<xs:documentation>ONSS ou ONSS-APL</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="noss"/>
			<xs:enumeration value="noss_pla"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="noss">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="searchDmfaAttestationsByEmployee" type="SearchDmfaAttestationsByEmployeeRequestType"/>
	<xs:complexType name="SearchDmfaAttestationsByEmployeeRequestType">
		<xs:complexContent>
			<xs:extension base="AbstractBsRequestType">
				<xs:sequence>
					<xs:element name="request" type="BySsinCriteriaType" form="qualified"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="searchDmfaAttestationsByEmployeeResponse" type="SearchDmfaAttestationsByEmployeeResponseType"/>
	<xs:complexType name="SearchDmfaAttestationsByEmployeeResponseType">
		<xs:complexContent>
			<xs:extension base="AbstractBsResponseType">
				<xs:sequence>
					<xs:element name="dmfaAttestations" type="DmfaAttestationsType" form="qualified" minOccurs="0"/>
					<xs:element name="next" type="NextType" form="qualified" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
