soap/xsd/ESB/enterprise.bs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 sp1 (http://www.altova.com) by YFE (Service Public de Wallonie) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:common="http://soa.spw.wallonie.be/esb/common/v1" xmlns:tns="http://bced.wallonie.be/data/entity/enterprise/enterprise/v2" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:import namespace="http://soa.spw.wallonie.be/esb/common/v1" schemaLocation="common_v1.xsd"/>
	<xs:import namespace="http://bced.wallonie.be/data/entity/enterprise/enterprise/v2" schemaLocation="../BCED/data/entity/enterprise/enterprise_v2.xsd"/>
	<xs:element name="getEnterprise">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractRequestType">
					<xs:sequence>
						<xs:element name="filter" type="FilterType"/>
						<xs:element name="enterpriseNumber" type="xs:string"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="getEnterpriseResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractResponseType">
					<xs:sequence>
						<xs:choice>
							<xs:element name="enterprise" type="tns:EnterpriseType" minOccurs="0"/>
							<xs:element name="businessUnit" type="tns:BusinessUnitType" minOccurs="0"/>
						</xs:choice>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="EnterpriseType">
		<xs:annotation>
			<xs:documentation>
				atomic enterprise (entity realization)
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="enterpriseNumber" type="xs:string"/>
			<xs:element name="Type" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						EPP/EPM. isBasicDatas
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="JuridicalForm" type="JuridicalFormType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>isBasicDatas</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="JuridicalSituation" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SituationCode" type="xs:string"/>
						<xs:element name="CodeDescription" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>if required</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AdministrationCode" type="xs:string" minOccurs="0"/>
						<xs:element name="ValidityPeriod" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Begin" type="xs:date" minOccurs="0"/>
									<xs:element name="End" type="xs:date" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
						if the entity has been stopped
					</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Status" type="xs:string" minOccurs="0"/>
						<xs:element name="Event" type="xs:string" minOccurs="0"/>
						<xs:element name="EventDate" type="xs:dateTime" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ForeignBranchOffice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						branch office in Belgium for external society.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Address" type="AddressType"/>
						<xs:element name="ValidityPeriod" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Begin" type="xs:date" minOccurs="0"/>
									<xs:element name="End" type="xs:date" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
						if the entity has been stopped
					</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="StopCode" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
						if stopped. CBE code
					</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="StopDescription" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
						if required, Attention, lié à l'existence de
						StopCode. Devrait être en attribut.
					</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BusinessUnit" type="BusinessUnitType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						should not contain details for sub-BusinessUnit.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>isBasicDatas</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="InscriptionDate" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>if available</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Duration" type="xs:int" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
						if available, in year
					</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EntityCommonInfo" type="EntityCommonDataType" minOccurs="0"/>
			<xs:element name="Capital" type="xs:decimal" minOccurs="0"/>
			<xs:element name="Currency" type="xs:string" minOccurs="0"/>
			<xs:element name="BankAccount" type="BankAccount" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Finances" type="Finances" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ExternalIdentification" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="xs:string"/>
						<xs:element name="ExternalIdentificationCode" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EnterpriseFunctions" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CbeEntityNumber" type="xs:string"/>
						<xs:element name="CbeEnterpriseType" type="xs:string"/>
						<xs:element name="Denomination" type="DenominationType"/>
						<xs:element name="JuridicalForm" type="JuridicalFormType" minOccurs="0"/>
						<xs:element name="Address">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Address" type="AddressType" minOccurs="0"/>
									<xs:element name="ValidityPeriod">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Begin" type="xs:date" minOccurs="0"/>
												<xs:element name="End" type="xs:date" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
						if the entity has been stopped
					</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Type" type="xs:string"/>
						<xs:element name="TypeDescription" type="xs:string" minOccurs="0"/>
						<xs:element name="ValidityPeriod">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Begin" type="xs:date" minOccurs="0"/>
									<xs:element name="End" type="xs:date" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
						if the entity has been stopped
					</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="source" type="xs:string"/>
		<xs:attribute name="trust" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="BusinessUnitType">
		<xs:sequence>
			<xs:sequence>
				<xs:element name="Number" type="xs:string" minOccurs="0"/>
				<xs:element name="EntityCommonInfo" type="EntityCommonDataType" minOccurs="0"/>
			</xs:sequence>
		</xs:sequence>
		<xs:attribute name="source" type="xs:string"/>
		<xs:attribute name="trust" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="FilterType">
		<xs:sequence>
			<xs:element name="onlyBasicData" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EntityCommonDataType">
		<xs:annotation>
			<xs:documentation>
				Domains containing all general information about an
				enterprise and/or a business unit. iow: common fields of
				a business entity (common between all realization).
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Status" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StatusCode" type="xs:string">
							<xs:annotation>
								<xs:documentation>
						CBE status code isBasicDatas
					</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CodeDescription" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>if required</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Denomination" type="DenominationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>isBasicDatas</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>isBasicDatas</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Address" type="AddressType" minOccurs="0"/>
						<xs:element name="ValidityPeriod" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Begin" type="xs:date" minOccurs="0"/>
									<xs:element name="End" type="xs:date" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
						if the entity has been stopped
					</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Activity" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AdministrationCode" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>CBE code</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="NacebelCode" type="xs:string"/>
						<xs:element name="ActivityType" type="xs:string" minOccurs="0"/>
						<xs:element name="NacebelCodeDescription" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>if required</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ValidityPeriod" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Begin" type="xs:date" minOccurs="0"/>
									<xs:element name="End" type="xs:date" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
						if the entity has been stopped
					</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Version" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Function" type="FunctionType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="LinkedEnterprise" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						enterprise with KBO-known relationship
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Number" type="xs:string"/>
						<xs:element name="LinkType" type="xs:string">
							<xs:annotation>
								<xs:documentation>CBE code</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LinkTypeDescription" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>if required</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ValidityPeriod" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Begin" type="xs:date" minOccurs="0"/>
									<xs:element name="End" type="xs:date" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
						if the entity has been stopped
					</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="StopCode" type="xs:string" minOccurs="0"/>
						<xs:element name="StopDescription" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>if required</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="IsChild" type="xs:boolean" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Permission" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PermissionCode" type="xs:string"/>
						<xs:element name="RegistrationDateKBO" type="xs:dateTime" minOccurs="0"/>
						<xs:element name="ValidityPeriod" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Begin" type="xs:date" minOccurs="0"/>
									<xs:element name="End" type="xs:date" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
						if the entity has been stopped
					</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PhaseCode" type="xs:string" minOccurs="0"/>
						<xs:element name="Duration" type="xs:double" minOccurs="0"/>
						<xs:element name="DistributedAdministrationCode" type="xs:string" minOccurs="0"/>
						<xs:element name="StoppingCode" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Validity" minOccurs="0">
				<xs:annotation>
					<xs:documentation>isBasicDatas</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ValidityPeriod" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Begin" type="xs:date" minOccurs="0"/>
									<xs:element name="End" type="xs:date" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
						if the entity has been stopped
					</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ClosingDate" type="xs:dateTime" minOccurs="0"/>
						<xs:element name="StopCode" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>CBE code</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="StopDescription" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>if required</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressType">
		<xs:choice>
			<xs:element name="belgian-address">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="house-number" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">
						The house number. This is a mandatory field. If
						no house number is known, the letters ZN (Dutch:
						"zonder naam") should be used.

						Note: due to a limitation in the KBO/BCE, house
						numbers may be truncated to four characters, if
						the KBO/BCE is involved in a server transaction.
					</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="postbox" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">
						The postbox is an optional field.
					</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="postcode" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">
						The postcode. This is an optional field.
					</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="country-code" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">
						The ISO country code of the address. This field
						is optional. The value XZ indicates the ISO code is not available and
						the attribute CBEoldCountryCode contains the NIS country code value.
					</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="CBEoldCountryCode" type="xs:string">
											<xs:annotation>
												<xs:documentation>
										deprecated : should be avoided
										if possible
									</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="description" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="street" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">
						The street name.
					</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="municipality" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">
						The name of the municipality.
					</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="country" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">
						The name of the country.
					</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="details" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">
						Any additional details of the address.
					</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="language" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">
						The language in which any textual fields are
						expressed.
					</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="faxnumber" type="xs:string" minOccurs="0"/>
									<xs:element name="cellPhone" type="xs:string" minOccurs="0"/>
									<xs:element name="emailAddress" type="xs:string" minOccurs="0"/>
									<xs:element name="telephoneNumber" type="xs:string" minOccurs="0"/>
									<xs:element name="website" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="kboUsage" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="address-type" type="xs:string">
										<xs:annotation>
											<xs:documentation xml:lang="en">
								The type of address
							</xs:documentation>
											<xs:documentation xml:lang="nl">
								Het type van het adres. Voorbeelden: 001
								Adres Maatschappelijke Zetel / Domicilie
								002 Adres Vestigingseenheid 003 Bijhuis
								in België voor buitenlandse onderneming
							</xs:documentation>
											<xs:documentation xml:lang="fr">
								Example: 001 Adresse du siège social /
								du Domicile 002 Adresse d'unité
								d'établissement 003 Succursale d'une
								entreprise étrangère
							</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="description" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">
								The description of the type of address
							</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="streetcode" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">
								The street code.
							</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="niscode" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">
								The NIS code of the municipality.
							</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="foreign-address">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="house-number" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">
						The house number. This is a mandatory field. If
						no house number is known, the letters ZN (Dutch:
						"zonder naam") should be used.

						Note: due to a limitation in the KBO/BCE, house
						numbers may be truncated to four characters, if
						the KBO/BCE is involved in a server transaction.
					</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="postbox" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">
						The postbox is an optional field.
					</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="postcode" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">
						The postcode. This is an optional field.
					</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="country-code" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">
						The ISO country code of the address. This field
						is optional. The value XZ indicates the ISO code is not available and
						the attribute CBEoldCountryCode contains the NIS country code value.
					</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="CBEoldCountryCode" type="xs:string">
											<xs:annotation>
												<xs:documentation>
										deprecated : should be avoided
										if possible
									</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="description" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="street" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">
						The street name.
					</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="municipality" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">
						The name of the municipality.
					</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="country" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">
						The name of the country.
					</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="details" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">
						Any additional details of the address.
					</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="language" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">
						The language in which any textual fields are
						expressed.
					</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="faxnumber" type="xs:string" minOccurs="0"/>
									<xs:element name="cellPhone" type="xs:string" minOccurs="0"/>
									<xs:element name="emailAddress" type="xs:string" minOccurs="0"/>
									<xs:element name="telephoneNumber" type="xs:string" minOccurs="0"/>
									<xs:element name="website" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="kboUsage" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="address-type" type="xs:string">
										<xs:annotation>
											<xs:documentation xml:lang="en">
								The type of address
							</xs:documentation>
											<xs:documentation xml:lang="nl">
								Het type van het adres. Voorbeelden: 001
								Adres Maatschappelijke Zetel / Domicilie
								002 Adres Vestigingseenheid 003 Bijhuis
								in België voor buitenlandse onderneming
							</xs:documentation>
											<xs:documentation xml:lang="fr">
								Example: 001 Adresse du siège social /
								du Domicile 002 Adresse d'unité
								d'établissement 003 Succursale d'une
								entreprise étrangère
							</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="description" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">
								The description of the type of address
							</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="state" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="FunctionType">
		<xs:sequence>
			<xs:element name="heldByEnterprise" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="enterpriseNumber" type="xs:string">
							<xs:annotation>
								<xs:documentation>
						The enterprisenumber of the enterprise
						holding the function
					</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Denomination" type="DenominationType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
						Names of the enterprise
						holding the function
					</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="heldByPerson" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="personNumber" type="xs:string">
							<xs:annotation>
								<xs:documentation>
						The personnumber of the person holding the
						function
					</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="FirstName" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
						The first name of the person holding the
						function
					</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LastName" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
						The last name of the person holding the function
					</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="StreetCode" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
						The streetCode of the persons address. Only required in a special
						situation. Further info in the documentation.
					</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Type" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CBE code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>if required</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExemptionNOSME" type="xs:boolean" minOccurs="0"/>
			<xs:element name="Exemption" type="xs:boolean" minOccurs="0"/>
			<xs:element name="ExemptionCode" type="xs:string" minOccurs="0"/>
			<xs:element name="ExemptionCodeDescription" type="xs:string" minOccurs="0"/>
			<xs:element name="ValidityPeriod" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Begin" type="xs:date" minOccurs="0"/>
						<xs:element name="End" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
						if the entity has been stopped
					</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Stop" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						if stopped, CBE code
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StopDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>if required</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DenominationType">
		<xs:sequence>
			<xs:element name="DenominationCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CBE code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CodeDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>if required</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Language" type="xs:string" minOccurs="0"/>
			<xs:element name="Value" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>if required</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValidityPeriod" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Begin" type="xs:date" minOccurs="0"/>
						<xs:element name="End" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
						if the entity has been stopped
					</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BankAccount">
		<xs:sequence>
			<xs:element name="BankAccountNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="InstrumentalAdministration" type="xs:string" minOccurs="0"/>
			<xs:element name="UsagePurposeCode" type="xs:string" minOccurs="0"/>
			<xs:element name="IBAN" type="xs:string" minOccurs="0"/>
			<xs:element name="BIC" type="xs:string" minOccurs="0"/>
			<xs:element name="NonSepaBankAccountNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="ValidityPeriod" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Begin" type="xs:date" minOccurs="0"/>
						<xs:element name="End" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
						if the entity has been stopped
					</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Finances">
		<xs:sequence>
			<xs:element name="ValidityPeriod" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Begin" type="xs:date" minOccurs="0"/>
						<xs:element name="End" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
						if the entity has been stopped
					</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FiscalYearEndDay" type="xs:integer"/>
			<xs:element name="FiscalYearEndMonth" type="xs:integer"/>
			<xs:element name="ExceptionalFiscalYearStart" type="xs:date" minOccurs="0"/>
			<xs:element name="ExceptionalFiscalYearEnd" type="xs:date" minOccurs="0"/>
			<xs:element name="MonthAnnualMeeting" type="xs:integer" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="JuridicalFormType">
		<xs:sequence>
			<xs:element name="FormCode" type="xs:string"/>
			<xs:element name="CodeDescription" type="xs:string" minOccurs="0"/>
			<xs:element name="OfficialCodeDescription" type="xs:string" minOccurs="0"/>
			<xs:element name="OfficialAbbreviation" type="xs:string" minOccurs="0"/>
			<xs:element name="ValidityPeriod" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Begin" type="xs:date"/>
						<xs:element name="End" type="xs:date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
