soap/xsd/ESB/enterpriseDebt_bs_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 sp1 (x64) (http://www.altova.com) by Marc Miezal (Network Research Belgium s.a.) -->
<xs:schema xmlns:sd="http://soa.spw.wallonie.be/technical/enterpriseDebt/messages/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:id="http://soa.spw.wallonie.be/common/identification/v1" xmlns:stat="http://soa.spw.wallonie.be/common/status/v1" xmlns:dat="http://soa.spw.wallonie.be/data/common/date/v1" xmlns:tic="http://soa.spw.wallonie.be/data/common/ticket/v1" xmlns:err="http://soa.spw.wallonie.be/data/common/error/v1" xmlns:priv="http://soa.spw.wallonie.be/common/privacylog/v1" xmlns:cont="http://soa.spw.wallonie.be/data/common/contact/v1" xmlns:num="http://soa.spw.wallonie.be/data/entity/enteprise/number/v1" xmlns:entity="http://soa.spw.wallonie.be/data/entity/enterprise/enterprise/v3" xmlns:debt="http://soa.spw.wallonie.be/data/business/enterpriseDebt/debtAttestation/v1" xmlns:employer="http://soa.spw.wallonie.be/data/business/enterpriseDebt/employer/v1" xmlns:common="http://soa.spw.wallonie.be/data/common/common/v1" targetNamespace="http://soa.spw.wallonie.be/technical/enterpriseDebt/messages/v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.00" vc:minVersion="1.1">
	<xs:import namespace="http://soa.spw.wallonie.be/common/identification/v1" schemaLocation="../data/common/identification_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/date/v1" schemaLocation="../data/common/date_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/ticket/v1" schemaLocation="../data/common/ticket_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/error/v1" schemaLocation="../data/common/error_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/common/privacylog/v1" schemaLocation="../data/common/privacy_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/enteprise/number/v1" schemaLocation="../data/entity/enterprise/enterpriseNumber_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/enterprise/enterprise/v3" schemaLocation="../data/entity/enterprise/enterprise_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/business/enterpriseDebt/debtAttestation/v1" schemaLocation="../data/business/enterpriseDebt/debtAttestation_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/contact/v1" schemaLocation="../data/common/contact_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/business/enterpriseDebt/employer/v1" schemaLocation="../data/business/enterpriseDebt/employer_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/common/v1" schemaLocation="../data/common/common_v1.xsd"/>
	<xs:complexType name="GetEnterpriseSocialDebtType">
		<xs:sequence>
			<xs:element name="customerIdentification" type="sd:CustomerIdentificationType"/>
			<xs:element name="request">
				<xs:complexType>
					<xs:choice>
						<xs:element name="ticket" type="tic:UUIDType"/>
						<xs:sequence>
							<xs:element name="enterpriseNumber" type="num:CbeEntityNumberType"/>
							<xs:element name="oldestSubmissionDate" type="xs:date" minOccurs="0"/>
						</xs:sequence>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetEnterpriseFiscalDebtType">
		<xs:sequence>
			<xs:element name="customerIdentification" type="sd:CustomerIdentificationType"/>
			<xs:element name="request">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="enterpriseNumber" type="num:CbeEntityNumberType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetEnterpriseSocialDebtResponseType">
		<xs:complexContent>
			<xs:extension base="common:AbstractSyncResponseType">
				<xs:sequence minOccurs="0">
					<xs:element name="enterpriseSocialDebt" type="sd:EnterpriseSocialDebtType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetEnterpriseFiscalDebtResponseType">
		<xs:sequence>
			<xs:element name="enterpriseFiscalDebt">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="enterprise" type="entity:BasicEnterpriseType"/>
						<xs:element name="fiscalDebtAttestation" type="debt:FiscalDebtAttestationType" minOccurs="0"/>
						<xs:element name="contactPerson" type="cont:ContactType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomerIdentificationType">
		<xs:sequence>
			<xs:element name="organisationId" type="xs:string"/>
			<xs:element name="businessUnit" type="xs:string"/>
			<xs:element name="context" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="getEnterpriseSocialDebt" type="sd:GetEnterpriseSocialDebtType"/>
	<xs:element name="getEntepriseSocialDebtResponse" type="sd:GetEnterpriseSocialDebtResponseType"/>
	<xs:element name="getEnterpriseFiscalDebt" type="sd:GetEnterpriseFiscalDebtType"/>
	<xs:element name="getEnterpriseFiscalDebtResponse" type="sd:GetEnterpriseFiscalDebtResponseType"/>
	<xs:complexType name="EnterpriseSocialDebtType">
		<xs:sequence>
			<xs:element name="enterprise">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="entity:BasicEnterpriseType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="socialDebtAttesation" type="debt:SocialDebtAttesationType" minOccurs="0"/>
			<xs:element name="contactPersons" minOccurs="0">
				<xs:complexType>
					<xs:sequence maxOccurs="2">
						<xs:element name="contactPerson">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="cont:ContactType">
										<xs:sequence>
											<xs:element name="officeNumber" minOccurs="0">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:maxLength value="3"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>