soap/xsd/ESB/familyAllowances_bs_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:sd="http://soa.spw.wallonie.be/technical/familyAllowances/messages/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:pers="http://soa.spw.wallonie.be/data/entity/person/number/v1" targetNamespace="http://soa.spw.wallonie.be/technical/familyAllowances/messages/v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.00">
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/person/number/v1" schemaLocation="../SOA/data/entity/person/personNumber_v1.xsd"/>
	<xs:complexType name="CustomerIdentificationType">
		<xs:sequence>
			<xs:element name="ticket" type="xs:string"/>
			<xs:element name="organisationId" type="xs:string"/>
			<xs:element name="context" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetFamilyAllowancesType">
		<xs:sequence>
			<xs:element name="customerIdentification" type="sd:CustomerIdentificationType"/>
			<xs:element name="request" type="sd:CriteriaType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetFamilyAllowancesResponseType">
		<xs:annotation>
			<xs:documentation>The response containing the found family allowance data or the reason indicating its absence.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="familyAllowances" type="sd:FamilyAllowancesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The result containing a list of cadaf dossiers. An ssin can occur in different dossiers.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="getFamilyAllowances" type="sd:GetFamilyAllowancesType"/>
	<xs:element name="getFamilyAllowancesResponse" type="sd:GetFamilyAllowancesResponseType"/>
	<!-- ============================================================================================================
	CRITERIA	
	============================================================================================================= -->
	<xs:complexType name="CriteriaType">
		<xs:sequence>
			<xs:element name="personNumber" type="pers:PersonNumberType">
				<xs:annotation>
					<xs:documentation xml:lang="FR">NISS Numero d'identification de la securite social</xs:documentation>
					<xs:documentation xml:lang="NL">INSZ - identificatienummer bij sociale zekerheid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="filters" type="sd:FiltersType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Filters specifying certain data not to be returned (filtered out) in the response. Any filter not present is by default on 'false'.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="enrichments" type="sd:EnrichmentsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Enrichments specifying certain data of the niss to be added in the response. Any enrichment not present is by default on 'false'.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="actorRoleCategories" type="sd:ActorRoleCategoriesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The role specifies which dossiers are to be returned. Only dossiers with the requested person having a requested role will be returned. If this element is specified at least one role needs to be set to true.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="searchPeriod" type="sd:SearchPeriodType">
				<xs:annotation>
					<xs:documentation>Format : The year and month (YYYY-MM)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FiltersType">
		<xs:sequence>
			<xs:element name="bonusses" type="xs:boolean" default="false"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EnrichmentsType">
		<xs:sequence>
			<xs:element name="names" type="xs:boolean" default="false"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchPeriodType">
		<xs:sequence>
			<xs:element name="beginDate" type="xs:gYearMonth"/>
			<xs:element name="endDate" type="xs:gYearMonth" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ActorRoleCategoriesType">
		<xs:sequence>
			<xs:element name="entitledPerson" type="xs:boolean" default="true"/>
			<xs:element name="recipient" type="xs:boolean" default="true"/>
			<xs:element name="beneficiaryChild" type="xs:boolean" default="true"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ============================================================================================================
	RESULT	
	============================================================================================================= -->
	<xs:complexType name="FamilyAllowancesType">
		<xs:sequence>
			<xs:element name="familyAllowancesDossier" type="sd:FamilyAllowancesDossierType" maxOccurs="999">
				<xs:annotation>
					<xs:documentation>The family allowances dossier containing information about the requested ssin.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FamilyAllowancesDossierType">
		<xs:sequence>
			<xs:element name="dossierId">
				<xs:annotation>
					<xs:documentation>Dossiernummer</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="sd:DossierIdType">
							<xs:attribute name="fundId" use="required">
								<xs:annotation>
									<xs:documentation>Fondsnummer</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="[0-9][0-9][0-9]"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="officeNbr" use="required">
								<xs:annotation>
									<xs:documentation>Bureaunummer</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="2"/>
										<xs:whiteSpace value="preserve"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="actorList">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="entitledPerson" type="sd:EntitledPersonType"/>
						<xs:element name="recipientList" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="recipient" type="sd:RecipientType" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="beneficiaryChildList" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="beneficiaryChild" type="sd:BeneficiaryChildType" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DossierIdType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RecipientType">
		<xs:sequence>
			<xs:element name="personNumber" type="pers:PersonNumberType"/>
			<xs:element name="nameInfo" type="sd:NameInfoType" minOccurs="0"/>
			<xs:element name="type">
				<xs:annotation>
					<xs:documentation>Allocated Type (1 or 2).</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="paymentPeriod" type="sd:PaymentType" minOccurs="0" maxOccurs="999"/>
			<xs:element name="birthBonus" minOccurs="0" maxOccurs="20">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="paymentDate" type="xs:date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BeneficiaryChildType">
		<xs:sequence>
			<xs:element name="personNumber" type="pers:PersonNumberType"/>
			<xs:element name="nameInfo" type="sd:NameInfoType" minOccurs="0"/>
			<xs:element name="paymentPeriod" type="sd:PaymentType" minOccurs="0" maxOccurs="999"/>
			<xs:element name="adoptionBonus" minOccurs="0" maxOccurs="20">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="paymentDate" type="xs:date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EntitledPersonType">
		<xs:sequence>
			<xs:element name="personNumber" type="pers:PersonNumberType"/>
			<xs:element name="nameInfo" type="sd:NameInfoType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentType">
		<xs:sequence>
			<xs:element name="beginDate" type="xs:date"/>
			<xs:element name="endDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameInfoType">
		<xs:choice>
			<xs:element name="noValue" type="sd:NoValueType"/>
			<xs:sequence>
				<xs:element name="name" type="sd:NameType"/>
				<xs:element name="firstName" type="sd:FirstNameType" minOccurs="0"/>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="NoValueReasonType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SUPPLIER_SERVICE_UNAVAILABLE"/>
			<xs:enumeration value="SSIN_CANCELLED"/>
			<xs:enumeration value="SSIN_REPLACED"/>
			<xs:enumeration value="SSIN_INVALID"/>
			<xs:enumeration value="SSIN_NOT_FOUND"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="NoValueType">
		<xs:attribute name="reason" type="sd:NoValueReasonType" use="required">
			<xs:annotation>
				<xs:documentation>Reason for which no names have been found for the given ssin: 			
			SUPPLIER_SERVICE_UNAVAILABLE
			SSIN_CANCELLED
			SSIN_REPLACED
			SSIN_INVALID
			SSIN_NOT_FOUND</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="NameType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="48"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FirstNameType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="48"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
