soap/xsd/ESB/inscription.bs.subscribeMutation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 sp2 (x64) (http://www.altova.com) by AL1219 (Service Public de Wallonie) -->
<!-- W3C Schema generated by XMLSpy v2017 sp2 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="mutationSubscription">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="reference" type="xs:string">
					<xs:annotation>
						<xs:documentation>transcation ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="subject">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="type" type="xs:string"/>
							<xs:element name="id" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="organisation">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id" type="xs:int"/>
							<xs:element name="name" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="mutationType" type="xs:string"/>
				<xs:element name="mutationContext" type="xs:string"/>
				<xs:element name="mutationContextId" type="xs:int"/>
				<xs:element name="mutationEndDate"/>
				<xs:element name="bcss">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="operation">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="serviceName" type="xs:string"/>
										<xs:element name="operationName" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="legalContext" type="xs:string"/>
							<xs:element name="inscriptionContext" type="xs:string"/>
							<xs:element name="trustedPartyCertificate" type="xs:string" minOccurs="0"/>
							<xs:element name="cbeNumber" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
