soap/xsd/ESB/inscriptionDataModel_v2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2014 sp1 (x64) (http://www.altova.com) by Marc Miezal (Network Research Belgium s.a.) -->
<!-- ======================================= -->
<!-- This file was generated by DataXtend SI -->
<!-- ======================================= -->
<!-- Export Configuration options -->
<!-- ============================ -->
<!-- complex types only            - false -->
<!-- include required rules        - true -->
<!-- include reverse relationships - false -->
<!-- export with weak typing       - false -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="null">
	<!-- The type: inscriptioncommonmodel_v1CommonSchema.Context_searchById -->
	<xs:element name="Context_searchById" type="Context_searchById"/>
	<xs:complexType name="StatusType">
		<xs:sequence>
			<xs:element name="status">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="value">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="PROCESSED"/>
									<xs:enumeration value="PROCESSING"/>
									<xs:enumeration value="ERROR"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="code">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:pattern value="SOA[0-9]{7}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="description" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Context_searchById">
		<xs:sequence>
			<xs:element name="InscriptionType" type="xs:string" minOccurs="0"/>
			<xs:element name="InscriptionReference" type="xs:string" minOccurs="0"/>
			<xs:element name="Inscription" type="InscriptionType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- The type: inscriptioncommonmodel_v1CommonSchema.Context_searchByParameters -->
	<xs:element name="Context_searchByParameters" type="Context_searchByParameters"/>
	<xs:complexType name="Context_searchByParameters">
		<xs:sequence>
			<xs:element name="Inscription" type="InscriptionType" minOccurs="0"/>
			<xs:element name="InscriptionType" type="xs:string" minOccurs="0"/>
			<xs:element name="Subject" type="xs:string" minOccurs="0"/>
			<xs:element name="DossierId" type="xs:string" minOccurs="0"/>
			<xs:element name="DossierType" type="xs:string" minOccurs="0"/>
			<xs:element name="InscriptionDate" type="xs:date" minOccurs="0"/>
			<xs:element name="OrganisationId" type="xs:string" minOccurs="0"/>
			<xs:element name="ContextId" type="xs:string" minOccurs="0"/>
			<xs:element name="DeletionDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- The type: inscriptioncommonmodel_v1CommonSchema.InscriptionType -->
	<xs:element name="InscriptionType" type="InscriptionType"/>
	<xs:complexType name="InscriptionType">
		<xs:sequence>
			<xs:element name="InscriptionReference" type="xs:string" minOccurs="0"/>
			<xs:element name="Subject" type="xs:string" minOccurs="0"/>
			<xs:element name="DossierId" type="xs:string" minOccurs="0"/>
			<xs:element name="DossierType" type="xs:string" minOccurs="0"/>
			<xs:element name="Period" type="Period" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
La p&#233;riode durant laquelle l&apos; inscription est valid
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InscriptionDate" type="xs:date" minOccurs="0"/>
			<xs:element name="OrganisationId" type="xs:string" minOccurs="0"/>
			<xs:element name="Organisation" type="xs:string" minOccurs="0"/>
			<xs:element name="ContextId" type="xs:string" minOccurs="0"/>
			<xs:element name="Context" type="xs:string" minOccurs="0"/>
			<xs:element name="InscriptionType" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="IMPLICIT"/>
						<xs:enumeration value="EXPLICIT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DeletionDate" type="xs:date" minOccurs="0"/>
			<xs:element name="ModificationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="Deleted" type="xs:boolean" minOccurs="0"/>
			<xs:element name="Action" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="create"/>
						<xs:enumeration value="update"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- The type: inscriptioncommonmodel_v1CommonSchema.Inscriptions -->
	<xs:element name="Inscriptions" type="Inscriptions"/>
	<xs:complexType name="Inscriptions">
		<xs:annotation>
			<xs:documentation>
Comment describing your root element
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Inscription" type="InscriptionType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- The type: inscriptioncommonmodel_v1CommonSchema.Period -->
	<xs:element name="Period" type="Period"/>
	<xs:complexType name="Period">
		<xs:sequence>
			<xs:element name="BeginDate" type="xs:date" minOccurs="0"/>
			<xs:element name="EndDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
