soap/xsd/ESB/personHistory.bs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 sp2 (x64) (http://www.altova.com) by AL1219 (Service Public de Wallonie) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:common="http://soa.spw.wallonie.be/esb/common/v1" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:import namespace="http://soa.spw.wallonie.be/esb/common/v1" schemaLocation="common_v1.xsd"/>
	<xs:element name="getPersonHistory">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractRequestType">
					<xs:sequence>
						<xs:element name="personNumber"/>
						<xs:element name="dataGroups">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="name" type="xs:boolean" minOccurs="0"/>
									<xs:element name="nationality" type="xs:boolean" minOccurs="0"/>
									<xs:element name="birth" type="xs:boolean" minOccurs="0"/>
									<xs:element name="decease" type="xs:boolean" minOccurs="0"/>
									<xs:element name="gender" type="xs:boolean" minOccurs="0"/>
									<xs:element name="civilState" type="xs:boolean" minOccurs="0"/>
									<xs:element name="address" type="xs:boolean" minOccurs="0"/>
									<xs:element name="administrator" type="xs:boolean" minOccurs="0"/>
									<xs:element name="subregister" type="xs:boolean" minOccurs="0"/>
									<xs:element name="legalCohabitation" type="xs:boolean" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="getPersonHistoryResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:AbstractResponseType">
					<xs:sequence minOccurs="0">
						<xs:element name="person">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="personNumber"/>
									<xs:element name="names" minOccurs="0">
										<xs:complexType>
											<xs:sequence minOccurs="0">
												<xs:element name="name" maxOccurs="100">
													<xs:annotation>
														<xs:documentation>Element containing all information comprised in the nationality datagroup of the found person</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="lastName" type="xs:string"/>
															<xs:element name="givenName" type="xs:string" minOccurs="0" maxOccurs="3"/>
														</xs:sequence>
														<xs:attribute name="source" type="SourceType">
															<xs:annotation>
																<xs:documentation>Element identifying the register which is the authentic source of the occurrence</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="validFrom" type="xs:date"/>
														<xs:attribute name="validUntil" type="xs:date"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="status" type="DatagroupStatusType" use="required"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="nationalities" minOccurs="0">
										<xs:complexType>
											<xs:sequence minOccurs="0">
												<xs:element name="nationality" maxOccurs="100">
													<xs:annotation>
														<xs:documentation>Element containing all information comprised in the nationality datagroup of the found person</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="nationality" maxOccurs="20">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="nationalityCode" type="xs:string"/>
																		<xs:element name="nationalityDescription" minOccurs="0" maxOccurs="3">
																			<xs:complexType>
																				<xs:simpleContent>
																					<xs:extension base="xs:string">
																						<xs:attribute name="language" type="xs:string"/>
																					</xs:extension>
																				</xs:simpleContent>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="source" type="SourceType">
															<xs:annotation>
																<xs:documentation>Element identifying the register which is the authentic source of the occurrence</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="validFrom" type="xs:date"/>
														<xs:attribute name="validUntil" type="xs:date"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="status" type="DatagroupStatusType" use="required"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="births" minOccurs="0">
										<xs:complexType>
											<xs:sequence minOccurs="0">
												<xs:element name="birth" maxOccurs="2">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="birthDate" type="xs:date"/>
															<xs:element name="birthPlace">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="countryCode" type="xs:string"/>
																		<xs:element name="countryName" type="xs:string" minOccurs="0" maxOccurs="3"/>
																		<xs:element name="cityCode" type="xs:string" minOccurs="0"/>
																		<xs:element name="cityName" type="xs:string" minOccurs="0" maxOccurs="3"/>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="actType" minOccurs="0">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="actTypeCode">
																			<xs:simpleType>
																				<xs:restriction base="xs:int">
																					<xs:minInclusive value="0"/>
																					<xs:maxInclusive value="99"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="actTypeDescription" minOccurs="0" maxOccurs="3">
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:maxLength value="100"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="source" type="SourceType">
															<xs:annotation>
																<xs:documentation>Element identifying the register which is the authentic source of the occurrence</xs:documentation>
															</xs:annotation>
														</xs:attribute>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="status" type="DatagroupStatusType" use="required"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="deceases" minOccurs="0">
										<xs:complexType>
											<xs:sequence minOccurs="0">
												<xs:element name="decease" maxOccurs="2">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="deceaseDate" type="xs:date"/>
															<xs:element name="deceasePlace">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="countryCode" type="xs:string"/>
																		<xs:element name="countryName" type="xs:string" minOccurs="0" maxOccurs="3"/>
																		<xs:element name="cityCode" type="xs:string" minOccurs="0"/>
																		<xs:element name="cityName" type="xs:string" minOccurs="0" maxOccurs="3"/>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="actType" minOccurs="0">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="actTypeCode">
																			<xs:simpleType>
																				<xs:restriction base="xs:int">
																					<xs:minInclusive value="0"/>
																					<xs:maxInclusive value="99"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="actTypeDescription" minOccurs="0" maxOccurs="3">
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:maxLength value="100"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="source" type="SourceType">
															<xs:annotation>
																<xs:documentation>Element identifying the register which is the authentic source of the occurrence</xs:documentation>
															</xs:annotation>
														</xs:attribute>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="status" type="DatagroupStatusType" use="required"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="genders" minOccurs="0">
										<xs:complexType>
											<xs:sequence minOccurs="0">
												<xs:element name="gender" maxOccurs="10">
													<xs:annotation>
														<xs:documentation>Element containing all information comprised in the gender datagroup of the found person</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="genderCode">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="M"/>
																		<xs:enumeration value="F"/>
																		<xs:enumeration value="U"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="source" type="SourceType">
															<xs:annotation>
																<xs:documentation>Element identifying the register which is the authentic source of the occurrence</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="validFrom" type="xs:date"/>
														<xs:attribute name="validUntil" type="xs:date"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="status" type="DatagroupStatusType" use="required"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="civilStates" minOccurs="0">
										<xs:complexType>
											<xs:sequence minOccurs="0">
												<xs:element name="civilState" maxOccurs="100">
													<xs:annotation>
														<xs:documentation>Element containing all information comprised in the civilstate datagroup of the found person</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="civilStateCode" type="xs:string"/>
															<xs:element name="civilStateDescription" type="xs:string" minOccurs="0" maxOccurs="3"/>
															<xs:element name="partner" minOccurs="0">
																<xs:complexType>
																	<xs:sequence>
																		<xs:choice minOccurs="0">
																			<xs:element name="partnerSsin" type="xs:string"/>
																			<xs:element name="partnerReference">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="11"/>
																						<xs:minLength value="1"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:choice>
																		<xs:element name="partnerBirthDate" type="xs:date" minOccurs="0"/>
																		<xs:element name="partnerName" minOccurs="0">
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="lastName" type="xs:string"/>
																					<xs:element name="givenName" type="xs:string" minOccurs="0" maxOccurs="3"/>
																					<xs:element name="inceptionDate" type="xs:date" minOccurs="0"/>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="location" minOccurs="0">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="countryCode" type="xs:string"/>
																		<xs:element name="countryName" type="xs:string" minOccurs="0" maxOccurs="3"/>
																		<xs:element name="cityCode" type="xs:string" minOccurs="0"/>
																		<xs:element name="cityName" type="xs:string" minOccurs="0" maxOccurs="3"/>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="source" type="SourceType">
															<xs:annotation>
																<xs:documentation>Element identifying the register which is the authentic source of the occurrence</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="validFrom" type="xs:date"/>
														<xs:attribute name="validUntil" type="xs:date"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="status" type="DatagroupStatusType" use="required"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="addresses" minOccurs="0">
										<xs:complexType>
											<xs:sequence minOccurs="0">
												<xs:element name="address" maxOccurs="100">
													<xs:complexType>
														<xs:sequence>
															<xs:choice>
																<xs:element name="residentialAddress">
																	<xs:annotation>
																		<xs:documentation>Element containing all information comprised in the residential address datagroup of the found person</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="countryCode">
																				<xs:complexType>
																					<xs:simpleContent>
																						<xs:extension base="xs:string">
																							<xs:attribute name="codeSource" use="optional">
																								<xs:simpleType>
																									<xs:restriction base="xs:string">
																										<xs:enumeration value="ISO-3166">
																											<xs:annotation>
																												<xs:documentation>
						ISO two-letter country code
					</xs:documentation>
																											</xs:annotation>
																										</xs:enumeration>
																										<xs:enumeration value="RN/RR">
																											<xs:annotation>
																												<xs:documentation>
						A code defined by the 
						Registre National (fr) / Rijksregister (nl)
					</xs:documentation>
																											</xs:annotation>
																										</xs:enumeration>
																										<xs:enumeration value="BCSS/KSZ">
																											<xs:annotation>
																												<xs:documentation>
						A code defined by the
						Banque Carrefour de la Securite Sociale (fr) / Kruispuntbank der Sociale Zekerheid (nl)
					</xs:documentation>
																											</xs:annotation>
																										</xs:enumeration>
																									</xs:restriction>
																								</xs:simpleType>
																							</xs:attribute>
																						</xs:extension>
																					</xs:simpleContent>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="countryName" minOccurs="0" maxOccurs="3">
																				<xs:complexType>
																					<xs:simpleContent>
																						<xs:extension base="xs:string">
																							<xs:attribute name="language"/>
																						</xs:extension>
																					</xs:simpleContent>
																				</xs:complexType>
																			</xs:element>
																			<xs:choice>
																				<xs:element name="address" type="xs:string"/>
																				<xs:sequence>
																					<xs:element name="cityCode" type="xs:string" minOccurs="0"/>
																					<xs:element name="cityName" minOccurs="0" maxOccurs="3">
																						<xs:complexType>
																							<xs:simpleContent>
																								<xs:extension base="xs:string">
																									<xs:attribute name="language"/>
																								</xs:extension>
																							</xs:simpleContent>
																						</xs:complexType>
																					</xs:element>
																					<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																					<xs:element name="streetCode" type="xs:string" minOccurs="0"/>
																					<xs:element name="streetName" type="xs:string" minOccurs="0" maxOccurs="3"/>
																					<xs:element name="houseNumber" type="xs:string" minOccurs="0"/>
																					<xs:element name="boxNumber" type="xs:string" minOccurs="0"/>
																				</xs:sequence>
																			</xs:choice>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:sequence>
																	<xs:element name="diplomaticPost">
																		<xs:annotation>
																			<xs:documentation>Diplomatic post responsible for the diplomatic address.</xs:documentation>
																		</xs:annotation>
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="countryCode" type="xs:string">
																					<xs:annotation>
																						<xs:documentation>Country code of the diplomatic post.</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="countryName" minOccurs="0" maxOccurs="3">
																					<xs:complexType>
																						<xs:simpleContent>
																							<xs:extension base="xs:string">
																								<xs:attribute name="language"/>
																							</xs:extension>
																						</xs:simpleContent>
																					</xs:complexType>
																				</xs:element>
																				<xs:element name="diplomaticPostCode" type="xs:string">
																					<xs:annotation>
																						<xs:documentation>The official code of the diplomatic post.</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="diplomaticPostName" type="xs:string" minOccurs="0" maxOccurs="3"/>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																	<xs:element name="diplomaticAddress">
																		<xs:annotation>
																			<xs:documentation>Diplomatic address of the found person</xs:documentation>
																		</xs:annotation>
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="countryCode" type="xs:string">
																					<xs:annotation>
																						<xs:documentation>the country of this address</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="countryName" minOccurs="0" maxOccurs="3">
																					<xs:complexType>
																						<xs:simpleContent>
																							<xs:extension base="xs:string">
																								<xs:attribute name="language"/>
																							</xs:extension>
																						</xs:simpleContent>
																					</xs:complexType>
																				</xs:element>
																				<xs:element name="address" type="xs:string" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>the actual address, in unformatted form</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																	<xs:element name="postAddress" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>An optional post address of the found person.</xs:documentation>
																		</xs:annotation>
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="countryCode" type="xs:string">
																					<xs:annotation>
																						<xs:documentation>the country of this address</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="countryName" type="xs:string" minOccurs="0" maxOccurs="3"/>
																				<xs:element name="address" type="xs:string" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>the actual address, in unformatted form</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
																<xs:element name="legalAddress">
																	<xs:annotation>
																		<xs:documentation>Used in rare cases for example if a child do not resides with the parents but lives in with the grant parents.</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="countryCode">
																				<xs:complexType>
																					<xs:simpleContent>
																						<xs:extension base="xs:string">
																							<xs:attribute name="codeSource" use="optional">
																								<xs:simpleType>
																									<xs:restriction base="xs:string">
																										<xs:enumeration value="ISO-3166">
																											<xs:annotation>
																												<xs:documentation>
						ISO two-letter country code
					</xs:documentation>
																											</xs:annotation>
																										</xs:enumeration>
																										<xs:enumeration value="RN/RR">
																											<xs:annotation>
																												<xs:documentation>
						A code defined by the 
						Registre National (fr) / Rijksregister (nl)
					</xs:documentation>
																											</xs:annotation>
																										</xs:enumeration>
																										<xs:enumeration value="BCSS/KSZ">
																											<xs:annotation>
																												<xs:documentation>
						A code defined by the
						Banque Carrefour de la Securite Sociale (fr) / Kruispuntbank der Sociale Zekerheid (nl)
					</xs:documentation>
																											</xs:annotation>
																										</xs:enumeration>
																									</xs:restriction>
																								</xs:simpleType>
																							</xs:attribute>
																						</xs:extension>
																					</xs:simpleContent>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="countryName" minOccurs="0" maxOccurs="3">
																				<xs:complexType>
																					<xs:simpleContent>
																						<xs:extension base="xs:string">
																							<xs:attribute name="language"/>
																						</xs:extension>
																					</xs:simpleContent>
																				</xs:complexType>
																			</xs:element>
																			<xs:choice>
																				<xs:element name="address" type="xs:string"/>
																				<xs:sequence>
																					<xs:element name="cityCode" type="xs:string" minOccurs="0"/>
																					<xs:element name="cityName" minOccurs="0" maxOccurs="3">
																						<xs:complexType>
																							<xs:simpleContent>
																								<xs:extension base="xs:string">
																									<xs:attribute name="language"/>
																								</xs:extension>
																							</xs:simpleContent>
																						</xs:complexType>
																					</xs:element>
																					<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																					<xs:element name="streetCode" type="xs:string" minOccurs="0"/>
																					<xs:element name="streetName" type="xs:string" minOccurs="0" maxOccurs="3"/>
																					<xs:element name="houseNumber" type="xs:string" minOccurs="0"/>
																					<xs:element name="boxNumber" type="xs:string" minOccurs="0"/>
																				</xs:sequence>
																			</xs:choice>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="temporaryAddress">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="countryCode" type="xs:string">
																				<xs:annotation>
																					<xs:documentation>the country of this address</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="countryName" minOccurs="0" maxOccurs="3">
																				<xs:complexType>
																					<xs:simpleContent>
																						<xs:extension base="xs:string">
																							<xs:attribute name="language"/>
																						</xs:extension>
																					</xs:simpleContent>
																				</xs:complexType>
																			</xs:element>
																			<xs:choice>
																				<xs:element name="address" type="xs:string" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>the actual address, in unformatted form</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:sequence>
																					<xs:element name="cityCode" type="xs:string" minOccurs="0"/>
																					<xs:element name="cityName" minOccurs="0" maxOccurs="3">
																						<xs:complexType>
																							<xs:simpleContent>
																								<xs:extension base="xs:string">
																									<xs:attribute name="language"/>
																								</xs:extension>
																							</xs:simpleContent>
																						</xs:complexType>
																					</xs:element>
																					<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																					<xs:element name="streetCode" type="xs:string" minOccurs="0"/>
																					<xs:element name="streetName" type="xs:string" minOccurs="0" maxOccurs="3"/>
																					<xs:element name="houseNumber" type="xs:string" minOccurs="0"/>
																					<xs:element name="boxNumber" type="xs:string" minOccurs="0"/>
																				</xs:sequence>
																			</xs:choice>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:choice>
														</xs:sequence>
														<xs:attribute name="source" type="SourceType">
															<xs:annotation>
																<xs:documentation>Element identifying the register which is the authentic source of the occurrence</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="validFrom" type="xs:date"/>
														<xs:attribute name="validUntil" type="xs:date"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="status" type="DatagroupStatusType" use="required"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="administrators" minOccurs="0">
										<xs:complexType>
											<xs:sequence minOccurs="0">
												<xs:element name="administrator" maxOccurs="100">
													<xs:complexType>
														<xs:choice>
															<xs:element name="location">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="countryCode" type="xs:string"/>
																		<xs:element name="countryName" type="xs:string" minOccurs="0" maxOccurs="3"/>
																		<xs:element name="cityCode" type="xs:string" minOccurs="0"/>
																		<xs:element name="cityName" type="xs:string" minOccurs="0" maxOccurs="3"/>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="specialNotion">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="specialNotionCode" type="xs:string"/>
																		<xs:element name="specialNotionName" minOccurs="0" maxOccurs="3">
																			<xs:complexType>
																				<xs:simpleContent>
																					<xs:extension base="xs:string">
																						<xs:attribute name="language" type="xs:string" use="optional"/>
																					</xs:extension>
																				</xs:simpleContent>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:choice>
														<xs:attribute name="source" type="SourceType">
															<xs:annotation>
																<xs:documentation>Element identifying the register which is the authentic source of the occurrence</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="validFrom" type="xs:date"/>
														<xs:attribute name="validUntil" type="xs:date"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="status" type="DatagroupStatusType" use="required"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="subregisters" minOccurs="0">
										<xs:complexType>
											<xs:annotation>
												<xs:documentation>The subregister at the NR</xs:documentation>
											</xs:annotation>
											<xs:sequence minOccurs="0">
												<xs:element name="subregister" maxOccurs="100">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="subregisterCode">
																<xs:simpleType>
																	<xs:restriction base="xs:unsignedShort">
																		<xs:minInclusive value="0"/>
																		<xs:maxInclusive value="99"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="subregisterDescription" minOccurs="0" maxOccurs="3">
																<xs:complexType>
																	<xs:simpleContent>
																		<xs:extension base="xs:string">
																			<xs:attribute name="language" type="xs:string"/>
																		</xs:extension>
																	</xs:simpleContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="source" type="SourceType">
															<xs:annotation>
																<xs:documentation>Element identifying the register which is the authentic source of the occurrence</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="validFrom" type="xs:date"/>
														<xs:attribute name="validUntil" type="xs:date"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="status" type="DatagroupStatusType" use="required"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="legalCohabitations" minOccurs="0">
										<xs:complexType>
											<xs:sequence minOccurs="0">
												<xs:element name="legalCohabitation" maxOccurs="100">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="partner">
																<xs:complexType>
																	<xs:sequence>
																		<xs:choice minOccurs="0">
																			<xs:element name="partnerSsin" type="xs:string"/>
																			<xs:element name="partnerReference">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="11"/>
																						<xs:minLength value="1"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:choice>
																		<xs:element name="partnerBirthDate" type="xs:date" minOccurs="0"/>
																		<xs:element name="partnerName" minOccurs="0">
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="lastName" type="xs:string"/>
																					<xs:element name="givenName" type="xs:string" minOccurs="0" maxOccurs="3"/>
																					<xs:element name="inceptionDate" type="xs:date" minOccurs="0"/>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="registration">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="registrationDate" type="xs:date"/>
																		<xs:element name="location">
																			<xs:annotation>
																				<xs:documentation>Place where civil state was registered.</xs:documentation>
																			</xs:annotation>
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="countryCode" type="xs:string"/>
																					<xs:element name="countryName" type="xs:string" minOccurs="0" maxOccurs="3"/>
																					<xs:element name="cityCode" type="xs:string" minOccurs="0"/>
																					<xs:element name="cityName" type="xs:string" minOccurs="0" maxOccurs="3"/>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																		<xs:element name="registrationBailiff" minOccurs="0">
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="bailiffName" type="xs:string"/>
																					<xs:element name="location" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation>Place where civil state was registered.</xs:documentation>
																						</xs:annotation>
																						<xs:complexType>
																							<xs:sequence>
																								<xs:element name="countryCode" type="xs:string"/>
																								<xs:element name="countryName" type="xs:string" minOccurs="0" maxOccurs="3"/>
																								<xs:element name="cityCode" type="xs:string" minOccurs="0"/>
																								<xs:element name="cityName" type="xs:string" minOccurs="0" maxOccurs="3"/>
																							</xs:sequence>
																						</xs:complexType>
																					</xs:element>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="expiration" minOccurs="0">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="reasonCode">
																			<xs:simpleType>
																				<xs:restriction base="xs:unsignedShort">
																					<xs:minInclusive value="0"/>
																					<xs:maxInclusive value="99"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="reasonDescription" minOccurs="0" maxOccurs="3">
																			<xs:complexType>
																				<xs:simpleContent>
																					<xs:extension base="xs:string">
																						<xs:attribute name="language" type="xs:string"/>
																					</xs:extension>
																				</xs:simpleContent>
																			</xs:complexType>
																		</xs:element>
																		<xs:element name="location">
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="countryCode" type="xs:string"/>
																					<xs:element name="countryName" type="xs:string" minOccurs="0" maxOccurs="3"/>
																					<xs:element name="cityCode" type="xs:string" minOccurs="0"/>
																					<xs:element name="cityName" type="xs:string" minOccurs="0" maxOccurs="3"/>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																		<xs:element name="notificationDate" type="xs:date" minOccurs="0"/>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="source" type="SourceType">
															<xs:annotation>
																<xs:documentation>Element identifying the register which is the authentic source of the occurrence</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="validFrom" type="xs:date"/>
														<xs:attribute name="validUntil" type="xs:date"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="status" type="DatagroupStatusType" use="required"/>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="DatagroupStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DATA_FOUND"/>
			<xs:enumeration value="NO_DATA_FOUND"/>
			<xs:enumeration value="NOT_SUPPORTED"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SourceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NR"/>
			<xs:enumeration value="CBSS"/>
			<xs:enumeration value="BOTH"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
