soap/xsd/SOA/data/entity/address/address_v5.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:addr="http://soa.spw.wallonie.be/data/entity/address/address/v5" xmlns:cod="http://soa.spw.wallonie.be/data/common/code/v5" xmlns:isoLang="http://soa.spw.wallonie.be/data/iso/language/v1" targetNamespace="http://soa.spw.wallonie.be/data/entity/address/address/v5" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.0">
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/code/v5" schemaLocation="../../common/code_v5.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/iso/language/v1" schemaLocation="../../iso/language_v1.xsd"/>
	<xs:complexType name="BasicAddressType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The address type defines basic properties that are valid for all addresses, such as house number, postbox, and postcode.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="country" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">The name of the country.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="addressId" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="source" type="xs:string"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:choice>
				<xs:sequence>
					<xs:element name="street" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="en">The street name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="houseNumber" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The house number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="boxNumber" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The postbox.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="postCode" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="en">The postcode.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="municipality" type="xs:string">
						<xs:annotation>
							<xs:documentation xml:lang="en">The name of the municipality.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="state" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>the state or province</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:element name="plainText" type="xs:string" maxOccurs="3"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="inceptionDate" type="xs:date"/>
		<xs:attribute name="modificationDate" type="xs:date"/>
		<xs:attribute name="addressType">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Residential"/>
					<xs:enumeration value="Diplomatic"/>
					<xs:enumeration value="Temporary"/>
					<xs:enumeration value="Working"/>
					<xs:enumeration value="Delivery"/>
					<xs:enumeration value="PostAddress"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AddressType">
		<xs:sequence>
			<xs:element name="country" type="cod:CodeType"/>
			<xs:element name="addressId" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="source" type="xs:string"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="coordinates" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The geolocalisation.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="latitude" type="xs:string"/>
						<xs:element name="longitude" type="xs:string"/>
						<xs:element name="altitude" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:choice>
				<xs:sequence>
					<xs:element name="street" type="cod:CodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The street code and name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="postCode" type="cod:CodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The postcode.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="municipality" type="cod:CodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The name and code of the municipality.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="partofMunicipality" type="cod:CodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The name and code of the part of the municipality.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="houseNumber" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The house number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="boxNumber" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The postbox.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="state" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The state for foreign addresses.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:element name="plainText" maxOccurs="3">
					<xs:annotation>
						<xs:documentation xml:lang="en">Unstructured address description</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="language" type="isoLang:LanguageType"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="addressType">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Residential"/>
					<xs:enumeration value="Diplomatic"/>
					<xs:enumeration value="Temporary"/>
					<xs:enumeration value="Working"/>
					<xs:enumeration value="Delivery"/>
					<xs:enumeration value="PostAddress"/>
					<xs:enumeration value="Billing"/>
					<xs:enumeration value="Headquarters"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="inceptionDate" type="xs:date"/>
		<xs:attribute name="modificationDate" type="xs:date"/>
	</xs:complexType>
	<xs:element name="address" type="addr:AddressType"/>
	<!-- Declaration types-->
	<xs:complexType name="PlaceDeclarationType">
		<xs:annotation>
			<xs:documentation>Type describing a Belgian location (BelgianMunicipality). Can be used as a birthplace or decease place.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="country">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="code" type="addr:CountryNISCodeDeclarationType"/>
						<xs:element name="description" type="cod:DescriptionType" minOccurs="0" maxOccurs="3"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="municipality" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="code" type="addr:MunicipalityNISCodeDecalarationType" minOccurs="0"/>
						<xs:element name="description" type="cod:DescriptionType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ForeignAddressDeclarationType">
		<xs:sequence>
			<xs:element name="country" type="addr:SimpleCountryNISCodeBasedDeclarationType"/>
			<xs:element name="postCode" type="addr:PostCodeDeclarationType" minOccurs="0"/>
			<xs:sequence minOccurs="0">
				<xs:element name="municipalityName" type="cod:DescriptionType"/>
				<xs:sequence minOccurs="0">
					<xs:element name="streetName" type="cod:DescriptionType"/>
					<xs:sequence minOccurs="0">
						<xs:element name="houseNumber" type="addr:HouseNumberType"/>
						<xs:element name="boxNumber" type="addr:BoxNumberType" minOccurs="0"/>
					</xs:sequence>
				</xs:sequence>
			</xs:sequence>
		</xs:sequence>
		<xs:attribute name="inceptionDate" type="xs:date" use="required"/>
	</xs:complexType>
	<xs:complexType name="BelgianAddressDeclarationType">
		<xs:sequence>
			<xs:element name="municipality" type="addr:SimpleMunicipalityDeclarationType"/>
			<xs:element name="street" type="addr:SimpleStreetDeclarationType"/>
			<xs:sequence minOccurs="0">
				<xs:element name="houseNumber" type="addr:HouseNumberType"/>
				<xs:element name="boxNumber" type="addr:BoxNumberType" minOccurs="0"/>
			</xs:sequence>
			<xs:element name="typeCode" type="addr:AddressTypeType"/>
		</xs:sequence>
		<xs:attribute name="inceptionDate" type="xs:date" use="required"/>
	</xs:complexType>
	<xs:complexType name="SimpleCountryNISCodeBasedDeclarationType">
		<xs:sequence>
			<xs:element name="code" type="addr:CountryNISCodeDeclarationType"/>
			<xs:element name="description" type="cod:DescriptionType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SimpleStreetDeclarationType">
		<xs:sequence>
			<xs:element name="code" type="addr:StreetCodeType" minOccurs="0"/>
			<xs:element name="description" type="cod:DescriptionType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SimpleMunicipalityDeclarationType">
		<xs:sequence>
			<xs:element name="postCode" type="addr:PostCodeDeclarationType"/>
			<xs:element name="code" type="addr:MunicipalityNISCodeDecalarationType"/>
			<xs:element name="description" type="cod:DescriptionType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PostCodeDeclarationType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HouseNumberType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BoxNumberType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountryNISCodeDeclarationType">
		<xs:restriction base="xs:unsignedShort">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MunicipalityNISCodeDecalarationType">
		<xs:annotation>
			<xs:documentation>"NIS code" of a Belgian municipality</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AddressTypeType">
		<xs:restriction base="xs:unsignedShort">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StreetCodeType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="\s*[0-9]+\s*"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
