soap/xsd/BCED/data/business/nonProfit/nonProfit_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://bced.wallonie.be/data/business/nonprofit/nonProfitEnterprise/v1" xmlns:subs="http://bced.wallonie.be/data/entity/nonprofit/subsidy/v1" xmlns:apreq="http://bced.wallonie.be/data/entity/nonprofit/approvalrequest/v1" xmlns:uho="http://bced.wallonie.be/data/entity/nonprofit/uncomfortablehours/v1" xmlns:approv="http://bced.wallonie.be/data/entity/nonprofit/approval/v1" xmlns:educ="http://bced.wallonie.be/data/entity/nonprofit/education/v1" xmlns:wrk="http://bced.wallonie.be/data/entity/nonprofit/worker/v1" xmlns:empl="http://bced.wallonie.be/data/entity/nonprofit/employmentcontract/v1" xmlns:cod="http://bced.wallonie.be/data/common/code/v1" xmlns:ent="http://bced.wallonie.be/data/entity/enteprise/number/v1" targetNamespace="http://bced.wallonie.be/data/business/nonprofit/nonProfitEnterprise/v1" elementFormDefault="qualified" version="1.00">
	<xs:import namespace="http://bced.wallonie.be/data/entity/nonprofit/subsidy/v1" schemaLocation="../../entity/nonProfit/subsidy_v1.xsd"/>
	<xs:import namespace="http://bced.wallonie.be/data/entity/nonprofit/approvalrequest/v1" schemaLocation="../../entity/nonProfit/approvalrequest_v1.xsd"/>
	<xs:import namespace="http://bced.wallonie.be/data/entity/nonprofit/uncomfortablehours/v1" schemaLocation="../../entity/nonProfit/uncomfortablehours_v1.xsd"/>
	<xs:import namespace="http://bced.wallonie.be/data/entity/nonprofit/approval/v1" schemaLocation="../../entity/nonProfit/approval_v1.xsd"/>
	<xs:import namespace="http://bced.wallonie.be/data/entity/nonprofit/education/v1" schemaLocation="../../entity/nonProfit/education_v1.xsd"/>
	<xs:import namespace="http://bced.wallonie.be/data/entity/nonprofit/worker/v1" schemaLocation="../../entity/nonProfit/worker_v1.xsd"/>
	<xs:import namespace="http://bced.wallonie.be/data/entity/nonprofit/employmentcontract/v1" schemaLocation="../../entity/nonProfit/employmentcontract_v1.xsd"/>
	<xs:import namespace="http://bced.wallonie.be/data/common/code/v1" schemaLocation="../../common/code_v1.xsd"/>
	<xs:import namespace="http://bced.wallonie.be/data/entity/enteprise/number/v1" schemaLocation="../../entity/enterprise/enterpriseNumber_v1.xsd"/>
	<xs:element name="nonProfitEnterprise" type="tns:NonProfitEnterpriseType"/>
	<xs:complexType name="AuthApprovalType">
		<xs:complexContent>
			<xs:extension base="approv:ApprovalType">
				<xs:sequence>
					<xs:element name="uncomfortableHours" type="uho:UncomfortableHoursType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Heures inconfortables prestées par le personnel quand celles-ci ne peuvent être individualisées pour chaque membre du personnel et pour les fonctions qu'il effectue.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="employees" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="employee" type="tns:AuthWorkerType" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AuthWorkerType">
		<xs:complexContent>
			<xs:extension base="wrk:WorkerFunctionsType">
				<xs:sequence>
					<xs:element name="employmentContracts" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Liste des contrats de travail</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="employmentContract" type="empl:EmploymentContractType" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="educations" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Liste des formations suivies par l'employé</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="education" type="educ:EducationType" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="source" type="cod:CodeSourceType"/>
				<xs:attribute name="trust" type="cod:TrustType"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EnterpriseEntityType">
		<xs:sequence>
			<xs:element name="entityRef" type="xs:string">
				<xs:annotation>
					<xs:documentation>Identifiant de l'unité d'établissement ou du service. Cette information est obligatoire si l'entité est une unité d'établissement ou un service.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="entityType">
				<xs:annotation>
					<xs:documentation>Type d'entité: 1 unité d'établissement, 2 service-département-unité de vie</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Unité d'établissement</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Service, département, unité de vie</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="entityName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Nom de l'entité : nom de l'unité d'établissement, nom du service - département - unité de vie</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ueNumber" type="ent:CbeEntityNumber" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numéro BCE de l'Unité d'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jointIndustrialComitee" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Commission paritaire</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="approvalRequests" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Liste des demandes d'agréments</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="approvalRequest" type="apreq:ApprovalRequestType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="approvals" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Liste des agréments attribués à l'entreprise ou à l'entité.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="approval" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="tns:AuthApprovalType"/>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="subsidies" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Liste des subsides attribués</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="subsidy" type="subs:SubsidyType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NonProfitEnterpriseType">
		<xs:sequence>
			<xs:element name="enterpriseNumber" type="ent:CbeEntityNumber"/>
			<xs:element name="companyName" type="xs:string" minOccurs="0"/>
			<xs:element name="jointIndustrialComitee" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numéro de la commission paritaire</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="incomeYear">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:minInclusive value="1950"/>
						<xs:maxInclusive value="2040"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="collect" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indique de quelle collecte de données, les données authentiques découlent. C'est obligatoire dans le cas de données authentiques émanant de collecte Accords Non-Marchand</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="approvalRequests" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Liste des demandes d'agréments</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="approvalRequest" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="apreq:ApprovalRequestType"/>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="approvals" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Liste des agréments attribués à l'entreprise ou à l'entité.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="approval" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="tns:AuthApprovalType"/>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="subsidies" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Liste des subsides attribués</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="subsidy" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="subs:SubsidyType"/>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="enterpriseEntities" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="enterpriseEntity" type="tns:EnterpriseEntityType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Par entité (une unité d'établissement ou un service), définit les agréments, les demandes, les subsides et le personnel.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="source" type="cod:CodeSourceType"/>
		<xs:attribute name="trust" type="cod:TrustType"/>
	</xs:complexType>
</xs:schema>
