soap/xsd/SOA/data/entity/property/parcelDesccription_v1.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 sp1 (http://www.altova.com) by YFE (Service Public de Wallonie) -->
<xs:schema xmlns:pdesc="http://soa.spw.wallonie.be/data/entity/cadaster/parcelDescription/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cod="http://soa.spw.wallonie.be/data/common/code/v2" targetNamespace="http://soa.spw.wallonie.be/data/entity/cadaster/parcelDescription/v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2">
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/code/v2" schemaLocation="../../common/code_v2.xsd"/>
	<xs:complexType name="BuildingType">
		<xs:sequence>
			<xs:element name="PUR" type="pdesc:PurType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Plan Urbain de référence</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="surface" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="builtSurface" type="xs:int" minOccurs="0"/>
						<xs:element name="totalSurface" type="xs:int" minOccurs="0"/>
						<xs:element name="usedSurface" type="xs:int" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="blockNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="housingUnitNumber" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nombre de logements</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="roomsDescription">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="livableRoomsNumber" type="xs:int" minOccurs="0"/>
						<xs:element name="basementNumber" type="xs:int" minOccurs="0"/>
						<xs:element name="bathroomNumber" type="xs:int" minOccurs="0"/>
						<xs:element name="bedroomNumber" type="xs:int" minOccurs="0"/>
						<xs:element name="coveredParkingNumber" type="xs:int" minOccurs="0"/>
						<xs:element name="garageNumber" type="xs:int" minOccurs="0"/>
						<xs:element name="otherRoomsNumber" type="xs:int" minOccurs="0"/>
						<xs:element name="terraceNumber" type="xs:int" minOccurs="0"/>
						<xs:element name="livableAttic" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>Combles habitables (true/false)</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="constructionInformations" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="acteDescription" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Description dans l'acte</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="constructionIndication" type="cod:CodeType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Code et description de la construction</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="constructionQuality" type="cod:CodeType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Code et description qualité de la construction</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="constructionType" type="cod:CodeType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Code et description type de construction (nombre de façades)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="constructionYear" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="description" type="cod:CodeType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Code et description année construction</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="yearFrom" type="xs:gYear" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Année construction depuis (avant 1931, seul un intervalle est connu)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="yearTo" type="xs:gYear" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Année construction jusque (avant 1931, seul un intervalle est connu)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="lastPhysicalModificationYear" type="xs:gYear" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Année de dernière modification physique</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="buildingEquipment">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="heating">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="centralHeating" type="xs:boolean"/>
									<xs:element name="airconditioning" type="cod:CodeType" minOccurs="0"/>
									<xs:element name="percentSurfaceHeated" type="xs:integer" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="domotica" type="cod:CodeType" minOccurs="0"/>
						<xs:element name="liftNumber" type="xs:int" minOccurs="0"/>
						<xs:element name="solarPanel" type="xs:boolean" minOccurs="0"/>
						<xs:element name="pool" type="cod:CodeType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="renovation" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="type" type="cod:CodeType" minOccurs="0"/>
						<xs:element name="surface" type="xs:int" minOccurs="0"/>
						<xs:element name="year" type="xs:gYear" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="floor" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="privateFloor" minOccurs="0">
							<xs:complexType>
								<xs:choice minOccurs="0">
									<xs:element name="floor" type="xs:int" minOccurs="0"/>
									<xs:sequence minOccurs="0">
										<xs:element name="floorFrom" type="xs:int" minOccurs="0"/>
										<xs:element name="floorTo" type="xs:int" minOccurs="0"/>
									</xs:sequence>
								</xs:choice>
							</xs:complexType>
						</xs:element>
						<xs:element name="floorSituation" type="cod:CodeType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Code et description de la situation de la partie privative dans l'étage</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="floorSurface" type="xs:int" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Surface au sol</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="floorNumberAboveground" type="xs:int" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Nombre d'étages hors-sol</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="floorNumberUnderground" type="xs:int" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Nombre d'étages en sous-sol</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="crossDetail" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Détail des parties de bâtiments construits à cheval sur une limite de divisions cadastrales ou sur une limite de parcelles appartenant à des propriétaires différents</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ParcelDescriptionType">
		<xs:sequence>
			<xs:element name="nature" type="cod:CodeType" minOccurs="0"/>
			<xs:element name="status" type="cod:CodeType" minOccurs="0"/>
			<xs:element name="usage" type="cod:CodeType" minOccurs="0"/>
			<xs:element name="buildedPart" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="buildings">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="building" type="pdesc:BuildingType" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="energyConsumptionInformations">
							<xs:annotation>
								<xs:documentation>Information relative à la consommation énergétique du bâtiment principal</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="passiveHouse" type="xs:boolean">
										<xs:annotation>
											<xs:documentation>Habitation passive (true/false)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="energyCertificate" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Code et description type de certificat de prestation énergétique</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="cod:CodeType">
													<xs:attribute name="date" type="xs:date"/>
												</xs:extension>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="houseIsolationLevel" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Valeur d'isolation de la maison</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:totalDigits value="10"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="houseEnergyConsumption" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Consommation d'énergie</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:totalDigits value="5"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="maxThermCoef" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Coefficient maximum de conductivité thermique des éléments de construction</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:totalDigits value="10"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="mainBuildingWidth" type="xs:integer" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="notBuildedPart" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PUR" type="pdesc:PurType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="endowment" type="cod:DescriptiveCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code et description de la raison pour laquelle la parcelle est candidate pour la mainmorte</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="parcelWidthStreet" type="xs:integer" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PurType">
		<xs:sequence>
			<xs:element name="number" type="xs:string" minOccurs="0"/>
			<xs:element name="nature" type="cod:CodeType" minOccurs="0"/>
			<xs:element name="type" type="cod:CodeType" minOccurs="0"/>
			<xs:element name="main" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Partie considérée comme PUR principal</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="mainCommon" minOccurs="0">
				<xs:annotation>
					<xs:documentation>PUR parties communes générales</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="specificCommon" minOccurs="0">
				<xs:annotation>
					<xs:documentation>PUR parties communes spécifiques</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
