soap/xsd/SOA/data/business/regondes2/regondes2ExportClosedDossiers.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--Regondes2ExportClosedDossiers.xsd version 1.0-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.minfin.fgov.be/regondes2/extern/taxservice/exports/closedDossiers" xmlns:com="http://www.minfin.fgov.be/regondes2/extern/taxservice/common" targetNamespace="http://www.minfin.fgov.be/regondes2/extern/taxservice/exports/closedDossiers" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.minfin.fgov.be/regondes2/extern/taxservice/common" schemaLocation="regondes2Common.xsd"/>
	<xs:element name="closedDossier">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="referenceFodFin" type="com:referenceFodFin">
					<xs:annotation>
						<xs:documentation>Reference given by Regondes2 to uniquely identify the dossier. Will be present if the dossier was imported.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="fiscalYear" type="com:fiscalYearType">
					<xs:annotation>
						<xs:documentation>Fiscal year</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="initialService">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="com:abstractInitialService">
								<xs:sequence>
									<xs:element name="reference" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Unique reference given by the initial service.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="com:longstring">
												<xs:minLength value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="patrimonyInformation">
					<xs:annotation>
						<xs:documentation>Patrimony information</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="typeDossier">
								<xs:annotation>
									<xs:documentation>Dossier type</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="patrimonyFrom" type="xs:date" minOccurs="0">
								<xs:annotation>
									<xs:documentation>The date when the dossier information will be avialable in PATRIS or CADNET.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="patrimonyRef" minOccurs="0">
								<xs:annotation>
									<xs:documentation>PATRIS or CADNET reference</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="com:shortstring">
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="cadastralDivisionCode">
								<xs:annotation>
									<xs:documentation>Cadastral division code</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="30"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="articleNumber" type="com:articleNumberType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Article number of dossier</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="report">
					<xs:annotation>
						<xs:documentation>Report information</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="type">
								<xs:annotation>
									<xs:documentation>Report type: Solved or Proposal.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="S"/>
										<xs:enumeration value="P"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="subtype" type="com:longstring" minOccurs="0"/>
							<xs:element name="kind">
								<xs:annotation>
									<xs:documentation>Report kind: initial report, replacing information or supplementary information.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="INITIAL"/>
										<xs:enumeration value="REPLACING"/>
										<xs:enumeration value="SUPPLEMENTARY_INFO"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="cadastralIncome" type="com:cadastralIncome" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Will only be present if the closed dossier concerns a Cadastral Income Objection.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="date" type="xs:date">
								<xs:annotation>
									<xs:documentation>Date when the report was created.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="motivation" type="com:text">
								<xs:annotation>
									<xs:documentation>Motivation text</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="newState" minOccurs="0" maxOccurs="99">
								<xs:annotation>
									<xs:documentation>New state of the property</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="parcel" type="newStateParcel" minOccurs="1" maxOccurs="999"/>
										<xs:element name="owner" type="owner" minOccurs="1" maxOccurs="999"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="linkedDossier" minOccurs="0" maxOccurs="99">
					<xs:annotation>
						<xs:documentation>Dossier number which is in someway linked to this dossier</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="referenceInitialService" type="com:longstring" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Reference of the initial service. Will be present if the linked dossier was imported.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="technicalReferenceInitialService" type="com:longstring" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Technical reference of the initial service.  Will be present if the linked dossier was imported with a technical reference.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="referenceFodFin" type="com:referenceFodFin">
								<xs:annotation>
									<xs:documentation>Reference of Regondes2</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="attachment" type="com:attachment" minOccurs="0" maxOccurs="99">
					<xs:annotation>
						<xs:documentation>Attached files which contain information about the dossier.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="newStateParcel">
		<xs:annotation>
			<xs:documentation>New state of the parcel</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="parcel">
				<xs:sequence>
					<xs:element name="cadastralInformation" minOccurs="0" maxOccurs="99">
						<xs:annotation>
							<xs:documentation>Cadastral Information.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="codeCadastralIncome" type="com:codeCadastralIncome">
									<xs:annotation>
										<xs:documentation>Code of the cadastral income.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="cadastralIncome" type="xs:nonNegativeInteger">
									<xs:annotation>
										<xs:documentation>Cadastral income</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="cadastralIncomePart" type="xs:nonNegativeInteger" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Part of the cadastral income depending on unfruitful days. Only present if case of unfruitfulness. (dossier type LI)</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="exemption" type="xs:nonNegativeInteger" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Exemption. Only present if case of unfruitfulness. (dossier type LI)</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="daysUnfruitful" type="xs:nonNegativeInteger" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Days unfruitful. Only present if case of unfruitfulness. (dossier type LI)</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="parcel">
		<xs:annotation>
			<xs:documentation>Parcel information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="parcelNumber" type="parcelNumber" minOccurs="0"/>
			<xs:element name="situation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The location of the parcel.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="com:shortstring">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="kind" type="com:shortstring" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The kind of parcel.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="details" type="com:shortstring" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Extra information with details about the parcel.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="articleNumber" type="com:articleNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Article number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sequenceNumber" type="com:shortstring" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sequence number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="propertySituationNumber" type="com:shortstring" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Property situation number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="parcelNumber">
		<xs:annotation>
			<xs:documentation>Parcel number</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="section" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Section</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="com:shortstring">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="groundNumber" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ground number.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="com:shortstring">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="bisNumber" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Bis number</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="com:shortstring">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="exponent" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Exponent</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="com:shortstring">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="power" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Power</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="com:shortstring">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="part" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Part</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="com:shortstring">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="owner">
		<xs:annotation>
			<xs:documentation>Owner of the parcel.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="person" type="person"/>
				<xs:element name="company" type="company"/>
			</xs:choice>
			<xs:element name="rights" type="com:shortstring" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Rights of the owner.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ownerType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type of owner. Can be: IN_COMMUNITY, NATURAL_PERSON, LEGAL_PERSON or OTHER</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="IN_COMMUNITY"/>
						<xs:enumeration value="NATURAL_PERSON"/>
						<xs:enumeration value="LEGAL_PERSON"/>
						<xs:enumeration value="OTHER"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="person">
		<xs:annotation>
			<xs:documentation>Person data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:element name="socialSecurityNumber" type="com:personIdNumber">
					<xs:annotation>
						<xs:documentation>Social security number.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="persIDF" type="com:personIdNumber">
					<xs:annotation>
						<xs:documentation>persIDF</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="bisNumber" type="com:personIdNumber">
					<xs:annotation>
						<xs:documentation>BIS-number</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="firstname" type="com:longstring" minOccurs="0">
				<xs:annotation>
					<xs:documentation>First name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastname" type="com:longstring" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Last name</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="company">
		<xs:sequence>
			<xs:element name="cbeNumber" type="com:cbeNumber" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CBE number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="com:longstring" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Company name</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
