soap/xsd/SOA/data/business/notice/notice_v1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:addr="http://soa.spw.wallonie.be/data/entity/address/address/v2" xmlns:cod="http://soa.spw.wallonie.be/data/common/code/v1" xmlns:cont="http://soa.spw.wallonie.be/data/common/contact/v1" xmlns:entnum="http://soa.spw.wallonie.be/data/entity/enterprise/number/v2" xmlns:lab="http://soa.spw.wallonie.be/data/common/label/v1" xmlns:notice="http://soa.spw.wallonie.be/data/entity/notice/notice/v1" xmlns:pernum="http://soa.spw.wallonie.be/data/entity/person/number/v2" xmlns:tns="http://soa.spw.wallonie.be/data/business/notice/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://soa.spw.wallonie.be/data/business/notice/v1" elementFormDefault="qualified" version="1.00">
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/address/address/v2" schemaLocation="../../entity/address/address_v2.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/code/v1" schemaLocation="../../common/code_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/contact/v1" schemaLocation="../../common/contact_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/enterprise/number/v2" schemaLocation="../../entity/enterprise/enterpriseNumber_v2.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/common/label/v1" schemaLocation="../../common/labels_v1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/notice/notice/v1" schemaLocation="../../entity/notice/notification_v1.1.xsd"/>
	<xs:import namespace="http://soa.spw.wallonie.be/data/entity/person/number/v2" schemaLocation="../../entity/person/personNumber_v2.xsd"/>
	<xs:simpleType name="base64Binary20Mo">
		<xs:restriction base="xs:base64Binary">
			<xs:maxLength value="20971520"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SearchNoticeResponseType">
		<xs:annotation>
			<xs:documentation>Réponse à la recherche de notifications
            </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:NoticeSummaryType">
				<xs:sequence>
					<xs:element name="status" type="tns:StatusType">
						<xs:annotation>
							<xs:documentation>Statut courant de la notification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NoticeSummaryType">
		<xs:annotation>
			<xs:documentation>Le résumé d'une notification</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="notice:noticeSummaryType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NoticeIdentifierType">
		<xs:annotation>
			<xs:documentation>L'identification unique d'une notification</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="notice:noticeIdentifierType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetNoticeResponseType">
		<xs:annotation>
			<xs:documentation>
                La notification demandée.
            </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:NoticeType">
				<xs:sequence>
					<xs:element name="status" minOccurs="0">
						<xs:annotation>
							<xs:documentation>La liste des statuts de la notification</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="status" type="tns:StatusType" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="noticeIdentifier" type="tns:NoticeIdentifierType"/>
					<xs:element name="receptionDate" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>Date de réception de la notification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetDocumentResponseType">
		<xs:sequence>
			<xs:element name="documentData" type="tns:DocumentDataType"/>
			<xs:element name="content" type="tns:DocumentContentType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PublishNoticeClaimRequestType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>La notification à créer</xs:documentation>
			</xs:annotation>
			<xs:element name="notice" type="tns:NoticeType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PublishNoticeClaimResponseType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>La réponse lors d'une création de notification</xs:documentation>
			</xs:annotation>
			<xs:element name="notice" type="tns:NoticeIdentifierType"/>
			<xs:element name="idBO" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numéro de dossier dans le BO de l'emetteur</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="noticeIdBO" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numéro de la notification dans le BO de l'emetteur</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="codeTypeNoticeBO" type="xs:string">
				<xs:annotation>
					<xs:documentation>Code unique du type de notification dans le BO de l'emetteur</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="receptionDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Date de réception de la notification</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PublishNoticeResponseType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>La réponse lors d'une réponse à une notification</xs:documentation>
			</xs:annotation>
			<xs:element name="receptionDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Date de réception de la notification</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PublishNoticeRequestType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>La réponse à une notification</xs:documentation>
			</xs:annotation>
			<xs:element name="notice" type="tns:ResponseNoticeType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DomainDescriptiveCodeType">
		<xs:complexContent>
			<xs:extension base="cod:DescriptiveCodeType">
				<xs:sequence>
					<xs:element name="domain" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RequesterType">
		<xs:sequence>
			<xs:choice>
				<xs:sequence>
					<xs:element name="enterpriseNumber" type="entnum:CbeEntityNumberType" minOccurs="0"/>
					<xs:element name="enterpriseType" type="xs:string" minOccurs="0"/>
					<xs:element name="legalForm" type="xs:string" minOccurs="0"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element name="personNumber" type="pernum:PersonNumberType" minOccurs="0"/>
					<xs:element name="title" type="xs:string" minOccurs="0"/>
					<xs:element name="lastname" type="xs:string" minOccurs="0"/>
					<xs:element name="firstname" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
			<xs:element name="language" type="cod:DescriptiveCodeType"/>
			<xs:element name="denomination" type="xs:string" minOccurs="0"/>
			<xs:element name="mailingAddresses" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="mailingAddress" type="tns:addressType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="phoneNumber" type="cont:PhoneNumberType" nillable="true" minOccurs="0"/>
			<xs:element name="email" type="cont:EmailType" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ParcelType">
		<xs:sequence>
			<xs:element name="identifier" type="xs:string" minOccurs="0"/>
			<xs:element name="municipality" type="cod:CodeType" minOccurs="0"/>
			<xs:element name="division" type="xs:string" minOccurs="0"/>
			<xs:element name="codeDivision" type="xs:string" minOccurs="0"/>
			<xs:element name="section" type="xs:string" minOccurs="0"/>
			<xs:element name="radical" type="xs:string" minOccurs="0"/>
			<xs:element name="bisTer" type="xs:string" minOccurs="0"/>
			<xs:element name="exponent" type="xs:string" minOccurs="0"/>
			<xs:element name="power" type="xs:string" minOccurs="0"/>
			<xs:element name="part" type="xs:boolean" minOccurs="0"/>
			<xs:element name="right" type="xs:boolean" minOccurs="0"/>
			<xs:element name="capakey" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BusinessReferenceType">
		<xs:sequence>
			<xs:element name="id" type="xs:string"/>
			<xs:element name="denomination" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MapSpecificationType">
		<xs:sequence>
			<xs:element name="mapStatus" type="tns:DomainDescriptiveCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Statut carto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="area" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Emprise cartographique au format JSON</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StatusType">
		<xs:sequence>
			<xs:element name="code" type="cod:DescriptiveCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code du statut</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="date" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date du statut</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="addressType">
		<xs:complexContent>
			<xs:extension base="addr:BasicAddressType">
				<xs:sequence>
					<xs:element name="locality" type="cod:DescriptiveCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Localité de l'adresse</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NoticeType">
		<xs:complexContent>
			<xs:extension base="notice:noticeType">
				<xs:sequence>
					<xs:element name="businessReference" type="tns:BusinessReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Informations métier concernées par la demande (pex : un numéro et un nom
                                d'établissement lié à la notififcation).
                            </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="addresses" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="address" type="tns:addressType" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Adresse(s) concernée(s) par la demande.
                                        </xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="parcels" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="parcel" type="tns:ParcelType" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Parcelle(s) concernée(s) par la demande.
                                        </xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="parties" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="part" type="tns:RequesterType" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Demandeur(s) concerné(s) par la demande.
                                        </xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="documents" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Documents de la notification</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="document" type="tns:DocumentType" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="mapSpecification" type="tns:MapSpecificationType" nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Données cartographiques de la demande.
                            </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="specific" type="tns:base64Binary20Mo" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Contenu spécifique à la notification format XML</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResponseNoticeType">
		<xs:complexContent>
			<xs:extension base="tns:NoticeIdentifierType">
				<xs:sequence>
					<xs:element name="documents" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Documents de la notification</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="document" type="tns:DocumentChoiceType" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="noticeIdBO" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Numéro de la notification dans le BO de l'emetteur</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="responseState" minOccurs="0">
						<xs:simpleType>
							<xs:annotation>
								<xs:documentation>
                                    Spécification si la réponse envoyée est la réponse définitive ou si une autre
                                    réponse doit suivre
                                </xs:documentation>
							</xs:annotation>
							<xs:restriction base="xs:string">
								<xs:enumeration value="PARTIAL"/>
								<xs:enumeration value="FINAL"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="specific" type="tns:base64Binary20Mo" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Contenu spécifique à la notification format XML</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DocumentDataType">
		<xs:sequence>
			<xs:element name="filename" type="xs:string">
				<xs:annotation>
					<xs:documentation>Nom du document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description du document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="cod:DescriptiveCodeType">
				<xs:annotation>
					<xs:documentation>Code identifiant le type du document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="language" type="cod:DescriptiveCodeType">
				<xs:annotation>
					<xs:documentation>Langue du document (Fr ou De)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="documentId" type="xs:string">
				<xs:annotation>
					<xs:documentation>Identifiant unique du document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fileSize" type="xs:long">
				<xs:annotation>
					<xs:documentation>Taille du document en Ko</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mimeType" type="xs:string">
				<xs:annotation>
					<xs:documentation>Format du document sous le format "MimeType"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="confidentiality" type="tns:DomainDescriptiveCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code/domaine identifiant la confidentialité du document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="principal" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Document principal</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentType">
		<xs:sequence>
			<xs:element name="documentData" type="tns:DocumentDataType"/>
			<xs:element name="content" type="tns:DocumentContentStorageType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentChoiceType">
		<xs:sequence>
			<xs:element name="documentData" type="tns:DocumentDataType"/>
			<xs:element name="content" type="tns:DocumentContentChoiceType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentContentType">
		<xs:sequence>
			<xs:element name="documentContent" type="tns:base64Binary20Mo">
				<xs:annotation>
					<xs:documentation>
                        Le contenu du document
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentContentStorageType">
		<xs:sequence>
			<xs:element name="documentContentStorage">
				<xs:simpleType>
					<xs:annotation>
						<xs:documentation>
                            Application hébergeant le contenu du document. Il faut utiliser le service
                            spécifique getDocument en fonction de la valeur expemple : TWICE
                            (environmentalLicence.getDocument) ou
                            NOTICE (notice.getDocument) sur base de le documentId
                        </xs:documentation>
					</xs:annotation>
					<xs:restriction base="xs:string">
						<xs:enumeration value="NOTICE"/>
						<xs:enumeration value="TWICE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentContentChoiceType">
		<xs:annotation>
			<xs:documentation>
                Le choix "content" est destiné à toutes les instances qui ne sont pas des back offices pilotes de NOTICe
            </xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="contentStorage" type="tns:DocumentContentStorageType"/>
			<xs:element name="content" type="tns:DocumentContentType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="SearchInstanceResponseType">
		<xs:annotation>
			<xs:documentation>Réponse à la recherche d'instance
            </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="codeInstanceNOTICe" type="xs:string">
				<xs:annotation>
					<xs:documentation>Code identifiant de manière unique une instance dans NOTICe</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="labelInstanceNOTICe" type="lab:DescriptionType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Libellé de l'instance</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="status">
				<xs:annotation>
					<xs:documentation>Statut courant de l'instance dans NOTICe
                    </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ACTIF"/>
						<xs:enumeration value="INACTIF"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoticeManuelType">
		<xs:complexContent>
			<xs:extension base="tns:NoticeIdentifierType">
				<xs:sequence>
					<xs:element name="noticeInstanceId" type="xs:string">
						<xs:annotation>
							<xs:documentation>Identifiant unique de l'instance d'avis
                            </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="noticeInstanceIdReceiver" type="xs:string">
						<xs:annotation>
							<xs:documentation>Identifiant unique de l'instance d'avis recevant la notification
                            </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="comment" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Commentaire</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="documents" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Documents de la notification</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="document" type="tns:DocumentChoiceType" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="publishManualNotificationRequestType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>La notification manuelle à créer</xs:documentation>
			</xs:annotation>
			<xs:element name="notice" type="tns:NoticeManuelType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PublishManualNotificationResponseType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>Réponse à la création manuelle d'une notification
                </xs:documentation>
			</xs:annotation>
			<xs:element name="receptionDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Date de réception de la notification</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>